<script type="text/ng-template" id="SendForESignature.html">
<div ng-if="control.rootIndex === activeIndex" ng-init="stepIsActive()"></div>
</script>

<script type="text/ng-template" id="navButton.html">
   <fieldset>
          <button create-document id="generateDoc" class="frg-button color-white telus-font-light" >Update Document</button>
        
  </fieldset>
</script>
<script  type="text/ng-template" id="viewContract">
<div>
<button class="slds-button slds-button--neutral slds-m-around--small" onclick="openContractDetailstab()"> Close </button>
</div>
</script>

<!-- Div for modal -->
<div class="container">     
      <div id="WRModal" role="dialog" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" class="close">&times;</button>
              <h4 class="modal-title">Work Request</h4>
            </div>
            <div class="modal-body">
              <p>Work request details will come here</p>
              <table style="height: 76px;" width="455" cellspacing="0" id="WRDetailTable">
                  <tbody>
                      
                  </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
<script id="ocom-contract-modal" type="text/ng-template">
<table>
<tbody>
<tr>
<td style="width: 337px;">
<p class="form-control btn btn-link ng-binding" style="width: 90px;" ng-click="baseCtrl.OpenModal(control.vlcSI[control.itemsKey][0])" data-id="control.vlcSI[control.itemsKey][0]">Open Modal</p>
</td>
</tr>
</tbody>
</table>
</script>
<style>
body {
    font-family:'arial';
    font-size:12px;
}
a, a:visited {
    text-decoration:none;
    color: #0000ff;
    font-weight:400;
}
.forum-content {
    width:500px;
    height:auto;
    padding:5px 10px;
}
.comments-space {
    width:90%;
    min-height:50px;
    height:auto;
    border-radius:5px;
    background:#f0f0f0;
    margin-bottom: 5px;
    padding: 3px 5px;
    text-align: justify;
}
 .comments-ellipsis {
        white-space: nowrap; 
        width: 12em; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
.remaining-content span {
    display:none;
}
th#colWidth {
    width: 51px;
}
</style>
<!-- Work Request Table -->
<script id="ocom-contract-modal1" type="text/ng-template">
    <table  id="contr-table-with-fixed-header" class="list tableClass contr-table-with-fixed-header frg-body-font-17px" border="0" cellpadding="0" cellspacing="0" width="100%">
              <caption align="center" class="frg-headline-font-23px" style="color:#49166d">Contract Validation Request</caption>
                <thead >
                                  <tr id="headerStyles" class="headerRow" style="font-weight:bold"> 
                                         <th id="colWidth" class="headerRow" scope="col"><div></div></th>       
                                        <th class="headerRow" scope="col" colspan="1"><div>Request ID</div></th>
                                        <th class="headerRow" scope="col" colspan="1"><div>Status</div></th>
                                        <th class="headerRow" scope="col" colspan="1"><div>Owner </div></th>
                                        <th class="headerRow" scope="col" colspan="1"><div>Date & Time</div></th>
                                       <th class="headerRow" scope="col" colspan="1"><div>Comments</div></th>
                                  </tr>
                </thead>
                <tbody class='contractLine'> 
                                
                      <tr ng-repeat="p in control.vlcSI[control.itemsKey] "  ng-init="p.vlcSelected=false">
                                       <td class="stylecolumn" style="width:40px;  font-size: 16px; "/>
                                      <td class="dataCell  frg-body-font-15px" style="color:#333"> <p class="form-control btn btn-link ng-binding" style="width: 90px;"  data-id="control.vlcSI[control.itemsKey]"><span ng-click="baseCtrl.OpenModal(p.Id, p.Name)" >{{p.Name}}</span></p> </td>           
                                       <td class="dataCell  frg-body-font-15px" colspan="1" style="color:#333"><span>{{p.Status__c}}</span></td>
                                       <td class="dataCell  frg-body-font-15px"  style="color:#333;"><span>{{p.Owner.Name}}</span></td>
                                       <td class="dataCell  frg-body-font-15px"  style="color:#333"><span>{{p.LastModifiedDate| date:'MMM d, hh:mm a'}}</span></td>
                                      <td>
                                     
                                           <div class="comments-ellipsis" style="float: left;margin: 2px;">{{p.Description__c}}</div>
                                      </td>
                     </tr>
              </tbody>
   </table> 
</script>