<script type = "text/ng-template" id="displayProducts1.html">
<ul style="margin-top:10px; padding-top:10px; ">
         <li style="display: inline-block; width:400px;" ng-repeat = "p in control.vlcSI[control.itemsKey]">
         
          <label >  from  {{p.PBE.ParentMRC}}</label>
           <div ng-repeat="a in p.PCILevel1">
            <input type = 'checkbox' name="selected" ng-model = 'a.vlcSelcted' ng-click="onSelectItem(control, p, $index, this, true)"/>
            {{a.Name}}    (${{a.PBE.ChildMRC}})
                    <div ng-repeat="l in a.PCILevel2">
                             {{l.Name}}            
                     </div>
            </div>
            </li>
                        
</ul>
</script>
<script type = "text/ng-template" id="displayProducts.html">
<ul style="margin-top:10px; padding-top:10px; ">
         <li style="display: inline-block; width:400px;" ng-repeat = "p in control.vlcSI[control.itemsKey]">
         
          <label >  from  {{p.PBE.ParentMRC}}</label>
           <div ng-repeat="a in p.PCILevel1">
            <input type = 'checkbox' name="selected" ng-model = 'a.vlcSelcted' ng-click="onSelectItem(control, p, $index, this, true)"/>
            {{a.Name}}    (${{a.PBE.ChildMRC}})
                    <div ng-repeat="l in a.PCILevel2">
                             {{l.Name}}            
                     </div>
            </div>
            </li>
                        
</ul>
</script>


<script type = "text/ng-template" id="displayProducts2.html">
<ul style="margin-top:10px; padding-top:10px; ">
         <li style="display: inline-block; width:400px;" ng-repeat = "p in control.vlcSI[control.itemsKey]">
         
          <label >  from  {{p.PBE.ParentMRC}}</label>
           <div ng-repeat="a in p.PCI">
            <input type = 'checkbox' name="selcted" ng-model = 'a.vlcSelcted' ng-click="onSelectItem(control, p, $index, this, true)"/>
            {{a.Name}}    (${{a.PBE.ChildMRC}})
            </div>
            </li>
                    
</ul>
</script>