<p class="contr-telusHeading frg-body-font-27px color-purple">Search the TELUS approver</p>
<div id="telusTable">
    <table  class="list tableClass" border="0" cellpadding="0" cellspacing="0" width="100%">
    
                    <thead >
                        <tr id="telusHeadings" class="frg-body-font-17px" style="font-weight:bold">  
                              <th class="headerRow col-xs-1" scope="col" width="4%"><div></div></th>
                              <th class="headerRow" scope="col" width="10%"><div>Name</div></th>
                              <th class="headerRow col-md-1" scope="col" width="16%"><div>Email</div></th>
                              <th class="headerRow" scope="col" width="20%" ><div>Phone</div></th>
                              <th class="headerRow" scope="col" width="20%"><div>Title</div></th>
                              <th class="headerRow" scope="col" width="15%" ><div>Active</div></th>
                              <th class="headerRow" scope="col" width="15%"><div>Last Modified</div></th>
                             <!-- <th class="headerRow" scope="col" colspan="1"><div>Preferred Language</div></th> -->
                        </tr>
                    </thead>
                    <tbody id="telusData" class='contractLine'> 
                        
                        <tr ng-repeat="p in control.vlcSI[control.itemsKey] | filter : query" ng-class="{ 'vlc-selectableitem-selected' : p.vlcSelected }"  ng-init="p.vlcSelected=false">
                            <td class="stylecolumn" style="width:40px;  font-size: 16px; ">
                                <center>
                                    <input type = 'checkbox' style="width:16px; height:16px;" name="selectContact" ng-model = 'p.vlcSelected' 
                                           ng-change='baseCtrl.onSelectTelusSignor1(control, p, $index, this, false)'  
                                           ng-init="p.Email===bpTree.response.CustomerSignedByEmail?p.vlcSelected=true:p.vlcSelected=false;baseCtrl.onSelectTelusSignor(control, p, $index, this, false);baseCtrl.onpress1();" />
                                </center>
                            </td>
                            <td class="dataCell  frg-body-font-15px" style="color:#333"><span>{{p.Name}}</span></td>
                            <td class="dataCell  frg-body-font-15px col-md-1" style="color:#333;"><span>{{p.Email}}</span></td>
                            <td class="dataCell  frg-body-font-15px" style="color:#333"><span>{{p.Phone}}</span></td>
                            <td class="dataCell  frg-body-font-15px" style="color:#333"><span>{{p.Title}}</span></td>
                            <td class="dataCell  frg-body-font-15px"  style="color:#333"><input ng-model="check2" type="checkbox" disabled = "true" ng-checked="{{p.IsActive}}"/></td>
                            <td class="dataCell  frg-body-font-15px" style="color:#333">{{p.LastModifiedDate | date}}</td>
                        </tr>
                    </tbody>
                </table>
</div>