.panel-heading {
    display: none;
}
.pageType.noSecondHeader {
    font-size: 21px;
}
#telusData {
    border: 1px solid #d3d3d3;
    height: 40px;
}
#telusData tr {
    border: 1px solid #d3d3d3;
    height: 40px !important;
}
#telusHeadings {
    height: 40px;
    border: 1px solid #d3d3d3;
    color:dimgray;
    border-top-width: 0;
}
#totalContractDealValue strong {
            font-weight: normal !important;
            font-size: 21px;
            color: #49166d;
            font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            margin-top: 35px;
            margin-left: -34px;
            position: absolute;
}
#TelusApprover caption {
    margin-top: 20px;
    margin-bottom: 10px;
}
#telusData tr:hover {
    background-color: #e3f3ff;
}
.newTelusContractText {
    font-size: 21px;
    font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin-top: -130px;
    margin-left: -13px;
    position: absolute;
}
#TelusSignor label {
    margin-top: 20px;
    color: #49166d;
    text-transform: initial;
    margin-left: -13px;
}
#searchString {
    margin-top: 10px;
    height: 32px;
    border-radius: inherit;
    width: 369px;
    margin-left: -13px;
} 
#TelusSignor {
    margin-top: 46px!important;
}
#telusTable {
    margin-left: -13px;
    overflow: scroll;
    height: 300px;
    width: 100%;
    overflow: auto;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-bottom-width: 0.5px;
}
#TelusSignorRemote {
    color: #8350a7; 
    border: 1px solid #cecece; 
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(90%, #ffffff), color-stop(90%, #cecece), color-stop(100%, #cecece)); background-image: -webkit-linear-gradient(#ffffff 0%, #ffffff 90%, #cecece 90%, #cecece);
    background-image: linear-gradient(#ffffff 0%, #ffffff 90%, #cecece 90%, #cecece); 
    background-color: white; 
    height: 25px;
    margin-top: 34px;
    margin-bottom: 11px;
    padding-top: 1px;
    margin-left: -190px;
    } 
#TelusSignorRemote:hover {
    color: #8c68a6; background-image: linear-gradient(#cecece 0%, #cecece 90%, #cecece 90%, #cecece); background-color: #cecece; padding-top: 1px; }