<div ng-controller="OCAddressSearchController">
    <div class="slds-grid">
        <div class="slds-col slds-has-flexi-truncate">
            <div class="slds-form-element__control oc-addr-search-container">
                <div class="slds-input-has-icon slds-input-has-icon--left-right dropdown">
                    <slds-svg-icon sprite="'utility'" size="'x-small'" icon="'checkin'" extra-classes="'slds-input__icon slds-input__icon--left slds-icon-text-default oc-addr-search-icon'"></slds-svg-icon>
                    <input id="addrSearchInput" ng-focus="blurIfAutoFocus()" class="slds-lookup__search-input slds-input oc-addr-search-input" type="search" placeholder="{{$root.customLabels['SearchAddress']? $root.customLabels['SearchAddress'] :'Search Address'}}" role="combobox" aria-activedescendent="" aria-expanded="true" aria-autocomplete="list" ng-disabled="$parent.$root.isAutoAdding.length > 0 || $parent.$root.isProcessing" ng-model="selectedAddress" slds-options="item as item.serviceAddressWithOrderNumber for item in serviceAddresses" data-template="{{typeaheadTemplate}}" data-trigger="focus" data-limit="100" slds-typeahead/>
                    <i ng-if="!control || control.rootIndex === activeIndex" ng-init="stepIsActive()"></i> 
                    <button class="slds-input__icon slds-input__icon--right oc-addr-search-dropdown-btn" data-toggle="dropdown" ng-disabled="$parent.$root.isAutoAdding.length > 0 || $parent.$root.isProcessing">
                        <slds-svg-icon sprite="'utility'" size="'x-small'" icon="'down'" extra-classes="'slds-input__icon slds-icon-text-default oc-addr-search-icon'"></slds-svg-icon>
                    </button>
                    <div class="dropdown-menu slds-lookup__menu slds-size--1-of-1" style="border-radius: 2px; box-shadow: 0px 2px 5px #ebedef">
                        <ul tabindex="-1" class="slds-lookup__list" role="menu">
                            '<li ng-repeat="address in serviceAddresses" class="oc-addr-search-dropdown-menu-item" ng-class="{active: $index == $activeIndex}">
                                <a href="javascript:void(0);" class="slds-lookup__item-action" role="menuitem" tabindex="-1" ng-click="selectAddress(address, $index, $event)" >
                                    <div class="slds-p-horizontal--x-small slds-truncate oc-addr-search-dropdown-bold" title="{{address.serviceAddressWithOrderNumber}}">{{address.serviceAddressWithOrderNumber}}</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <span class="oc-service-details-container">
                <span class="oc-service-details" ng-if="!selectedAddress.isILEC">
                    National: {{$root.customLabels['Unconfirmed']? $root.customLabels['Unconfirmed'] :'Unconfirmed'}}
                </span>
                <span class="oc-service-details" ng-if="selectedAddress.isILEC && selectedAddress.maxSpdCopper">
                    Copper: {{$root.customLabels['Unconfirmed']? $root.customLabels['Unconfirmed'] :'Unconfirmed'}} |
                </span>
                <span ng-if="selectedAddress.tvAvailabilityInfo">
                    {{ selectedAddress.tvAvailabilityInfo }} |
                </span>
                <span ng-if="selectedAddress.forborneInfo">
                    {{ selectedAddress.forborneInfo }}
                </span>
            </span>
        </div>
        <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
        </div>
    </div>
</div>