/*** CPQ Theme VARIABLES ***/
@import "ocom-cpq-theme-variables";

/*** MIXINS ***/
//@import "mixin";

/*** STYLES ***/
.vlocity {
    
    .header-color {
        color: #48166D;
        opacity: 0.8;
        border-bottom: 1px dotted #48166D;
    }
    
    .header-button {
        color: #48166D;
        opacity: 0.8;
        height: 40px;
    }
    
    .header-color:hover {
        color: #48166D;
        opacity: 0.5;
        text-decoration: none;
    }

    .title-text {
        color: #48166D;
        opacity: 0.9;
    }

    .field-text {
        color: #332044;
        opacity: 0.6;
    }
    
    .telus-logo {
        height: 36px;
        // background:  url(http://i1070.photobucket.com/albums/u489/sidbud21/TELUS_FF_EN_PURPLE_zpsuxsdxqg7.jpg);
    }
    
    .telus-logo-container {
        height: 40px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    
    .separator {
        color: black;
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .order-pdf-link {
        position: relative;
        left: 180px;
    }
    
    .order-info-bar {
        background-color: #e0cdf4;
        position: relative;
        padding: 3px 0;
    }
    
    .slds-text-heading--label {
        color: #666666;
    }
    .slds-page-header__title {
        color: #666666;
    }
    .slds-text-body--regular {
        color: #666666;
    }
    .slds-icon-standard-orders {
        background-color: #6c0;
    }  
    
    // OCOM Styling
    
    .oc-addr-search-container {
        margin: 10px 20px 10px 10px;
        width: 500px;
        display: inline-block;
    }
    
    .oc-addr-search-input {
        border-radius: 0px;
        color: #333;
    }
    
    .oc-addr-search-dropdown-btn {
        background: none;
        border: none;
        outline: none;
        width: 30px !important;
    }
    
    .oc-addr-search-dropdown-bold {
        color: #333;
    }
    
    .oc-addr-search-dropdown-light {
        color: #666;
    }
    
    .oc-addr-search-dropdown-menu-item {
        width: 100% !important;
    }
    
    .oc-service-details {
        //font-size: 12px;
    }
    
    .oc-service-details-container {
        font-size: 15px;
        color: #666;
    }
    
    .oc-addr-search-icon {
        fill: #57a708 !important;
    }
    
}