<apex:component controller="TelusPRMSiteLoginController" id="loginComponentFr">
<apex:form id="loginForm" forceSSL="true">
<apex:outputPanel layout="block">

<apex:pageMessage detail="{!errorMsg}" rendered="{!ErrFlag}" title="Erreur" id="error" severity="error" strength="3" />

<apex:panelGrid columns="3" style="margin-top:1em;">
    <img width="110" height="15" alt="" src="{!$Resource.Spacer}"/>
    <apex:outputLabel value="Nom d’utilisateur" style="font-weight: bold;" for="username"/>
    <apex:inputText id="username" value="{!username}" size="25" maxlength="80"/>
    <img width="110" height="15" alt="" src="{!$Resource.Spacer}"/>
    <apex:outputLabel value="Mot de passe" style="font-weight: bold;" for="password"/>
    <apex:inputSecret id="password" value="{!password}" size="25" maxlength="80"/>
</apex:panelGrid>
<apex:panelGrid columns="2" style="margin-top:1em; ">
    <img width="180" height="5" alt="" src="{!$Resource.Spacer}"/>
    <apex:outputLink value="{!$Page.CCForgotPasswordFr}">Vous avez oublié votre mot de passe?</apex:outputLink>
</apex:panelGrid>
<apex:panelGrid columns="2" style="margin-top:1em; ">
    <img width="220" height="5" alt="" src="{!$Resource.Spacer}"/>
    <apex:commandButton action="{!login}" value="Entrer" id="loginButton" />
</apex:panelGrid>
<apex:panelGrid >
    
<apex:outputText value=""/>
<apex:outputText value=""/>
<apex:outputText value=""/>
<apex:panelGroup id="theLinks">
<apex:outputText value=" | " rendered="{!$Site.RegistrationEnabled}" />
<apex:outputLink value="{!$Page.CCSiteRegister}" rendered="{!$Site.RegistrationEnabled}">{!$Label.site.new_user_q}</apex:outputLink>
</apex:panelGroup>
</apex:panelGrid>
</apex:outputPanel>

</apex:form>
</apex:component>