<apex:component >
<apex:attribute name="caseToInsert" type="Case" description="" required="true"/>
<apex:attribute name="caseDetailPage" type="Boolean" description="" required="false" default="false" />

    <div class="Rectangle-2-Copy-5" style="padding: 5px 5px 5px 5px;" id="notificationsPanel">
        <h2 class="heading-2 color-purple" id="">{!$Label.ENTPNotifications}</h2>
        <fieldset class="field">
            
           <!-- <legend class="heading-3">{!$Label.ENTPChooseAll}</legend>-->
            <label for="notifyCheck" class="choice">
                <input type="checkbox" value="{!caseToInsert.NotifyCustomer__c}" name="multiple-choice" id="notifyCheck" checked="true"/>
                <span class="choice__text text--small" style="padding-left: 25px;"> {!$Label.ENTPNotificationUpdates}&nbsp;{!$Label.MBROptional}</span>
            </label>
            <label for="notifyCollaborator" class="choice">
                <input type="checkbox" name="multiple-choice" id="notifyCollaborator" class="collaborator-check"/>
                
                
                <span class="choice__text text--small" style="padding-left: 25px;">{!$Label.ENTPNotificationsCollaboration}&nbsp;{!$Label.MBROptional}</span>
                <apex:inputHidden id="collaboratorString" value="{!caseToInsert.NotifyCollaboratorString__c}" />
            </label>
        </fieldset>
            
      <div class="collaborate-reveal">
           
            <div class="grid-row collaborate-email-input-list">
                <div class="xl-12 large-12 xs-12 collaborate-email">
                    
                    <fieldset class="field">
                        <div class="large-9 xl-9 xs-10">
                            <input type="text" class="collab-email text--medium" placeholder="{!$Label.MBREnterEmail}"/>
                        <span class="large-1 xl-1 xs-2">
                            <a href="javascript:;" class="xs-inline-submit frg-link new-case-remove-email">
                               
                                  <i class="icon icon-core-minus"></i>   
                               
                            </a> 
                            
                                </span>
                        </div>
                        
                        <span class="i-error-icon i-error-icon-collab-email frg-icon icon-warning-inverted input-field-icon error-red" aria-hidden="true">
                        </span>  
                    </fieldset>   
                </div>
                
            </div>
            
            <div class="i-error-collab-email form-field-error">
                <p class="no-margin no-padding"></p>
            </div>
            <!-- </div>
</div>-->
            <a href ="javascript:void(0);" class="frg-link has-icon frg-link has-icon" id ="newCaseAddEmail" title="Add more email"><i aria-hidden="true" class="icon icon-core-plus"></i><span class="text text--medium"> {!$Label.ENTPAddEmail}</span></a>
        </div>
        
        
    </div>
    
    <script type="text/javascript">
    
    var onCaseDetailPage = {!IF(caseDetailPage,'true','false')};
    
    $(document).ready(function() {
        
        // bind show / hide collaborators
        $('.collaborator-check').on('click', function(e){
            if (!collabShow()) {
                e.preventDefault();
                //e.stopPropagation();
            }
        });

            // bind add email                
            $('#newCaseAddEmail').on('click', function(){
                collabAddEmail();
                if ($('.form-control.collab-email').length >= 3) {
                    $('#newCaseAddEmail').hide();
                }
            });

            // initialize collaborators
            collabInitializeEmails();
            collabShow();
            collabBindChangeLogic();
            collabBindClearLogic();


        });

        function collabShow(){
            var retval = true;
            if ($('.collaborator-check').is(':checked')){
                $('.collaborate-reveal').fadeIn('fast');
            } else {
                var collabString = $('input[id$="collaboratorString"]').val();
                if (collabString.length > 0) {
                    if (confirm('{!$Label.VITILcareRemoveCollaboratorMessage}')) {
                        $('.collaborate-reveal').fadeOut('fast');
                        $('input[id$="collaboratorString"]').val('');
                        update_subscription();
                        collabInitializeEmails();
                    } else {
                        retval = false;
                    }
                } else {
                    $('.collaborate-reveal').fadeOut('fast');
                }
            }
            return retval;
        }

        function collabBindClearLogic(){ 
            $('.new-case-remove-email').off('click').on('click',function() {
                $(this).parent().fadeOut("fast", function() {
                    $(this).remove();
                    collabSetEmailString();
                    if (onCaseDetailPage) {
                        update_subscription();
                    }
                    if ($('.form-control.collab-email').length < 3) {
                        $('#newCaseAddEmail').show();
                    }
                });
            });
        }

        function collabAddEmail(emailAddr) {

            if (typeof emailAddr != 'string') {
                emailAddr = '';
            }
            var newField ='<div class="xl-12 large-12 xs-12 collaborate-email"><fieldset class="field"><div class="large-10 xl-10 xs-10"><input type="text" class="collab-email" placeholder="{!$Label.MBRAddEmail}"' + (emailAddr.length>0 ? ' value="'+emailAddr+'"' : '') + ' /></div><a href="javascript:;" class="new-case-remove-email" title="Remove email"><div class="xl-1 large-1 xs-1"><i class="icon icon-core-minus" style="padding:5px 0;"></i></div></a><span class="i-error-icon i-error-icon-collab-email frg-icon icon-warning-inverted input-field-icon error-red" aria-hidden="true"></span></fieldset></div></div><div class="i-error-collab-email form-field-error"><p class="no-margin no-padding"></p></div>';
            $(newField).hide().appendTo('.collaborate-email-input-list').fadeIn("fast");
            collabBindChangeLogic();
            if (onCaseDetailPage) {
                collabBindOnBlurLogic();
            }
            collabBindClearLogic();
        }
        function collabSetEmailString() {
            var collabString = '';
            $('input.collab-email').each(function(){
                var thisVal = $(this).val();
                if (thisVal.length) {
                    collabString += (collabString.length ? ';' : '') + thisVal;
                }
            });
            $('input[id$="collaboratorString"]').val(collabString);
            //console.log('collabString: ' + $('input[id$="collaboratorString"]').val());
        }
        function collabBindChangeLogic() {
            $('input.collab-email').off('change keyup').on('change keyup', function(){
                collabSetEmailString();
            });
        }
        function collabBindOnBlurLogic() {
            $('input.collab-email').off('blur').on('blur', function(){
                // update_subscription defined in MBRCaseDetail.page via apex:actionFunction
                update_subscription();
            });
        }
        function collabInitializeEmails() {
            var emailStr = $('input[id$="collaboratorString"]').val();
            //console.log('emailStr: [' + emailStr + ']');
            $('.collaborate-email').remove(); // remove any existing fields
            if (typeof emailStr != 'undefined' && emailStr.length > 0) {
                var emails = emailStr.split(';');
                //console.log('emails: ', emails);
                for (var idx in emails) {
                    var email = emails[idx];
                    if (typeof email == 'string' && email.length > 0) {
                        //console.log('calling collabAddEmail('+email+')...');
                        collabAddEmail(email);
                    }
                }
                if ($('.form-control.collab-email').length >= 3) {
                    $('#newCaseAddEmail').hide();
                }
                $('.collaborator-check').click();
            } else {
                collabAddEmail('');
            }
        }
            
    </script>
    
</apex:component>