<apex:component >
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
            
    <link rel="favicon" href="//static.telus.com/common/images/favicon/favicon.ico" />        
    <link rel="favicon" sizes="32x32" href="//static.telus.com/common/images/favicon/TELUS-favicon-32.png" />        
    <link rel="favicon" sizes="128x128" href="//static.telus.com/common/images/favicon/TELUS-favicon-128.png" />        
    <link rel="apple-touch-icon" href="//static.telus.com/common/images/favicon/apple-touch-icon.png" />       
    <link rel="apple-touch-icon" sizes="72x72" href="//static.telus.com/common/images/favicon/TELUS-apple-touch-icon-72.png" />  
    <link rel="apple-touch-icon" sizes="114x114" href="//static.telus.com/common/images/favicon/TELUS-apple-touch-icon-114.png" />   
    <link rel="apple-touch-icon" sizes="144x144" href="//static.telus.com/common/images/favicon/TELUS-apple-touch-icon-144.png" />
    <!--<link rel="stylesheet" type="text/css" href="//static.telus.com/my-account/278/assets/css/uss-framework/framework.css" />--> 
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.VITILcareCSS, 'css/telus/framework_new.css')}"/>       
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.VITILcareCSS, 'css/telus/shared-usage.css')}"/>
    <link rel="stylesheet" href="{!URLFOR($Resource.bootstrap, 'bootstrap-3.2.0-dist/css/bootstrap.min.css')}" media="all"/>
    <link rel="stylesheet" href="{!URLFOR($Resource.VITILcareCSS, 'css/datepicker3.css')}" media="all"/>
                                
    <apex:stylesheet value="{!URLFOR($Resource.VITILcareCSS, 'css/telus.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.VITILcareCSS, 'css/common.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.VITILcareCSS, 'fonts/mbr/stylesheet.css')}"/>  
<!--     <apex:stylesheet value="{!URLFOR($Resource.MBRTracResources, 'css/custom.css')}"/> -->  
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.VITILcareCSS, 'fonts/mbr/stylesheet.css')}"/>  
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.MBRTracResources, 'fonts/telusdings/stylesheet.css')}"/>  
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.MBRTracResources, 'css/custom.css')}"/>  
<!--    
    <apex:stylesheet value="{!URLFOR($Resource.CIPCSS, '')}"/>
-->
    <apex:includeScript value="{!URLFOR($Resource.jquerymin)}"/>
    <!--<apex:includeScript value="https://code.jquery.com/jquery-2.1.0.min.js"/>-->
    <apex:includeScript value="{!URLFOR($Resource.mootools)}"/>
    
    <!--
    <script type="text/javascript" src="//static.telus.com/my-account/93/assets/js/libs/modernizr.js?1399667635"></script>       
    <script type="text/javascript" src="//static.telus.com/my-account/93/assets/js/libs/respond.js?1399667636"></script>  
    <script type="text/javascript" src="//nexus.ensighten.com/telus/prod/Bootstrap.js"></script>
    -->
     <script type="text/javascript" src="{!URLFOR($Resource.MBRTracResources, 'js/tracJS.js')}"></script>   
    <script type="text/javascript" src="{!URLFOR($Resource.MBRScripts, 'js/modernizr.js')}"></script>       
    <script type="text/javascript" src="{!URLFOR($Resource.MBRScripts, 'js/respond.js')}"></script> 
    <script type="text/javascript" src="{!URLFOR($Resource.MBRScripts, 'js/Bootstrap.js')}"></script> 

     
    <script type="text/javascript">
        window.eVar29 = "";
        window.eVar30 = "";
        window.eVar31 = "";
        window.eVar32 = "logged in";
        window.eVar37 = "";
    </script>
</apex:component>