<apex:component >
    <style>
    .test{color: red;padding: 1px 11px;margin-left:10px}
    </style>
    <apex:attribute name="objectName" description="Name of the Object" type="sObject" required="true"/>
    <apex:attribute name="oldValues" description="OldRec values"  type="sObject" required="true"/>
    <apex:attribute name="Fields" description="List of Field to display" type="String[]" required="true"/>
    <apex:attribute name="title" description="Section Title" type="String" />
    <apex:outputPanel id="custdetailSec" >   
        <apex:pageBlock mode="maindetail" >
            <apex:pageBlockSection columns="2" title="{!title}" collapsible="false" showHeader="false" >
              <apex:repeat value="{!Fields}" var="f">
                <apex:outputField value="{!objectName[f]}"  styleClass="test">
                   <apex:outputtext value="Was : {!oldValues[f]}"  styleClass="test" rendered="{! (oldValues[f] != null) && !(objectName[f] = oldValues[f])}"/>
                   <apex:outputtext value="Was : "  styleClass="test" rendered="{! (oldValues[f]=null) && !(objectName[f] = oldValues[f])}"/> 
                </apex:outputField>    
              </apex:repeat>
            </apex:pageBlockSection>
        </apex:pageBlock>
   </apex:outputPanel>
</apex:component>