<apex:component >
    <!-- {!$CurrentPage.Name} -->
    <div class="nav-wrapper">
        <nav class="uss-nav" role="menu">
            <ul class="uss-nav-list">
                <li class="uss-nav-item {!IF(CONTAINS(UPPER($CurrentPage.Name), 'OVERVIEW'),'selected', '')}" data-wireframe="#wireframe-1">
                    <a href="{!URLFOR($Page.MBROverview)}">
                        <span class="frg-icon cci-icon-overview"></span>
                        Overview
                    </a>
                </li>
                <li class="uss-nav-divider"></li>
                <li class="uss-nav-item {!IF(CONTAINS(UPPER($CurrentPage.Name), 'SUBMIT'),'selected', '')}" data-wireframe="#wireframe-1">
                    <a href="{!URLFOR($Page.MBRNewCase)}">
                        <span class="frg-icon icon-paper-inverted"></span>
                        Submit request
                    </a>
                </li>
                <li class="uss-nav-divider"></li>
                <li class="uss-nav-item {!IF(CONTAINS(UPPER($CurrentPage.Name), 'MANAGE') || CONTAINS(UPPER($CurrentPage.Name), 'DETAIL'),'selected', '')}" data-wireframe="#wireframe-1">
                    <a href="{!URLFOR($Page.MBRManageRequests)}">
                        <span class="frg-icon icon-stacked-papers-inverted"></span>
                        Manage requests
                    </a>
                </li>
<!--                
                <li class="uss-nav-divider"></li>
                <li class="uss-nav-item {!IF(CONTAINS(UPPER($CurrentPage.Name), 'BILLING') || CONTAINS(UPPER($CurrentPage.Name), 'DETAIL'),'selected', '')}" data-wireframe="#wireframe-1">
                    <a href="https://teluspoc.globysonline.com/cv/scripts/B3B0/eng/log.asp?gru=479321269" target="_blank">
                        <span class="frg-icon icon-stacked-papers-inverted"></span>
                        Billing
                    </a>
                </li>
-->
                <li class="uss-nav-divider"></li>
                <li class="uss-nav-item {!IF(CONTAINS(UPPER($CurrentPage.Name), 'PROFILE'),'selected', '')}" data-wireframe="#wireframe-2">
                    <a href="{!URLFOR($Page.MBRMyProfileV2)}">
                        <span class="frg-icon icon-user-profile-inverted"></span>
                        My profile
                    </a>
                </li>
                <li class="uss-nav-divider"></li>
                <li class="uss-nav-item {!IF(CONTAINS(UPPER($CurrentPage.Name), 'HELP') || CONTAINS(UPPER($CurrentPage.Name), 'ANSWER'),'selected', '')}" data-wireframe="#wireframe-1">
                    <a href="{!URLFOR($Page.MBRGetHelp)}">
                        <span class="mbr-icon mbr-icon-question-mark"></span>
                        Get help
                    </a>
                </li>
                 <li class="uss-nav-divider"></li>
                   <li class="uss-nav-item {!IF(CONTAINS(UPPER($CurrentPage.Name), 'FEEDBACK'), 'selected', '')}" data-wireframe="#wireframe-1">
                       <a href="{!URLFOR($Page.MBRFeedback)}">
                        <span class="frg-icon icon-users"></span>
                        Feedback
                       </a>
                </li>
                <li class="uss-nav-divider"></li>
                <li class="uss-nav-item with-divider small" data-wireframe="#wireframe-1">
                    <a href="logout">
                        <span class="frg-icon icon-x-circled"></span>
                        Log out
                    </a>
                </li>
            </ul>
        </nav>
        
        <a href="#" class="uss-nav-trigger">                    
            <span class="frg-icon icon-user-profile-inverted"></span>
                {!IF(CONTAINS(UPPER($CurrentPage.Name), 'OVERVIEW'),'Overview', '')}
                {!IF(CONTAINS(UPPER($CurrentPage.Name), 'NEWCASE') || CONTAINS(UPPER($CurrentPage.Name), 'SUBMIT-REQUEST'),'Submit Request', '')}
                {!IF(CONTAINS(UPPER($CurrentPage.Name), 'MANAGE') || CONTAINS(UPPER($CurrentPage.Name), 'DETAIL'),'Manage Request', '')}
                {!IF(CONTAINS(UPPER($CurrentPage.Name), 'HELP'),'Get Help', '')}
            {!IF(CONTAINS(UPPER($CurrentPage.Name), 'FEEDBACK'),'Feedback', '')}
                {!IF(CONTAINS(UPPER($CurrentPage.Name), 'PROFILE'),'My Profile', '')}
            <span class="frg-icon icon-arrow-down"></span>
        </a>
    </div>

</apex:component>