<apex:component >
 <apex:attribute name="formWrapper" type="MBRFormWrapper" description="fields for legal name change form" required="true"/>
<apex:attribute name="caseToInsert" type="Case" description="" required="true"/>

    <script type="text/javascript">
        $(document).ready(function(){

   //       $(function() { 
   //              $(".transferDate").datepicker("setDate", new Date());
            // });
            // bind the subform reveal logic to the radio button values
            $('.radio-mobile-addOn').on('change', function(){
                var selectedVal = $(this).val();
                $('#additionalInfo').show();
                $('.form-attachment').show();
                
                if (selectedVal == "true") {
                    $('#WLSAddOnForm').show();
                    $('[id^=addOnUser]').hide();
                    $("#addOnUser1").show();
                    $('#descriptionField').hide();
                    $('#paymentInformation').show();
                    $('#additionalInformation').show();
                    $('input[id$="isMobile"]').val(true);
                } else {
                    $('#paymentInformation').hide();
                    $('#additionalInformation').hide();
                    $('#descriptionField').show();
                    $('#WLSAddOnForm').hide();
                    $('input[id$="isMobile"]').val(false);
                }
            });

            $('.radio-mobile-transfer').on('change', function(){
                var selectedVal = $(this).val();
                var parentDiv = $(this).parents("[id^=addOnUser]");
                var index = parentDiv.attr('id').split('addOnUser')[1];  
                var name = $(this).attr('name');
                $("input:radio[name="+name+"]").each(function(){
                    $(this).parents('.mbr-radio-button').removeClass('radio-error');
                })


                if(selectedVal == "true"){
                    /*
                    $("#isTransfer"+index).show();
                    $("#notTrasfer"+index).hide();
                    $("#notTrasfer"+index).find('select option:selected').removeAttr('selected'); 
                    */
                    $(parentDiv).find('input[class$="isTransferValue"]').val(true);
                }
                else{
                    /*
                    $("#isTransfer"+index).hide();
                    $("#notTrasfer"+index).show();
                    $("#isTransfer"+index).find('input:text').val(''); 
                    */
                    $(parentDiv).find('input[class$="isTransferValue"]').val(false);
                }
            });


            $('.radio-own-device').on('change', function(){
                var selectedVal = $(this).val();
                var parentDiv = $(this).parents("[id^=addOnUser]");
                var index = parentDiv.attr('id').split('addOnUser')[1];  
                var name = $(this).attr('name');
                $("input:radio[name="+name+"]").each(function(){
                    $(this).parents('.mbr-radio-button').removeClass('radio-error');
                })
                

                if(selectedVal == "true"){
                    /*
                    $("#isOwn"+index).show();
                    $("#newDev"+index).hide();
                    $("#newDev"+index).find('input:text').val(''); 
                    */
                    $(parentDiv).find('input[class$="isOwnDeviceValue"]').val(true);
                }
                else{
                    /*
                    $("#isOwn"+index).hide();
                    $("#newDev"+index).show();
                    $("#isOwn"+index).find('input:text').val(''); 
                    */
                    $(parentDiv).find('input[class$="isOwnDeviceValue"]').val(false);
                }

            });

            // bind logic to select parent radio button if child inputs are changed
            $('.radio-child').on('change keyup', function(){
                val = $(this).val();
                if (val.length > 0) {
                    // child text or textarea has changed and non-zero length; find and click the parent radio
                    var radioParents = $(this).parents('.mbr-radio-button').find('input.radio-parent');
                    if (radioParents.length) {
                        $(radioParents[0]).click();
                    }
                }
            });

            // bind add email                
            $('#newAddOnUser').on('click', function(){     
                 if($('[id^=addOnUser]:visible').length >0){
                    var firstHidden = $('[id^=addOnUser]:hidden:first').detach();
                    var index = $(firstHidden).attr('id').split('addOnUser')[1];
                    var nextUserDiv = $('[id^=addOnUser]:visible:last'); 
                    $(firstHidden).insertAfter(nextUserDiv);          
                    $(firstHidden).show();
                }
                else{
                    $("#addOnUser1").show();
                }
                resetCounter();
                if($('[id^=addOnUser]:visible').length >=5){
                    $("#newAddOnUser").hide();
                }
            });

             $('.remove-addOn-user').on('click', function(){    
                var parentDiv = $(this).parents("[id^=addOnUser]");
                var index = parentDiv.attr('id').split('addOnUser')[1];  
                $("#addOnUser"+index).hide(); 
                $("#addOnUser"+index).find('input:text').val('');   
                $("#addOnUser"+index).find('textArea').val('');   
                $("#addOnUser"+index).find('input:radio:checked').removeAttr('checked');   
                $("#addOnUser"+index).find('select option:first-child').attr("selected", "selected");
                //$("#isTransfer"+index).hide();
                //$("#notTrasfer"+index).hide();   
                //$("#isOwn"+index).hide();
                //$("#newDev"+index).hide();
                resetCounter();
                if($('[id^=addOnUser]:visible').length <5){
                    $("#newAddOnUser").show();
                }
            });

             function resetCounter(){
                $(".addOnCounter:visible").each(function(index) {
                    index=index+1;
                    $(this).text(index);
                });
             }

             var cities = {
                "AB": ["Banff", "Barrhead", "Bonnyville", "Boyle", "Brooks", "Calgary", "Camrose", "Canmore", "Claresholm", "Coronation", "Cowley", "Crowsnest Pass", "Czar", "Drayton Valley", "Drumheller", "Edmonton", "Edson", "Fairview", "Falher", "Fort Mcmurray", "Fox Creek", "Gift Lake", "Grand Cache", "Grande Prairie", "Hanna", "Hardisty", "Hay Lakes", "High Level", "High Prairie", "High River", "Hinton", "Jasper", "Killam", "Lac La Biche", "Lethbridge", "Lloydminster", "Manning", "Medicine Hat", "Milk River", "Millet", "Olds", "Oyen", "Peace River", "Pincher Creek", "Panoka", "Provost", "Rainbow Lake", "Red Deer", "Red Earth Creek", "Rocky Mtn House", "Slave Lake", "Smoky Lake", "Spirit River", "St. Paul", "Stettler", "Strathmore", "Sundre", "Swan Hills", "Three Hills", "Valleyview", "Vauxhall", "Vegreville", "Vermilion", "Veteran", "Viking", "Vulcan", "Wabasca Desmarais", "Wainwright", "Westlock", "Wetaskiwin", "Whitecourt"],
                "BC": ["100 Mile Hse", "Abbotsford", "Aldergrove", "Alert Bay", "Bella Bella", "Burns Lake", "Cache Creek", "Campbell River", "Castlegar", "Chemanius", "Chetwynd", "Chilliwack", "Clearwater", "Courtenay", "Cranbrook", "Creston", "Dawson Creek", "Duncan", "Fernie", "Fort Nelson", "Fort St. James", "Fort St. John", "Fraser Lake", "Ganges", "Golden", "Grand Forks", "Gulf Islands", "Hazelton", "Hope", "Houston", "Hudson\'s Hope", "Invermere", "Kamloops", "Kaslo", "Kelowna", "Keremeos", "Kimberley", "Kitimat", "Lillooet", "Lytton", "Mackenzie", "Masset", "Mayne Island", "Mcbridge", "Merritt", "Midway", "Nakusp", "Nanaimo", "Nelson", "New Westminster", "Oliver", "Parksville", "Penticton", "Port Alberni", "Port Alice", "Port Edward", "Port Hardy", "Powell River", "Prince George", "Prince Rupert/Port Edward", "Princeton", "Quesnel", "Revelstoke", "Roadway", "Salmon Arm", "Saltsprings", "Sandspit", "Sechelt", "Smithers", "South Kamloops", "Sparwood", "Spences Bridge", "Squamish", "Terrace", "Trail", "Tumbler Ridge", "Ucluelet", "Valemount", "Vancouver", "Vanderhoof", "Vernon", "Victoria", "Whistler", "Williams Lake"],
                "MB": [ "Brandon", "Gimli", "Oakbank", "Portage La Prairie", "Sanford", "Selkirk", "Steinbach", "Stonewall", "The Pas", "Winnipeg"],
                "NB": [ "Bathurst", "Campbellton", "Edmunston", "Fredericton", "Grand Falls", "Miramichi", "Moncton", "Richibucto", "Saint John", "St Stephen", "Sussex", "Tracadie", "Woodstock"],
                "NF": [ "Bayroberts", "Clarenville", "Corner Brook", "Deer Lake", "Freshwater-Placentia Bay", "Gander", "Grand Falls", "Happy Valley-Goose Bay", "Labrador City-Wabush", "Long Pond", "Marystown", "St Anthony", "St. John\'s", "Stephenville", "Upper Island Cove"],
                "NT": ["Yellowknife"],
                "NS": [ "Amherst", "Annapolis Royal", "Antigonish", "Aylesford", "Barrington", "Bridgewater", "Chester", "Digby", "Halifax", "Kentvile/New Minas", "Kingston", "Liverpool", "Middleton", "New Glasgow/Stellerton", "Port Hawkesbury", "Shelburne", "Stewiacke", "Sydney", "Truro", "Windsor", "Yarmouth"],
                "ON": [ "Ajax/Pickering", "Algoma Mills", "Alliston", "Aurora", "Aylmer", "Bancroft", "Barrie", "Beeton", "Belleville", "Bracebridge", "Brampton", "Brantford", "Brockville", "Burlington", "Caledon Est", "Chatham", "Cobourg", "Collingwood", "Cornwall", "Englehart", "Georgetown", "Goderich", "Gore Bay", "Grimsby", "Guelph", "Haliburton", "Hamilton", "Hawkesbury", "Hearst", "Hespeler", "Huntsville", "Kapuskasing", "Kenora", "Kingston", "Kirkland Lake", "Kitchener/Waterloo", "Lindsay", "Listowel", "London", "Midland", "Milton", "Mindemoya", "Moonstone", "Mount Forest", "New Liskeard", "Newmarket", "North Bay", "Oak Ridges", "Oakville", "Orangeville", "Oshawa", "Ottawa Hull", "Owen Sound", "Parry Sound", "Pembroke", "Perth", "Peterborough", "Port Elgin", "Port Perry", "Sarnia", "Sault Ste Marie", "Simcoe", "Smith Falls", "St. Catherines", "Stayner", "Stratford", "Streetsville", "Sudbury", "Thunder Bay", "Tillsonburg", "Timmins", "Toronto", "Walkerton", "Windsor", "Woodstock"],
                "PEI": ["Alberton", "Charlottetown", "Georgetown", "Montague", "O Leary", "Souris", "Summerside", "Tignish"],
                "QC": [ "Alma", "Amos", "Amqui", "Beauharnois", "Chandler", "Chibougamau", "Chicoutimi", "Donnacona", "Drummondville", "Fermont", "Forestville", "Gaspe", "Granby", "Grande Vallee", "Hauterive", "Havre St-Pierre", "Hull", "Joliette", "La Malbaie", "La Sarre", "La Tuque", "Lac Megantic", "Lachute", "Lavaltrie", "Maniwaki", "Matane", "Matapedia", "Mont Laurier", "Montmagny", "Montreal (Atwater)", "Natashquan", "New-Carlisle", "New-Richmond", "Noranda", "Ottawa Hull", "Perce", "Plessisville", "Pont-Rouge", "Port-Cartier", "Quebec city", "Rimouski", "Riviere Du Loup", "Rouyn Noranda", "Sept-Iles", "Shawinigan", "Sherbrooke", "Sorel", "St Agathe", "St Anne De La Perade", "St Augustin De Desmaures", "St Claire De Dorchester", "St Georges De Beauce", "St Henri De Levis", "St Hyacinthe", "St Jean", "St Jerome", "St Jovite", "St Madeleine", "St Marie De Beauce", "St Pie De Guire", "St Roch Des Aulnaies", "St Therese", "St-Anne-Des-Monts", "St-Augustin", "St-Flavien", "St-Henri", "St-Pamphile", "St-Tite", "St. Felicien", "Ste-Agathe Des Monts", "Ste-Anne-De-La-Perade", "Ste-Marie", "Thetford Mines", "Trois Rivieres", "Val D\'or", "Valleyfield", "Vaudreuil", "Victoriaville"],
                "SK": [ "Assiniboia", "Big River", "Biggar", "Canora", "Carlyle", "Carnduff", "Carrot River", "Churchbridge", "Coronach", "Davidson", "Esterhazy", "Estevan", "Eston", "Fort Qu\'appelle", "Gravelbourg", "Grenfell", "Gull Lake", "Hudson Bay", "Humboldt", "Indian Head", "Kamsack", "Kerrobert", "Kindersley", "Kipling", "La Ronge", "Langenburg", "Lashburn", "Lloydminster", "Maidstone", "Maple Creek", "Meadow Lake", "Melfort", "Melville", "Moose Jaw", "Moosomin", "Nipawin", "North Battleford", "Outlook", "Oxbow", "Porcupine Plain", "Preeceville", "Prince Albert", "Radville", "Redvers", "Regina", "Rosetown", "Rosthern", "Saltcoats", "Saskatoon", "Shaunavon", "Shellbrook", "Southey", "Spiritwood", "St Walburg", "Swift Current", "Tisdale", "Unity", "Wakaw", "Waldheim", "Watrous", "Weyburn", "Whitewood", "Wilkie", "Wolseley", "Wynyard", "Yorkton"],
                "YT": ["Whitehorse"]
            }
            
            $('.provinces').change(function () {
                var province = $(this).val();
                var parentDiv = $(this).parents("[id^=addOnUser]");
                var index = parentDiv.attr('id').split('addOnUser')[1];   
                var $cityWrapper = $(this).siblings('.cities');
                var lcns = cities[province] || [];
                
                var html = $.map(lcns, function(lcn){
                    return '<option value="' + lcn + '">' + lcn + '</option>'
                }).join('');
                html = '<option value="">-Select City-</option>' + html;
                $cityWrapper.html(html)
            });

            $('.cities').change(function () {
                var city = $(this).val();
                var parentDiv = $(this).parents("[id^=addOnUser]");
                $(parentDiv).find('input[class$="selectedCity"]').val(city);
            });

        });

    </script>

    <div id="AddOnProductForm" class="hideComponent">
        <fieldset class="form-group i-mobile-radio-menu">
            <legend>{!$Label.MBRMobileRelatedRequest}</legend>
            <div class="mbr-radio-button">
                <label>{!$Label.MBRYes}
                    <input type="radio" name="mobileServiceRadio" class="radio-mobile-addOn yes radio-master" value="true" html-aria-required="required" /> 
                    <span class="radio-state"></span>
                </label>
            </div>
            <div class="mbr-radio-button">
                <label>{!$Label.MBRNo}
                    <input type="radio"  name="mobileServiceRadio" class="radio-mobile-addOn no radio-master" value="false" html-aria-required="required"/> 
                <span class="radio-state"></span>
                </label>
            </div>
        </fieldset>

        <div class="hideComponent" id="WLSAddOnForm">

         <div class="subsection-divider"> </div>
            <h3 class="form-section-header">
                {!$Label.MBRLegalNameChangeMoreInfo}
            </h3>
            <div class="telus-top-note">
                {!$Label.MBRTopNoteSameShipping}
            </div>

            <apex:variable var="cnt" value="{!1}" /> 
            <apex:repeat value="{!formWrapper.addOnUsers}" var="addOnUser">
                <div id="addOnUser{!cnt}">
                    <apex:inputHidden html-class="isTransferValue" value="{!addOnUser.isTransfer}" />
                    <apex:inputHidden html-class="isOwnDeviceValue" value="{!addOnUser.isOwnDevice}" />
                    <apex:inputHidden html-class="selectedCity" value="{!addOnUser.selectedCity}" />


                    <div class="user-added-detail">
                        <div class="left">{!$Label.MBRUserNumber}<span class="addOnCounter">{!cnt}</span>{!$Label.MBRUserDetails}
                        </div>
                        <div class="right">
                            <a href="javascript:;" title="remove" class="frg-link remove-addOn-user color-purple has-icon"><span aria-hidden="true" class="frg-icon icon-minus-circled"></span></a>
                        </div>
                    </div>

                    <fieldset class="form-group">
                        <legend>{!$Label.MBRAnotherProviderInfo}</legend>
                        <div class="mbr-radio-button">
                            <label class="has-help-link">
                                <span>{!$Label.MBRIsTransferYes}</span>
                                <input type="radio" name="mobileTransfer{!cnt}" class="radio-mobile-transfer radio-parent" value="true" /> 
                                <span class="radio-state"></span>
                            </label>
                            <div id="isTransfer{!cnt}">
                                <div class="sub-field-container">
                                    <a class="subfield-help-link mbr-icon mbr-icon-question-mark"></a>
                                    <fieldset>
                                        <legend class="clipped">Transferred phone service information</legend>
                                        <apex:outputLabel styleClass="clipped" for="transferredPhoneNumber">
                                            {!$Label.MBRExistingPhoneNumber}
                                        </apex:outputLabel>
                                        <apex:inputText value="{!addOnUser.existingNumber}" label="mobileNo" html-placeholder="{!$Label.MBRExistingPhoneNumber}" styleClass="form-control full-width radio-child" id="transferredPhoneNumber"/>
                                        <apex:outputLabel styleClass="clipped" for="transferredAccountNumber">
                                            {!$Label.MBRCurrentProviderAccount}"
                                        </apex:outputLabel>
                                        <apex:inputText value="{!addOnUser.currentProvider}" label="currentProvider" html-placeholder="{!$Label.MBRCurrentProviderAccount}" styleClass="form-control full-width radio-child" id="transferredAccountNumber"/>
                                    </fieldset>
                                </div>
                                <div class="subfield-help">
                                    <apex:outputText value="{!$Label.MBRHelpAddonIsTransferYes}" escape="false" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="mbr-radio-button">
                            <label class="has-help-link">
                                {!$Label.MBRIsTransferNo}
                                <input type="radio" name="mobileTransfer{!cnt}" class="radio-mobile-transfer radio-parent" value="false" /> 
                                <span class="radio-state"></span>
                            </label>
                            <div id="notTrasfer{!cnt}">
                                <div class="sub-field-container">
                                    <a class="subfield-help-link mbr-icon mbr-icon-question-mark"></a>
                                    <fieldset>
                                        <legend class="clipped">Current service location area </legend>
                                        <apex:outputLabel styleClass="clipped" for="areaCodeProvince">
                                            {!addOnUser.selectedProvince}
                                        </apex:outputLabel>
                                        <apex:selectList value="{!addOnUser.selectedProvince}" multiselect="false" size="1" styleClass="full-width form-control provinces radio-child" id="areaCodeProvince">
                                            <apex:selectOptions value="{!formWrapper.provinces}" />
                                        </apex:selectList>
                                        <apex:outputLabel styleClass="clipped" for="areaCodeCity">
                                            {!$Label.MBRSelectCity}
                                        </apex:outputLabel>
                                        <select class="cities form-control radio-child" name="Cities" placeholder="{!$Label.MBRSelectCity}" id="areaCodeCity"><option value="">{!$Label.MBRSelectCity}</option></select>
                                    </fieldset>
            
                                    <!-- <apex:selectList  value="{!addOnUser.selectedCity}" multiselect="false" size="1" styleClass="full-width form-control">
                                        <apex:selectOptions value="{!addOnUser.cities}" />
                                    </apex:selectList> -->
                                </div>
                                <div class="subfield-help">
                                    <apex:outputText value="{!$Label.MBRHelpAddonIsTransferNo}" escape="false" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend>{!$Label.MBRUserOwnDevice}</legend>
                        <div class="mbr-radio-button">
                            <label class="has-help-link">
                                {!$Label.MBRUserOwnDeviceYes}
                                <input type="radio" name="ownDevice{!cnt}" class="radio-own-device radio-parent" value="true" /> 
                                <span class="radio-state"></span>
                            </label>
                            <div id="isOwn{!cnt}">
                                <div class="sub-field-container">
                                    <a class="subfield-help-link mbr-icon mbr-icon-question-mark"></a>
                                    <fieldset>
                                        <legend class="clipped">User's current device type</legend>
                                        <apex:outputLabel styleClass="clipped" for="userCurrentDevice">
                                            User's current device make
                                        </apex:outputLabel>
                                        <apex:selectList value="{!addOnUser.existingDevice}" multiselect="false" size="1" styleClass="full-width form-control provinces radio-child" id="userCurrentDevice">
                                            <apex:selectOptions value="{!formWrapper.deviceTypes}" />
                                        </apex:selectList>
                                        <apex:outputLabel styleClass="clipped" for="userCurrentDeviceSim">
                                            User's current device SIM number
                                        </apex:outputLabel>
                                        <apex:inputText value="{!addOnUser.existingSIM}" label="exSIM" html-placeholder="{!$Label.MBRExistingSIMNumber}" styleClass="form-control full-width radio-child" id="userCurrentDeviceSim"/>
                                    </fieldset>
                                </div>
                                <div class="subfield-help">
                                    <apex:outputText value="{!$Label.MBRHelpAddonDeviceModel}" escape="false" />
                                </div>
                            </div>
                        </div>
                        <div class="mbr-radio-button">
                            <label class="has-help-link">
                                {!$Label.MBRUserOwnDeviceNo}
                                <input type="radio" name="ownDevice{!cnt}" class="radio-own-device radio-parent" value="false" /> 
                                <span class="radio-state"></span>
                            </label>
                            <div id="newDev{!cnt}">
                                <div class="sub-field-container">
                                    <a class="subfield-help-link mbr-icon mbr-icon-question-mark"></a>
                                    <fieldset>
                                        <legend class="clipped">User's requested device</legend>
                                        <apex:inputText value="{!addOnUser.newDevice}" label="newDevice" html-placeholder="{!$Label.MBRNewDeviceRequested}" styleClass="form-control full-width radio-child" />
                                    </fieldset>
                                </div>
                                <div class="subfield-help">
                                    <apex:outputText value="{!$Label.MBRHelpAddonNewDevice}" escape="false" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <a class="field-help-link mbr-icon mbr-icon-question-mark"></a>
                        <apex:outputLabel for="accessories">{!$Label.MBRAccessoriesInfo}<span class="label-subtext">{!$Label.MBROptional}</span></apex:outputLabel>
                        <apex:inputtext value="{!addOnUser.accessories}" label="accessories" html-placeholder="{!$Label.MBRAddAccessories}" styleClass="form-control full-width"/>
                        <div class="input-field-help"><apex:outputText value="{!$Label.MBRHelpAddonAccessories}" escape="false" /></div>
                    </div>
                    <div class="form-group">
                        <apex:outputLabel for="addInfo">{!$Label.MBRAdditionalOrderInfo}<span class="label-subtext">{!$Label.MBROptional}</span></apex:outputLabel>
                        <apex:inputTextarea value="{!addOnUser.addInfo}" label="addInfo" html-placeholder="{!$Label.MBRAddAdditionalUserInfo}" styleClass="form-control full-width text-area-xs"/>
                    </div>
                </div>
                <apex:variable var="cnt" value="{!cnt+1}"/>
            </apex:repeat>
                
                <div class="inline-add-user">
                    <a href ="javascript:void(0);" class="frg-link has-icon frg-link has-icon" id ="newAddOnUser"><i aria-hidden="true" class="frg-icon icon-plus-circled"></i><span class="icon-label">{!$Label.MBRAddNewUser}</span>
                    </a>
                </div>
            </div>
    </div>


</apex:component>