<apex:component >

<script language="javascript" type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>

<script type="text/ng-template" id="NAAS_SubmitOrder">
    <iframe class="container" id="sizetracker" ng-src="{{'/apex/NAAS_SubmitOrder?id=' + bpTree.response.ContextId }}" name="submitOrder" marginwidth="0" marginheight="0" align="top" frameborder="0" hspace="0" vspace="0" onload="resizeIframe(this)"></iframe>
</script> 

</apex:component>