<apex:component controller="OC_StandaloneCheckServices" allowDML="true">

    <script type="text/javascript">

    $= jQuery.noConflict();

    function openTab(tabId, tabUrl, activeTab, tabLabel, callbackFunction, tabName) {
        sforce.console.openPrimaryTab(tabId, tabUrl, activeTab, tabLabel, callbackFunction, tabName);
    }

    $(document).ready(function () {
        initRadioButtonEvents();
    });

    </script>
    <style>
    .loader-bg {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(247, 247, 248, 0.7);
        z-index:2;
    }

    .loader,
    .loader:after {
        border-radius: 50%;
        width: 6em;
        height: 6em;
    }

    .loader {
        margin: 0px auto;
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -3em;
        margin-top: -3em;
        text-indent: -9999em;
        border-top: .7em solid rgba(255, 255, 255, 1);
        border-right: .7em solid rgba(255, 255, 255, 1);
        border-bottom: .7em solid rgba(255, 255, 255, 1);
        border-left: .7em solid #4B2B6B;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 .8s infinite linear;
        animation: load8 .8s infinite linear;
    }

    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }


    .bPageBlock-black-bar {
        border-top: 6px solid #333333;
    }

    a.vlc-active {
        text-decoration: none;
        color: #57A708;
    }

    a.vlc-active:hover {
        text-decoration: none;
    }

    .footer {
        background: rgba(0, 0, 0, 0.80);
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 75px;
    }

    .step-content-pac {
        height: 100%;
        padding-bottom: 50px;
    }

    .footer-btn-pac {
        width: 252px;
        height: 35px;
    }

    .ocom-search-contact-input {
        height: 32px;
        width: 530px;
        border-color: #E2E2E2;
    }

    #serviceLocation, #MoveOutAddress {
        font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
    }

    a.vlc-active {
        text-decoration: none;
        color: #57A708;
    }

    a.vlc-active:hover {
        text-decoration: none;
    }

    .prev-btn {
        margin-left: 0px !important;
    }

    .cancel-btn {
        color: #fff !important;
        vertical-align: middle;
    }

    .cancel-btn:hover {
        color: #fff !important;
    }

    .collapse.in {
        display: block;
    }

    .collapse {
        display: none;
    }

    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transition-duration: .35s;
        -o-transition-duration: .35s;
        transition-duration: .35s;
        -webkit-transition-property: height, visibility;
        -o-transition-property: height, visibility;
        transition-property: height, visibility;
    }

    .rotatePACChevron {
        display: inline-block;
        cursor: pointer;
        -moz-transition: all .3s linear;
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .collapsed .rotatePACChevron{
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    /* Standalone page styles and overrides */

    .sa-container {
        font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 16px;
        max-width: 1024px;
    }

    #saDiv_service>.form-group {
        width: 100%;
        margin-bottom: 0;
    }

    #saDiv_service>.form-group input {
        font-size: 17px;
        border-radius: 0 !important;
        box-shadow: none !important;
        height: auto !important;
        line-height: 44px;
        padding-left: 44px;
        min-height: 44px;
    }

    #saDiv_service>.form-group:nth-child(1) {
        position: relative;
    }

    #saDiv_service>.form-group:nth-child(1):before {
        content: "\E016";
        font-family: telusdings !important;
        position: absolute;
        left: 25px;
        top:11px;
    }

    #saDiv_checkAdd>.form-group {
        width: 100%;
        margin-bottom: 0;
    }

    #saDiv_checkAdd>.form-group input {
        font-size: 17px;
        border-radius: 0 !important;
        box-shadow: none !important;
        height: auto !important;
        line-height: 44px;
        padding-left: 44px;
        min-height: 44px;
    }

    #saDiv_checkAdd>.form-group:nth-child(1) {
        position: relative;
    }

    #saDiv_checkAdd>.form-group:nth-child(1):before {
        content: "\E016";
        font-family: telusdings !important;
        position: absolute;
        left: 25px;
        top:11px;
    }


    .sa-available-services {
        position: relative;
    }

    .sa-container ::placeholder {
        font-size: inherit;
    }

    .sa-selected-address, .sa-selected-location-address {
        font-size: 21px;
        font-weight: bold;
        color: #333;
        display: none;
    }

    .sa-details {
        background-color: #F7F7F8;
        margin-bottom: 15px;
        position: relative;
        margin-top: 10px;
        display:none;
    }

    .sa-details .sa-address {
        font-size: 21px;
    }

    .sa-details .sa-available-services {}

    .sa-title-label {
        font-size: 15px;
    }

    .sa-service-indicator {
        font-size: 13px;
        text-transform: uppercase;
        text-align: center;
    }

    .sa-service-indicator .sa-service-icon {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 8px;
    }

    .sa-service-icon:before {
        width: auto;
    }

    .sa-service-label {
        font-size: 13px;
        font-weight: bold;
    }

    .sa-characteristics {
        font-size: 12px;
    }

    .sa-collapsible-region {}

    .sa-collapsible-region-inner {
        margin: 15px 0 15px 28px;
        position: relative;
    }

    span#outputDtls_service {
        font-size: 21px;
        font-family: tlightregular;
    }

    #servicePaths, #serviceDetails {
        position: relative;
    }

     #servicePathTable tr {
        background-color: #FFF;
     }

     #servicePathTable tr th:first-child, #servicePathTable tr td:first-child {
        padding-left: 10px;
     }

     #servicePathTable tr th:last-child, #servicePathTable tr th:last-child  {
        padding-right: 10px;
     }

      #servicePathTable tr th {
        font-weight: bold;
      }

     #servicePathTable tr th, #servicePathTable tr td {
        font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        border: none;
        border-top: 1px solid #efefef;
        font-weight: normal;
        padding:10px 5px;
        background-color: #FFF;
        color: #333;
        font-size:14px;
     }

    .slds-grid.collapse {
        display: none;
    }

    .service-detail-value {
        font-weight: bold;
    }

    .max-speed {
        font-weight: bold
    }

    .ui-autocomplete.ui-menu {
        background-color: #FFF;
        border: 1px solid #49166d;
        padding:0;
    }

    .ui-autocomplete.ui-menu li, .ui-autocomplete.ui-menu li:hover, .ui-autocomplete.ui-menu li.ui-state-focus  {
        padding:0;
        border:none;
        background-color: #FFF;
        color: #333;
        margin:0;
    }

    .ui-autocomplete.ui-menu li a {
        display: block;
        padding:10px;
        border: none;
        color: #333;
        border-top: 1px solid #efefef;
    }

    .ui-autocomplete.ui-menu li:first-child a {
        border: none;
        border-top: none;
    }

    .ui-autocomplete.ui-menu li a:hover, .ui-autocomplete.ui-menu li a:focus {
        border: none;
        border-top: 1px solid #efefef;
        color: #333;
        background-color: #f7f7f8;
    }

    .ui-autocomplete.ui-menu li:first-child a:hover, .ui-autocomplete.ui-menu li:first-child a:focus {
        border: none;
        border-top: none;

    }

    .pc-container {
        font-size:17px;
        color: #333;
    }

    .pc-container .pc-input {
        width: 100%;
        margin-right:30px;
    }

    .pc-container .pc-toggle-radio {
        display: none;
    }
    
    .pc-container .pc-button {
        height:auto;
        float:none;
        min-width: 150px
    }
    .pc-toggle-group {
        display: flex;
    }

    .pc-toggle-group .pc-toggle-label {
        overflow:hidden;
        border: 1px solid #4B2B6B;
        min-width:150px;
    }

    .pc-toggle-group .pc-toggle-label + .pc-toggle-group .pc-toggle-label {
        border-left:none;
    }

    .pc-toggle-group .pc-toggle-value {
        padding: 5px 15px;
        color: #4b2b6b;
        text-align: center;
        font-size: 15px;
    }

    .pc-toggle-group input:checked + .pc-toggle-value {
        background-color: #4B2B6B;
        color: #FFF
    }

    .pc-toggle-group .pc-toggle-label:first-child {
        border-radius:5px 0 0 5px;
    }
    .pc-toggle-group .pc-toggle-label:last-child {
        border-radius:0 5px 5px 0;
    }

    .pc-headline {
        color: #59b300;
    }

    .pc-page-message-container {

    }

    .pc-page-message {
        padding:10px;
        margin-bottom:15px;
    }

    .pc-page-message-summary {
        padding-right:30px;
    }

    .pc-page-message--success {
        background-color: #DDEDCE;
    }

    .pc-page-message--success .pc-page-message-summary {
        color: #60962A
    }

    .pc-page-message--fail {
        background-color: #edcece;
    }
    .pc-page-message--fail
     .pc-page-message-summary {
        color: #962a2a
    }
    </style>
    <apex:slds />
    <apex:stylesheet value="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <apex:stylesheet value="{!URLFOR($Resource.vlocity_cmt__vlocity_assets)}" />
    <apex:stylesheet value="{!URLFOR($Resource.vlocity_cmt__oui)}" />
    <apex:stylesheet value="{!URLFOR($Resource.vlocity_icons, '/css/vlocity-icons.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.PACLibrary, '/jquery-ui.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.PACLibrary, '/TELUS/css/uit.addressSearch.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.vs_ocom_order, 'ocom_order.min.css')}" />
    <apex:includeScript value="/support/console/34.0/integration.js" />
    <apex:form id="outOrderFlowPACForm">
        <!-- Thomas QC-7727/OCOM-1042 Start  -->
        <input type="checkbox" id='isAddressReady' style="display:none" />
        <input type="checkbox" id='isFMSCallComplete' style="display:none" />
        <input type="checkbox" id='isMoveFMSCallComplete' style="display:none" />
        <div class="cs-page cs-page-address">
        <div class="sa-container slds-p-around_x-large">
            <!-- Adjust slds-large-size_* for side-by-side columns -->
            <div class="slds-size_1-of-1 slds-large-size_3-of-3">
                <div class="sa-heading slds-m-bottom_medium">{!$Label.OC_Enter_a_Location}</div>
                <c:PACServiceAddressComponent isConnectPostalAddress="true" compData="{!SAData}" configName="service" fmsCheck="true" useAs="true" idxp="service" captureNewAddressLabel="" isSACGApplicable="true" isSACGValidationMandatory="true" elementIdForOnSelectEvent="isFMSCallComplete" elementIdOnAddressReadyEvent="isAddressReady"/> 
            </div>
            <!-- Adjust slds-large-size_* for side-by-side columns -->
            <div class="sa-details slds-p-horizontal_large">
                <div class="sa-available-services slds-p-around_x-large">
                    <div class="loader-bg" id="available-services-loader">
                        <div class="loader"></div>
                    </div>
                    <div class="sa-selected-address slds-m-bottom_x-large"></div>
                    <apex:outputPanel id="renderProducts" styleClass="slds-grid slds-wrap slds-grid_align-spread">
                        <div class="slds-grid slds-wrap slds-m-bottom_medium">
                            <div class="frg-body-font-21px color-purple slds-m-bottom_medium">{!$Label.AvailableServices}: </div>
                            <div class="slds-grid slds-wrap slds-p-right_large">
                                <apex:repeat value="{!productCategoriesTop}" var="eachProduct">
                                    <apex:outputPanel rendered="{!IF(eachProduct.availability=='unavailable',false,true)}" layout="block" styleClass="slds-p-horizontal_large slds-m-bottom_medium sa-service-indicator">
                                        <!-- <apex:outputPanel rendered="{!IF(eachProduct.availability=='available',true,false)}"> -->
                                        <div class="sa-service-icon frg-icon {!eachProduct.icon}" role="presentation" aria-hidden="true">
                                        </div>
                                        <div>{!eachProduct.internet_type}</div>
                                        <div class="sa-service-label {!eachProduct.internet_type}">{!eachProduct.type}</div>
                                        <div class="sa-characteristics">
                                            <apex:repeat value="{!eachProduct.characteristics}" var="eachChar">
                                                <p>{!eachChar.name}: {!eachChar.value}</p>
                                            </apex:repeat>
                                        </div>
                                    </apex:outputPanel>
                                </apex:repeat>
                            </div>
                        </div>
                        <div class="slds-grid slds-grid_vertical-align-center slds-wrap">
                            <apex:outputPanel layout="none" rendered="{!LEN(maxSpeed) > 0}">
                                <div class="frg-body-font-17px color-purple">{!$Label.OC_Max_Speed_Available}: </div>
                                <div class="max-speed">{!maxSpeed}</div>
                            </apex:outputPanel>
                        </div>
                    </apex:outputPanel>
                </div>
                <div id="servicePaths">
                    <span data-toggle="collapse" data-target="#service-paths" class="collapsed">
                        <span class="frg-icon icon-arrow-right color-purple rotatePACChevron" aria-hidden="true" />
                        <span class="frg-body-font-21px color-purple">{!$Label.OC_Service_Paths}</span>
                    </span>
                    <!-- Thomas OCOM-1041 Start -->
                    <div id="servicePathDetails">
                        <div id="service-paths" class="collapse frg-body-font-16px sa-collapsible-region">
                            <div class="sa-collapsible-region-inner">
                                <div class="loader-bg" id="service-path-loader">
                                    <div class="loader"></div>
                                </div>
                                <table id="servicePathTable">
                                    <thead>
                                        <tr class="title-row">
                                            <th>{!$Label.OCOM_Tel_Number_Circuit_Number}</th>
                                            <th>{!$Label.Name}</th>
                                            <th>{!$Label.OC_Clearance_Date}</th>
                                            <th>{!$Label.OC_Service_Type}</th>
                                            <th>{!$Label.OCOM_Status}</th>
                                            <th>{!$Label.LineDesignation}</th>
                                            <th>{!$Label.OC_Leased_Loop}</th>
                                        </tr>
                                    </thead>
                                    <tbody id="spArray">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Thomas OCOM-1041 End -->
                </div>
                <br></br>
                <div id="serviceDetails">
                    <span data-toggle="collapse" data-target="#service-details" class="collapsed">
                        <span class="frg-icon icon-arrow-right color-purple rotatePACChevron" aria-hidden="true" />
                        <span class="frg-body-font-21px color-purple">{!$Label.ServiceDetails}</span>
                    </span>
                    <div id="ServiceAddressDetails" class="slds-p-top_medium">
                        <div id="service-details" class="collapse sa-collapsible-region frg-body-font-16px">
                            <div class="sa-collapsible-region-inner">
                                <div class="loader-bg" id="service-details-loader">
                                    <div class="loader"></div>
                                </div>
                                <div class="slds-grid slds-size_1-of-1">
                                    <div class="slds-col">
                                        <p class="slds-m-bottom_small">
                                            {!$Label.NPANXX}:
                                            <span id="serv_det_npa_nxx" class="service-detail-value"></span>
                                        </p>
                                        <p class="slds-m-bottom_small">
                                            {!$Label.OC_Drop_Type}:
                                            <span id="serv_det_drop_type" class="service-detail-value"></span>
                                        </p>
                                        <p class="slds-m-bottom_small">
                                            {!$Label.OC_Drop_Permission}:
                                            <span id="serv_det_drop_permission" class="service-detail-value"></span>
                                        </p>
                                        <p class="slds-m-bottom_small">
                                            {!$Label.OC_Roe_Status}:
                                            <span id="serv_det_roeStatus" class="service-detail-value"></span>
                                        </p>
                                        <p class="slds-m-bottom_small">
                                            {!$Label.OC_Premise_Type}:
                                            <span id="serv_det_premise_type" class="service-detail-value"></span>
                                        </p>
                                    </div>
                                    <div class="slds-col">
                                        <p class="slds-m-bottom_small">
                                           {!$Label.OCOM_COID}:
                                            <span id="serv_det_coid" class="service-detail-value"></span>
                                        </p>
                                        <p class="slds-m-bottom_small">
                                            {!$Label.OC_Drop_Status}:
                                            <span id="serv_det_dropStatus" class="service-detail-value"></span>
                                        </p>
                                        <p class="slds-m-bottom_small">
                                            {!$Label.OC_FSA_Ready_Date}:
                                            <span id="serv_det_fsa_ready_date" class="service-detail-value"></span>
                                        </p>
                                        <p class="slds-m-bottom_small">
                                            {!$Label.OC_Fsa}:
                                            <span id="serv_det_fsa" class="service-detail-value"></span>
                                        </p>
                                        <p class="slds-m-bottom_small">
                                            {!$Label.OC_GIS_ID}:
                                            <span id="serv_det_gisId" class="service-detail-value"></span>
                                        </p>
                                        <p class="slds-m-bottom_small"> {!$Label.OC_Address_Remarks}: </p>
                                        <div>
                                            <p class="slds-m-bottom_small">
                                                <strong>
                                                    {!SAData.commentLine1}<br/>  <!-- SAData.commentLine1 -->
                                                </strong>
                                            </p>
                                            <p class="slds-m-bottom_small">
                                                <strong>
                                                    {!SAData.commentLine2}<br/> <!-- SAData.commentLine2 -->
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>

    <div class="cs-page cs-page-phone">
        <div class="pc-container slds-p-around--x-large">
            <div class="pc-toggle-group slds-m-bottom--large">
                <label class="pc-toggle-label">
                    <input type="radio" class="pc-toggle-radio" checked="checked" id="standard" value="Standard" name="portabilityType" />
                    <div class="pc-toggle-value">{!$Label.OC_Standard}</div>
                    <div class="frg-icon frg-icon-check"></div>
                </label>
               <!--  <label class="pc-toggle-label">
                    <input type="radio" class="pc-toggle-radio" id="busConnect" value="Business Connect" name="portabilityType" />
                    <div class="pc-toggle-value">{!$Label.OC_Business_Connect}</div>
                    <div class="frg-icon frg-icon-check"></div>
                </label> -->

            </div>

            <!-- Check Phone: Standard Page -->
            <div id="standardPortability">
                <h2 class="pc-headline frg-headline-font-21px slds-m-bottom--medium">{!$Label.OC_Portability_Check}</h2>
                <p class="slds-m-bottom--x-large">{!$Label.OC_Check_New_Service}</p>

                <div class="loader-bg" id="portability-check-loader">
                    <div class="loader"></div>
                </div>

                <apex:outputPanel id="portability-messages" styleClass="page-message-container" layout="block">

                    <apex:outputPanel rendered="{!(portabilityCheckFailure == false && portabilityCheckReturned)}" styleClass="pc-page-message pc-page-message--success" layout="block">
                        <span class="pc-page-message-summary">{!portabilityCheckTitle}</span><apex:outputText styleClass="pc-page-message-detail" value="{!portabilityCheckMessage}"/>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!portabilityCheckFailure && portabilityCheckReturned}" styleClass="pc-page-message pc-page-message--fail" layout="block">
                        <span class="pc-page-message-summary">{!portabilityCheckTitle}</span><apex:outputText styleClass="pc-page-message-detail" value="{!portabilityCheckMessage}"/>
                    </apex:outputPanel>
                </apex:outputPanel>

                <input type="checkbox" id='isLocationAddressReady' style="display:none" />
                <input type="checkbox" id='isLocationFMSCallComplete' style="display:none" />
                <div class="sa-container slds-size_1-of-1 slds-medium-size--2-of-3 slds-large-size--1-of-2 slds-m-bottom_medium">
                    <div class="sa-heading slds-m-bottom_small">{!$Label.OC_Enter_a_Location}</div>
                    <!-- //Anne-lise BSBD_RTA1135&72-->
                    <c:PACServiceAddressComponent isConnectPostalAddress="true" compData="{!SAData1}" configName="service" fmsCheck="true" useAs="true" idxp="checkAdd"  captureNewAddressLabel="" isSACGApplicable="true" isSACGValidationMandatory="true"  elementIdOnAddressReadyEvent="isLocationAddressReady"  elementIdForOnSelectEvent="isLocationFMSCallComplete"/>
                    <div class="sa-selected-location-address-header slds-m-bottom_small"></div> 
                    <div class="sa-selected-location-address slds-m-bottom_x-large"> 
                    </div>
                </div>
                <div class="slds-grid slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--2-of-3 slds-large-size--1-of-2">
                    <input type="text" class="frg-input-field pc-input" id="pc-check-input" />
                    <button class="frg-button pc-button color-green pc-check-button" id="pc-check-button" onclick="portabilityCheck(); return false;" disabled="true">{!$Label.OC_Portability_Check_Button}</button>
                </div>
            </div>

            <!-- Check Phone: Business Connect Page --> 
            <div id="businessConnect" class="slds-hide">
                <c:OC_BusinessConnectComponent />
            </div>

        </div>
    </div>


 <script>

function initRadioButtonEvents() {
    $('input[id$=standard]').on('click', function() {
        $('#businessConnect').addClass('slds-hide');
        $('#standardPortability').removeClass('slds-hide');
    });

    $('input[id$=busConnect]').on('click', function() {
        $('#businessConnect').removeClass('slds-hide');
        $('#standardPortability').addClass('slds-hide');
    });
}

function portabilityCheck() {
    //$(".pc-check-button").prop("disabled", true);
    var phoneNum = $('#pc-check-input').inputmask('unmaskedvalue');
    initPortability(phoneNum);
    console.log('after portability');
}

function portabilityCheckComplete() {
    //alert('complete!');
    //make the button visible again
    //$(".pc-check-button").prop("disabled", false);
}
</script>
        <c:OC_IntegrationAPIsUtil ></c:OC_IntegrationAPIsUtil>
          <apex:actionFunction name="initPortability" action="{!initPortabilityCheck}" reRender="portability-messages" onComplete="portabilityCheckComplete" status="portabilityStatus">
            <apex:param name="phoneNumber" value="" />
        </apex:actionFunction>
         <apex:actionStatus onStart="showLoader('#portability-check-loader', true)" onStop="showLoader('#portability-check-loader', false)" id="portabilityStatus" />
        <!-- Thomas QC-7727/OCOM-1042 -->
        <apex:actionFunction name="getServiceAddressData" action="{!getSAData}" oncomplete="enableNextButton()" reRender="ServiceAddressDetails, showpageMsg" />
        <apex:actionFunction name="callIntegrations" action="{!callIntegrationUtil}" reRender="renderProducts, showpageMsg" status="availableServicesStatus" />
        <apex:actionStatus onStart="" onStop="showLoader('#available-services-loader', false)" id="availableServicesStatus" />
    </apex:form>
    <script>

        function callGTA(smbCareId) {
            //$('#loader1_service').show();
            console.log('ismanualcapture=' + '{!SADATA.isManualCapture}');
            if ('{!SADATA.isManualCapture}' == 'false') {
                $(".nextBtn").prop("disabled", false);
                console.log('Calling callProductEligibility');
                //callProductEligibility(smbCareId);
                // ARUNA OCOM-1042
                console.log('Calling callServicePath');
                callServicePath(smbCareId);
            } else {
                enableNextButton();
            }
        }

        function setAcctSelection(addrId) {
            console.log("setAcctSelection:addrId = " + addrId);
            $("[id*='addrIdClicked']").val(addrId);
            console.log("setAcctSelection:addrIdClicked = " + $("[id*='addrIdClicked']").val());
            $(".nextBtn").prop("disabled", false);

            saveSmbCareAddrId();
        }

        function checkForNewAccount() {
            console.log('checkForNewAccount():saved addrIdClicked');
            if ($("[id*='addrIdClicked']").val() != 'newaccount') {

            }
        }

        //Disable next button on window load
        $(".nextBtn").prop("disabled", true);


        function showSpinner(show) {
            showElement("#loader1_service", show);
            showElement("#loader1_checkAdd", show);
        }

        function showLoader(selectorId, show) {
            console.log('showing spinner');
            showElement(selectorId, show);
        }

        function showElement(selectorId, show) {
            if (show)
                $(selectorId).show();
            else
                $(selectorId).hide();
        }

        // serviceDetails

        function enableNextButton() {
            //$(".nextBtn").prop("disabled", false);
            if (radio_value === 'Complex') {
                showSpinner(false);
                $("#services").hide();
                $("#customerLocationSelect").hide();
                console.log('enableNextButton: orderPath=Complex');
            } else {
                showSpinner(false);
                $("#services").show();
                $("#customerLocationSelect").show();
                console.log('enableNextButton: orderPath=Simple');
            }
        }

        function validate() {
            if ($('#addressId_service').val().length > 0 &&
                $('#addrCanadaProv_service').val().length > 0 &&
                $('#addrCityId_service').val().length > 0 &&
                $('#addrPostalCodeId_service').val().length > 0) {
                console.log('In the log 2');
            }
        }

        fmsCallReturned = function() {
            validate();
        };

        // code to track address is changed..
        oldValue = $("#hiddenSrchStr_service").val();
        var somethingChanged = false;

        function track_change() {
            if ($("#hiddenSrchStr_service").val() != oldValue) {
                oldValue = $("#hiddenSrchStr_service").val();
                somethingChanged = true;
                console.log("something has  Changed ");
                $("#services").hide();

            }
        }
        setInterval(function() { track_change() }, 10);
        //....
    </script>
    <script>

        $(document).click(function(event) {
            if (!$(event.target).is(".nextBtn") && !$(event.target).closest(".button").length) {
                $(".nextBtn").prop("disabled", true);
                console.log("Deselect button, disable next");
            }
        });

        $("input[name$=newAddress]").change(function() {});


        $(document).click(function(event) {
            if (!$(event.target).is(".nextBtn") && !$(event.target).closest(".button").length) {
                $(".nextBtn").prop("disabled", true);
                console.log("Deselect button, disable next");
            }
        });

        var radio_value;
        //Logic for radio button selections
        $('input:radio[name$=orderPath]').change(function() {
            radio_value = $(this).val();
            if (radio_value == 'Simple') {
                $('[id$=serviceLocation]').show();
                $('div#complexMsg').hide();
                $("#customerLocationSelect").hide();
                $("#accountsLocation").show();
                if ($("#hiddenSrchStr_service").val()) {
                    $("#services").show();
                    $("#typeOfOrderSelect").show();
                }
                $(".nextBtn").prop("disabled", true);
            } else {
                $('[id$=serviceLocation]').show();
                $('div#complexMsg').show();
                $("#services").hide();
                //$("#accountsLocation").hide();
                $("[id$=customerLocationSelect]").hide();
                $('[id$=typeOfOrderSelect]').hide();
                $(".nextBtn").prop("disabled", true);
            }
        });

        $('input:radio[name$=customerLocation]').change(function() {
            var exist_svc_value = $(this).val();
            if (exist_svc_value == 'New') {
                $('[id$=typeOfOrderSelect]').show();
            } else {
                $('[id$=typeOfOrderSelect]').hide();
            }
        });

        // Thomas QC-7727/OCOM-1042 Start
        $("#isAddressReady").change(function() {
            console.log('isAddressReady on change event called');
            //alert('isAddressReady1');
            if ($("#isAddressReady").prop('checked')) {
                //alert('isAddressReady2');
                // $('#loader1_service').show();
                $(".nextBtn").prop("disabled", true);
                // console.log('calling refreshAccountList');
                // refreshAccountList();
                $("#isAddressReady").prop('checked', false);

                var addressForDisplay = $('#outputDtls_service').text();

                $('.sa-selected-address').text(addressForDisplay);
                showElement('.sa-selected-address', true);
                showSpinner(false);
                showLoader('#available-services-loader', true);
                showLoader('#service-path-loader', true);
                showLoader('#service-details-loader', true);

                showElement('.sa-details', true)
            }
        });

         // Anne-Lise BSBDRP3-246
        $("#isLocationAddressReady").change(function() {
            console.log('isLocationAddressReady on change event called');
            //alert('isAddressReady1');
            if ($("#isLocationAddressReady").prop('checked')) {
                //alert('isAddressReady2');
                // $('#loader1_service').show();
                $(".pc-check-button").prop("disabled", false);
                // console.log('calling refreshAccountList');
                // refreshAccountList();
                $("#isLocationAddressReady").prop('checked', false);

                var addressForDisplay = $('#outputDtls_checkAdd').text();

                console.log('addressForDisplay');
                console.log(addressForDisplay);
                $('.sa-selected-location-address').text(addressForDisplay);
                showElement('.sa-selected-location-address', true);
                $('.sa-selected-location-address-header').text("{!$Label.OC_Selected_Address}:");
                showElement('.sa-selected-location-address-header', true);
                showSpinner(false);


                console.log('addrCountry_service:::::::::::::::::::::::::::');
                console.log($("#addrCountry_service").val());
            }
        });


        $("#isFMSCallComplete").change(function() {
            console.log('isFMSCallComplete on change event called');
            showSpinner(false);
            showElement("#servicePaths", true);
            showElement("#serviceDetails", true);

            var locationId = $("#locationId_service").val();
            console.log($("#locationId_service").val());
            var fmsId = $("#hiddenFmsId_service").val();
            var province = $("#hiddenProvince_service").val();
            var coid = $("#addrCountry_service").val();
            var municipalityName = $("#municipalityNameLPDS_service").val();
            var postalCode = $("#addrPostalCodeId_service").val();
            var streetDirection = $("#hiddenStreetDirection").val();
            var streetTypeSuffix = $("#streetTypeSuffix_service").val();
            var streetTypePrefix = $("#streetTypePrefix_service").val();
            var streetName_fms = $("#shiddenStreetName_service").val();
            var streetName = $("#hiddenStreetName_service").val();
            var street = $("#hiddenStreetName_service").val();
            var buildingNumber = $("#hiddenBuildingNumber_service").val();
            var suiteNumber = $("#hiddenSuiteNumber_service").val();
            var npa_nxx = 'test';

            getGponDropStatus(locationId, completeServiceDetailRequest);

            getServicePath(fmsId, municipalityName, province, coid, completeServicePathRequest);
            console.log('fmsId');
            console.log(fmsId);
            console.log('municipalityName');
            console.log(municipalityName);
            console.log('province');
            console.log(province);
            console.log('coid');
            console.log(coid);
            console.log('locationId');
            console.log(locationId);

            callIntegrations();

            enableTabs();

            if ($("#isFMSCallComplete").prop('checked')) {
                console.log('FMSCALL CHECKED');
                //alert('isFMSCallComplete');
                // $('#loader1_service').show();

                var data = getSAData();
                console.log('data' + data)


                // refreshAccountList();
                // updateServiceAddressData();
                $("#isFMSCallComplete").prop('checked', false);
            }
        });


        $("#isLocationFMSCallComplete").change(function() {
            console.log('isLocationFMSCallComplete on change event called');
            showSpinner(false);
            var locationId = $("#locationId_service").val()
            var fmsId = $("#hiddenFmsId_service").val();
            var province = $("#hiddenProvince_service").val();
            var coid = $("#addrCountry_service").val();
            var municipalityName = $("#municipalityNameLPDS_service").val();
            var postalCode = $("#addrPostalCodeId_service").val();
            var streetDirection = $("#hiddenStreetDirection").val();
            var streetTypeSuffix = $("#streetTypeSuffix_service").val();
            var streetTypePrefix = $("#streetTypePrefix_service").val();
            var streetName_fms = $("#shiddenStreetName_service").val();
            var streetName = $("#hiddenStreetName_service").val();
            var street = $("#hiddenStreetName_service").val();
            var buildingNumber = $("#hiddenBuildingNumber_service").val();
            var suiteNumber = $("#hiddenSuiteNumber_service").val();
            var npa_nxx = 'test';

          /*  getGponDropStatus(locationId, completeServiceDetailRequest);

            getServicePath(fmsId, municipalityName, province, coid, completeServicePathRequest);

            callIntegrations();

            enableTabs();*/

            if ($("#isLocationFMSCallComplete").prop('checked')) {
                console.log('LOCATION FMSCALL CHECKED');
                //alert('isLocationFMSCallComplete');
                // $('#loader1_service').show();

                var data = getSAData();
                console.log('data' + data)


                // refreshAccountList();
                // updateServiceAddressData();
                $("#isLocationFMSCallComplete").prop('checked', false);
            }
        });


    </script>
    <script>

        function completeServicePathRequest(result, event) {
            console.log('completeServicePathRequest.result', result);
            console.log('completeServicePathRequest.event', event);

            showLoader('#service-path-loader', false)

            if (event.status) {
                showSpinner(false);
                var tableBody = $('#spArray');

                $(tableBody).empty();
                if( result.ClearancePathRequestFailed) {
                    //handle failed
                    console.log('handle  ClearancePathRequestFailed failed');
                } else {
                    for (i = 0; i < result.servicePaths.length; i++) {
                        var tr = $("<tr>");
                        var ufPhoneNumber = result.servicePaths[i].primaryTelephoneNumber;
                        var ufDate = result.servicePaths[i].clearanceDate;

                        $(tr).append($("<td>").attr("class", "").html(function() {
                            formattedNumber = ufPhoneNumber.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
                            return formattedNumber;
                            })
                        );
                        $(tr).append($("<td>").attr("class", "").html(result.servicePaths[i].customerName));
                        $(tr).append($("<td>").attr("class", "").html(function() {
                            formattedDate = ufDate.replace(/(\d{4})(\d{2})(\d{2})/, '$1-$2-$3');
                            return formattedDate;
                            })
                        );
                        $(tr).append($("<td>").attr("class", "").html(result.servicePaths[i].serviceTypeCode));
                        $(tr).append($("<td>").attr("class", "").html(result.servicePaths[i].servicePathStatusCode));
                        $(tr).append($("<td>").attr("class", "").html(result.servicePaths[i].ablePairDedicatedPlantCode));
                        $(tr).append($("<td>").attr("class", "").html(result.servicePaths[i].leasedLoopFlag));
                        // }
                        $(tableBody).append(tr);
                    }
                }
                

            } else {
                //handle failed
                console.log('handle failed');
            }
        }

        function completeServiceDetailRequest(result, event) {
            console.log('completeServiceDetailRequest.result', result);
            console.log('completeServiceDetailRequest.event', event);
            showLoader('#service-details-loader', false)
            // showSpinner(false);
            if (event.status && !result.DropInfoStatusRequestFailed) {
                console.log('result.dropStatus.coid:' + result.dropStatus.coid);
                console.log('result.dropStatus.coid:' + $("#addrCountry_service").val());

                $("#serv_det_npa_nxx").html(result.dropStatus.coid);
                $("#serv_det_drop_type").html(result.dropStatus.dropType);
                $("#serv_det_drop_permission").html(result.dropStatus.dropPermission);
                $("#serv_det_roeStatus").html(result.dropStatus.roeStatus);
                $("#serv_det_premise_type").html(result.dropStatus.premiseType);
                $("#serv_det_coid").html(result.dropStatus.coid);
                $("#serv_det_dropStatus").html(result.dropStatus.dropStatus);
                $("#serv_det_fsa_ready_date").html(result.dropStatus.fsaReadyDate);
                $("#serv_det_fsa").html(result.dropStatus.fsa);
                $("#serv_det_gisId").html(result.dropStatus.gisId);
            } else {
                //handle failed
                console.log('completeServiceDetailRequest - handle failed');
            }
        }
    </script>
    <script>
    //"Address not in list" validation for enabling/disabling next button
    $(document).ready(function() {
        showElement("#servicePaths", false);
        showElement("#serviceDetails", false);
        showElement("#newAddress_checkAdd", false);


        $("#services").hide();
        $("#customerLocationSelect").hide();
        $("#typeOfOrderSelect").hide();
        validate();
        $('#addressId_service, #addrCanadaProv_service, #addrCityId_service, #addrPostalCodeId_service,#address_service').change(validate);
    });
    // Thomas QC-7727/OCOM-1042 End
    </script>
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/telus.xmlToJSON.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/TELUS/this.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/jquery-2.0.3.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.bootstrapdemoplugins, '/bootstrapdemoplugins/bootstrap/js/bootstrap.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/jquery-ui.min.js')}" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.17/angular.js" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"/>

    <script>
        $(document).ready(function(){
            var phones = [{ "mask": "(###) ###-####"}, { "mask": "(###) ###-####"}];
                $('#pc-check-input').inputmask({ 
                    mask: phones, 
                    greedy: false,
                    maxlength:'7',
                    definitions: { '#': { validator: "[0-9]", cardinality: 1}} });
        });
    </script>

</apex:component>