<apex:component controller="OCOM_Capture_CreditCheckController" allowDML="true" >
    <head> 
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <apex:slds />
    </head>
    <apex:attribute name="OrderId" description="This attribute will contain the order ID" type="String" required="true" assignTo="{!oId}"/>
    <apex:stylesheet value="{!URLFOR($Resource.vs_ocom_order, 'ocom_order.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.ocom_slds, '/assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    <style>
        .bPageBlock { 
        border-top: none;
        }
        .order-container {
        padding-top: 0%;
        }
        .rotateCreditChevron{
        display:inline-block;
        cursor:pointer;             
        -moz-transition: all .3s linear;
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
        }
        
        .rotateCreditChevron.down{
        -moz-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        transform:rotate(-90deg); 
        }         
    </style>
    <div id="notRerender">
        <apex:form id="creditCheckOnLoadForm">
            <apex:actionFunction name="creditCheckOnLoad"  action="{!invokeCreditAssessment}" oncomplete="processCheckCreditResultOnLoad()"/>
        </apex:form>
        <script>
        var __sfdcSessionId = '{!GETSESSIONID()}';
        $(window).load(function() {
            //alert('invoking creditCheckOnLoad()');
            creditCheckOnLoad();
        });
        function processCheckCreditResultOnLoad() {
            rerenderToBeRerendered();
        }
        function searchCAR(){
            document.getElementById('error-message').style.display='none';
            $('#results').css("display","block");
            $('#lookup').attr('aria-expanded','true'); 
            $('#keyword').html($('#lookup').val());
            console.log('! criteria '+e );
            $('#ui_results').empty();  
            
            var e = $('#lookup').val();
            if(e){
                var query = "Select Id, Name, Assessment_Status__c from Credit_Assessment__c WHERE Name LIKE '%"+e+"%' and CAR_Account__c='"+'{!accountId}'+"' and Assessment_Status__c !='Cancelled'  LIMIT 5";
                console.log('! query '+query);
                result = sforce.connection.query(query);
                if(result){
                    console.log('! result '+result.records);
                    populateLookup(result.records);
                }else{
                    console.log('! result empty '+result);
                    $('#results').css("display","none");
                }
            }else{
                console.log('hiding result popup');
                $('#results').css("display","none"); 
            }
        }
        function populateLookup(result){
            
            if(result){         
                console.log('! result populateLookup 2 '+result[0] );
                $( result ).each(function() {  
                    //console.log('! result populateLookup 3 '+result[0] );
                    // console.log(this);
                    $('#ui_results').append('<li class="slds-lookup__item slds-text-heading_medium ">' + 
                                            '<a href=# onclick="return populateCreditField(\'' + this.Name  + '\',\'' + this.Assessment_Status__c + '\',\'' + this.Id + '\')">'+this.Name +'</a>'+
                                            '</li>');
                });
                
                /* $('ul.slds-lookup__list a').click(function(e) 
                    {   console.log(e);                               
                        $('#lookup').val($(this)[0].innerText);
                        console.log(' !@ CARStatus '+$(this)[0].innerText); //.attributes[3].nodeValue
                        $('#selectedCARStatus').val($(this)[0]);
                        $('#lookup').attr('aria-activedescendant',$(this)[0].id);
                        $('#lookup').attr('aria-expanded','false');
                        $('#results').css("display","none");
                    }); */
            }
        }
        function populateCreditField(a,b,e){
            console.log('A '+a+' b '+b +' e '+ e);
            $("#theloadingImage").show();
            $('#lookup').val(a);
            console.log(' !@ CARStatus '+b); //.attributes[3].nodeValue
            $('#selectedCARStatus').val(b);
            $('#lookup').attr('aria-activedescendant',e);
            $('#lookup').attr('aria-expanded','false');
            $('#results').css("display","none");
            
            //create an account
            var parentOrder = new sforce.SObject("Order");
            
            //update that account
            parentOrder.id= '{!oId}'
            parentOrder.Credit_Assessment__c = e;
            
            console.log("CAR update Called:"+parentOrder);
            result = sforce.connection.update([parentOrder]);
            if (result[0].getBoolean("success")) {
                console.log("Order with id " + result[0].id + " updated");
            } else {
                console.log("RESULT:"+result[0]);
                // Samir BSBD_RTA-869  - display correct error message instead of javascript alert
                var errorMessage = result[0].errors.message;
                if(errorMessage.includes("FIELD_CUSTOM_VALIDATION_EXCEPTION")){
                    var start = errorMessage.indexOf("FIELD_CUSTOM_VALIDATION_EXCEPTION")+34;
                    var end = errorMessage.indexOf("step");
                    var errorMsg = errorMessage.substr(start, end- start) ;
                    document.getElementById('error-message').style.display='';  
                    document.getElementById('error-message').innerHTML=errorMsg;
                }
            }
            $("#theloadingImage").hide();
        }
        
        </script>
    </div>
    <apex:pageBlock id="toBeRerendered"  >
        <apex:form id="creditCheckForm" >
            <div class="order-container container-fluid fontface">      
                <div id="PACComponent">
                    <div id="creditPanel">
                        <div>
                            <!-- Sandip - 01 Nov 2016 -->
                            <span class="frg-icon icon-arrow-down frg-headline-font-21px color-purple rotateCreditChevron"  style="font-weight:500;" aria-hidden="true" data-toggle="collapse" data-target="#creditDetailPanel"/>
                            <label id="creditPanelLabel" class="ad-btn-width frg-headline-font-21px color-purple" style="font-weight:500;">{!$Label.CreditDetails}</label>
                            <br/>
                            <div class="frg-body-font-16px" style="{!If(isCarRequired && !existingCar,'display: ','display:none')}">
                                <!-- {!$Label.CAR} --> {!$Label.CreditAssessmentRequired}
                            </div>
                            <div class="addr-subheader" style="{!If(isCarRequired && !noCreditProfile && (( creditAssessment.Name!=null && 
                                                               (order.orderMgmtId__c != null || oneOftheChildOrderIsSubmitted )&& !moreThan10PercentChange)  ||
                                                               isParentOrder) ,'display: ','display:none')}" >
                                <div class="addr-order-path-filter-container">
                                    <div class="frg-checkbox regular small addr-order-path-filter">
                                        <span class="inner">
                                            <input type="radio"  id="newCredit" name="creditCheckType" value=" New Credit Check"/>
                                            <div class="icon"></div>
                                            <span class="frg-body-font-16px addr-radio-btn-label">                                    
                                                {!$Label.NewCreditCheck}
                                            </span>
                                        </span>
                                        
                                    </div>
                                    <div class="frg-checkbox regular small addr-order-path-filter">
                                        <span class="inner">
                                            <input type="radio" id="existingCredit" name="creditCheckType" value="Existing Credit Check"/>
                                            <div class="icon"></div>
                                            <span class="frg-body-font-16px addr-radio-btn-label">                                    
                                                {!$Label.ExistingCreditCheck}  
                                                
                                            </span>        
                                            
                                        </span>    
                                        <div class="slds-show--inline-block slds-p-around--x-large" tabindex="1" data-aljs="popover" 
                                             data-aljs-placement="right" title="{!$Label.CARHelpText}">
                                            <img id="theImage" src="/img/func_icons/util/help16.png"   style=" outline: none;" width="20px;"/>
                                        </div>    
                                        
                                    </div>                                    
                                    <div id="NewCreditCheckButtonSection" class="addr-order-path-filter-container">
                                        <span class="inner">
                                            <br/><br/><!--  Samir Fix BSBD_RTA-985 CAR Button Appears Twice After Amend Order  -->
                                            <button type="button" style="{!If(isCarRequired && !noCreditProfile && isParentOrder,'display: ','display:none')};float:none;" Class="btn frg-button color-green" id="adBtn" onclick="checkCreditInJavascript();">{!$Label.CheckCredit}</button>
                                        </span>   
                                        
                                    </div>
                                    
                                </div>
                                <!-- Start Search CAR Seaction -->
                                <div id="searchExistingCARSection" class="slds">
                                    <div class="slds-grid slds-wrap">
                                        <div class="slds-col slds-p-around_small slds-size--1-of-12 ">
                                            <div  class="credit-label">
                                                <span  style="color:Red !important;">*</span>{!$Label.CreditStatus}
                                            </div>  
                                        </div>    
                                        <div class="slds-col slds-p-around_small slds-size--2-of-12 ">
                                            <div class="credit-label" >                                                 
                                                {!$Label.CreditAssessmentRequired}                                           
                                            </div>
                                        </div>
                                        <div class="slds-col slds-size--9-of-12 ">
                                            
                                            &nbsp;
                                        </div>
                                        
                                    </div>
                                    <div class="slds-grid slds-wrap">
                                        <div class="slds-col slds-p-around_small slds-size--1-of-12" >
                                            <div >
                                                <input  id="selectedCARStatus" value="" class="slds-input slds-text-heading_medium" type="text" readonly="true" />
                                            </div>  
                                        </div>    
                                        <div class="slds-col slds-p-around_small slds-size--2-of-12 ">
                                            <div >                                              
                                                <div class="slds-lookup" data-select="multi" data-scope="single" data-typeahead="true">                                                    
                                                    <div class="slds-form-element slds-form-element__control   slds-input-has-icon slds-input-has-icon--right">
                                                        <input  onkeyup="searchCAR()" onkeypress="searchCAR()" id="lookup" value="" class="slds-input slds-text-heading_medium slds-text-color_default" type="text" aria-autocomplete="list" role="combobox" aria-expanded="false" aria-activedescendant="" autocomplete="off"/>
                                                        <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" title="Search Credit Assessment Number">
                                                            <svg class="slds-icon slds-icon slds-icon_x-medium slds-icon-text-default" aria-hidden="true">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#search')}"/>
                                                            </svg>
                                                            <span class="slds-assistive-text">{!$Label.CARSearchHelp}</span>
                                                        </span>                                                         
                                                    </div>                                                    
                                                    <div class="slds-lookup__menu" role="listbox" id="results" style="display:none">                                                        
                                                        <ul class="slds-lookup__list" role="presentation" id="ui_results"/>    
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="slds-col slds-size--9-of-12 ">
                                            <img id="theloadingImage" src="/img/loading.gif"  width="20" style=" outline: none;" />                                          
                                            &nbsp;   
                                        </div>
                                        <!-- Samir BSBD_RTA-869  -->
                                        <div id="error-message"  class="frg-body-font-16px" style="color: #FF0000;display:none"/>
                                    </div>
                                    
                                </div>
                                <!-- End Search CAR Seaction -->
                                
                            </div>
                            <!-- End -->
                            <button type="button" style="{!If(isCarRequired && !noCreditProfile && !isParentOrder,'display: ','display:none')};float:none;" Class="btn frg-button color-green" id="adBtn" onclick="checkCreditInJavascript();">
                                {!$Label.CheckCredit}</button>
                        </div>
                        <!--                 <hr style="margin-top:0px"/> -->
                        <div id="creditDetailPanel" class="collapse in" style="padding-left: 36px;">
                            <div style="{!If(moreThan10PercentChange,'display: ','display:none')}">
                                <span class="frg-body-font-16px" style="color:#c81235">
                                    {!$Label.MoreThanTenPercentUpdateCAR}
                                </span>
                            </div>
                            
                            <!-- Thomas OCOM-923 End -->
                            
                            <apex:actionFunction action="{!invokeCreditAssessment}" name="checkCreditInJavascript" immediate="true" reRender="toBeRerendered" oncomplete="processCheckCreditResult()" />
                            <apex:actionFunction name="rerenderToBeRerendered" rerender="toBeRerendered" />
                            <table width="100%" id="CreditCaptureTable">
                                <tr>
                                    <td>
                                        <div class="frg-body-font-16px" style="{!If(noCreditProfile,'display: ','display:none')}">
                                            <span class="frg-body-font-16px" style="color:#c81235">
                                                {!$Label.CAR} {!$Label.CreditProfileMissing}
                                            </span>                                    
                                        </div>
                                        <div style="{!If(creditAssessment.Name!=null && (order.orderMgmtId__c != null || oneOftheChildOrderIsSubmitted )&& !moreThan10PercentChange,'display: ','display:none')}">
                                            <span class="frg-body-font-16px" style="color:#408000;">
                                                {!$Label.NoNeedToUpdateCAR}
                                            </span>
                                        </div>                                
                                        <div id ="NotToShowWhenSearchCARIsDisplayed1" class="frg-body-font-16px" style="{!If(order.Credit_Assessment_Status__c!=null,'display: ','display:none')}">
                                            {!$Label.CreditStatus}<span class="required-warning">*</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {!order.Credit_Assessment_Status__c}
                                        </div>
                                    </td>
                                    <!-- Thomas OCOM-923 Begin -->
                                    <td>
                                        <div id ="NotToShowWhenSearchCARIsDisplayed2" class="frg-body-font-16px" style="{!If(creditAssessment.Name!=null,'display: ','display:none')}" onclick="checkCreditInJavascript();">
                                            {!creditAssessment.Name}
                                        </div>                            
                                        
                                    </td>
                                    <!-- Thomas OCOM-923 End -->
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </apex:form>
        
        <script>        
        $(function () {
            
            $("#theloadingImage").hide();
            $("#searchExistingCARSection").hide();
            $("#NewCreditCheckButtonSection").show();
            $("#newCredit").prop('checked',true);
            $('#helpTipSection').css("display","none");
            $("input[name='creditCheckType']").click(function () {
                if ($("#newCredit").is(":checked")) {
                    $("#NewCreditCheckButtonSection").show();
                    $("#searchExistingCARSection").hide();
                } else {
                    $("#NewCreditCheckButtonSection").hide();
                    $("#searchExistingCARSection").show();
                    $("#NotToShowWhenSearchCARIsDisplayed2").hide();
                    $("#NotToShowWhenSearchCARIsDisplayed1").hide();
                }
            });
        });
        $(document).ready(function() {
            $('[data-aljs="popover"]').popover({
                modifier: 'tooltip',
                theme: ''
            });
        });
        $( document ).ready(function() {
            toggleDropDownAndUpIconClass($('#creditPanelLabel').attr('id'),$('#creditDetailPanel').attr('id'));
            $(".checkBoxClass").prop('checked',true);
            $("#ckbCheckAll").click(function () {
                $(".checkBoxClass").prop('checked',true);
                //    $(".btn-lg").prop("disabled", !($(this).prop('checked')));
            });
            //   $(".btn-lg").prop("disabled", true);
            $(".rotateCreditChevron").click(function(){
                $(this).toggleClass("down"); 
            })
        });
        function toggleDropDownAndUpIconClass(labelId,divId){
            $('#'+divId).on('shown.bs.collapse', function() {
                // var div1Class = $('#offerPanelLabel').attr('class');
                //  console.log('inside 0 '+div1Class);
                $("#"+labelId).addClass('icon-arrow-down').removeClass('icon-arrow-right');
            });
            
            $('#'+divId).on('hidden.bs.collapse', function() {
                //   var div1Class = $('#offerPanelLabel').attr('id');
                //  console.log('inside 1 '+div1Class);
                $("#"+labelId).addClass('icon-arrow-right').removeClass('icon-arrow-down');
            });
        }     
        
        function processCheckCreditResult() {
            
            //alert('processCheckCreditResult');
            var carId = '{!currentCARId}';
            var carRequired = {!isCarRequired};
            var carExists = {!existingCar};
            var missingCreditProfile = {!noCreditProfile};
            //alert('carId(' + carId + ') carRequired(' + carRequired + ') carExists(' + carExists + ') missingCreditProfile(' + missingCreditProfile +')');
            if ({!noCreditProfile}) {
                //alert("{!$Label.Credit_Profile_Missing}");
                rerenderToBeRerendered();
            } else if ({!isCarRequired} == false && carId == '') {
                //alert('{!$Label.CAR_Not_Required}');
                rerenderToBeRerendered();
            } else {
                var orderVlocityAccountId = '{!order.vlocity_cmt__AccountId__c}';
                //alert('orderVlocityAccountId('+orderVlocityAccountId+') carId(' + carId + ')');
                // OCOM_OrderCapture VF page encapsulates OmniScript, which encapsulates OCOM_AdditionalDetails VF page which encapsulates OCOM_Capture_CheckCredit VF component
                parent.openCreditAssessment(carId, orderVlocityAccountId );
            }
            //Sandip - 01 Nov 2016
            //saveForLater(child);
            // End
        }
        </script>
        <style type="text/css">
            .slds-input{
            line-height: 2.9rem !important;
            //  width: 30%  !important;
            font-size: 1.9em !important;  
            font-color: black !important;
            font: bold !important;
            }
            
            .slds-lookup__item{
            line-height: 3rem !important;   
            text-height: 2rem !important;
            }
            .slds-lookup__item .a{
            line-height: 2rem !important;   
            font-size: 1.9em !important;
            }
            .slds-scope .slds-lookup__list{
            //  width: 20%  !important; 
            font-size: 1.9em !important;
            
            }
            .slds-lookup__list{
            color: #333 !important;
            }            
            .slds-scope .slds-lookup__menu{
            //  width: 30%  !important; 
            
            }
            
            .slds-lookup__item {
            color: #666 !important;
            font-size: 12px !important;
            font-color: #666 !important;
            }
            
            
            .credit-label{
            font-size: 14px !important;
            }
            
            
            
            .addr-subheader {
            margin: 20px 0px;
            }
            
            .addr-order-path-filter {
            display: inline;
            }
            
            .addr-order-path-filter-container {
            margin-top: 10px;
            margin-bottom: 25px;
            }
            
            .addr-radio-btn-label {
            margin-left: 25px;
            margin-right: 10px;
            color: #333;
            font-size: 13px;
            }
            
            #adBtn {
            /*margin-left: 300px;*/
            margin-bottom: 10px;
            padding: 5px;
            font-weight: bold !important;
            font-family: 'tlightregular';
            font-size: 13px !important;
            /*font-size: 0.9em !important;*/
            }
            div#creditPanel{
            width: 100%;
            cursor: pointer;
            }
            span.creditIcon {
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 15px;
            }
            .ad-btn-width {
            width: 20%;
            }    
            
            *:focus {
            outline: none;
            }   
            
            .popover-title{
            background-color:white!important;
            border:0!important;            
            padding-top: 3px!important;
            padding-right: 1px!important;
            padding-bottom: 0px!important;
            padding-left: 2px!important;
            }   
            
            .popover-content{
            padding-top: 3px!important;
            padding-right: 1px!important;
            padding-bottom: 0px!important;
            padding-left: 2px!important;
            }
            
        </style>
        
    </apex:pageBlock>    
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/jquery-2.0.3.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/telus.xmlToJSON.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/TELUS/this.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/jquery-ui.min.js')}" />    
    <apex:includeScript value="{!URLFOR($Resource.bootstrapdemoplugins, '/bootstrapdemoplugins/bootstrap/js/bootstrap.js')}" /> 
    <script src="/soap/ajax/33.0/connection.js" type="text/javascript"></script>
    <script src="/soap/ajax/33.0/apex.js" type="text/javascript"></script>
    
</apex:component>