<apex:component controller="QuoteLocationController">
    <apex:attribute name="accountId" assignTo="{!accountId}" type="Id" description="Account id"/>
    <apex:attribute name="returnUrl" assignTo="{!returnURL}" type="String" description="Return URL"/>
    <apex:attribute name="editable" type="Boolean" description="Display edit link?"/>
    <apex:attribute name="selectedElementId" type="String" description="Id of hidden input element that should receive selected address id"/>
    
    <apex:variable var="alist" value="{!addresses}"/>
    
    <apex:outputPanel layout="block" rendered="{!addressCount == 0}">
    No locations found
    </apex:outputPanel>
    
    <apex:dataTable var="address" value="{!alist}" styleClass="list" headerClass="headerRow" rowClasses="dataRow" width="100%" border="0" cellspacing="0" cellpadding="0" rendered="{!addressCount > 0}">
        <apex:column rendered="{!NOT(ISBLANK(selectedElementId))}">
            <input type="radio" name="addressSelector" value="{!address.id}" onclick="document.getElementById('{!selectedElementId}').value = this.value;"/>
        </apex:column>
        <apex:column headerValue="Action" rendered="{!editable}">
            <apex:outputLink value="{!URLFOR($Page.EditQuoteLocation)}">
                <apex:param name="id" value="{!address.id}"/>
                <apex:param name="retURL" value="{!returnUrl}"/>
                Edit
            </apex:outputLink>
        </apex:column>
        <apex:column headerValue="Location Type" value="{!address.Special_Location__c}"/>
        <apex:column headerValue="Rate Band" value="{!address.Rate_Band__c}"/>
        <apex:column headerValue="Address" value="{!address.Street_Number__c} {!address.Street__c} {!address.Street_Type__c} {!address.Street_Direction__c} {!IF(NOT(address.Suite_Unit__c==null),'Unit ' + address.Suite_Unit__c, '')}"/>
        <apex:column headerValue="City" value="{!address.City__c}"/>
        <apex:column headerValue="Province" value="{!address.State_Province__c}"/>
        <apex:column headerValue="Postal Code" value="{!address.Postal_Code__c}"/>
    </apex:dataTable>
</apex:component>