<apex:component controller="TBOWorkRequestEmailComponent" access="global">
<apex:attribute name="workRequestID" type="Id" description="Id of the workRequest" assignTo="{!wrID}"/>

<style>
.pretty-table
{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid #333;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #000;
  background: #bcd0e4 url("widget-table-bg.jpg") top left repeat-x;
}

.pretty-table caption
{
  caption-side: bottom;
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

.pretty-table th, .pretty-table td
{
  border: 1px dotted #666;
  padding: 0.5em;
  text-align: left;
  color: #632a39;
}

.pretty-table th[scope=col]
{
  color: #000;
  background-color: #8fadcc;
  text-transform: uppercase;
  font-size: 0.9em;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.pretty-table th+th[scope=col]
{
  color: #fff;
  background-color: #7d98b3;
  border-right: 1px dotted #666;
}

.pretty-table th[scope=row]
{
  background-color: #b8cfe5;
  border-right: 2px solid #333;
}

.pretty-table tr.alt th, .pretty-table tr.alt td
{
  color: #2a4763;
}

.pretty-table tr:hover th[scope=row], .pretty-table tr:hover td
{
  background-color: #632a2a;
  color: #fff;
}

</style>
       
<Table id="example" class="pretty-table" cellspacing="0" width="100%" >
        <thead>
        <tr>
                               
                        <th  >
                          Assignment No.
                        </th>
                        <th  >
                          CAN
                        </th>
                        <th  >
                          BTN
                        </th>
                        <th  >
                          Billing Name
                        </th>
                        <th  >
                          Billing System
                        </th>
                     <!--   <th>
                            Service Type
                        </th> -->
                                            
                        </tr>
                       </thead>
                                           
                   
                   
                    
                    <apex:repeat value="{!CaseAcc }" var="account" >
                    <tr >
                        
                       
                        <td > <apex:outputLabel value="{!account.Name}" /> </td>
                        
                        <td > <apex:outputLabel value="{!account.CAN__c}" /></td>
                        <td > <apex:outputLabel value="{!account.BTN__c}" /></td>
                        <td > <apex:outputLabel value="{!account.Account__r.Name}" /></td>
                        <td > <apex:outputLabel value="{!account.Billing_System__c}" /></td>
                      
                       <!--  <td > <apex:outputLabel value="{!account.Service_type__c}" /></td> -->
                      
                        
                        
                    </tr>
                </apex:repeat>
            
</table>

</apex:component>