<apex:component controller="trac_AccountHierarchyCtlr">
    <apex:attribute name="accountid" description="Account" type="string" required="true" assignto="{!accountid}"/>
    <html>
        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
            <link rel="stylesheet" href="{!URLFOR($Resource.jquery_treeview,'demo/screen.css')}" type="text/css" />
            <link rel="stylesheet" href="{!URLFOR($Resource.jquery_treeview,'jquery.treeview.css')}" type="text/css" />
            <script type="text/javascript" src="{!URLFOR($Resource.jquery_treeview,'jquery.treeview.js')}"></script>
            <script>
                $(document).ready(function(){
                    $("#hierarchy").treeview();
                });
            </script>
            <style>
                .current > span > a {
                    font-weight: bold;
                }
                .tree-logo {
                    width: 16px;
                                height: 16px;
                }
                .masterlogo {
                    background-image: url(/img/icon/bigtop16.png);
                }
                .cbucid img, .cbucidlogo {
                    background-image: url(/img/icon/custom51_100/globe16.png);
                }
                .rcid img {
                    background-image: url(/img/icon/desk16.png);
                }
                .ban img {
                    background-image: url(/img/icon/building16.png);
                }
                .cbucidlogo.current, .current img {
                    background-image: url(/img/icon/star16.png);
                }
            </style>
        </head>
        <body>
            <div>
                <apex:outputText rendered="{!AND(treeHTML!='nap', treeHTML!='nih', treeHTML!='np')}" escape="false">
                    <span style="display: inline-block; padding: 1px 0px 6px;">Click [+] to expand to BAN level</span>
                </apex:outputText> 
                <apex:outputText value="{!TreeHTML}" rendered="{!AND(treeHTML!='nap', treeHTML!='nih', treeHTML!='np')}" escape="false" />
                <apex:outputText rendered="{!OR(treeHTML=='nap', treeHTML=='nih', treeHTML=='np')}" escape="false">
                    <div style="font-size: 16pt; padding: 1em;">
                        <apex:outputText rendered="{!IF(treeHTML == 'np', true, false)}">
                            This account doesn&apos;t have a parent account.
                        </apex:outputText>
                        <apex:outputText rendered="{!IF(treeHTML == 'nih', true, false)}">
                            This account isn&apos;t part of a role heirarchy.
                        </apex:outputText>
                        <apex:outputText rendered="{!IF(treeHTML == 'nap', true, false)}">
                            There was an issue loading the top level parent account. Please contact an administrator for more information.
                        </apex:outputText>
                        <span style="color: #666;">&nbsp;(Code: {!TreeHTML})</span>
                    </div>
                </apex:outputText>
            </div>
        </body>
    </html>
</apex:component>