<apex:component controller="trac_TaskController" allowDML="true">
    <apex:form >
        <apex:actionFunction action="{!changeFilter}" name="filterChanged">
            <apex:param name="tasklistmode" assignTo="{!tasklistmode}" value="7"/>
        </apex:actionFunction>
        <apex:pageBlock title="{!$Label.trac_MyTasksLabel}">
           <apex:facet name="header">
               <div class='pbHeader'>
               <table>
                   <tr>
                       <td class='pbTitle' style='padding-left:13px'>
                           <h3>{!$Label.trac_MyTasksLabel}</h3>
                       </td>
                       <td>
                           <input value="{!$Label.trac_NewLabel}" class="btn" name="newTask" onclick="createNewTask();" title="{!$Label.trac_NewTaskLabel}" type="button"></input>
                       </td>
                       <td style='text-align:right'>
                            <!-- Keeping this for reference
                                 <select id="tasklist_mode" name="tasklist_mode" onchange="this.form.action='/home/home.jsp';submit();"><option value="0">Overdue</option>
                              -->
                           <select name='trac_tasklistmode_num' id='trac_tasklistmode_num' onchange="updateFilter()">
                            <option value="0">{!$Label.trac_OverdueLabel}</option>
                            <option value="1">{!$Label.trac_TodayLabel}</option>
                            <option value="2">{!$Label.trac_TodayLabel} + {!$Label.trac_OverdueLabel}</option>
                            <option value="3">{!$Label.Tomorrow}</option>
                            <option value="4">{!$Label.trac_NextSevenDays}</option>
                            <option value="5">{!$Label.trac_NextSevenDays} + {!$Label.trac_OverdueLabel}</option>
                            <option value="6">{!$Label.trac_ThisMonthLabel}</option>
                            <option value="7">{!$Label.trac_AllOpenLabel}</option>
                           </select>    
                       </td>
                    </tr>
               </table>
               </div>
           </apex:facet>
           <apex:pageBlockTable value="{!tasks}" var="task">
                <apex:column headerValue="{!$Label.trac_CompleteLabel}">
                    <a href='/{!task.id}/e?close=1&retURL=%2Fhome%2Fhome.jsp%3FID%3D{!task.id}' onclick='closeTask(this)' id='test' task_id='{!task.id}' style="text-decoration:none;:hover{text-decoration:underline !important}" title="{!$Label.trac_MarkLabel} {!task.subject} {!$Label.trac_CompleteLabel}">X</a>
                </apex:column>    
                <apex:column headerValue="{!$Label.trac_DateLabel}">
                   <span style="{!IF( task.ActivityDate != null && task.ActivityDate < Today(), 'color:#FF0000', '')}">
                   <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                        <apex:param value="{!task.ActivityDate}" /> 
                   </apex:outputText>
                   </span>
                </apex:column>
                 <apex:column headervalue="{!$ObjectType.Task.fields.Subject.Label}">

                   <a href='/{!task.id}' custom_url='/{!task.id}' onclick='customLink(this)'>{!IF( task.Subject == '' || task.Subject == null, '_', task.Subject)}</a>
                   <apex:outputPanel id="priority_graphic" rendered="{!task.priority == 'High'}">
                      <img src="/img/high_priority.gif" alt="High Priority" width="16" height="13" align="ABSMIDDLE" title="{!$Label.trac_HighPriorityLabel}" />
                    </apex:outputPanel>
                  
                </apex:column>
                <apex:column headervalue="{!$Label.trac_WhoLabel}">
                      <a href='#' class='customLinkField' onclick='customLink2(this)'>
                        <div class='hidden' style='display:none'>
                          <apex:outputText value="{! taskWhos[task.id][0]}" />
                        </div>
                        <apex:outputText value="{! taskWhos[task.id][1]}" />
                      </a>
                </apex:column>             
                <apex:column headervalue="{!$Label.trac_relatedTo}">
                  <a href='#' class='customLinkField' onclick='customLink2(this)'>
                    <div class='hidden' style='display:none'>
                      <apex:outputText value="{! taskWhats[task.id][0]}" />
                    </div>
                    <apex:outputText value="{! taskWhats[task.id][1]}" />
                  </a>
                </apex:column>     
                <apex:column headervalue="{!$ObjectType.Account.Label}">
                      <a href='#' class='customLinkField' onclick='customLink2(this)'>
                        <div class='hidden' style='display:none'>
                          <apex:outputText value="{! taskAccounts[task.id][0]}" />
                        </div>
                        <apex:outputText value="{! taskAccounts[task.id][1]}" />
                      </a>
                </apex:column>
                <apex:column value="{!task.status}" headerValue="{!$Label.trac_StatusLabel}" />
                  
                <apex:column value="{!task.priority}" headerValue="{!$Label.trac_PriorityLabel}"/>
            </apex:pageBlockTable> 
        </apex:pageBlock>
    </apex:form>
    <a href='/apex/trac_TasksPage#' id='our_test' target='_top' />

    <script>

        function loadNewPage(url){
          document.getElementById('our_test').href = url;
          document.getElementById('our_test').click();
        }
        function closeTask(elementObj) {
          task_id = elementObj.getAttribute('task_id');
          loadNewPage("/" + task_id + "/e?close=1&retURL=%2Fhome%2Fhome.jsp%3FID%3D" + task_id, null,'');
          //top.postMessage("closeTask|" + task_id, "*");
        }
        function updateFilter(){
          filterChanged(document.getElementById('trac_tasklistmode_num').value);
        }
        function customLink(elementObj) {
          custom_url = elementObj.getAttribute('custom_url');
          loadNewPage(custom_url);
          //top.postMessage("customUrl|" + custom_url, "*"); 
          return false;
        }
        function customLink2(elementObj) {
          
          custom_url = "/" + elementObj.getElementsByTagName('div')[0].innerHTML.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
          loadNewPage(custom_url);
          //top.postMessage("customUrl|" + custom_url, "*");

          return false;
        }
        
        function createNewTask(){
            var debug=true;
            /*
            if(!debug){
                url = '{!URLFOR($Action.Task.NewTask,'',[retURL="/home/home.jsp",save_new_url="/00T/e?retURL='{!$Label.MyDomain}'/home/home.jsp"])}';
            }else{
                url = '{!URLFOR($Action.Task.NewTask)}';
                console.log('url:'+url);
                tmp = url.split("=");  
                console.log('tmp:'+tmp);
                tmp[2] = "/home/home.jsp&save_new_url";
                console.log('tmp[2]:'+tmp[2]);
                url = tmp.join("=");
                console.log('url after:'+url);
                url = url.replace("apex%252Ftrac_TasksPage", "home%252Fhome.jsp");
                url = '{!URLFOR($Action.Task.NewTask)}';
                console.log('url:'+url);
                tmp = url.split("=");  
                console.log('tmp:'+tmp);
                tmp[2] = "/home/home.jsp&save_new_url";
                console.log('tmp[2]:'+tmp[2]);
                url = tmp.join("=");
                console.log('url after:'+url);
                url = url.replace("apex%252Ftrac_TasksPage", "home%252Fhome.jsp");
                console.log('url:'+url);
                console.log('New url:'+newUrl);
            }*/
            var newUrl = '{!URLFOR($Action.Task.NewTask,'',[retURL="/home/home.jsp",save_new_url="/00T/e?retURL=/home/home.jsp"])}';
            loadNewPage(newUrl);
          //top.postMessage("newTask|{!URLFOR($Action.Task.NewTask)}", "*");
        }
        document.getElementById('trac_tasklistmode_num').value={!tasklistmode};
        window.onload = function() {
          //customLinkFields = document.getElementsByClassName('customLinkField');
          customLinkFields = document.querySelectorAll('.customLinkField');
          for(i=0;i < customLinkFields.length;i++ ){
            custom_url = "/" + customLinkFields[i].getElementsByTagName('div')[0].innerHTML.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
            customLinkFields[i].setAttribute('href', custom_url);
          }
          //tmp = document.getElementsByClassName("apexp")[0];

        };
        window.setTimeout(function(){
          tmp = document.querySelectorAll(".apexp")[0];
          top.postMessage("adjustHeight|" + (parseInt(tmp.offsetHeight) + 20), "*");
        }, 50);
        
    </script>
</apex:component>