<apex:component >
     <apex:actionFunction name="setFeedbackTypeField" action="{!setFeedbackTypeField}" reRender="">
        <apex:param name="p1" value="" assignTo="{!formWrapper.FeedbackInfo.FeedbackType}" />
    </apex:actionFunction>
<apex:attribute name="formWrapper" type="VITILcareFormWrapper" description="" required="true"/>
    <apex:attribute name="caseToInsert" type="Case" description="" required="true"/>
     <div id="NewTicketSubmit">
        <div id="FeedbackInfoForm" class="hideComponent">
         
            <fieldset class="form-group">
             <!--   <div class="form-group">
                  <apex:outputLabel for="subject">{!$Label.VITILcareSubmitTicketFieldSubject}</apex:outputLabel>
            <apex:inputtext id="subject" value="{!caseToInsert.subject}" label="Subject" html-placeholder="{!$Label.VITILcareSubjectPlaceholder}" styleClass="i-subject form-control full-width" html-aria-required="required"/>
            <span class="i-error-icon i-error-icon-subject frg-icon icon-warning-inverted input-field-icon error-red" aria-hidden="true"></span>
            <div class="i-form-error-subject form-field-error">
                <p class="no-margin no-padding"></p>
            </div>  
                </div>-->
           
         <!--  <apex:pageBlockSection title="Custom Picklist Using selectList and selectOption" collapsible="false">-->
                <!-- RB - Jan 19, 2016 - Removed select list for Feedback type
                <div class="form-group">
                    <apex:outputLabel for="FeedbackType">{!$Label.VITILcare_FeedbackPageTitle}</apex:outputLabel>
                    
                        <apex:selectList styleClass="i-FeedbackType i-request-type-select full-width form-control" id="FeedbackType" value="{!formWrapper.FeedbackInfo.FeedbackType}" multiselect="false" size="1" html-aria-required="required">
                            <apex:selectOption itemValue="" itemLabel="{!$Label.VITILcare_FeedbackSelectChoose}"/>
                            <apex:selectOption itemValue="{!$Label.VITILcare_FeedbackSelectCompliment}" itemLabel="{!$Label.VITILcare_FeedbackSelectCompliment}" onclick="setFeedbackTypeField('{!$Label.VITILcare_FeedbackSelectCompliment}')"/>
                            <apex:selectOption itemValue="{!$Label.VITILcare_FeedbackSelectComplaint}" itemLabel="{!$Label.VITILcare_FeedbackSelectComplaint}" onclick="setFeedbackTypeField('{!$Label.VITILcare_FeedbackSelectComplaint}')"/>
                            <apex:selectOption itemValue="{!$Label.VITILcare_FeedbackSelectIdea}" itemLabel="{!$Label.VITILcare_FeedbackSelectIdea}" onclick="setFeedbackTypeField('{!$Label.VITILcare_FeedbackSelectIdea}')"/>
                        </apex:selectList> 
                  

                    </div>-->
                <div class="i-form-error-FeedbackType form-field-error">
                <p class="no-margin no-padding"></p>    
                    </div>
                
           
        <!--</apex:pageBlockSection>-->
           
                    
              <div class="form-group">
                  <!--<apex:outputLabel for="additionalNote">{!$Label.VITILcareSubmitFeedbackDec}</apex:outputLabel>-->
                  <apex:inputTextarea value="{!formWrapper.FeedbackInfo.additionalNote}" label="additionalNote" html-placeholder="{!$Label.VITILcareFeedbackDesc_placeholder}" styleClass="i-additionalNote form-control input-text-area full-width" id="additionalNote" html-aria-required="required"/>
             <span class="i-error-icon i-error-icon-additionalNote frg-icon icon-warning-inverted input-field-icon error-red" aria-hidden="true"></span>
            <div class="i-form-error-additionalNote form-field-error">
                <p class="no-margin no-padding"></p> 
                </div>  
            </div>
      
            </fieldset>    
    </div>
    </div>
</apex:component>