<script type = "text/ng-template" id="displayProducts1.html">
<ul style="margin-top:10px; padding-top:10px; ">
         <li style="display: inline-block; width:400px;" ng-repeat = "p in control.vlcSI[control.itemsKey]">
         
          <label >  from  {{p.PBE.ParentMRC}}</label>
           <div ng-repeat="a in p.PCILevel1">
            <input type = 'checkbox' name="selected" ng-model = 'a.vlcSelcted' ng-click="onSelectItem(control, p, $index, this, true)"/>
            {{a.Name}}    (${{a.PBE.ChildMRC}})
                    <div ng-repeat="l in a.PCILevel2">
                             {{l.Name}}           (${{l.ChildMRC}})
                     </div>
            </div>




            </li>
                        
</ul>
</script>
<script type = "text/ng-template" id="displayProducts.html">
<ul style="margin-top:10px; padding-top:10px; ">
         <li style="display: inline-block; width:400px;" ng-repeat = "p in control.vlcSI[control.itemsKey]">
         
          <label >  from  {{p.PBE.ParentMRC}}</label>
           <div ng-repeat="a in p.PCILevel1">
            <input type = 'checkbox' name="selected" ng-model = 'a.vlcSelcted' ng-click="onSelectItem(control, p, $index, this, true)"/>
            {{a.Name}}    (${{a.PBE.ChildMRC}})
                    <div ng-repeat="l in a.PCILevel2">
                             {{l.Name}}            
                     </div>
            </div>
            </li>
                        
</ul>
</script>


<script type = "text/ng-template" id="displayProducts2.html">
<ul style="margin-top:10px; padding-top:10px; ">
         <li style="display: inline-block; width:400px;" ng-repeat = "p in control.vlcSI[control.itemsKey]">
         
          <label >  from  {{p.PBE.ParentMRC}}</label>
           <div ng-repeat="a in p.PCI">
            <input type = 'checkbox' name="selcted" ng-model = 'a.vlcSelcted' ng-click="onSelectItem(control, p, $index, this, true)"/>
            {{a.Name}}    (${{a.PBE.ChildMRC}})
            </div>
            </li>
                    
</ul>
</script>


<script type="text/ng-template" id="managedInternetOffers.html">
        <div id="managed-internet-offers">
          <pre class="raw-json">{{ control.vlcSI[control.itemsKey] | json}}</pre>
          <div class="bundle-offer" ng-repeat="p in control.vlcSI[control.itemsKey]" data-mrc="{{p.PBE.ParentMRC}}" data-bundle-name="{{p.PBE.ProductName}}" data-bundle-desc="{{p.PBE.ProductDescription}}" data-bundle-id="{{p.PBE.ProductId}}">
            <ul class="level1 is-array" ng-if="p.PCILevel1.length">
              <li ng-repeat="a in p.PCILevel1" data-pci-mrc="{{a.PBE.ChildMRC}}" data-child-id="{{a.ChildId}}" data-id="{{a.Id}}" data-name="{{a.Name}}">
                {{a.Name}}
                <ul class="level2">
                  <li ng-repeat="l in a.PCILevel2" data-child-mrc="{{l.ChildMRC}}" data-child-id="{{l.ChildId}}" data-name="{{l.Name}}">{{l.Name}}</li>
                </ul>
              </li>
            </ul>
            <ul class="level1 is-not-array" ng-if="!p.PCILevel1.length">
              <li data-pci-mrc="{{p.PCILevel1.PBE.ChildMRC}}" data-child-id="{{p.PCILevel1.ChildId}}" data-id="{{p.PCILevel1.Id}}" data-name="{{p.PCILevel1.Name}}">
                {{p.PCILevel1.Name}}
                <ul class="level2">
                  <li ng-repeat="l in p.PCILevel1.PCILevel2" data-child-mrc="{{l.ChildMRC}}" data-child-id="{{l.ChildId}}" data-name="{{l.Name}}">{{l.Name}}</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </script>


<script type="text/ng-template" id="vpnOffers.html">
        <div id="vpn-offers">
          <div class="bundle-offer" ng-repeat="p in control.vlcSI[control.itemsKey]" data-mrc="{{p.PBE.ParentMRC}}" data-bundle-name="{{p.PBE.ProductName}}" data-bundle-desc="{{p.PBE.ProductDescription}}" data-bundle-id="{{p.PBE.ProductId}}">
            <ul class="level1 is-array" ng-if="p.PCILevel1.length">
              <li ng-repeat="a in p.PCILevel1" data-pci-mrc="{{a.PBE.ChildMRC}}" data-child-id="{{a.ChildId}}" data-id="{{a.Id}}" data-name="{{a.Name}}">
                {{a.Name}}
                <ul class="level2">
                  <li ng-repeat="l in a.PCILevel2" data-child-mrc="{{l.ChildMRC}}" data-child-id="{{l.ChildId}}" data-name="{{l.Name}}">{{l.Name}}</li>
                </ul>
              </li>
            </ul>
            <ul class="level1 is-not-array" ng-if="!p.PCILevel1.length">
              <li data-pci-mrc="{{p.PCILevel1.PBE.ChildMRC}}" data-child-id="{{p.PCILevel1.ChildId}}" data-id="{{p.PCILevel1.Id}}" data-name="{{p.PCILevel1.Name}}">
                {{p.PCILevel1.Name}}
                <ul class="level2">
                  <li ng-repeat="l in p.PCILevel1.PCILevel2" data-child-mrc="{{l.ChildMRC}}" data-child-id="{{l.ChildId}}" data-name="{{l.Name}}">{{l.Name}}</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </script>