<style>
#ExistingCARIDonOrder {
    display:none;
}
.panel-heading{
      height: 60px;
}
.panel-group {
     padding-top:8%;
}
.vlocity .vlc-form-group {
    text-transform: none;
    display: block;
}
.radioBtn{
text color: #fff;
bg color:#57a708;
}
.radioBtn:hover{
text color: #e2e2e2;
bg color:#408000;
}
.vlocity .btn-primary {
  background-color:#57a708;
  border-color: #f5f6f7;
 }
   .siteSummaryTable {
             background-color: #fff;
            border: 1px solid #e0e3e5;
            position:relative;      
            color:#333333; 
            font-size: 16px;
            font-family: "Helvetica Neue LT Std 45 Light";
        }
        .siteSummaryTable tbody tr:hover {
            background-color:#F5F6F7;
        }

       .stylecolumn {     
            font-size: 16px;
             font-family: "Helvetica Neue LT Std 45 Light";
            color:#333333;
            border-top:1px solid #ededed;
            margin-left:40px;
        }
       
       .siteSummaryTable th{
            color:#666666;
            background-color: #fff;
        }
        .tableContainer{
            margin-top:2%;
            margin-left: 2cm;
        }  
        
        .siteSummaryTable td:nth-child(1),
        .siteSummaryTable th:nth-child(1) {
          width: 40px;
        }
        .siteSummaryTable td:nth-child(2),
        .siteSummaryTable th:nth-child(2) {
          width: 100px;
        }
        .siteSummaryTable td:nth-child(3),
        .siteSummaryTable th:nth-child(3) {
          width: 233px;
        }
      .siteSummaryTable td:nth-child(4),
        .siteSummaryTable th:nth-child(4) {
          width:150px;
        }
      .siteSummaryTable td:nth-child(5),
        .siteSummaryTable th:nth-child(5) {
          width:200px;
        }
     .siteSummaryTable td:nth-child(6),
        .siteSummaryTable th:nth-child(6) {
          width:150px;
        }
     .siteSummaryTable td:nth-child(7),
        .siteSummaryTable th:nth-child(7) {
          width:150px;
        }
     .siteSummaryTable td:nth-child(8),
        .siteSummaryTable th:nth-child(8) {
          width:125px;
        }
        .siteSummaryTable thead tr {
          display: block;
          position: relative;
        }
        .siteSummaryTable tbody {
          display: block;
          overflow: auto;
          width: 100%;
          max-height:150px;
         
        }
        .tableHeader {
            font-size: 15px;
            font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            color:#666666;
            background-color: #fff;
            font-weight: normal;
                
        }
.siteSummaryTable >th {
           font-size: 15px;
            font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            color:#666666;
            background-color: #fff;
            font-weight: normal;
}
.siteSummaryTable >td {
           font-size: 16px;
            font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            color:#333333;
            background-color: #fff;
            font-weight: normal;
}


</style>
<body style=" font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143; color: #333;         background-color: #fff;">
        <script  type = "text/ng-template" id="techBookingTemplate.html">
		<div style="margin-top:20px;" >
			
			<table class="siteSummaryTable"  style="width:88%">
				<thead>
					<tr >
                                               <th class = "tableHeader" style="width:40px; "></th>
                                               <th class = "tableHeader" style="padding-left:15px; " >Status</th>
                                               <th class = "tableHeader" style="padding-left:15px;">Address</th>
                                               <th class = "tableHeader" style="padding-left:15px;">On-Site Contact</th>
                                               <th class = "tableHeader" style="padding-left:15px;">Email</th>
                                               <th class = "tableHeader" style="padding-left:15px; ">Telephone</th>
                                               <th class = "tableHeader" style="padding-left:15px; ">Requested Date</th>
                                               <th class = "tableHeader" style="padding-left:15px; padding-right:12px;"> Appointments</th>
					</tr>
				</thead>
				<tbody>
					<tr   ng-repeat = 'p in control.vlcSI[control.itemsKey]' ng-class ="{ 'vlc-selectableitem-selected' : p.selected }">

                                        <td class="stylecolumn" style="width:40px;  font-size: 16px; "><center><input type = 'radio' style="width:16px; height:16px;" class="radioBtn" name="selectAddress" ng-model = 'p.vlcSelcted' ng-click="onSelectItem(control, p, $index, this, true)" ng-init="p.vlcSelcted=false" /></center></td>

					<td class="stylecolumn" style="padding-left:15px;  font-size: 16px; ">{{p.BookingStatus}}</td>
                                        
                                        <td  class="stylecolumn"  style="padding-left:15px;  font-size: 16px; " ng-click="onSelectItem(control, p, $index, this, true)">{{p.BookingAddress}}</td>
                                       
					<td  class="stylecolumn" style="padding-left:15px;  font-size: 16px; ">{{p.BookedOnsiteContactName}}</td>

                                        <td class="stylecolumn" style="padding-left:15px;  font-size: 16px;">{{p.BookedOnsiteContactEmail}}</td>

					<td class="stylecolumn" style="padding-left:15px;  font-size: 16px; " >{{p.BookedOnsiteContactPhone}}</td>
                                      
                                        <td class="stylecolumn" style="padding-left:15px;  font-size: 16px;"></td>
                                        <td class="stylecolumn" style="padding-left:15px;  font-size: 16px;padding-right:12px;"></td>
					</tr>
				</tbody>	
			</table>
            </div>
</script>
</body>



<style>

.columProp{
background-color: #57a708;
color: White;
font-size: 15px;
text-align: left;


}
.rowProp {
border: 1px solid;
border-color: #f5f6f7; 
text-align: left; 

}
.rowPropin{
text-align: left
padding-left:10px;
padding-right:10px;

} 
.tableProp{
border
table-layout: auto;
padding:10px;

}
</style>