<apex:page sidebar="false" showHeader="true" controller="AccountGoal_Ctrl" action="{!init}">
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"/>
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"/>
  <style type="text/css">
      textarea
      {
        width: 300px;       
      }

      .addTaskBtn
      {
         margin-left: 40%;
      }

      .datePicker
      {
        z-index: 9999 !important;
        /*position: fixed;*/
      }

      .helpText{
        z-index: 9999;
      }

      .overlay
      {
        background-color: #000;
        opacity: .7;
        filter: alpha(opacity=70);
        position: absolute; top: 0; left: 0;
        width: 100%;
        height: 1000%; 
        bottom: 0;
        z-index: 9988;
      }


      div[dir="goal"] .pbSubheader
      {
        background-color : #E0CDF4 !important;
      }

      div[dir="objective"] .pbSubheader
      {
        background-color : #49166D !important;
      }


      div[dir^="task_of_"] .pbSubheader
      {
        background-color : #66CC00 !important;
      }



     .bPageBlock {
        border-top: 1px solid #EEEEEE !important;
      }

      .divOneTask{
        margin-left: 30px;
      }

      body .bPageBlock{
        margin-bottom: 20px;
      }
      

      .modal
      {
        display:none;
        width:520px;
        background:white;
        z-index:9999;
        border: 1px solid #000000;
        position:fixed; 
        top:20%;
        left:35%;"
      }

      .fadeMsg
      {
        
        opacity: .7;
        filter: alpha(opacity=70);
        -moz-border-radius: 2px;
        border-radius: 2px;
      }

      .arrowSprite {
        background-image: url('/img/alohaSkin/sortArrows_sprite.png');
        background-repeat: no-repeat;
        height: 10px;
        width: 10px;
        display: inline-block;
        vertical-align: middle;
      }

      .arrow{

      }
      .arrowdesc { /*desc*/
        background-position: 0 0px;
      }

      .arrowasc { /*asc*/
        background-position: 0 -16px;
      }
      
      .arrowdescCircle {
        background-position: 0 -32px;
      }

      .arrowascCircle {
        background-position: 0 -48px;
      }

      .arrowNone {
         background-position: 0 16px;
      }

       .glowBorder {
           outline-color:Red;
           outline-style:solid;
           outline-width:thin;
       }


  </style>

        
  
    <apex:outputPanel id="pnlMain" layout="none" >

        <script type="text/javascript">
             var $j = jQuery.noConflict();
             var activeGoalId = '';
             var activeGoalName = '';

             var activeObjectiveId = '';    
             var activeObjectiveName =''; 

             var keypressPreventDefault = function(e){
                    if( e.keyCode === 13 ) {
                      e.preventDefault();
                    }
                };

             var resetKeypressEvents = function() {
              $j("input,select").off( 'keypress', keypressPreventDefault );
              $j("input,select").on( 'keypress', keypressPreventDefault );
             }

             $j( document ).ready( resetKeypressEvents );

             function addOverlay() {
                   var overlay = document.createElement("div");                   
                   overlay.setAttribute("id","overlay");
                   overlay.setAttribute("class", "overlay");
                   
                   try{  //IE 7
                     overlay.className = "overlay";
                   }
                   catch(e){
                   }
                   document.body.appendChild(overlay);
             }


             function removeOverlay() {
                try{
                  document.body.removeChild(document.getElementById("overlay"));
                }catch(e){}

             }            

              function AddNewObjectivePopUp(id, name ){
                     activeGoalId = id;
                     activeGoalName = name;
                     //$j( "#spnGoalId" ).text(name);
                     $j( "#divAddObjectivesPopUp" ).css('margin','0 auto');
                     $j( "#divAddObjectivesPopUp" ).css('z-index','9999');
                     $j( "#divAddObjectivesPopUp" ).show();
                     $j( "#divAddObjectivesPopUp" ).css('margin-top','200 px');
                     $j(".datePicker").css('position','fixed');
              }
              
              function AddNewActivitiesPopUp(id, name ){
                     activeObjectiveId = id;
                     activeObjectiveName = name;
                     //$j( "#spnObjId" ).text(name); 
                     $j( "#divAddActivitiesPopUp" ).css('margin','0 auto');
                     $j( "#divAddActivitiesPopUp" ).css('z-index','9999');
                     $j( "#divAddActivitiesPopUp" ).show();
                     $j( "#divAddActivitiesPopUp" ).css('margin-top','200 px');
                     $j("textarea[id*='actionResolution']").focus();
                     $j(".datePicker").css('position','fixed');

                     /*$j("input[id*='actionDate']").parent().find(".dateFormat").after('<div class="actionDatePicker"></div>');
                     $j("actionDatePicker").append(".datePicker");*/
                     
              }


              function CloseDiv(divId){
                removeOverlay();
                $j( divId ).hide();
              } 

              function ShowDiv(divId){
                $j( divId ).show();
              }


              $j( document ).ready( function() {
                  BindHideSectionClick(); 
                 

              } );



              function BindHideSectionClick() {                  
                  EnableBtn("#btnEditNewGoal","{!$Label.Save_Account_Goal}");
                  DisableOwnerPickList(); 
                  ChangeLabels();   
                  removeOverlay();           
                  $j('#btnAddNewTaskPopup').attr('value','{!$Label.Add}');
                  $j('#activityContents').removeClass('overlay');  
                  $j('#btnAddNewObjectivePopup').attr('value','{!$Label.Add}');
                  $j('#objectiveContents').removeClass('overlay');  
                  CloseDiv('#divPleaseWait');
                  $j("input[id*='actionDate']").attr("readonly", "readonly"); //
                  $j("input[id*='taskDate']").attr("readonly", "readonly"); 
                  $j(".datePicker").css('position','absolute');
              }



              function DisableBtn(btn,txtDisabled){
                addOverlay();
                $j(btn).attr("disabled", "disabled");
                if (txtDisabled !=''){
                  $j(btn).attr('value',txtDisabled);
                }
              }

              function EnableBtn(btn,txtEnabled){
                $j(btn).attr("disabled", false);
                $j(btn).attr('value',txtEnabled);
              }

              function ShowNotifyText(divId,elementId,txt){
                $j( elementId ).text(txt);
                $j( divId ).fadeIn();
                $j( divId ).fadeOut(3000);               
              }

              //disable the user partner selection in Assigned to field
              function DisableOwnerPickList(){
                  var userPickLists = $j("select[id*='taskOwner_mlktp'] , select[id*='actionOwner_mlktp']");                  
                  if (userPickLists !=null && userPickLists.length >0){
                      for(var i=0;i<userPickLists.length;i++){
                          var pl = userPickLists[i]; 
                          var id = $j(pl)[0].id;
                          var el = document.getElementById( id );
                          if ($j(el)[0].options !=null && $j(el)[0].options.length>0){
                             var optionsList = $j(el)[0];

                             for(var k=0; k<optionsList.options.length ;k++){
                                if ( optionsList[k].value === '005' ){ //005 is User
                                  optionsList[k].selected = true; //Select User from dropdown and then disable the dropdown
                                  document.getElementById( id ).disabled=true;                                 
                                }
                             }
                          } 
                      }
                  }                
             }

            function ChangeLabels(){
                //taskSubject
                var ctrls ;
                ctrls = $j("label[for*='taskSubject'] , label[for*='actionSubject']");
                ChangeLabelsText(ctrls, '{!$Label.Action_Item}');

                ctrls = $j("label[for*='taskOwner'] , label[for*='actionOwner']");
                ChangeLabelsText(ctrls, '{!$Label.Action_Owner}');

                ctrls = $j("label[for*='taskDate'] , label[for*='actionDate'] ");
                ChangeLabelsText(ctrls, '{!$Label.Action_Completion_Date}');

                ctrls = $j("label[for*='taskStatus'] , label[for*='actionStatus'] ");
                ChangeLabelsText(ctrls, '{!$Label.Action_Status}');

                ctrls = $j("label[for*='taskDetails'] , label[for*='actionResolution'] ");
                ChangeLabelsText(ctrls, '{!$Label.Resolution_Details}');

            }

            function ChangeLabelsText(ctrls,strText){
              if (ctrls !=null && ctrls.length>0 ){
                $j( ctrls ).each(function( index, element ){
                    $j( element ).text(strText);
                });
              }
            }

            function SortTasks(el){
              var id = $j(el).attr('Id');
              id = '#' + id;
              var objevtiveId = $j(el).attr('objId');
              var sortBy = $j(el).attr('sortby');
              var sortDir = $j(el).attr('sortdir');
              if (sortDir == 'none'){
                sortdir = 'asc';
              }
              SortTasksForObjective(objevtiveId,sortBy,sortDir);

            }

            //happens on complete after sorting
            function ChangeSortTaskDirAttribute(sortForObjectiveId,sortBy,sortDirection){
              /*this is not written in the cleanest way. very sorry in advance*/
                  var btnId ='';
                  btnId = btnId + '_' + sortForObjectiveId;
                  var spanId = "#" +"spn_";
                  var oldSortDirection = sortDirection;
                  
                  if (sortDirection == 'none' ){
                    sortDirection = 'asc'
                  }
                  else if (sortDirection == 'asc' ){
                    sortDirection = 'desc';
                  }else{
                    sortDirection = 'asc';
                  }

                  var btns; 
                  
                  var temp ='';
                  if (sortBy == 'OwnerName'){
                    btnId = 'sortByOwner' + btnId; 
                    temp = '#spn_sortByOwner_' + sortForObjectiveId ;

                    //change all in once
                    $j("span[id*='spn_sortByOwner_']").attr('class','arrowSprite arrow' + oldSortDirection);
                    $j("span[id*='spn_sortByDate_']").attr('class','arrowSprite arrowNone');
                    $j("span[id*='spn_sortByStatus_']").attr('class','arrowSprite arrowNone');
                    /* 
                    $j(temp).attr('class','arrowSprite arrow');
                    $j(temp).attr('class','arrowSprite arrow' + oldSortDirection);

                    temp = '#spn_sortByDate_' + sortForObjectiveId;
                    $j(temp).attr('class','arrowSprite arrowNone');

                    temp = '#spn_sortByStatus_' + sortForObjectiveId;
                    $j(temp).attr('class','arrowSprite arrowNone');
                    */
                    btns = $j("a[id*='sortByOwner_']");

                  
                  }else if ( sortBy == 'Status'){
                    btnId = 'sortByStatus' + btnId ;
                    temp = '#spn_sortByStatus_' + sortForObjectiveId;

                    $j("span[id*='spn_sortByOwner_']").attr('class','arrowSprite arrowNone');
                    $j("span[id*='spn_sortByDate_']").attr('class','arrowSprite arrowNone');
                    $j("span[id*='spn_sortByStatus_']").attr('class','arrowSprite arrow' + oldSortDirection);

                    /*
                    $j(temp).attr('class','arrowSprite arrow');
                    $j(temp).attr('class','arrowSprite arrow' + oldSortDirection);

                    temp = '#spn_sortByOwner_' + sortForObjectiveId ;
                    $j(temp).attr('class','arrowSprite arrowNone');
                    
                    temp = '#spn_sortByDate_' + sortForObjectiveId;
                    $j(temp).attr('class','arrowSprite arrowNone');
                    */
                    btns = $j("a[id*='sortByStatus_']");

                  
                  }else if (sortBy == 'Date'){
                    btnId = 'sortByDate' + btnId ;
                    temp = '#spn_sortByDate_' + sortForObjectiveId;

                    $j("span[id*='spn_sortByOwner_']").attr('class','arrowSprite arrowNone');
                    $j("span[id*='spn_sortByDate_']").attr('class','arrowSprite arrow' + oldSortDirection);
                    $j("span[id*='spn_sortByStatus_']").attr('class','arrowSprite arrowNone');
                    /*
                    $j(temp).attr('class','arrowSprite arrow');
                    $j(temp).attr('class','arrowSprite arrow' + oldSortDirection);

                    temp = '#spn_sortByOwner_' + sortForObjectiveId ;  
                    $j(temp).attr('class','arrowSprite arrowNone');

                    temp = '#spn_sortByStatus_' + sortForObjectiveId;
                    $j(temp).attr('class','arrowSprite arrowNone');
                    */
                    btns = $j("a[id*='sortByDate_']");
                  }
                 

                   //btnId = '#' + btnId;
                  //$j(btnId).attr('sortdir',sortDirection);
                  $j(btns).attr('sortdir',sortDirection);

            }


            function AddOption(ddlId,txt,val,selected){
              var ddl = $j("select[id*='" + ddlId + "']")[0];
              if (ddl != null){
                  var op = $j(ddl).find("option[value='" + val + "']");
                  if (op == null || op.length ==0){ //that option is not found ,then add it
                    $j(ddl).append("<option value='" + val + "'>" + txt  + "</option>");
                    op = $j(ddl).find("option[value='" + val + "']");
                  }
                  
                  if (selected = true){ //select that option from dropdown
                     var allops = $j(ddl).find("option");
                     for(var i=0; i<allops.length; i++){ //remove the selected attribute from other options
                        $j(allops[i]).removeAttr('selected');
                     }
                     $j(ddl).val(val);
                     $j(op).attr('selected','selected');
                  }
                 
              }
            }



        </script>
        <apex:form id="theForm" >

            <script type="text/javascript">
              function SavedGoalNotification(){
                 ShowNotifyText('#divNotify','#h1Notify','{!goalSavedMsg}');                
              }


            </script>

            <apex:actionFunction action="{!saveGoal}" name="SaveGoal" reRender="pnlMain" oncomplete="BindHideSectionClick();SavedGoalNotification();resetKeypressEvents();" >                
            </apex:actionFunction>

            <apex:actionFunction action="{!saveObjective}" name="UpdateObj" reRender="pnlMain"  oncomplete="BindHideSectionClick();ShowNotifyText('#divNotify','#h1Notify','Objective Saved');resetKeypressEvents();">
                <apex:param assignTo="{!objectiveId}" name="firstParam" value=""></apex:param>
            </apex:actionFunction>

            <apex:actionFunction action="{!deleteObjective}" name="DeleteObj" reRender="pnlMain" oncomplete="BindHideSectionClick();ShowNotifyText('#divNotify','#h1Notify','Objective Deleted');resetKeypressEvents();">
                <apex:param assignTo="{!objectiveId}" name="objId" value=""></apex:param>
            </apex:actionFunction> 

            <apex:actionFunction action="{!saveTask}" name="UpdateTask" reRender="pnlMain" oncomplete="BindHideSectionClick();ShowNotifyText('#divNotify','#h1Notify','Task Saved');resetKeypressEvents();">
                <apex:param assignTo="{!taskId}" name="firstParam" value=""></apex:param>
            </apex:actionFunction>

            <apex:actionFunction action="{!deleteTask}" name="DeleteTask" reRender="pnlMain" oncomplete="BindHideSectionClick();ShowNotifyText('#divNotify','#h1Notify','Task Deleted');resetKeypressEvents();">
                <apex:param assignTo="{!taskId}" name="taskId" value=""></apex:param>
            </apex:actionFunction>  

            <apex:actionFunction action="{!addNewTask}" name="AddNewTask" reRender="pnlMain" oncomplete="CloseDiv('#divAddActivitiesPopUp');BindHideSectionClick();ShowNotifyText('#divNotify','#h1Notify','Task Added'); resetKeypressEvents();">
                <apex:param assignTo="{!newTaskObjectiveId}" name="taskObjId" value=""></apex:param>
            </apex:actionFunction>

            <apex:actionFunction action="{!addNewObjective}" name="AddNewObjective" reRender="pnlMain" oncomplete="CloseDiv('#divAddObjectivesPopUp');BindHideSectionClick();ShowNotifyText('#divNotify','#h1Notify','Objective Added'); resetKeypressEvents();">
                <apex:param assignTo="{!newObjGoalId}" name="objGoalId" value=""></apex:param>
            </apex:actionFunction>

            <apex:actionFunction action="{!init}" name="SortTasksForObjective" reRender="pnlMain" oncomplete="BindHideSectionClick();ChangeSortTaskDirAttribute('{!sortForObjectiveId}','{!sortBy}','{!sortDirection}'); resetKeypressEvents();">
                <apex:param assignTo="{!sortForObjectiveId}" name="sortForObjId" value=""></apex:param>
                <apex:param assignTo="{!sortBy}" name="sortBy" value=""></apex:param>
                <apex:param assignTo="{!sortDirection}" name="sortDir" value=""></apex:param>
            </apex:actionFunction> 
            

            <apex:outputPanel id="pnlObjectives" layout="none">     
                               
                <apex:pageBlock >
                    <apex:pageBlockSection columns="1" dir="goal" title="{!$Label.Goal}">
                        <apex:outputPanel id="goalPanel">
                            <div class="btnModify" style="margin-left: 42%;">  
                                <!-- <apex:commandButton id="btnEditNew" value="Save" action="{!saveGoal}" style="" reRender="pnlMain" oncomplete="alert({!goalSavedMsg});"   /> -->
                                <input id="btnEditNewGoal" type="button" class="btn" onclick="DisableBtn(this,'Saving...');ShowDiv('#divPleaseWait'); SaveGoal();" value="{!$Label.Save_Account_Goal}"/>
                                
                                <apex:commandButton id="btnDelete" value="{!$Label.Delete}" action="{!deleteGoal}" 
                                onclick="return confirm('{!$Label.Delete_Goal_Message}');"   />

                                <apex:commandButton id="btnCancel" value="{!$Label.Cancel_Button_Label}" action="{!cancelGoal}" onclick="return ConfirmCancel();"   />
                                <apex:outputLabel rendered="{!showBtnAddObjective}">
                                    <input style="margin-left:10px;" type="button" class="btn" value="{!$Label.Add_New_Objective}" id="btnAddNewObjective" onclick="addOverlay(); AddNewObjectivePopUp( '{!goal.Id}' ,'{!goal.Name}' ); " />
                               </apex:outputLabel>
                               <a href="#" onclick="return window.open('/apex/AccountPlanHelp');">{!$Label.Objective_Action_Plan_Help}</a>
                            </div>
                        </apex:outputPanel>
                        <apex:outputLabel >
                            <div style="margin-left:13%;"> {!$Label.Account_Plan} <apex:outputLink style="margin-left:20px;" target="_blank"  id="txtESPName" value="/{!esp.Id}">{!esp.Name}</apex:outputLink> </div>                       
                        </apex:outputLabel>
                        <apex:inputField id="txtAccountGoal" value="{!goal.Account_Goal__c}" styleClass="txtArea"  />
                        <apex:variable var="cnt" value="{!1}" /> 
                        <apex:repeat value="{!ObjectivesAndTasks}" var="obj" id="theRepeat" >            
                            <apex:pageBlock > 
                                <div class="divOneObjective" id="obj_{!obj.obj.Id}" >
                                    <apex:pageBlockSection id="objectiveBlock" title="{!$Label.Objective} {!cnt}" columns="1" dir="objective" >           
                                        <apex:pageBlockSection columns="2">                                          
                                            <apex:outputPanel >
                                                <!-- We need an empty one -->
                                            </apex:outputPanel>
                                            <apex:outputPanel >
                                              <div class="btnModify" style="margin-left: -130px;" >                                    
                                                  <input type="button" class="btn" onclick="DisableBtn(this,'Saving...'); ShowDiv('#divPleaseWait'); UpdateObj( '{!obj.obj.Id}' );" value="{!$Label.Save_Objective}"/>
                                                  <input type="button" class="btn" 
                                                  onclick=" if (confirm('{!$Label.Delete_Objective_Message}')) { DisableBtn(this,'Deleting...'); ShowDiv('#divPleaseWait'); DeleteObj( '{!obj.obj.Id}' );} " value="{!$Label.Delete}"/>

                                                  <input type="button" style="margin-left:10px; " class="btn" value="{!$Label.Add_New_Task}" id="btnAddNewTask" onclick="addOverlay();AddNewActivitiesPopUp( '{!obj.obj.Id}' , '{!obj.obj.Name}' ); AddOption('actionStatus','','',true); DisableOwnerPickList(); " />
                                              </div>
                                            </apex:outputPanel>
                                            <apex:inputField value="{!obj.obj.Objective__c}" id="objText" />
                                            <apex:inputField value="{!obj.obj.Type_of_Objective__c}" id="objType" />
                                            <apex:inputField value="{!obj.obj.Objective_Strategy_Values__c}" id="objStrategyValues"/>
                                            <apex:inputField value="{!obj.obj.Objective_Strategy__c}" id="objStrategy"/>                                                
                                            <apex:inputField value="{!obj.obj.Unit_or_Resource__c}" id="objUnit" > 
                                                <span id="Unit.resource-_help" class="helpButton" style="margin-top:5px" > 
                                                    
                                                    <!-- <script>
                                                      sfdcPage.setHelp('Unit.resource', '{!$Label.Unit_or_Resource}');
                                                    </script> -->
                                                </span> 
                                            </apex:inputField>                                            
                                            <apex:inputField value="{!obj.obj.Show_Objective_in_PPT__c}" id="objShowInPPT" />
                                            
                                        </apex:pageBlockSection>
                                        
                                        <apex:outputLabel id="pnlSortBtns" rendered="{!obj.hasTasks}">
                                            <div class="sortObjectTasks" sortwhat="tasks" style="width:100%;text-align: right;" sortfor="{!obj.obj.Id}">
                                              <div>
                                                <span><b>{!$Label.Sort_Tasks_By}&nbsp;</b></span>
                                                <a href="javascript:void(0);" id="sortByOwner_{!obj.obj.Id}" sortby="OwnerName" sortdir="asc" objId="{!obj.obj.Id}" 
                                                onclick="DisableBtn(this,'');ShowDiv('#divPleaseWait');SortTasks(this);">{!$Label.Owner_Name}<span id="spn_sortByOwner_{!obj.obj.Id}" class="arrowSprite arrowNone"></span></a> 

                                                <a href="javascript:void(0);" style="margin-left:10px;" id = "sortByStatus_{!obj.obj.Id}" sortby="Status" sortdir="asc" objId="{!obj.obj.Id}" 
                                                onclick="DisableBtn(this,'');ShowDiv('#divPleaseWait');SortTasks(this);">{!$Label.Status}<span id="spn_sortByStatus_{!obj.obj.Id}" class="arrowSprite arrowNone"></span></a>

                                                <a href="javascript:void(0);" style="margin-left:10px;" id="sortByDate_{!obj.obj.Id}" sortby="Date" sortdir="asc" objId="{!obj.obj.Id}" 
                                                onclick="DisableBtn(this,'');ShowDiv('#divPleaseWait');SortTasks(this);">{!$Label.Completion_Date}<span id="spn_sortByDate_{!obj.obj.Id}" class="arrowSprite arrowNone"></span></a>
                                              </div>
                                            </div>
                                        </apex:outputLabel>
                                        
                                        <apex:repeat var="t" value="{!obj.Tasks}">
                                                  <apex:pageBlockSection id="taskBlock" title="{!$Label.Task} {!t.tsk.Action_Item_custom__c}"  columns="2"  dir="task_of_{!obj.obj.Id}"  >
                                                      <apex:outputPanel >
                                                          <!-- We need an empty one -->
                                                      </apex:outputPanel>
                                                      <apex:outputPanel >
                                                          <div class="btnModify" style="margin-left: -100px;">
                                                              <input type="button" class="btn" onclick="DisableBtn(this,'Saving...');ShowDiv('#divPleaseWait'); UpdateTask( '{!t.tsk.Id}' );" value="{!$Label.Save_Task}"/>
                                                              <input type="button" class="btn" 
                                                              onclick="if (confirm('{!$Label.Delete_Task_Message} : {!t.tsk.Subject}')) 
                                                              {DisableBtn(this,'Deleteing...');ShowDiv('#divPleaseWait');  DeleteTask( '{!t.tsk.Id}' );}" value="{!$Label.Delete}"/>
                                                          </div>
                                                      </apex:outputPanel>
                                                      <!-- <apex:inputField value="{!t.tsk.Subject}" id="taskSubject"/> -->
                                                      <apex:inputField value="{!t.tsk.Action_Item_custom__c}" id="taskActionItem"/> 
                                                      <apex:inputField value="{!t.tsk.OwnerId}" id="taskOwner"/> 
                                                      <apex:inputField value="{!t.tsk.Status}" id="taskStatus"/> 
                                                      <apex:inputField value="{!t.tsk.ActivityDate}" id="taskDate"/> 
                                                      <apex:inputField value="{!t.tsk.Objective_Action_Resource__c}" id="taskResource"/>
                                                      <apex:inputField value="{!t.tsk.Senior_Leadership_Ask__c}" id="taskSeniorLeadAsk" />
                                                      <apex:inputField value="{!t.tsk.Description}" id="taskDetails"/> 
                                                      <apex:inputField value="{!t.tsk.Show_Task_in_PPT__c}" id="taskShowInPPT"/> 
                                                  </apex:pageBlockSection>                  
                                                                       
                                          </apex:repeat>
                                    </apex:pageBlockSection>
                                </div>              
                              </apex:pageBlock>
                            <apex:variable var="cnt" value="{!cnt+1}"/>
                        </apex:repeat>
                  </apex:pageBlockSection>
                </apex:pageBlock>

                      <!-- ********************** Pop up Divs ************************* --> 
                      <div id="divAddActivitiesPopUp"  title="New Action (Activity)" class="modal">
                       <div id="activityContents" >

                            <div style="width:100%;height:30x;">   
                                <span style="float: left; width: 120px;margin-left: 5px;color:#66CC00"><b>{!$Label.Add_New_Task}</b></span>                         
                                <div style="width: 30px; float: right; margin-right: 5px;">
                                  <a href="#" onclick="CloseDiv('#divAddActivitiesPopUp');">Close</a>
                                </div>
                            </div>        
                            <script type="text/javascript">
                              function CheckRequired(){                                
                                  var dateBoxVal = $j("input[id*='actionDate']").val();
                                  if (dateBoxVal == null || dateBoxVal ==''){
                                      alert('Please select a completion date');
                                      return false;
                                  }

                                  var ddl = $j("select[id*='actionStatus']")[0];
                                  if (ddl !=null && ddl.length>0){
                                    if ($j(ddl).val() ==''){
                                      alert('Please select an Action Status for this task');
                                      return false;
                                    }
                                  }

                                  

                                  var selectedOwnerID = $j("input[id*='actionOwner_lkid']")[0].value;
                                  var selectedOwnerName =$j("input[id*='actionOwner_lkold']")[0].value;
                                  if (selectedOwnerID != null && selectedOwnerID !='000000000000000' && selectedOwnerID !='' && selectedOwnerID !='null' 
                                      && selectedOwnerName != null && selectedOwnerName !='' && selectedOwnerID !='null'){
                                      return true;
                                  }else{
                                     alert('Please select an Action Owner for this task');
                                  }
                                  return false;

                              }
                            </script>                  
                            <apex:outputPanel id="out" >
                              <apex:pageBlock >
                                    <apex:pageBlockSection columns="1">
                                          <!-- <span style="margin-left:25px">Task for</span>  <span style="margin-left:20px" id="spnObjId"><span> -->                                                                                                
                                          <!-- <apex:inputField value="{!newTask.Subject}" id="actionSubject" ></apex:inputField> -->

                                          <apex:inputField value="{!newTask.Action_Item_custom__c}" id="actionItem" ></apex:inputField>
                                                                                             
                                          <apex:inputField value="{!newTask.ActivityDate}" id="actionDate" ></apex:inputField>


                                          <apex:inputField value="{!newTask.Description}" id="actionResolution" ></apex:inputField>

                                          <apex:inputField value="{!newTask.Objective_Action_Resource__c}" id="actionResource"/>

                                          <apex:inputField value="{!newTask.Senior_Leadership_Ask__c}" id="actionSeniorLeadAsk" />

                                           <apex:inputField value="{!newTask.Show_Task_in_PPT__c}" id="actionShowInPPT"/> 

                                          <apex:inputField value="{!newTask.OwnerId}" id="actionOwner"  required="false"  ></apex:inputField>                                                              
                                          <apex:inputField value="{!newTask.Status}" id="actionStatus" required="false" ></apex:inputField>

                                    </apex:pageBlockSection>
                                    <div style="clear:both"></div>
                                    <input type="button" value="Add" class="btn" id="btnAddNewTaskPopup" style=" margin-left:40%;" 
                                    onclick="if (CheckRequired()) { $j(this).attr('value','Adding...');$j('#activityContents').addClass('overlay') ;
                                    ShowDiv('#divPleaseWait');AddNewTask( activeObjectiveId ); $j('.datePicker').css('position','absolute'); }"  />                                
                                    
                                    <input type="button" value="{!$Label.Cancel_Button_Label}" class="btn" onclick="CloseDiv('#divAddActivitiesPopUp');$j('.datePicker').css('position','absolute');"/>                                 
                               </apex:pageBlock>                                  
                            </apex:outputPanel>               
                       </div>
                   </div>
              

             
                    <div id="divAddObjectivesPopUp" class="modal">
                       <div id="objectiveContents" >
                            <div style="width:100%;height:30x;"> 
                                <span style="float: left; width: 120px;margin-left: 5px;color:#49166D"><b>{!$Label.Add_New_Objective}</b></span>                           
                                <div style="width: 30px; float: right; margin-right: 5px;">
                                  <a href="#" onclick="CloseDiv('#divAddObjectivesPopUp');">Close</a>
                                </div>
                            </div>                          
                            <apex:outputPanel id="out2" >
                              <apex:pageBlock >
                                    <apex:pageBlockSection columns="1">
                                          <!-- <span style="margin-left:15px">Objective for</span> <span  style="margin-left:5px" id="spnGoalId"></span> -->
                                          <apex:inputField value="{!newObjective.Objective__c}" id="objTest" ></apex:inputField>
                                          <apex:inputField value="{!newObjective.Objective_Strategy_Values__c}" id="objStrategyValues" ></apex:inputField>                                                                  
                                          <apex:inputField value="{!newObjective.Objective_Strategy__c}" id="objStrategy" ></apex:inputField>                                     
                                          <apex:inputField value="{!newObjective.Type_of_Objective__c}" id="objType" ></apex:inputField>                                                      
                                          <apex:inputField value="{!newObjective.Unit_or_Resource__c}" id="objUnit"  >
                                              <span id="Unit.resources-_help" class="helpButton" style="margin-top:5px" > 
                                                  
                                                  <!-- <script>
                                                    sfdcPage.setHelp('Unit.resource', '{!$Label.Unit_or_Resource}');
                                                  </script> -->
                                              </span> 
                                          </apex:inputField>
                                          <apex:inputField value="{!newObjective.Show_Objective_in_PPT__c}" id="objShow_InPPT"></apex:inputField>                                      
                                    </apex:pageBlockSection>
                                    

                                    <div style="clear:both"></div>
                                    <input type="button" value="Add" class="btn" onclick="$j(this).attr('value','Adding...'); 
                                    $j('#objectiveContents').addClass('overlay');ShowDiv('#divPleaseWait');AddNewObjective( activeGoalId );$j('.datePicker').css('position','absolute');" style=" margin-left:40%;" id="btnAddNewObjectivePopup"/>                                 
                                    <input type="button" value="{!$Label.Cancel_Button_Label}" class="btn" onclick="CloseDiv('#divAddObjectivesPopUp');$j('.datePicker').css('position','absolute');"/>                                 
                               </apex:pageBlock>                                  
                            </apex:outputPanel>               
                       </div>
                  </div> 
          
                  <!-- *********************************************************** -->

                   <!-- ************** Please wait div **************************** -->
                   <div id="divPleaseWait" class="modal" style="left: 40%;border:3px solid #ccc;width:300px;height:50px;text-align:center;font-size:16px;display:none;">
                       <div style='margin-top:12px;'>
                       <h1 > Please wait... </h1>
                       </div>
                   </div>            
                   <!-- *********************************************************** -->

                   <!-- ************* Saved div ********************** -->
                   <div id="divNotify" class="modal fadeMsg" style="left: 40%;border:3px solid #ccc;width:300px;height:50px;text-align:center;
                   background-color:#eee;font-size:16px;top:30%;display:none;">
                       <div style='margin-top:12px;'>
                       <h1 id='h1Notify'> Saved </h1>
                       </div>
                   </div> 



                </apex:outputPanel>


        </apex:form>
  </apex:outputPanel>

</apex:page>