<apex:page standardController="Account" extensions="AccountFlagsHelper" tabStyle="Account" >
    <apex:includeScript value="/support/console/35.0/integration.js"/>
    <apex:form >

        <script type="text/javascript">
        function openCaseSubTab() {
            sforce.console.getEnclosingPrimaryTabId(openCsSubtab);
        }
        function openCsSubtab(result) {
            sforce.console.openSubtab(result.id, '{!CaseRecordURL}', true, '{!CaseRecordNumber}', null, null, '{!CaseRecordId}');
            return false;
        }
        </script>

        <c:smb_IconCMS objectAPIName="Account" objectId="{!Account.id}" />
        <c:smb_IconCMS objectAPIName="VOC_Survey__c" objectId="{!VOCRecordId}" />
        <c:smb_IconCMS objectAPIName="Case" objectId="{!CaseRecordId}" iconClickAction="return openCaseSubTab()" />
    </apex:form>
</apex:page>