<apex:page standardController="Contract" extensions="ActivateOrderController_vlocity_cmt_CPls"   showChat="false"  showHeader="false" sidebar="false" >
    <apex:includeScript value="/soap/ajax/22.0/connection.js"/>  
    <apex:includeScript value="/support/console/26.0/integration.js"/>
    <apex:stylesheet id="blockUI" value="{!URLFOR($Resource.BLOCK_UI, 'css/ui-lightness/jquery-ui-1.8.16.custom.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.BLOCK_UI, 'js/jquery-1.6.2.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.BLOCK_UI, '/jquery.blockUI.js')}" />
    <script type="text/javascript">
    $j = jQuery.noConflict();
    function blockPage() 
    {
        $j.blockUI({
            message: '<img src="/img/loading32.gif" /><h1> Loading...</h1>',
            css: {
                border: 'none',
                padding: '15px',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: .9
            }
        });
        return false;
    }
    //function to unblock the page  
    function unblockPage() 
    {
        $j.unblockUI();
    }
    function closeTab() {
        
        if(sforce.console.isInConsole()== false)
            
        {
           
            window.top.location.href = '{!$Site.BaseRequestUrl}/{!contractObj.id}';
            
        }
        
        else
            
        {
            
            //First find the ID of the current tab to close it
            
            sforce.console.getEnclosingTabId(closeSubtab);
            
        }
        
    }
    
    var closeSubtab = function closeSubtab(result) {
        
        //Now that we have the tab ID, we can close it
        
        var tabId = result.id;
        
        sforce.console.closeTab(tabId);
        
    };
    
    </script>
    <apex:form id="mainForm">
        <apex:pageBlock id="mainPageBlock" >
            <apex:pagemessages id="pageMessages"/>
            
            <apex:pageblock id="contractAttachemnt" title="Attachments" rendered="{!isValidateSuccess}">
                <apex:pageMessage summary="Please select the document which needs to activated" severity="info" strength="3"/>
                <apex:pageblockTable value="{!attachmentWrapperList}" var="attachmentVar">
                    <apex:column >
                        <apex:inputCheckbox value="{!attachmentVar.selectedVar}"/>
                    </apex:column>
                    <apex:column value="{!attachmentVar.attachmentVar.Name}" headerValue="File Name"/>
                    <apex:column value="{!attachmentVar.attachementType}" headerValue="Type" />
                    <apex:column value="{!attachmentVar.attachmentVar.Owner.Name}" headerValue="Owner Name"/>
                      <apex:column headerValue="Download">
                        <a href= '/servlet/servlet.FileDownload?file={!attachmentVar.attachmentVar.id}'  target="_blank"> View</a>
                    </apex:column>           
                </apex:pageblockTable>
            </apex:pageblock>
            <apex:commandButton onclick="callActivateContract();return false; "  value="Activate" rendered="{!isValidateSuccess}"/> &nbsp;
            <apex:commandButton onclick="closeTab();return false;"  value="Cancel" rendered="{!isValidateSuccess}"/> &nbsp;
            <apex:commandButton onclick="closeTab();return false;"  value="Close" rendered="{!!isValidateSuccess}"/>
            
        </apex:pageBlock>
        <apex:actionFunction name="callActivateContract" action="{!activateContract}" status="activateContract" reRender="mainPageBlock"/>
            <apex:actionStatus id="activateContract" onstart="blockPage();" onstop="unblockPage();" > </apex:actionStatus>
    </apex:form>
    
</apex:page>