<apex:page standardController="Apttus__APTS_Agreement__c">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/support/console/28.0/integration.js"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.smb_ConsoleUtility)}"></script>
    <c:AgreementAccountHierarchyComponent accountid="{!Apttus__APTS_Agreement__c.Apttus__Account__c}" />
</apex:page>