<apex:page controller="analyticsadopt.Scheduletimebatch" docType="html-5.0" >
  <apex:slds />
  <Apex:form >
   <div class="slds-m-top_xx-large slds-m-right_xx-large slds-m-left_xx-large">
      <!-- Table -->
      <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_col-bordered">
      <!-- Record Header in Table --->
                      <div class="slds-page-header" style="">
                        <div class="slds-media">
                          
                             <div class="slds-media__body">
                                   <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Rohde Corp - 80,000 Widgets">Analytics Adoption App</h1>
                                   <p class="slds-text-body_small slds-line-height_reset">Hold on meta data update in progress !!</p>
                             </div>
                             <div class="slds-text-align_right">
                                <apex:commandButton value="Update" action="{!RedirecttoScheduleTime}" styleClass="slds-button slds-button_brand"/>
                             </div>
                        </div>
                     </div>
      <!-- Record Header in Table --->
                <thead>
                <tr class="slds-text-title_caps">
                <th scope="col">
                <div class="slds-truncate" title="Job Name">Job Name</div>
                </th>
                <th scope="col">
                <div class="slds-truncate" title="Last Execution Time">Last Execution Time</div>
                </th>
                <th scope="col">
                <div class="slds-truncate" title="Next Execution Time">Next Execution Time</div>
                </th>
                <th scope="col">
                <div class="slds-truncate" title="Start Time">Start Time</div>
                </th>
                <th scope="col">
                <div class="slds-truncate" title="Total Times Job Executed">Total Times Job Executed</div>
                </th>
               
                </tr>
                </thead>
                
                <tbody>
                <apex:repeat value="{!sbw}" var="cron">
                <tr>
                <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Cloudhub">{!cron.Jobname}</div>
                </th>
                <td data-label="Account Name">
                <div class="slds-truncate" title="Cloudhub">{!cron.LastExecutiontime}</div>
                </td>
                <td data-label="Close Date">
                <div class="slds-truncate" title="4/14/2015">{!cron.NextExecutiontime}</div>
                </td>
                <td data-label="Prospecting">
                <div class="slds-truncate" title="Prospecting">{!cron.Starttime}</div>
                </td>
                <td data-label="Confidence">
                <div class="slds-truncate" title="20%">{!cron.TotalTimesExecuted}</div>
                </td>
                
                </tr>
               </apex:repeat>
                </tbody>
                </table>
      <!-- Table -->
      </div>
      </apex:form>
</apex:page>