<!-- 
    Apttus Contract Management
    AgreementStoreExecutedNew
     
    @2009-2010 Apttus Inc. All rights reserved.

 -->
<apex:page controller="Apttus.AgreementStoreExecutedNewController" 
		   action="{!init}" >
		   
	<apex:sectionHeader title="{!$Label.Apttus__CreateExecutedAgreement}" subtitle="{!$Label.Apttus__AttachAgreement}" />
	
	<apex:form id="attachForm">
		
		<apex:pageBlock mode="edit" rendered="{!hasErrors}" >
			<apex:pageMessages />
			<apex:pageBlockButtons location="bottom" >
				<apex:commandButton action="{!doReturn}" value="{!$Label.Apttus__Cancel}" immediate="true"/>
			</apex:pageBlockButtons>
		</apex:pageBlock>
	
		<apex:pageBlock mode="edit" rendered="{!NOT(hasErrors)}">
			<apex:pageMessages />
			<apex:pageBlockButtons location="bottom" >
				<apex:commandButton action="{!doContinue}" value="{!$Label.Apttus__Continue}" />
				<apex:commandButton action="{!doCancel}" value="{!$Label.Apttus__Cancel}" immediate="true"/>
			</apex:pageBlockButtons>
			<apex:outputPanel id="upload">
                <apex:outputText style="font-weight: bold" value="{!'1. ' & $Label.Apttus__SelectFile}" /><br/>
                <apex:outputText value="{!$Label.Apttus__SelectFileInstruction}" /> <p/>
                <apex:inputFile size="80" value="{!filebody}" fileName="{!fileName}" contentType="{!contentType}" /><p/>
                <apex:outputText value="{!uploadErrorMsg}" style="font-weight: bold; color: red" /><p/>
                <apex:outputText style="font-weight: bold" value="{!'2. ' & $Label.Apttus__ClickAttachFile}" escape="false" /> <br/>
                <apex:outputText value="{!$Label.Apttus__CreateExecutedAgreementInstruction}" /> <p/>
                <apex:commandButton value="{!$Label.Apttus__AttachFile}" action="{!doAttach}" /> <p/>
            </apex:outputPanel>
            <apex:outputPanel id="status">
				<p>{!$Label.Apttus__FilesUploaded}</p>
				<apex:dataList type="square" value="{!attachments}" var="item" rows="6" >
					<apex:outputText value="{!item.Name}"/>
				</apex:dataList>
			</apex:outputPanel>
		</apex:pageBlock>
	</apex:form>
</apex:page>