<apex:page standardController="Q_A__kav" showHeader="false" sidebar="false" showChat="false" standardStylesheets="false" applyHtmlTag="true" applyBodyTag="false">
     <apex:composition template="ENTPUserTemplate">
        
         <apex:define name="title">
            <apex:outputText escape="false" value="FAQ - ENTP"/>
        </apex:define>
        
        <apex:define name="head">
            <apex:stylesheet value="{!URLFOR($Resource.VITILcareCSS, 'css/caseDetails.css')}"/>            
            <apex:stylesheet value="{!URLFOR($Resource.MBRCaseDetailCSS, '')}"/>     
            <apex:includeScript value="{!URLFOR($Resource.MBRCaseDetailJS, '')}"/>
            <style type="text/css">
                /* Color for the title bar */
                .bPageBlock .pbHeader
                {
                background-color: #e0cdf4;
                font-weight:bold;
                }
                .bPageBlock .pbBody
                {
                /* Color for the pageblock background */
                background-color:#FFFFFF;
                }
                .bPageBlock
                {
                background-color:#FFFFFF;
                /*  border-bottom: 1px solid  #ebedef;*/
                padding:10px 10px 10px 5px;
                /* Custom background image at the bottom of the pageblock
                which you may need to edit.      
                background-image:url(your_new_background_image);*/
                }
            </style>
            <style>
            td{
            vertical-align : top;
            text-align: left;
            padding: 10px;
            }
        </style>
        </apex:define>
        
        <apex:define name="pageTitle">
 {!Q_A__kav.Title}
        </apex:define>
        
        <apex:define name="body">
            <div>
                <apex:outputField value="{!Q_A__kav.Answer__c}"/>
               
            </div>
            <apex:outputLink target="_parent" value="{!URLFOR($Page.ArticleList)}">Go back to list</apex:outputLink>
         </apex:define>
         
     
    </apex:composition>
</apex:page>