<apex:page id="forgotPasswordFr" showHeader="false" controller="TelusPRMForgotPasswordController" title="{!$Label.site.forgot_password}">
  <apex:composition template="{!$Site.Template}">
    <apex:define name="body">  
      <center>
        <apex:panelGrid bgcolor="white" columns="1" style="align: center;">
          
          <apex:panelGrid width="500" cellpadding="0" cellspacing="0" bgcolor="white" columns="1" style=" border:1px;"> 
           
            <apex:outputPanel layout="block" style="background-color: white; border: 2px solid #36006C; padding: 0px; margin-top: 10px; margin-bottom: 0px; margin-left: 10px; margin-right: 10px;">
              <div style="width:500px; border: 2px solid #49166D; display:block; background-color:#49166D; height:15px; font-weight: bold; text-align:left; color:white;">Connexion sécurisée des clients</div>
              <apex:panelGrid width="500" cellpadding="0" cellspacing="0" bgcolor="white" columns="2">
                  <apex:panelGroup >
                  
                  <apex:pageMessage detail="{!errorMsg}" rendered="{!ErrFlag}" title="Erreur" id="error" severity="error" strength="3" />
                  <apex:form id="theForm">
                    
                    <apex:panelGrid columns="4" style="margin-top:1em;">
                      <img width="80" height="30" alt="" src="{!$Resource.Spacer}"/>
                      <apex:outputLabel value="Nom d’utilisateur" for="username"/>
                      <apex:inputText required="false" id="username" value="{!username}" size="25"/>
                      <img width="60" height="30" alt="" src="{!$Resource.Spacer}"/>
                      
                    </apex:panelGrid> 
                    <apex:panelGrid columns="3">
                        <img width="200" height="30" alt="" src="{!$Resource.Spacer}"/>
                        <apex:commandButton id="submit" value="Soumettre" action="{!forgotPasswordFr}"/>
                        <img width="130" height="30" alt="" src="{!$Resource.Spacer}"/>
                    </apex:panelGrid> 
                    </apex:form>        
                 
                </apex:panelGroup>
             </apex:panelGrid>             
             </apex:outputPanel>
             <br/>
             <apex:panelGrid columns="3" style="margin-top:1em;">
                    <img width="170" height="20" alt="" src="{!$Resource.Spacer}"/>
                    <apex:outputLink value="{!$Page.TelusPRMSiteLoginFrench}" rendered="{!$Site.LoginEnabled}" >Retourner à la page de connexion</apex:outputLink>
                    <img width="140" height="20" alt="" src="{!$Resource.Spacer}"/>
            </apex:panelGrid>
          </apex:panelGrid>
      </apex:panelGrid>
      </center>
      <br/>
      <br/>
      <br/>
      <table width="100%">
            <tr><td align="center">
                <font face="Arial, Helvetica, sans-serif" size="2">
                    Pour le soutien technique ou du programme, envoyez un courriel à <a href="mailto:CustomerCentralSupport@telus.com">CustomerCentralSupport@telus.com</a>
                </font>
            </td></tr>
        </table>        
      <br/>
    </apex:define>
  </apex:composition>
</apex:page>