<apex:page id="Registration" showHeader="false" controller="TelusPRMSiteRegisterController" title="{!$Label.site.register}">
    <apex:composition template="{!$Site.Template}">
        <apex:define name="body">
            <center>
            <apex:panelGrid width="558" cellpadding="0" cellspacing="0" bgcolor="white" columns="1" style="text-align:left; border:1px solid #ccc;"> 
                <apex:outputPanel layout="block" style="background-color: white; border: 1px solid #ccc; padding: 0px; margin-top: 10px; margin-bottom: 0px; margin-left: 10px; margin-right: 10px;">
                    <apex:panelGrid width="558" cellpadding="0" cellspacing="0" bgcolor="white" columns=""> 
                    <apex:panelGroup >
                    <br/>
                    <apex:outputText style="font-size: larger; font-weight: bold;" value="{!$Label.site.user_registration}"/>
                    <br/>
                    <apex:form id="theForm" forceSSL="true">
                    <apex:pageMessages id="error"/>
                    <apex:panelGrid columns="2" style="margin-top:1em;">
                    <apex:outputLabel value="{!$Label.site.username}" for="username"/>
                    <apex:inputText required="true" id="username" value="{!username}"/>
                    <apex:outputLabel value="{!$Label.site.community_nickname}" for="communityNickname"/>
                    <apex:inputText required="true" id="communityNickname" required="true" value="{!communityNickname}"/>
                    <apex:outputLabel value="{!$Label.site.email}" for="email"/>
                    <apex:inputText required="true" id="email" required="true" value="{!email}"/>
                    <apex:outputLabel value="{!$Label.site.password}" for="password"/>
                    <apex:inputSecret id="password" value="{!password}"/>
                    <apex:outputLabel value="{!$Label.site.confirm_password}" for="confirmPassword"/>
                    <apex:inputSecret id="confirmPassword" value="{!confirmPassword}"/>
                    <apex:outputText value=""/>
                    <apex:commandButton action="{!registerUser}" value="{!$Label.site.submit}" id="submit"/>
                    </apex:panelGrid>
                    </apex:form>
                    </apex:panelGroup>
                    </apex:panelGrid>
                </apex:outputPanel>
            </apex:panelGrid>
            </center>
        </apex:define>
    </apex:composition>
</apex:page>