<apex:page showHeader="false" id="CCSiteTemplate" cache="false">
    <apex:insert name="header">
        <c:CCSiteHeader />
    </apex:insert>
    <apex:insert name="body"/>
    <apex:insert name="footer">
        <c:CCSiteFooter />
    </apex:insert>
</apex:page>