<apex:page standardController="Agreement_Offer_Code__c" extensions="ContractOfferCodeCtrlExt">
     <script src="https://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript" />
     <script type="text/javascript">
        var selected = false;
        function selectAll(){
            if(selected) {
                selected = false;
            } else {
                selected = true;    
            }
            $("input[type='checkbox']").each(function(){
                this.checked = selected ? "checked":"";
            });
        }
    </script>
    <apex:sectionheader title="{!$ObjectType.Agreement_Offer_Code__c.label} {!modeLabel}" subtitle="{!Agreement_Offer_Code__c.Name}"/>
    <apex:form >
      <apex:inputHidden value="{!Agreement_Offer_Code__c.Contract__c}"/>
      <apex:inputHidden value="{!Agreement_Offer_Code__c.Deal_Support__c}"/>
      <apex:inputHidden value="{!Agreement_Offer_Code__c.Subsidiary_Account__c}"/>  
    <apex:outputPanel id="newComment"> 
     <apex:pageblock mode="{!mode}" title="{!$ObjectType.Agreement_Offer_Code__c.label} {!modeLabel}" >
     <apex:messages style="color:red"/> 
     <apex:pageblockbuttons >
         <apex:commandbutton value="{!$Label.save}" action="{!save}" rendered="{!mode = 'edit'}" />
         <apex:commandbutton value="{!$Label.Propagate_Save}" action="{!showPropergateList}" rendered="{!showPropergate && mode = 'edit'}" rerender="newComment" />
         <apex:commandbutton value="{!$Label.cancel}" action="{!cancel}" rendered="{!mode = 'edit'}" />
     </apex:pageblockbuttons>
         <apex:pageBlock mode="{!mode}" rendered="{!mode = 'edit'}">
             <apex:pageBlockSection columns="2" title="{!$Label.Details }" showHeader="true" >
            <apex:repeat value="{!$ObjectType.Agreement_Offer_Code__c.FieldSets.DetailView}" var="f">
                
                    <apex:inputField value="{!Agreement_Offer_Code__c[f]}" rendered="{!linkField ='Deal_Support__c' || f ='Description__c'}" required="{! f='Name' || f='Type__c' || f='Product_Type__c'}"/>
                    <apex:outputField value="{!Agreement_Offer_Code__c[f]}" rendered="{!linkField != 'Deal_Support__c' && f != 'Description__c'}"/>
              </apex:repeat>
              </apex:pageBlockSection>  
         </apex:pageBlock>   
        </apex:pageblock>
    <apex:outputPanel id="sec" rendered="{!IsPropargate}"> 
        <apex:pageBlock title="{!$Label.Select}" >
        <apex:pageBlockTable value="{!displayItems}" var="item" styleClass="tablesorter">
            <apex:column >
                <apex:facet name="header"><apex:inputCheckbox selected="false" onclick="selectAll()"/></apex:facet>
                <apex:inputCheckbox value="{!item.selected}"/>
            </apex:column>
            <apex:column headerValue="Name" >
                <apex:outputLink value="/{!item['obj']['id']}" target="_blank">{!item['obj']['name']}</apex:outputLink>
            </apex:column>
                <apex:column value="{!item['obj']['Account_Name__c']}" headerValue="{!item['Account_Name__c']}" >
                </apex:column>
         </apex:pageBlockTable>
         <apex:pageblockbuttons >
             <apex:commandbutton value="{!$Label.Propagate}" action="{!propagate}" />
             <apex:commandbutton value="{!$Label.cancel}" action="{!cancel}" />
         </apex:pageblockbuttons>
      </apex:pageBlock>
    </apex:outputPanel>  
   </apex:outputPanel>
  </apex:form>
</apex:page>