<apex:page controller="ContactOrgChartController"  title="Contact Organization Chart" action="{!init}">
<!-- Copyright (c) 2013 TELUS --> 
<!--  CSS Files -->
   
  <apex:stylesheet value="{!URLFOR($Resource.BTUIKit, '/BTUIKit/css/chart.css')}" />
  <apex:stylesheet value="{!URLFOR($Resource.BTUIKit, '/BTUIKit/css/bootstrap-custom.min.css')}"  />
  <apex:stylesheet value="{!URLFOR($Resource.BTUIKit, '/BTUIKit/css/bootstrap.css')}"  />
  <apex:stylesheet value="{!URLFOR($Resource.BTUIKit, '/BTUIKit/css/jquery-ui-1.10.3.custom.min.css')}" /> 
  <apex:stylesheet value="{!URLFOR($Resource.BTUIKit, '/BTUIKit/css/jquery.gritter.min.css')}" /> 
  <apex:stylesheet value="{!URLFOR($Resource.BTUIKit, '/BTUIKit/css/jquery.mCustomScrollbar.min.css')}" />
 

  <apex:includeScript value="{!URLFOR($Resource.BTUIKit, '/BTUIKit/js/jquery-1.9.1.js')}"  />

  <apex:includeScript value="{!URLFOR($Resource.BTUIKit, '/BTUIKit/js/jquery-ui-1.10.4a.custom.min.js')}"  />
  <apex:includeScript value="{!URLFOR($Resource.BTUIKit, '/BTUIKit/js/bootstrap.min.js')}"  />
  <apex:includeScript value="{!URLFOR($Resource.BTUIKit, '/BTUIKit/js/bootstrap-custom.min.js')}"  />
  <apex:includeScript value="{!URLFOR($Resource.BTUIKit, '/BTUIKit/js/jquery.mCustomScrollbar.min.js')}"  />
  <apex:includeScript value="{!URLFOR($Resource.BTUIKit, '/BTUIKit/js/jquery.gritter.min.js')}"  />
  <apex:includeScript value="{!URLFOR($Resource.BTUIKit, '/BTUIKit/js/orgChart.js')}"  />

<script type="text/javascript">
      var scrollBarInit = false;
    </script>

    <style type="text/css">

    #leftDiv{
      height:400px; 
      float:left; 
      margin: 40px 40px;
      overflow: hidden;  /*visible !important;      */
      width: 200px;   /*make the left div constant */
      /* added box sizing */
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
      
    }
    .waiting{
        position:absolute;
        top:25%;
        right:50%;
        z-index:9999999;
    }
    
    
    /*
    #mCSB_2 {
      overflow:visible !important;
    }
    
    #mCSB_1 {
     overflow:visible !important;
    }
    */
    
    #orgPageWrap {
        /*overflow: hidden;*/
        width:1280px;
      /* added box sizing */
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */        
    }
    [id^="mCSB_"]{
        overflow:visible !important;
    }
    
    #mainDiv{
        float:left;
        margin-left:40px;
      /* added box sizing */
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
      width:980px;        
    }
    
    #leftDiv .contact{
      margin-top: 20px;       
    }

    .deleteContact {
      cursor: pointer;
      float: right;
      position: absolute;
      right: 3px;
      top: 3px;
      z-index: 1000;
    }

    .deleteContactDummy {
      cursor: pointer;
      float: right;
      position: absolute;
      right: 3px;
      top: 3px;
      z-index: 1000;
    }

    .removeContact {
        border: 5px dashed #CCCCCC;
        border-radius: 10px;
        width: 175px !important;
        height: auto !important;
    }



    .nav-pills > li > a {
        padding-left: 1px !important;
      }

      .nodeChartCellDrag {
        /*height: 270px !important;*/
        /*height: 270px;*/
        position: relative;
        border: 2px solid transparent;
        padding: 10px !important;
        /*max-width: 250px;*/

      }

      .cellTitle{
        top:0px !important;
        padding: 0px !important;
        font-size: 0.8em !important; 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-wrap: break-word;
        max-width: 150px;
      }

      .nodeChartCell {
        /*height: 270px !important;*/

        /*padding: 0;*/
      }

      .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
        background-color: #66CC00 !important;
        background-image: linear-gradient(to bottom, #66CC00, #00cc00) !important;
      }

      .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
          background-color: #66CC00 !important;
        background-image: linear-gradient(to bottom, #66CC00, #00cc00) !important;
      }


      .chartCellBody{
        /*font-size: 12px !important;*/

        top:0px !important;
        left:0px !important;
      }

      .ttip {
        position: absolute;
        width: 260px;
        /*height: 100px;*/
        color: #fff;
        padding: 10px;
        -webkit-box-shadow: 0 1px 2px #303030;
        -moz-box-shadow: 0 1px 2px #303030;
        box-shadow: 0 1px 2px #303030;
        border-radius: 8px 8px 8px 8px;
        -moz-border-radius: 8px 8px 8px 8px;
        -webkit-border-radius: 8px 8px 8px 8px;
        -o-border-radius: 8px 8px 8px 8px;
        background-image:-moz-linear-gradient(top, #66CC00, #00cc00);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#66CC00), to(#00cc00));
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66CC00', endColorstr='#00cc00', GradientType=0);
        background-color:#000;
        display: none;
        z-index: 9980;
    }

    .ui-front {
      z-index: 9990;
    }


    ul ,ol,li{
      margin:0 !important;
    }

    p{
          /*max-width: 200px;*/
    }

    li {
      line-height: inherit !important;
    }

    .rowCenter {
      display: block;
      margin: 0 auto;
      width: 400px;

    }

    .row{
      display: inline-block;
      margin-left: 20px;
      vertical-align: baseline;
    }



    #chart_div{
      overflow-x:visible;
      margin-top: 20px;
      padding-top: 10px; 
      width: 98%; 
      margin-left: 10px;
      
    }
    #chart_div > h1,h2,h3,h4,div {display:block;font-size:100%;line-height:1.3em;}
    #chart_div > ul {padding:0;margin:2px 0 2px;}
    #chart_div > table { }

    .header{
      display: inline-block;
      font-weight: normal;
      padding-left: 5px;
      padding-right: 5px;
    }

    .header span{
      color: #120C80;
      font-size: 1.3em;
      font-weight: normal;
    }

    .header a{
      color: #70BC1F;
      font-size: 1.3em;
      font-weight: normal;    
    }
    
    .headerWrap{
        
    }

    .mCustomScrollBox {
      top: -20px;
    }



    </style>
    
 <!-- JS files--> 
    

    
    <apex:sectionHeader title="{!$Label.Contact_Organization_Chart}" subtitle="{!Account.name}"/> 
    <div class="ttip">
          <div id="ttipClose" style="text-align:right;">
            <a href="javascript:void(0);" onclick="$('.ttip').fadeOut('slow');">X</a>
          </div>

          <div id="ttipContent">
            
          </div>

        </div>
    <apex:form >
        <div id="background"></div>
        
        <div class="row">
            <div class="span12">
            <!--<apex:commandButton action="{!URLFOR($Action.Contact.New_Standard_Contact, Account.Id)}" value="New Standard Contact"/>-->
            <button class="btn btn-primary" style="vertical-align:baseline;" type="button" id="quickContact">{!$Label.New_Quick_Contact}</button>
            <!-- <apex:commandButton id="btnCancel" value="Go back to ESP" action="{!cancelOrgMap}" style="height:26px;vertical-align:baseline;"   /> -->
            <div class='header'><span>{!$Label.Account_Plan}</span> <a href="/{!esp.Id}" target="_blank"> {!esp.Name} </a> </div>
            <div class='header'><span>{!$Label.Account}</span> <a href="/{!account.Id}" target="_blank"> {!account.Name} </a> </div>
            <a href="#" class="pull-right" onclick="return window.open('/apex/AccountPlanHelp');" >{!$Label.Org_Relationship_Map_Help}</a>
             </div>
            </div>
        <br/>
        <center>
        <div class="row">
                
                <div class="">         
                    <span style ="position:relative;left:1.0em;float:left"><button class="btn" id="zoom-out" ><i class="icon-zoom-out" style="postion:absolute;top:20px"> </i></button></span>
                        <div id="slider-range" class="span3" style="top:5px;"></div>
                    <span style ="position:relative;left:0.75em"><button class="btn" id="zoom-in"  ><i class="icon-zoom-in" style="postion:absolute;top:20px"> </i></button></span>
                        <span style ="position:relative;left:1.75em">Zoom :<span type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">50%</span></span>
              </div>
       </div>
       
       </center>  
        <!-- Delete Contact Action Function -->
        <apex:actionFunction name="deleteContact" action="{!deleteContact}" status="status" rerender="chartPanel" oncomplete="drawChart()">
            <apex:param id="delContactId" name="delContactId" value="" />
        </apex:actionFunction>
        <!-- Update Reports to Action Function -->
        <apex:actionFunction name="updateReportsTo" action="{!updateReportsTo}" status="status" rerender="chartPanel" oncomplete="drawChart()">
            <apex:param id="contactReportsToId" name="contactReportsToId" value="" />
            <apex:param id="contactId" name="contactId" value="" />
        </apex:actionFunction>
        <!-- Update Attributes action function -->
        <apex:actionFunction name="updatePoliticalMap" action="{!updatePoliticalMap}" status="status" rerender="chartPanel" oncomplete="drawChart()">
            <apex:param id="attrContactId" name="attrContactId" value="" />
            <apex:param id="optKey" name="optKey" value="" />
            <apex:param id="optVal" name="optVal" value="" />
        </apex:actionFunction>
        <!-- Update Attributes action function -->
        <apex:actionFunction name="addContactToRole" action="{!addContactToRole}" status="status"  rerender="chartPanel" oncomplete="drawChart()">
            <apex:param id="addContactId" name="addContactId" value="" />
        </apex:actionFunction>

        <!-- Action Status Function -->
        <apex:actionStatus id="status">
            <apex:facet name="start"><div class="waiting"><center><img height="16px" src="/img/loading32.gif"/><br></br><i>Working</i></center></div></apex:facet>
            <apex:facet name="stop"></apex:facet>
        </apex:actionStatus> 
    </apex:form>

    <table>
        <tr>
            <td><div id='leftDiv'  ></div>
            </td>
            <td><div  id='chart_div'></div></td>
        </tr>
    </table>
  
  <!--<div id='mainDiv' style="float:left;margin-left:40px;" ></div>-->


    <!--Zoom End -->
    

<div id="dialog-modal-form" title="{!$Label.Create_New_Contact}" style="display:none" >
<apex:outputPanel id="formmodel" layout="block">   
 
    <apex:form id="form">
        <apex:pageBlock >
            <div style="margin:15px 80px">
                <apex:messages />
            </div>
            <apex:pageBlockSection showHeader="false" columns="1" id="table" collapsible="false">
                    <apex:inputField value="{!contact.Title}"/>
                    <apex:inputField value="{!contact.FirstName}"/>
                    <apex:inputField value="{!contact.LastName}"/>
                    <apex:inputField value="{!contact.Phone}"/>
                    <apex:inputField value="{!contact.Email}"/>
                    <apex:selectList value="{!Contact.AccountId}" size="1">
                        <apex:selectOptions value="{!accountList}"/>
                    </apex:selectList>
                    <!--<apex:inputfield value="{!Contact.AccountId}" required="false" />-->
                    <apex:inputfield value="{!Contact.ReportsToId}" required="false"/>    
                    <apex:inputField value="{!newContactRole.Background_Comment__c}"/>
                    <apex:inputField id="actionOwner" value="{!newContactRole.Primary_Owner_of_Relationship__c}"/>
            </apex:pageBlockSection>
                       <apex:pageBlockButtons location="bottom">
                         <apex:commandButton styleClass="btn-primary" id="savecontact" status="status" value="{!$Label.Save_Button_Label}" action="{!saveContact}" rerender="chartPanel,formmodel"
                                             oncomplete="initDialogForm();" />
                         <a id="close" class="btn">{!$Label.Close_Button_Label}</a>
                    </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>  
                 
</apex:outputPanel> 
</div>   
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<apex:outputPanel id="chartPanel" layout="block">
    <script type='text/javascript'>
      var div ='';
      var data ;
      var dataLeft ;
       var currentZoom = 1.2;
       

     

      google.load('visualization', '1', {packages:['orgchart']});
      google.setOnLoadCallback(drawChart);

      function refreshChartData(){
        <apex:repeat value="{!allContactsByAccount}" var="u">
            data.addRow([{v:'{!u.contact.Id}'
                , f:'{!JSENCODE(u.contactBody)}'}
                , '{!u.contact.ReportsToId}']);
        </apex:repeat>

        var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
        chart.draw(data, {allowHtml:true, allowCollapse:false, size:'medium', nodeClass:'nodeChartCell', selectedNodeClass:'nodeChartCellSelect'});
      }

      function refreshSideChartData(){  
        var v ='';              
        //alert(v);
        <apex:repeat value="{!ParentContactsWithoutChildren}" var="t">
            
               v = v + replaceString('{!JSENCODE(t.contactBody)}') + '</div>';
               
        </apex:repeat>
        //v = v + "<div style='height:50px'></div>";
        $('#leftDiv').html('');
        $('#leftDiv').html(v);

      

        /*var chart = new google.visualization.OrgChart(document.getElementById('leftDiv'));
        chart.draw(dataLeft, {allowHtml:true, allowCollapse:false, size:'medium', nodeClass:'nodeChartCell', selectedNodeClass:'nodeChartCellSelect'});*/
        
      }


      
      function drawChart() {
        data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        /*data.addRow([{v:'{-999}', f:'<div class="removeContact" objid="'+ -999 +'"> <div style="font-size:12px">{!$Label.Contact_Hierarchy}</div>'}, '']);*/       
        
        dataLeft = new google.visualization.DataTable();
        dataLeft.addColumn('string', 'Name');
        dataLeft.addColumn('string', 'Manager');

        refreshChartData();
        refreshSideChartData();

          //Init both Dragable and Droppable after Char has been drawn
        initDragable();
        initDroppable();
        initChartZoom();
        var tblDiv = $('#chart_div');
        $(":first-child", tblDiv).removeAttr("align");
        initTooltipAndPopover();
        $("#dialog-modal-form" ).dialog("close");
         initDeleteContact(); 
        function initDeleteContact(){
          $(".deleteContact").click(function(){
                
              var id  = $(this).attr("objid");
                var name = $(this).attr("contactname");
                var resp = confirm("Are you sure you want to remove " + name + " from the Organization Relationship Map?");
                if(resp)
                    deleteContact(id)
            });
        }

        /* Zoom Js Start*/
        function initChartZoom(){
           
           
            $('#zoom-in').on('click',function(event){
                $( "#slider-range" ).slider( "value", ($( "#slider-range" ).slider( "value")+10));
                event.preventDefault();
            });
            $('#zoom-out').on('click',function(event){
                $( "#slider-range" ).slider( "value", ($( "#slider-range" ).slider( "value")-10));
                event.preventDefault();
            });
            $( "#slider-range" ).slider({
                orientation: "horizontal",
                range: false, value:100,
                min:10,max:200,   step:10,
              change: handelSlide, slide: handelSlide
            });

            function handelSlide( event, ui ) {
                var va = ui.value;                
                $( "#amount" ).val(ui.value);
                  va = ((100 - va) /100);
                 currentZoom = (1.4 - (va));
                 var style = 'line-height: ' + currentZoom +'em ; font-size:' + currentZoom + 'em';
                 $('.nodeChartCell').attr('style',style);
                 $('#leftDiv .contact').attr('style',style);
                 //$('.cellTitle').attr('style',style);
                 $( "#amount" ).text(ui.value +"%");
            }
            $( ".google-visualization-orgchart-table" ).removeClass('google-visualization-orgchart-table');
            $( "#slider-range" ).slider( "value",100);
        }
   
        /* Zoom Js End*/
        
        function initDragable(){
          $( ".contact" ).draggable(
                {
                    cancel: "a.ui-icon", // clicking an icon won't initiate dragging
                    revert: "invalid", // when not dropped, the item will revert back to its initial position
                    containment: "document",
                    helper: "clone",
                    cursor: "move"
                }
            ).addClass('nodeChartCellDrag google-visualization-orgchart-node-medium');
          }
        function initDroppable(){
            $( ".contact, .removeContact" ).droppable(
                {
                    hoverClass: "drophover",
              drop: function( event, ui ) {
                    var contactId = ui.draggable.attr('objid') ;  
                     var contactReportToId =$(this ).attr('objid') ; 
                     var contactHasRole =  ui.draggable.attr('hasrole') ; 
                     var contactReportToAccountId = $(this ).attr('accountid') ;
                     var contactAccountId = ui.draggable.attr('accountid');
                      if (contactHasRole === '1'){
                        if(contactReportToAccountId == contactAccountId){
                            updateReportsTo(contactReportToId,contactId );
                        }else{
                            alert("You cannot link Contacts from different Account Hierarchy. Only Contacts within the same Account Hierarchy can be linked and repositioned.");
                        }
                      }
                     initDragable();
                     initDroppable();                   
              }
            });
          }

          //if (scrollBarInit == false){
            //add the scroll bars to the orphaned contacts div
            $("#leftDiv").mCustomScrollbar({
                theme:"dark",
                advanced:{
                    updateOnContentResize: true
                },
                scrollButtons:{
                    enable:true
                }
            });
            scrollBarInit = true;
            
            //}

          //$('#leftDiv').jScrollPane();
       }

       function initTooltipAndPopover(){ 
            var elementId           ;
           $('#chart_div').tooltip({
               selector: "i[data-toggle=tooltip]"
           });
           
           

           /*$("a[data-toggle=popover]") 
               .click(function(e) { e.preventDefault();  })
               .popover({trigger:'click',
                         html:true
                       });
           */
            $("a[data-toggle=popover]") 
                
               .click(function(e) {                   
                    showPopOver(this,e);    
               })
              
              .popover({trigger:'click',
                         html:true,
                         title: '<span>Info</span><button type="button" id="cls" class="close" onclick="closeThePopover(this);" >&times;</button>'
                       });
               
      }
        function closeThePopover(el){
            $(el).parent().parent().hide();
        }
        
       function saveContactAttribute(optElement){
          var espId = $(optElement).attr('espId');
          var contactId = $(optElement).attr('TasConId');
          var type = $(optElement).attr('OptType');
          var val = $(optElement).attr('OptVal');
          
          if (espId !=null && espId != '' &&
            contactId !=null && contactId !='' &&
            type != null && type !='' &&
            val !=null && val !=''){

            //updatePoliticalMap(contactId,type,val);
            Visualforce.remoting.Manager.invokeAction(
              'ContactOrgChartController.updatePoliticalMapRemote',espId,contactId,type,val, function(result){
                //update the image
                var selectedImageSource = $(optElement).find('img').attr('src');
                $(optElement).parent().parent().parent().find('a').find('img')[0].src = selectedImageSource;
                //drawChart();
                return '1';
              }
            );

          }
 
       }

       function DisableOwnerPickList(){
              var userPickLists = $("select[id*='taskOwner_mlktp'] , select[id*='actionOwner_mlktp']");                  
              if (userPickLists !=null && userPickLists.length >0){
                  for(var i=0;i<userPickLists.length;i++){
                      var pl = userPickLists[i]; 
                      var id = $(pl)[0].id;
                      var el = document.getElementById( id );
                      if ($(el)[0].options !=null && $(el)[0].options.length>0){
                         var optionsList = $(el)[0];

                         for(var k=0; k<optionsList.options.length ;k++){
                            if ( optionsList[k].value === '005' ){ //005 is User
                              optionsList[k].selected = true; //Select User from dropdown and then disable the dropdown
                              document.getElementById( id ).disabled=true;                                 
                            }
                         }
                      } 
                  }
              }                
         }

      function ShowCommentDiv(ele,comment){
            var a = $(ele);
            if (comment == 'null'){
              comment = '';
            }
            $('#ttipContent').html('');
            $('#ttipContent').html('<p>' + comment + '</p>');
            var parentOffset = $(ele).parent().offset();
            

            $('.ttip').css({
                left: parentOffset.left - 10 + 'px',
                top: parentOffset.top - 90 + 'px'
            }).show(500);

            /*$('html, body').animate({
               scrollTop: parentOffset.top - 90
               }, 1000);*/
      }

      function AddContactToEspRole(el){
            var contactId = $(el).attr('contactid'); 
            var espId = $(el).attr('espid');
            addContactToRole(contactId);
      }

    </script>

    
</apex:outputPanel>
<script>

var newContact;
$(function() {
   newContact= $( "#dialog-modal-form" ).dialog({
  autoOpen:false,
    height: 650,
    width: 750,
  modal: true
  });
    
    $( "#quickContact" ).click(function(){
      newContact.dialog('open');
        DisableOwnerPickList();
        //fix for the blank dialog close button.
        if($(".ui-dialog-titlebar-close").children().size()==0){
          $(".ui-dialog-titlebar-close").append('<span style="padding-top: 0px; margin-top: 0px; position: relative; top: -2px;">X</span>');   
        }
        $(".labelCol > label").attr("style","width:130px");
    });
   $( "body" ).on('click','#close',function(){
            newContact.dialog('close');
        });


    
 }); 
function  initDialogForm(){
    var hasErrors = $('ul[role="alert"]').html();
    newContact.dialog('close');
    if(hasErrors !=null){
       newContact = $( "#dialog-modal-form" ).dialog({ autoOpen:true, height: 650,  width: 750, modal: true
        });
        DisableOwnerPickList();
        if($(".ui-dialog-titlebar-close").children().size()==0){
            $(".ui-dialog-titlebar-close").append('<span style="padding-top: 0px; margin-top: 0px; position: relative; top: -2px;">X</span>');   
            $(".labelCol > label").attr("style","width:130px");
        }
    }else{
        newContact.dialog('close');
        drawChart(); 
    }
   }
   </script>
</apex:page>