<apex:page controller="CustomAccountLookupController"
  title="Search" 
  showHeader="false" 
  sideBar="false" 
  tabStyle="Account" 
  id="pg">
  
   <script type="text/javascript">
   
   
    function SendCaseToUCP(Id) {
            var workingWindow = window.open('','scc.widget.WorkspaceCommunication');
            workingWindow.postMessage(Id,workingWindow.location.href);
    }
    
    function openContact(){
      sforce.console.getFocusedPrimaryTabId(
                function closeTab1(result) {
                        sforce.console.closeTab(result.id);
                         sforce.console.openPrimaryTab(null,'/003/e',true);
                }
            );
     }

   </script>        
        
        
        
        
  <apex:form >
  <apex:includeScript value="/support/console/26.0/integration.js"/>
  <apex:outputPanel id="page" layout="block" style="margin:5px;padding:10px;padding-top:2px;">
        <apex:tabPanel switchType="client" selectedTab="name1" id="tabbedPanel">

          <!-- SEARCH TAB -->
      <apex:tab label="" name="tab1" id="tabOne">

            <apex:actionRegion >  
                  <apex:outputPanel id="top" layout="block" style="margin:5px;padding:10px;padding-top:2px;">
                    <apex:outputLabel value="Search" style="font-weight:Bold;padding-right:10px;" for="txtSearch"/>
                    <apex:inputText id="txtSearch" value="{!searchString}" />
                      <span style="padding-left:5px"><apex:commandButton id="btnGo" value="Go" action="{!Search}" rerender="searchResults"></apex:commandButton></span>
                      <apex:commandButton onclick="openContact();" value="NewContact" id="btnContact"/>                      
                  </apex:outputPanel>

                <apex:outputPanel id="pnlSearchResults" style="margin:10px;height:350px;overflow-Y:auto;" layout="block">
                    <apex:pageBlock id="searchResults"> 
                      <apex:pageBlockTable value="{!results}" var="a" id="tblResults">
                        <apex:column >
                          <apex:facet name="header">
                            <apex:outputPanel >Name</apex:outputPanel>
                          </apex:facet>
<apex:outputLink value="javascript:window.location.href='/{!a.Id}'" onclick="SendCaseToUCP('{!a.Id}');" rendered="{!NOT(ISNULL(a.Id))}">{!a.Name}</apex:outputLink>

                        </apex:column>
<apex:column >
<apex:facet name="header">
<apex:outputPanel >Account Name</apex:outputPanel>
</apex:facet>
<apex:outputLink value="javascript:window.location.href='/{!a.Id}'" onclick="SendCaseToUCP('{!a.Id}');" rendered="{!NOT(ISNULL(a.Id))}">{!a.Account.Name}</apex:outputLink>
</apex:column>
<apex:column >
<apex:facet name="header">
<apex:outputPanel >Phone</apex:outputPanel>
</apex:facet>
<apex:outputLink value="javascript:window.location.href='/{!a.Id}'" onclick="SendCaseToUCP('{!a.Id}');" rendered="{!NOT(ISNULL(a.Id))}">{!a.Phone}</apex:outputLink>
</apex:column>



                      </apex:pageBlockTable>
                    </apex:pageBlock>
                </apex:outputPanel>
            </apex:actionRegion>

          </apex:tab>

        </apex:tabPanel>
  </apex:outputPanel>
  </apex:form>
</apex:page>