<apex:page docType="html-5.0"
	showHeader="false" 


	sidebar="false" 
	 
	standardController="Opportunity" 
	extensions="DMAPP.CallPlannerController"
	action="{!logCallPlannerMobileUsage}"	
		
	>



	

	

	

	

		<apex:include pageName="DMAPP__NavTabMobile" rendered="{!hasLicensesForOMOrPlaybook}" />

	

	

	

	
	<c:om_callplanner_app oppExtraId="{! shadowOpportunity.Id }" />

	
	

</apex:page>