<apex:page docType="html-5.0"
	showHeader="false" 


	sidebar="false" 
	 
	standardController="Opportunity" 
	extensions="DMAPP.DecisionCriteriaController"
	action="{!logDecisionCriteriaUsage}"	
		
	>



	
		<apex:outputPanel rendered="{! $CurrentPage.parameters.mobile == 'true' }">
        	<apex:include pageName="DMAPP__NavTabMobile" rendered="{! $CurrentPage.parameters.mobile == 'true' }" />
       		<apex:stylesheet value="{!URLFOR($Resource.DMAPP__generated_resource2, 'styles/om_decision_criteria_app_all.css')}"/>
    	</apex:outputPanel>   

    	<apex:includeScript value="{! URLFOR($Resource.prefix) }" />  	

    	<c:MobileRedirect smartOM="true" />

	    <apex:include pageName="DMAPP__SummaryTab2" rendered="{! NOT($CurrentPage.parameters.mobile == 'true') }"  />


	

	
		<apex:include pageName="DMAPP__Quicklinks" />
	

	

	

		

	

	

	

	
	<c:opp_mgmt_decision_criteria_app />

	
	

</apex:page>