<apex:page controller="ENTPOverviewCtlr1" language="{!userLanguage}" docType="html-5.0" showHeader="false"
           sidebar="false" showChat="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false"
           action="{!initCheck}">
    <apex:composition template="ENTPUserTemplate_new">

        <apex:define name="head">

            <script type="text/javascript">
                function loadDetails(caseNumber) {
                    window.location.href = '{!URLFOR($Page.ENTPCaseDetailPage_new)}?lang={!userLanguage}&caseNumber=' + caseNumber;
                }

            </script>


            <script type="text/javascript">
                var _elqQ = _elqQ || [];
                _elqQ.push(['elqSetSiteId', '2086']);
                _elqQ.push(['elqTrackPageView']);

                (function () {
                    function async_load() {
                        var s = document.createElement('script');
                        s.type = 'text/javascript';
                        s.async = true;
                        s.src = '//img.en25.com/i/elqCfg.min.js';
                        var x = document.getElementsByTagName('script')[0];
                        x.parentNode.insertBefore(s, x);
                    }

                    if (window.addEventListener) window.addEventListener('DOMContentLoaded', async_load, false);
                    else if (window.attachEvent) window.attachEvent('onload', async_load);
                })();
            </script>


        </apex:define>

        <apex:define name="title">
            <apex:outputText escape="false" value="{!$Label.ENTPOverviewTitle}"/>
        </apex:define>

        <apex:define name="pageTitle">
            <div class="heading-2">
                <apex:outputText value="{!$Label.ENTPOverview}"/>
            </div>

        </apex:define>

        <apex:define name="body">
            <apex:outputPanel rendered="{!LEN(pageError)!=0}" styleClass="i-form-error-general form-error block">
                <p class="no-margin no-padding">
                    <apex:outputtext value="{!pageError}"/>
                </p>
            </apex:outputPanel>

            <!--  <p class="text hidden-xs">{!$Label.ENTPOverviewPageCopy}</p>-->
            <div class="container container--fluid">
                <div class="grid-row">
                    <apex:outputPanel rendered="{!CustRole1 =='private cloud'}">
                        <div class="large-3 hidden-xs">
                            <div class="excard" style="width:300px;padding-bottom:18.7px;">


                                <a href="{!URLFOR($Page.ENTPNewCasePC_new)}?lang={!userLanguage}"
                                   class="excard__link">
                                    <img src="{!$Resource.ENTPSubmit_img}" class="Fill-1"/>
                                    <br/>
                                    <!--  <p class="Submit-New-Incident" style="padding:6px 0px 5px;">Submit New Ticket</p>-->
                                    <p class="Submit-New-Incident text--medium">{!$Label.ENTPSubmitNewIncidentLabel}</p>
                                </a>


                            </div>
                        </div>
                        <!-- for mobile - Private - Cloud -->
                        <div class="xs-12 small-8 hidden-large hidden-medium hidden-xl">
                            <div class="excard">


                                <a href="{!URLFOR($Page.ENTPNewCasePC_new)}?lang={!userLanguage}"
                                   class="excard__link">
                                    <img src="{!$Resource.ENTPSubmit_img}" class="Fill-1"/>
                                    <br/>
                                    <!--  <p class="Submit-New-Incident" style="padding:6px 0px 5px;">Submit New Ticket</p>-->
                                    <p class="Submit-New-Incident text--medium">{!$Label.ENTPSubmitNewIncidentLabel}</p>
                                </a>


                            </div>
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!CustRole1 =='mits'}">
                        <div class="large-3">
                            <div class="excard" style="width:300px;padding-bottom:18.7px;">


                                <a href="{!URLFOR($Page.ENTPNewCaseMITS)}?lang={!userLanguage}">
                                    <img src="{!$Resource.ENTPSubmit_img}" class="Fill-1"/>
                                    <br/>
                                    <!--  <p class="Submit-New-Incident" style="padding:6px 0px 5px;">Submit New Ticket</p>
                                         <span class="Submit-New-Incident">{!$Label.ENTPNewSupportRequestLabel}</span>-->
                                    <p class="Submit-New-Incident text--medium">
                                        {!$Label.ENTPNewSupportRequestLabel}
                                    </p>
                                </a>


                            </div>
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!CustRole1 =='tps'}">
                        <div class="large-3">
                            <div class="excard" style="width:300px;padding-bottom:18.7px;">


                                <a href="{!URLFOR($Page.ENTPNewCase_new)}?lang={!userLanguage}" class="excard__link">

                                    <img src="{!$Resource.ENTPSubmit_img}" class="Fill-1"/>
                                    <br/>
                                    <!--  <p class="Submit-New-Incident" style="padding:6px 0px 5px;">Submit New Ticket</p>-->
                                    <p class="Submit-New-Incident text--medium">{!$Label.ENTPSubmitNewTicketLabel}</p>
                                </a>


                            </div>
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!CustRole1 =='private cloud'}">
                        <div class="large-3 hidden-xs">
                            <div class="excard" style="width:300px;">


                                <a href="{!URLFOR($Page.ENTPManageTickets)}">
                                    <img src="{!$Resource.ENTPManage_img}" class="Fill-2"/>
                                    <br/>
                                    <!-- <p class="excard__description" style="padding-left:15px;">Manage Incidents</p>-->
                                    <span class="Manage-Incidents text--medium">{!$Label.ENTPMitsManageLabel}</span>
                                </a>

                            </div>
                        </div>
                        <!-- for Mobile - Private Cloud -->
                        <div class="xs-12 small-8 hidden-large hidden-medium hidden-xl">
                            <div class="excard">


                                <a href="{!URLFOR($Page.ENTPManageTickets)}">
                                    <img src="{!$Resource.ENTPManage_img}" class="Fill-2"/>
                                    <br/>
                                    <!-- <p class="excard__description" style="padding-left:15px;">Manage Incidents</p>-->
                                    <span class="Manage-Incidents text--medium">{!$Label.ENTPMitsManageLabel}</span>
                                </a>

                            </div>
                        </div>

                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!CustRole1 =='mits'}">
                        <div class="large-3">
                            <div class="excard" style="width:300px;">


                                <a href="{!URLFOR($Page.ENTPManageTickets)}">
                                    <img src="{!$Resource.ENTPManage_img}" class="Fill-2"/>
                                    <br/>
                                    <!-- <p class="excard__description" style="padding-left:15px;">Manage Incidents</p>-->
                                    <span class="Manage-Incidents text--medium"
                                          style="padding-left:45px;">{!$Label.ENTPMitsManageLabel}</span>
                                </a><br/>

                            </div>
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!CustRole1 =='tps'}">
                        <div class="large-3">
                            <div class="excard" style="width:300px;">


                                <a href="{!URLFOR($Page.ENTPManageTickets)}">
                                    <img src="{!$Resource.ENTPManage_img}" class="Fill-2"/>
                                    <br/>
                                    <!-- <p class="excard__description" style="padding-left:15px;">Manage Incidents</p>-->
                                    <span class="Manage-Incidents text--medium"
                                          style="padding-left:45px;">{!$Label.ENTPTpsManageLabel}</span>
                                </a>

                            </div>
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!CustRole1 =='tps'}">
                        <div class="large-3">
                            <div class="excard" style="width:300px;padding-bottom:33.5px;">

                                <a href="{!URLFOR($Page.ArticleList_new)}">
                                    <img src="{!$Resource.ENTPFAQ_img}" class="Fill-3"/>
                                    <br/>
                                    <!-- <p class="excard__description" style="padding-left:38px;">Knowledge </p>-->
                                    <span class="Knowledge text--medium"
                                          style="padding-left:40px;">{!$Label.ENTPTpsKnowledgeLabel}</span>
                                </a>

                            </div>
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!CustRole1 =='private cloud'}">
                        <div class="large-3 hidden-xs">
                            <div class="excard" style="width:300px;padding-bottom:33.5px;">

                                <a href="{!URLFOR($Page.ArticleList_new)}">
                                    <img src="{!$Resource.ENTPFAQ_img}" class="Fill-3"/>
                                    <br/>
                                    <!-- <p class="excard__description" style="padding-left:38px;">Knowledge </p>-->
                                    <span class="Knowledge text--medium">{!$Label.ENTPNavFAQ}</span>
                                </a>

                            </div>
                        </div>
                        <!-- For Mobile - Private Cloud -->
                        <div class="xs-12 small-8 hidden-large hidden-medium hidden-xl">
                            <div class="excard">

                                <a href="{!URLFOR($Page.ArticleList_new)}">
                                    <img src="{!$Resource.ENTPFAQ_img}" class="Fill-3"/>
                                    <br/>
                                    <!-- <p class="excard__description" style="padding-left:38px;">Knowledge </p>-->
                                    <span class="Knowledge text--medium">{!$Label.ENTPNavFAQ}</span>
                                </a>

                            </div>
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!CustRole1 =='mits'}">
                        <div class="large-3">
                            <div class="excard" style="width:300px;padding-bottom:33.5px;">

                                <a href="{!URLFOR($Page.ArticleList_new)}">
                                    <img src="{!$Resource.ENTPFAQ_img}" class="Fill-3"/>
                                    <br/>
                                    <!-- <p class="excard__description" style="padding-left:38px;">Knowledge </p>-->
                                    <span class="Knowledge text--medium"
                                          style="padding-left:40px;">{!$Label.ENTPNavFAQ}</span>
                                </a><br/>

                            </div>
                        </div>
                    </apex:outputPanel>
                </div>
            </div>

            <!-- end of Overview Links Container -->

            <div class="container">

                <apex:form id="theform" forceSSL="true" onsubmit="/*$('.loading-container').show();*/">
                    <div class="grid-row">

                        <div class="large-7 xs-10 text--small">


                            <apex:inputText rendered="{!CustRole1 =='tps'}" value="{!q}"
                                            html-placeholder="{!$Label.ENTPFindTicketNumber}"></apex:inputText>
                            <apex:inputText rendered="{!CustRole1 =='mits'}" value="{!q}"
                                            html-placeholder="{!$Label.ENTPMITSFindIncidentNum}"/>
                            <apex:inputText rendered="{!CustRole1 =='private cloud'}" value="{!q}"
                                            html-placeholder="{!$Label.ENTPFindTicketNumberPC}"/>

                        </div>
                        <!--Search button for English-->
                        <apex:outputPanel rendered="{!userLanguage == 'en'}">
                            <div class="large-1 hidden-xs Rectangle-2-Copy-7">


                                <apex:commandButton style="width:90px;margin-right:15px;" value="{!$Label.search}"
                                                    title="{!$Label.search}" action="{!searchOverview}"
                                                    reRender="topList"/>

                            </div>
                        </apex:outputPanel><!-- End English Search Button-->
                        <!--Search button for French-->
                        <apex:outputPanel rendered="{!userLanguage == 'fr'}">
                            <div class="large-1 hidden-xs Rectangle-2-Copy-7">


                                <apex:commandButton style="width:135px;margin-right:5px;" value="{!$Label.search}"
                                                    title="{!$Label.search}" action="{!searchOverview}"
                                                    reRender="topList"/>

                            </div>
                        </apex:outputPanel><!-- End French Search Button-->
                        <div class="xs-2 hidden-large hidden-xl hidden-medium Rectangle-2-Copy-5">

                            <apex:commandLink value="" action="{!searchOverview}">
                                <i style="padding:9px 0px;" class="icon icon-core-spyglass icon--primary"></i>
                            </apex:commandLink>
                            <apex:commandButton style="position:absolute;left:-3000px;" action="{!searchOverview}"
                                                reRender="topList"/>

                        </div>


                    </div>
                </apex:form>
                <br/>
            </div>
            <!--List of recent incidents-->
            <div id="topList">

                <apex:outputPanel rendered="{!CustRole1 =='tps'}">
                    <h2>{!$Label.VITILcareSecOverviewHeader}</h2><br/>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!CustRole1 =='mits'}">
                    <h2 class="page-header-secondary">{!$Label.ENTPSecOverviewHeaderPC}</h2>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!CustRole1 =='private cloud'}">
                    <h2 class="page-header-secondary">{!$Label.ENTPSecOverviewHeaderPC}</h2>
                </apex:outputPanel>

                <apex:outputPanel rendered="{!CustRole1 =='tps'}">
                    <div class="container container--limitedRec-width Rectangle-2-Copy-5">

                        <div class="grid-row">
                            <apex:outputPanel >
                                <div class="large-2 offset-1 hidden-xs text--medium"
                                     style="background-color: #54595f; color:#FFF;">
                                    {!$Label.ENTPMITSStatus}
                                </div>
                                <div class="large-2 offset-1 hidden-xs text--small"
                                     style="background-color: #54595f; color:#FFF;">
                                    {!$Label.VITILcareOVRecUpdHeadTicket}
                                </div>
                                <div class="large-2 offset-1 hidden-xs text--small" style="background-color: #54595f; color:#FFF;">
                                     {!$Label.ENTPCustTicketNum}
                                </div>
                              <!--  <div class="large-2 offset-1 hidden-xs text--medium"
                                     style="background-color: #54595f; color:#FFF;">
                                    {!$Label.VITILCareCreatedByLabel}
                                </div>-->
                                <div class="large-3 offset-1 hidden-xs text--medium"
                                     style="background-color: #54595f; color:#FFF;">
                                    {!$Label.VITILcareOVRecUpdDescHead}
                                </div>
                                <div class="large-3 offset-1 hidden-xs text--medium"
                                     style="background-color: #54595f; color:#FFF;">
                                    {!$Label.VITILcareOVRecUpdLastUpdateHead}
                                </div>
                            </apex:outputPanel>
                        </div>

                        <apex:repeat value="{!topListings}" var="case" rendered="{!topListings.size != 0 }">
                            <div class="grid-row">
                                <div class="large-2 offset-1 hidden-xs text--medium">
                                    <a href="javascript:;" onclick="loadDetails('{!case.refNo}')" name="{!case.subject}"
                                       class="color-purple" style="cursor:pointer;display:block;">
                                        <apex:outputText rendered="{!userLanguage == 'en'}"
                                                         style="min-width: 25px;"
                                                         title="{!intStatusExtStatusMap[case.status]}"
                                                         value="{!intStatusExtStatusMap[case.status]}"/>

                                        <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                         style="min-width: 25px;"
                                                         title="{!intStatusExtStatusMap[case.status]}"
                                                         value="{!intStatusExtStatusMap[case.status]}"/>
                                    </a>
                                </div>
                                <apex:outputPanel rendered="{!AND(case.subject != 'Remove portal access',case.subject != 'Request portal access')}">
                                    <div class="large-2 offset-1 hidden-xs text--medium" style="padding-bottom:5px;">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.lynxTicketNo != null, case.lynxTicketNo, 'unassigned')}"/>
                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.lynxTicketNo != null, case.lynxTicketNo, 'non affectée')}"/>
                                        </a>
                                    </div>
                                </apex:outputPanel>
<apex:outputPanel rendered="{!AND(case.subject != 'Remove portal access',case.subject != 'Request portal access')}">
                                    <div class="large-2 offset-1 hidden-xs text--medium" style="padding-bottom:5px;">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!case.CustTicketNum}"/>
                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!case.CustTicketNum}"/>
                                        </a>
                                    </div>
                                </apex:outputPanel>
                           <apex:outputPanel rendered="{!case.subject == 'Remove portal access'}">
                                    <div class="large-2 offset-1 hidden-xs text--medium" style="padding-bottom:5px;">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.refNo != null, case.refNo, 'unassigned')}"/>
                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.refNo != null, case.refNo, 'non affectée')}"/>
                                        </a>
                                    </div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!case.subject == 'Request portal access'}">
                                    <div class="large-2 offset-1 hidden-xs text--medium" style="padding-bottom:5px;">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.refNo != null, case.refNo, 'unassigned')}"/>
                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.refNo != null, case.refNo, 'non affectée')}"/>
                                        </a>
                                    </div>
                                </apex:outputPanel>
                              <!--  <div class="large-2 offset-1 hidden-xs text--medium" style="padding-bottom:5px;">
                                    <a href="javascript:;" onclick="loadDetails('{!case.refNo}')" name="{!case.subject}"
                                       class="color-purple" style="cursor:pointer;display:block;">
                                        <apex:outputText styleClass="recent-request-item-createdby"
                                                         value="{!case.CreatedBy}"/>
                                    </a>

                                </div>-->

                                <div class="large-3 offset-1 hidden-xs text--medium" style="padding-bottom:5px;">
                                    <a href="javascript:;" onclick="loadDetails('{!case.refNo}')" name="{!case.subject}"
                                       class="color-purple" style="cursor:pointer;display:block;">
                                        <apex:outputText styleClass="recent-request-item-subject"
                                                         value="{!case.subject}"/>
                                    </a>
                                </div>
                                <div class="large-3 offset-1 hidden-xs text--medium" style="padding-bottom:5px;">
                                    <a href="javascript:;" onclick="loadDetails('{!case.refNo}')" name="{!case.subject}"
                                       class="color-purple" style="cursor:pointer;display:block;">
                                        <apex:outputText styleClass="recent-request-item-lastupdate"
                                                         value="{!case.timeDiff}"/>
                                    </a>
                                </div>
                            </div>
                        </apex:repeat>
                        <!--************ Show for mobile - TPS***************-->
                        <apex:repeat value="{!topListings}" var="case" rendered="{!topListings.size != 0 }">
                            <div class="grid-row">
                                <apex:outputPanel rendered="{!AND(case.subject != 'Remove portal access',case.subject != 'Request portal access')}">
                                    <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                         style="background-color: #54595f; color:#FFF; text-align:left; padding:5px 10px 5px 0;">
                                        <div class="xs-6">
                                            {!$Label.VITILcareOVRecUpdHeadTicket}
                                        </div>
                                        <div class="xs-6">
                                            <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                               name="{!case.subject}" style="cursor:pointer;display:block; color:#FFF;">
                                                <apex:outputText rendered="{!userLanguage == 'en'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.lynxTicketNo != null, case.lynxTicketNo, 'unassigned')}"/>
                                                <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.lynxTicketNo != null, case.lynxTicketNo, 'non affectée')}"/>
                                            </a>
                                        </div>
                                    </div>
                                </apex:outputPanel>

                                <apex:outputPanel rendered="{!case.subject == 'Remove portal access'}">
                                    <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                         style="background-color: #54595f; color:#FFF; text-align:left; padding:5px 10px 5px 0;">
                                        <div class="xs-6">
                                            {!$Label.VITILcareOVRecUpdHeadTicket}
                                        </div>
                                        <div class="xs-6">
                                            <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                               name="{!case.subject}" class="color-purple"
                                               style="cursor:pointer;display:block;">
                                                <apex:outputText rendered="{!userLanguage == 'en'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.refNo != null, case.refNo, 'unassigned')}"/>
                                                <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.refNo != null, case.refNo, 'non affectée')}"/>
                                            </a>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!case.subject == 'Request portal access'}">
                                    <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                         style="background-color: #54595f; color:#FFF; text-align:left; padding:5px 10px 5px 0;">
                                        <div class="xs-6">
                                            {!$Label.VITILcareOVRecUpdHeadTicket}
                                        </div>
                                        <div class="xs-6">
                                            <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                               name="{!case.subject}" class="color-purple"
                                               style="cursor:pointer;display:block;">
                                                <apex:outputText rendered="{!userLanguage == 'en'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.refNo != null, case.refNo, 'unassigned')}"/>
                                                <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.refNo != null, case.refNo, 'non affectée')}"/>
                                            </a>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                                <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                     style="text-align:left; padding:5px 10px 5px 0;">
                                    <div class="xs-6 strong">
                                        {!$Label.ENTPCustTicketNum}
                                    </div>
                                    <div class="xs-6">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             style="min-width: 25px;"
                                                             title="{!case.CustTicketNum}"
                                                             value="{!case.CustTicketNum}"/>

                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             style="min-width: 25px;"
                                                             title="{!case.CustTicketNum}"
                                                             value="{!case.CustTicketNum}"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                     style="text-align:left; padding:5px 10px 5px 0;">
                                    <div class="xs-6 strong">
                                        {!$Label.ENTPMITSStatus}
                                    </div>
                                    <div class="xs-6">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             style="min-width: 25px;"
                                                             title="{!intStatusExtStatusMap[case.status]}"
                                                             value="{!intStatusExtStatusMap[case.status]}"/>

                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             style="min-width: 25px;"
                                                             title="{!intStatusExtStatusMap[case.status]}"
                                                             value="{!intStatusExtStatusMap[case.status]}"/>
                                        </a>
                                    </div>
                                </div>
                            <!--    <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                     style="text-align:left; padding:5px 10px 5px 0;">
                                    <div class="xs-6 strong">
                                        {!$Label.VITILCareCreatedByLabel}
                                    </div>
                                    <div class="xs-6">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText styleClass="text--medium" value="{!case.CreatedBy}"/>
                                        </a>

                                    </div>
                                </div> -->
                                <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                     style="text-align:left; padding:5px 10px 5px 0;">
                                    <div class="xs-6 strong">
                                        {!$Label.VITILcareOVRecUpdDescHead}
                                    </div>
                                    <div class="xs-6">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText styleClass="text--medium" value="{!case.subject}"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                     style="text-align:left; padding:5px 10px 5px 0;">
                                    <div class="xs-6 strong">
                                        {!$Label.VITILcareOVRecUpdLastUpdateHead}
                                    </div>
                                    <div class="xs-6">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText styleClass="text--medium" style="text-align:left;"
                                                             value="{!case.timeDiff}"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </apex:repeat>
                    </div>


                </apex:outputPanel>
                <!--*******************Private cloud*****************-->
                <apex:outputPanel rendered="{!CustRole1 =='private cloud'}">
                    <div class="container container--limitedRec-width Rectangle-2-Copy-5">
                        <div class="grid-row">
                            <apex:outputPanel rendered="{!userLanguage == 'en'}">
                                <div class="large-2 offset-1 hidden-xs" style="background-color: #54595f; color:#FFF;">
                                    {!$Label.ENTPMITSStatus}
                                </div>
                                <div class="large-2 offset-1 hidden-xs" style="background-color: #54595f; color:#FFF;">
                                    {!$Label.ENTPOVRRecUpdHeadTicketPC}
                                </div>
                                <div class="large-2 offset-1 hidden-xs" style="background-color: #54595f; color:#FFF;">
                                    {!$Label.VITILCareCreatedByLabel}
                                </div>
                                <div class="large-3 offset-1 hidden-xs" style="background-color: #54595f; color:#FFF;">
                                    {!$Label.VITILcareOVRecUpdDescHead}
                                </div>
                                <div class="large-3 offset-1 hidden-xs" style="background-color: #54595f; color:#FFF;">
                                    {!$Label.VITILcareOVRecUpdLastUpdateHead}
                                </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!userLanguage == 'fr'}">
                                <div class="large-2 offset-1 hidden-xs text--medium"
                                     style="background-color: #54595f; color:#FFF;">
                                    {!$Label.ENTPMITSStatus}
                                </div>
                                <div class="large-2 offset-1 hidden-xs text--medium"
                                     style="background-color: #54595f; color:#FFF;">
                                    {!$Label.ENTPOVRRecUpdHeadTicketPC}
                                </div>
                                <div class="large-2 offset-1 hidden-xs text--medium"
                                     style="background-color: #54595f; color:#FFF;">
                                    {!$Label.VITILCareCreatedByLabel}
                                </div>
                                <div class="large-3 offset-1 hidden-xs text--medium"
                                     style="background-color: #54595f; color:#FFF;">
                                    {!$Label.VITILcareOVRecUpdDescHead}
                                </div>
                                <div class="large-3 offset-1 hidden-xs text--medium"
                                     style="background-color: #54595f; color:#FFF;">
                                    {!$Label.VITILcareOVRecUpdLastUpdateHead}
                                </div>
                            </apex:outputPanel>
                        </div>
                        <apex:repeat value="{!topListings}" var="case" rendered="{!topListings.size != 0 }">
                            <div class="grid-row">
                                <div class="large-2 offset-1 hidden-xs text--medium">
                                    <a href="javascript:;" onclick="loadDetails('{!case.refNo}')" name="{!case.subject}"
                                       class="color-purple" style="cursor:pointer;display:block;">
                                        <apex:outputText rendered="{!userLanguage == 'en'}"
                                                         style="min-width: 25px;"
                                                         title="{!intStatusExtStatusMap[case.status]}"
                                                         value="{!intStatusExtStatusMap[case.status]}"/>

                                        <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                         style="min-width: 25px;"
                                                         title="{!intStatusExtStatusMap[case.status]}"
                                                         value="{!intStatusExtStatusMap[case.status]}"/>
                                    </a>
                                </div>
                                <apex:outputPanel rendered="{!AND(case.subject != 'Remove portal access',case.subject != 'Request portal access')}">
                                    <div class="large-2 offset-1 hidden-xs text--medium">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.lynxTicketNo != null, case.lynxTicketNo, 'unassigned')}"/>
                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.lynxTicketNo != null, case.lynxTicketNo, 'non affectée')}"/>
                                        </a>
                                    </div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!case.subject == 'Remove portal access'}">
                                    <div class="large-2 offset-1 hidden-xs text--medium">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.refNo != null, case.refNo, 'unassigned')}"/>
                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.refNo != null, case.refNo, 'non affectée')}"/>
                                        </a>
                                    </div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!case.subject == 'Request portal access'}">
                                    <div class="large-2 offset-1 hidden-xs text--medium">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.refNo != null, case.refNo, 'unassigned')}"/>
                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.refNo != null, case.refNo, 'non affectée')}"/>
                                        </a>
                                    </div>
                                </apex:outputPanel>
                                <div class="large-2 offset-1 hidden-xs text--medium">
                                    <a href="javascript:;" onclick="loadDetails('{!case.refNo}')" name="{!case.subject}"
                                       class="color-purple" style="cursor:pointer;display:block;">
                                        <apex:outputText styleClass="recent-request-item-createdby"
                                                         value="{!case.CreatedBy}"/>
                                    </a>

                                </div>

                                <div class="large-3 offset-1 hidden-xs text--medium">
                                    <a href="javascript:;" onclick="loadDetails('{!case.refNo}')" name="{!case.subject}"
                                       class="color-purple" style="cursor:pointer;display:block;">
                                        <apex:outputText styleClass="recent-request-item-subject"
                                                         value="{!case.subject}"/>
                                    </a>
                                </div>
                                <div class="large-3 offset-1 hidden-xs text--medium">
                                    <a href="javascript:;" onclick="loadDetails('{!case.refNo}')" name="{!case.subject}"
                                       class="color-purple" style="cursor:pointer;display:block;">
                                        <apex:outputText styleClass="recent-request-item-lastupdate"
                                                         value="{!case.timeDiff}"/>
                                    </a>
                                </div>
                            </div>
                        </apex:repeat>
                        <!-- *****************Show for mobile -Private Cloud**************-->
                        <apex:repeat value="{!topListings}" var="case" rendered="{!topListings.size != 0 }">
                            <div class="grid-row">
                                <apex:outputPanel rendered="{!AND(case.subject != 'Remove portal access',case.subject != 'Request portal access')}">
                                    <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                         style="background-color: #54595f; color:#FFF; text-align:left; padding:5px 10px 5px 0;">
                                        <div class="xs-6">
                                            {!$Label.ENTPOVRRecUpdHeadTicketPC}
                                        </div>
                                        <div class="xs-6">
                                            <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                               name="{!case.subject}" style="cursor:pointer;display:block; color:#FFF;">
                                                <apex:outputText rendered="{!userLanguage == 'en'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.lynxTicketNo != null, case.lynxTicketNo, 'unassigned')}"/>
                                                <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.lynxTicketNo != null, case.lynxTicketNo, 'non affectée')}"/>
                                            </a>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!case.subject == 'Remove portal access'}">
                                    <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                         style="background-color: #54595f; color:#FFF; text-align:left; padding:5px 10px 5px 0;">
                                        <div class="xs-6">
                                            {!$Label.ENTPOVRRecUpdHeadTicketPC}
                                        </div>
                                        <div class="xs-6">
                                            <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                               name="{!case.subject}" class="color-purple"
                                               style="cursor:pointer;display:block;">
                                                <apex:outputText rendered="{!userLanguage == 'en'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.refNo != null, case.refNo, 'unassigned')}"/>
                                                <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.refNo != null, case.refNo, 'non affectée')}"/>
                                            </a>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!case.subject == 'Request portal access'}">
                                    <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                         style="background-color: #54595f; color:#FFF; text-align:left; padding:5px 10px 5px 0;">
                                        <div class="xs-6">
                                            {!$Label.ENTPOVRRecUpdHeadTicketPC}
                                        </div>
                                        <div class="xs-6">
                                            <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                               name="{!case.subject}" class="color-purple"
                                               style="cursor:pointer;display:block;">
                                                <apex:outputText rendered="{!userLanguage == 'en'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.refNo != null, case.refNo, 'unassigned')}"/>
                                                <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.refNo != null, case.refNo, 'non affectée')}"/>
                                            </a>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                                <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                     style="text-align:left; padding:5px 10px 5px 0;">
                                    <div class="xs-6 strong">
                                        {!$Label.ENTPMITSStatus}
                                    </div>
                                    <div class="xs-6">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             style="min-width: 25px;"
                                                             title="{!intStatusExtStatusMap[case.status]}"
                                                             value="{!intStatusExtStatusMap[case.status]}"/>

                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             style="min-width: 25px;"
                                                             title="{!intStatusExtStatusMap[case.status]}"
                                                             value="{!intStatusExtStatusMap[case.status]}"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                     style="text-align:left; padding:5px 10px 5px 0;">
                                    <div class="xs-6 strong">
                                        {!$Label.VITILCareCreatedByLabel}
                                    </div>
                                    <div class="xs-6">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText styleClass="text--medium" value="{!case.CreatedBy}"/>
                                        </a>

                                    </div>
                                </div>
                                <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                     style="text-align:left; padding:5px 10px 5px 0;">
                                    <div class="xs-6 strong">
                                        {!$Label.VITILcareOVRecUpdDescHead}
                                    </div>
                                    <div class="xs-6">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText styleClass="text--medium" value="{!case.subject}"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                     style="text-align:left; padding:5px 10px 5px 0;">
                                    <div class="xs-6 strong">
                                        {!$Label.VITILcareOVRecUpdLastUpdateHead}
                                    </div>
                                    <div class="xs-6">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText styleClass="text--medium" style="text-align:left;"
                                                             value="{!case.timeDiff}"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </apex:repeat>


                    </div>

                </apex:outputPanel>
                <!--*********************MITS*******************************-->
                <apex:outputPanel rendered="{!CustRole1 =='mits'}">
                    <div class="container container--limitedRec-width Rectangle-2-Copy-5">
                        <div class="grid-row">
                            <div class="large-2 offset-1 hidden-xs text--medium"
                                 style="background-color: #54595f; color:#FFF;">
                                {!$Label.ENTPMITSStatus}
                            </div>
                            <div class="large-2 offset-1 hidden-xs text--medium"
                                 style="background-color: #54595f; color:#FFF;">
                                {!$Label.ENTPOVRRecUpdHeadTicketPC}
                            </div>
                            <div class="large-2 offset-1 hidden-xs text--medium"
                                 style="background-color: #54595f; color:#FFF;">
                                {!$Label.VITILCareCreatedByLabel}
                            </div>
                            <div class="large-3 offset-1 hidden-xs text--medium"
                                 style="background-color: #54595f; color:#FFF;">
                                {!$Label.VITILcareOVRecUpdDescHead}
                            </div>
                            <div class="large-3 offset-1 hidden-xs text--medium"
                                 style="background-color: #54595f; color:#FFF;">
                                {!$Label.VITILcareOVRecUpdLastUpdateHead}
                            </div>
                        </div>
                        <apex:repeat value="{!topListings}" var="case" rendered="{!topListings.size != 0 }">
                            <div class="grid-row">
                                <div class="large-2 offset-1 hidden-xs text--medium">
                                    <a href="javascript:;" onclick="loadDetails('{!case.refNo}')" name="{!case.subject}"
                                       class="color-purple" style="cursor:pointer;display:block;">
                                        <apex:outputText rendered="{!userLanguage == 'en'}"
                                                         style="min-width: 25px;"
                                                         title="{!intStatusExtStatusMap[case.status]}"
                                                         value="{!intStatusExtStatusMap[case.status]}"/>

                                        <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                         style="min-width: 25px;"
                                                         title="{!intStatusExtStatusMap[case.status]}"
                                                         value="{!intStatusExtStatusMap[case.status]}"/>
                                    </a>
                                </div>
                                <apex:outputPanel rendered="{!AND(case.subject != 'Remove portal access',case.subject != 'Request portal access')}">
                                    <div class="large-2 offset-1 hidden-xs text--medium">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.lynxTicketNo != null, case.lynxTicketNo, 'unassigned')}"/>
                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.lynxTicketNo != null, case.lynxTicketNo, 'non affectée')}"/>
                                        </a>
                                    </div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!case.subject == 'Remove portal access'}">
                                    <div class="large-2 offset-1 hidden-xs text--medium">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.refNo != null, case.refNo, 'unassigned')}"/>
                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.refNo != null, case.refNo, 'non affectée')}"/>
                                        </a>
                                    </div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!case.subject == 'Request portal access'}">
                                    <div class="large-2 offset-1 hidden-xs text--medium">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.refNo != null, case.refNo, 'unassigned')}"/>
                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             styleClass="recent-request-item-refnumber"
                                                             value="{!IF(case.refNo != null, case.refNo, 'non affectée')}"/>
                                        </a>
                                    </div>
                                </apex:outputPanel>
                                <div class="large-2 offset-1 hidden-xs text--medium">
                                    <a href="javascript:;" onclick="loadDetails('{!case.refNo}')" name="{!case.subject}"
                                       class="color-purple" style="cursor:pointer;display:block;">
                                        <apex:outputText styleClass="recent-request-item-createdby"
                                                         value="{!case.CreatedBy}"/>
                                    </a>

                                </div>

                                <div class="large-3 offset-1 hidden-xs text--medium">
                                    <a href="javascript:;" onclick="loadDetails('{!case.refNo}')" name="{!case.subject}"
                                       class="color-purple" style="cursor:pointer;display:block;">
                                        <apex:outputText styleClass="recent-request-item-subject"
                                                         value="{!case.subject}"/>
                                    </a>
                                </div>
                                <div class="large-3 offset-1 hidden-xs text--medium">
                                    <a href="javascript:;" onclick="loadDetails('{!case.refNo}')" name="{!case.subject}"
                                       class="color-purple" style="cursor:pointer;display:block;">
                                        <apex:outputText styleClass="recent-request-item-lastupdate"
                                                         value="{!case.timeDiff}"/>
                                    </a>
                                </div>
                            </div>
                        </apex:repeat>
                        <!-- ********************Show for mobile-MITS*****************************-->
                        <apex:repeat value="{!topListings}" var="case" rendered="{!topListings.size != 0 }">
                            <div class="grid-row">
                                <apex:outputPanel rendered="{!AND(case.subject != 'Remove portal access',case.subject != 'Request portal access')}">
                                    <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                         style="background-color: #54595f; color:#FFF; text-align:left; padding:5px 10px 5px 0;">
                                        <div class="xs-6">
                                            {!$Label.ENTPOVRRecUpdHeadTicketPC}
                                        </div>
                                        <div class="xs-6">
                                            <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                               name="{!case.subject}" style="cursor:pointer;display:block; color:#FFF;">
                                                <apex:outputText rendered="{!userLanguage == 'en'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.lynxTicketNo != null, case.lynxTicketNo, 'unassigned')}"/>
                                                <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.lynxTicketNo != null, case.lynxTicketNo, 'non affectée')}"/>
                                            </a>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!case.subject == 'Remove portal access'}">
                                    <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                         style="background-color: #54595f; color:#FFF; text-align:left; padding:5px 10px 5px 0;">
                                        <div class="xs-6">
                                            {!$Label.ENTPOVRRecUpdHeadTicketPC}
                                        </div>
                                        <div class="xs-6">
                                            <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                               name="{!case.subject}" class="color-purple"
                                               style="cursor:pointer;display:block;">
                                                <apex:outputText rendered="{!userLanguage == 'en'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.refNo != null, case.refNo, 'unassigned')}"/>
                                                <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.refNo != null, case.refNo, 'non affectée')}"/>
                                            </a>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!case.subject == 'Request portal access'}">
                                    <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                         style="background-color: #54595f; color:#FFF; text-align:left; padding:5px 10px 5px 0;">
                                        <div class="xs-6">
                                            {!$Label.ENTPOVRRecUpdHeadTicketPC}
                                        </div>
                                        <div class="xs-6">
                                            <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                               name="{!case.subject}" class="color-purple"
                                               style="cursor:pointer;display:block;">
                                                <apex:outputText rendered="{!userLanguage == 'en'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.refNo != null, case.refNo, 'unassigned')}"/>
                                                <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                                 styleClass="text--medium"
                                                                 value="{!IF(case.refNo != null, case.refNo, 'non affectée')}"/>
                                            </a>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                                <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                     style="text-align:left; padding:5px 10px 5px 0;">
                                    <div class="xs-6 strong">
                                        {!$Label.ENTPMITSStatus}
                                    </div>
                                    <div class="xs-6">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText rendered="{!userLanguage == 'en'}"
                                                             style="min-width: 25px;"
                                                             title="{!intStatusExtStatusMap[case.status]}"
                                                             value="{!intStatusExtStatusMap[case.status]}"/>

                                            <apex:outputText rendered="{!userLanguage == 'fr'}"
                                                             style="min-width: 25px;"
                                                             title="{!intStatusExtStatusMap[case.status]}"
                                                             value="{!intStatusExtStatusMap[case.status]}"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                     style="text-align:left; padding:5px 10px 5px 0;">
                                    <div class="xs-6 strong">
                                        {!$Label.VITILCareCreatedByLabel}
                                    </div>
                                    <div class="xs-6">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText styleClass="text--medium" value="{!case.CreatedBy}"/>
                                        </a>

                                    </div>
                                </div>
                                <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                     style="text-align:left; padding:5px 10px 5px 0;">
                                    <div class="xs-6 strong">
                                        {!$Label.VITILcareOVRecUpdDescHead}
                                    </div>
                                    <div class="xs-6">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText styleClass="text--medium" value="{!case.subject}"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="xs-12 hidden-small hidden-medium hidden-large hidden-xl text--medium"
                                     style="text-align:left; padding:5px 10px 5px 0;">
                                    <div class="xs-6 strong">
                                        {!$Label.VITILcareOVRecUpdLastUpdateHead}
                                    </div>
                                    <div class="xs-6">
                                        <a href="javascript:;" onclick="loadDetails('{!case.refNo}')"
                                           name="{!case.subject}" class="color-purple"
                                           style="cursor:pointer;display:block;">
                                            <apex:outputText styleClass="text--medium" style="text-align:left;"
                                                             value="{!case.timeDiff}"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </apex:repeat>

                    </div>

                </apex:outputPanel>
                <!--   <div class="container container--limited-width Rectangle-2-Copy-5">

                   </div>-->
                <div class="loading-container">
                    <div class="uss-loader">
                    </div>
                </div>

                <apex:outputPanel rendered="{!CustRole1 == 'tps'}">
                    <apex:outputText value="{!$Label.ENTPNoRecentReq}" rendered="{!topListings.size == 0 }"
                                     styleClass="no-items-text"/>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!CustRole1 == 'private cloud'}">
                    <apex:outputText value="{!$Label.ENTPNoRecentUpdInc}" rendered="{!topListings.size == 0 }"
                                     styleClass="no-items-text"/>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!CustRole1 == 'mits'}">
                    <apex:outputText value="{!$Label.ENTPNoRecentUpdInc}" rendered="{!topListings.size == 0 }"
                                     styleClass="no-items-text"/>
                </apex:outputPanel>
            </div>
            <br/>

            <div class="quickRequest"></div>
            <div class="quickRequest"></div>
            <div class="quickRequest"></div>

            <script>
                $('.recent-requests-items a').click(function () {
                    $('.loading-container').show();
                });
            </script>

            <!--<script language="JavaScript" type="text/javascript" src="{!URLFOR($Resource.jquerymin)}"></script>-->
            <script language="JavaScript" type="text/javascript" src="{!URLFOR($Resource.scode_vitil)}"></script>
            <script language="JavaScript" type="text/javascript">
                $(document).ready(function () {
                    s.pageName = "ENTP - Overview";
                    s.server = "force.com";
                    s.channel = "";
                    s.events = "event1";
                    /* var s_code = s.t();
                                if (s_code) document.write(s_code)*/
                });
            </script>
        </apex:define>
    </apex:composition>
</apex:page>