<apex:page docType="html-5.0" showHeader="false" sidebar="false" showChat="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false">
    <apex:composition template="ENTPUserTemplate">
     <apex:define name="head">
            <apex:stylesheet value="{!URLFOR($Resource.VITILcareCSS, 'css/caseDetails.css')}"/>            
            <apex:stylesheet value="{!URLFOR($Resource.MBRCaseDetailCSS, '')}"/>     
            <apex:includeScript value="{!URLFOR($Resource.MBRCaseDetailJS, '')}"/>
         <script>
         function windPopIt(){
             window.open("http://btwn001612.corp.ads:8081/Chat/servlet/AppMain?__lFILE=index.jsp&NAME=&EMAILADDRESS=&PHONE=&TICKET=&CONTACTID=","name","height=500, width=600");
             }
         </script>
        </apex:define>

        <apex:define name="pageTitle">
           Chat Page
        </apex:define>

        <apex:define name="body">
     <apex:outputPanel styleClass="i-form-new-case text-bubble block">
                <p class="no-margin no-padding"><apex:outputtext value="Please click below to start a priority chat"/>
                    <a href="#" onclick="javascript:winPopIt();">
                        Chat
                    </a>
                </p>
            </apex:outputPanel>  
    </apex:define>
    </apex:composition>
</apex:page>