<apex:page showHeader="false" sidebar="false">
  <apex:iframe src="{!$Site.Prefix}/secur/logout.jsp" height="1" width="1" />
  <script>
    function redirectToLogin(){
        window.parent.location="{!$Site.Prefix}/ENTPLoginRedirect?loggedout=1";
    }   
    setTimeout("redirectToLogin()", 500);
  </script>
  <!--<script language="JavaScript" type="text/javascript" src="{!URLFOR($Resource.jquerymin)}"></script>-->
  <script language="JavaScript" type="text/javascript" src="{!URLFOR($Resource.scode_vitil)}"></script>
  <script language="JavaScript" type="text/javascript">
  $(document).ready( function() { 
  s.pageName="ENTP - Logout";
  s.server="force.com";
  s.channel="";   
  s.events="event1";
  var s_code=s.t();
  if(s_code)document.write(s_code)
  });
  </script>
  Logging out...
</apex:page>