<apex:page >
    <p>&nbsp;</p> <p align="center"><font color="#990000" size="6">If you are viewing this message, it confirms that you have successfully logged into Salesforce.com. </font></p> <p align="center"><font size="6"></font><font color="#990000">&nbsp;</font></p> <p align="center"><font color="#990000"><font size="6">Please note: We are currently upgrading SFDC.&nbsp;&nbsp; The system will be fully functional on <u>Monday, July 8, 2013</u>.&nbsp;</font><font size="6">&nbsp; </font></font></p>
</apex:page>