<apex:page >
    <br></br>
    <!-- Traction Additions for getting user info via SFDC AJAX API-->
    <script src="/soap/ajax/24.0/connection.js" type="text/javascript"></script>
    
    <script language="JavaScript" type="text/javascript">
    	function readCookie(name){	
        	var nameEQ = name + "=";
        	var ca = document.cookie.split(';');
        	for(var i=0;i < ca.length;i++){	
                var c = ca[i];	
                while (c.charAt(0)==' ') 
                    c = c.substring(1,c.length);	
                if (c.indexOf(nameEQ) == 0) 
                    return c.substring(nameEQ.length,c.length);	
            }	
        
        	return null;
    	}
    
    	function getInfo(){	
            var fullSID = readCookie('sid');	
            sforce.connection.sessionId = fullSID.substring(fullSID.indexOf('!') + 1, fullSID.length);	
            userinfo = sforce.connection.getUserInfo();
        }
    
    	document.addEventListener("DOMContentLoaded", getInfo, false);
    </script>
    <!-- End Traction Additions -->
    
    <!-- SiteCatalyst code version: H.24.2. Copyright 1996-2012 Adobe, Inc. All Rights Reserved More info available at http://www.omniture.com --> 
    
    <script language="JavaScript" type="text/javascript" src="{!$Label.MyDomain}/servlet/servlet.FileDownload?file=01540000000PPsV"></script> 
    <script language="JavaScript" type="text/javascript">
 
<!--        
    /* You may give each page an identifying name, server, and channel on the next lines. */ 
    s.pageName="";
    s.server=""; 
    s.channel=""; 
    s.pageType=""; 
    s.prop1=""; 
    s.prop2="";
    s.prop3=""; 
    s.prop4=""; 
    s.prop5=""; 
    
    /* Conversion Variables */ 
    s.campaign=""; 
    s.state=""; 
    s.zip=""; 
    s.events=""; 
    s.products=""; 
    s.purchaseID=""; 
    s.eVar1=userinfo.userName;
    s.eVar2="";
    s.eVar3=""; 
    s.eVar4=""; 
    s.eVar5=""; 
    
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/ 
    var s_code=s.t();
    if(s_code)document.write(s_code);
    
    //-->
    
    </script> <script language="JavaScript" type="text/javascript">
    	<!-- if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-') //-->
    </script> 
    
    <noscript></noscript>
    <!--/DO NOT REMOVE/-->
    <!-- End SiteCatalyst code version: H.24.2. -->
<br></br>

    
</apex:page>