<apex:page controller="LRN.ProgramForMobile" action="{!init}"   showHeader="true" sidebar="false" docType="html-5.0" >
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <apex:includeScript value="{!URLFOR($Resource.LRN__TM_JS_CSS, 'TM_JsCss/jquery1.11.0.min.js')}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <apex:stylesheet value="{!URLFOR($Resource.LRN__slds2, 'assets/styles/salesforce-lightning-design-system-vf.css')}"/>
     <apex:stylesheet value="{!$Resource.LRN__LurnitureMobileCss}"/>
    
    <style>
        .lurniture .slds-item a {
            color: #16325C;
        }
        
        .completionPercentage {
            top: -23px;
            position: relative; 
            z-index: 100;
            text-align: center;
            width: 34px;
            font-size: 8px !important;
        }
        
        .statusChart {
            height: 34px;
            padding-right: 11px;
            margin-left: -1px;
            margin-top: -1px;
        }
        
        #UserProgramBasicInfoSection .feb-donut-chart-wrapper text {
            font-size: 10px;
        }
        
        #userActivitySection a {
            text-decoration: none !important;
        }
        
        .errorMessage{
             font-size: 12px;
             color: #C23934 !important;
             margin-bottom:0px !important;
         }
        
        .section-review-bar {
            padding: 8px 12px;
            border-radius: 4px;
            background: #f3f2f2;
        }
        
        .feb-is-expanded .feb-rotate-on-expand {
            transform: rotate(90deg);
        }
        
        .white-space-pre-line {
            white-space: pre-line;
        }
        
        .completed-section-marker {
            text-align: right;
            padding-top: 5px;
        }
        
        .modal-close-button {
            top: -34px !important;
            right: 8px !important;
        }
        
        #userActivitySection .timeline-due-date {
            display: none;
        }
       
        #userActivitySection.show-dates .timeline-due-date {
            display: inline-block;
        }

        #userActivitySection.show-dates .timeline-due-day {
            display: none;
        }
    </style>
</head>

<body> 
    <div class="lurniture feb-bg-white">
    <div id="loadingIconAssign" class="slds-hide">
      <div class="feb-spinner-wrapper feb-spinner-fullscreen feb-spinner-bg-gray">
        <span class="feb-spinner-middle">
          <img src="{!URLFOR($Resource.SLDS, '/assets/images/spinners/slds_spinner_brand.gif')}" class="slds-spinner--large" alt="Loading..." />
        </span>
      </div>
      </div>
      <div id="tempForSanitize" style="display:none;"></div>
      
    
     <div data-view="data-view" data-View-userProgram="data-View-userProgram" >
             <div id="UserProgramHeaderSection"></div>
             
         
        <div id="UserProgramBasicInfoSection"></div>
        <div class="slds-p-horizontal--medium slds-p-vertical--medium feb-border-top">
            <ul class="slds-has-dividers--right slds-list--horizontal slds-m-bottom--medium slds-text-heading--small slds-hide" id="noOfExercisesMilestoneDays">
                <li class="slds-item" id="noOfExercises">
                 
                </li>
                <li class="slds-item" id="noOfMilestone">
                    
                </li>
                <li class="slds-item" id="noOfDays">
                    
                </li>
            </ul>
            
            <div id="displayActions" class="slds-hide" style="font-size:12px; margin:-10px 0px 12px 0px; ">
                <a onclick="Lurniture.MyProgram.showAllDetails();" style="text-decoration:none;">show all details</a>
                <a id="dueDisplayToggleLink" data-show="days" onclick="Lurniture.MyProgram.toggleDueDisplay();" style="margin-left:10px; text-decoration:none;">show program dates</a>
            </div>
            
            <div id="userActivitySection">
            </div>

        </div>
    </div>
    
     <!--Start Complete UserActivity Modal Popup  --> 
            <div id="CompleteUserActivity">
                <div class="slds-modal feb-modal-mobile-wrapper" >
                  <div class="slds-modal__container feb-modal-mobile">
                      <div class="slds-modal__header">
                          <div class="slds-grid slds-grid--vertical-align-center">
                            <div>
                              <h2 id="CompleteUserActivityHeader" class="slds-text-heading--medium">Complete Milestone</h2>
                            </div>
                            <div class="slds-col--bump-left slds-p-left--medium">
                                <button class="slds-button" onclick="Lurniture.Util.CloseModal('CompleteUserActivity');">
                                    <svg aria-hidden="true" class="slds-button__icon slds-icon-text-default slds-button__icon--large">
                                        <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/action-sprite/svg/symbols.svg#close')}"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                            </div>  
                          </div>
                      </div>
                      <div class="slds-modal__content slds-p-around--medium">
                        <div id="modalBody" style="min-height:40vh;"></div>
                      </div>
                      <div class="slds-modal__footer">
                            <button class="slds-button slds-button--brand" type="button" onClick="Lurniture.MyProgram.completeActivity()">Complete</button>
                      </div>
                  </div>
                </div>
                <div class="slds-modal-backdrop"></div>
            </div>

		    <!-- Section Description Modal Start -->
		    <div id="sectionDescriptionModal">
		        <div class="slds-modal feb-modal-mobile-wrapper" >
                    <div class="slds-modal__container feb-modal-mobile">
		                <div class="slds-modal__header">
                            <button class="slds-button slds-modal__close slds-button--icon-inverse modal-close-button" title="Close" onclick="Lurniture.Util.CloseModal('sectionDescriptionModal');">
		                        <svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
		                            <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
		                        </svg>
		                        <span class="slds-assistive-text">Close</span>
		                    </button>
		                    <div>
	                            <h2 id="headerSectionDescription" class="slds-text-heading--medium">Program Section</h2>
                            </div>
		                </div>
		                <div class="slds-modal__content slds-p-around--medium">
		                    <label class="slds-form-element__label">Description</label>
		                    <div id="bodySectionDescription" class="white-space-pre-line">Section Description</div>
		                </div>
		                <div class="slds-modal__footer">
		                    <span style="cursor:pointer;font-size: 12px;" class="slds-button slds-button--neutral" onClick="Lurniture.Util.CloseModal('sectionDescriptionModal');">Close</span>
		                </div>
		            </div>
		        </div>
		        <div class="slds-modal-backdrop"></div>
		    </div>
		    <!-- Section Description Modal End -->
    
            <!--END UserActivity  Modal Popup  -->
            
            <!-- toast start -->
             <div class="feb-error-toast-mobile feb-dmr-20" id="already">
                  <div class="slds-grid slds-grid--vertical-align-center">
                      <div class="slds-m-right--small">
                        <svg aria-hidden="true" class="slds-icon slds-icon--small">
                          <use xlink:href="{!URLFOR($Resource.SLDS,'assets/icons/utility-sprite/svg/symbols.svg#info')}"></use>
                        </svg>
                      </div>
                      <div class="slds-container--center">
                        <h2 class="feb-font-size16 feb-font-weight300" id="alreadyToastInfo"> 
                            
                        </h2>
                      </div>
                      <div class="slds-container--right">
                        <button class="slds-button slds-button--icon-inverse slds-notify__close" onClick="Lurniture.Util.closeToast('already');">
                          <svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
                            <use xlink:href="{!URLFOR($Resource.SLDS,'assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                          </svg>
                          <span class="slds-assistive-text">Close</span>
                        </button>
                      </div>
                  </div>
                </div>
            <!-- toast end -->
            
            <!-- Quiz response -->
	        <div id="quizResponseModal">
	            <div class="slds-modal feb-modal-mobile-wrapper" >
	                <div class="slds-modal__container feb-modal-mobile">
	                    <div class="slds-modal__header">
	                        <div class="slds-grid slds-grid--vertical-align-center">
	                            <div>
	                                <h2 class="slds-text-heading--medium">Quiz</h2>
	                            </div>
	                            <div class="slds-col--bump-left slds-p-left--medium">
	                                <button class="slds-button" onclick="Lurniture.Quiz.closeQuizResponseModal();">
	                                    <svg aria-hidden="true" class="slds-button__icon slds-icon-text-default slds-button__icon--large">
	                                        <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/action-sprite/svg/symbols.svg#close')}"></use>
	                                    </svg>
	                                    <span class="slds-assistive-text">Close</span>
	                                </button>
	                            </div>  
	                        </div>
	                    </div>
	                    <div class="slds-modal__content" data-quizId="">
	                        <div class="slds-theme--shade slds-p-horizontal--medium  slds-p-vertical--small feb-border-bottom">
	                            <span id="spanPopQuizName" class="slds-text-color--weak"></span>
	                        </div>
	                        <div id="quizQuestions"></div>
	                    </div>
	                    <div class="slds-modal__footer">
	                        <button id="buttonPreviousQuestion" class="slds-button slds-button--neutral" type="button" onClick="Lurniture.Quiz.previousQuestion();">Previous</button>
	                        <button id="buttonNextQuestion" class="slds-button slds-button--neutral" type="button" onClick="Lurniture.Quiz.nextQuestion();">Next</button>
	                        <button id="buttonSaveQuizResponse" class="slds-button slds-button--brand slds-hide" type="button" onClick="Lurniture.Quiz.saveQuizResponse();">Submit</button>
	                    </div>
	
	                </div>
	            </div>
	            <div class="slds-modal-backdrop"></div>
	        </div>
	        <!-- Quiz response ends -->
            
            
            <script type="text/x-handlebars-template" id="LookupTemplate">
            <div class="slds-form-element slds-lookup" data-select="single" id="LookupOption">
              <label id="lookupLabel" class="slds-form-element__label" for="LookupSearch">{{label}}</label>
             <div id="lookupInputPart">
              <div class="slds-form-element__control slds-grid slds-box--border" >
                <div class="slds-dropdown--trigger slds-dropdown-trigger--click slds-align-middle slds-m-left--xx-small slds-shrink-none">
                  <svg class="slds-icon slds-icon-standard-{{selectedObj}} slds-icon--small" aria-hidden="true">
                    <use xlink:href="{{selectedObjIcon}}"></use>
                  </svg>
                  <button class="slds-button slds-button--icon slds-button--icon-small" aria-haspopup="true" title="Filter by object">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#down')}"></use>
                    </svg>
                    <span class="slds-assistive-text">Filter by object</span>
                  </button>
                  <div class="slds-dropdown slds-dropdown--left">
                    <ul class="slds-dropdown__list" role="menu">
                    {{#each listObject}}
                      <li class="slds-dropdown__item" role="presentation" onClick="closeDropDown(this);" data-obj="{{obj}}" data-objName="{{objName}}">
                        <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                          <span class="slds-truncate">
                            <svg class="slds-icon slds-icon--small slds-icon-standard-{{obj}} slds-m-right--small" aria-hidden="true">
                              <use xlink:href="{{objIcon}}"></use>
                            </svg>{{objName}}</span>
                        </a>
                      </li>
                    {{/each}}
                    </ul>
                  </div>
                </div>
                <div class="slds-input-has-icon slds-input-has-icon--right slds-grow">
                  <svg class="slds-input__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                  </svg>
                  <input type="search" id="LookupSearch" class="slds-lookup__search-input slds-input--bare" placeholder="{{placeholder}}" aria-owns="lookup-70" role="combobox" aria-activedescendant="" aria-expanded="false" aria-autocomplete="list" />
             	</div>
              </div>
                 
            </div>
              <div  id="LookupSearchContainer">
              </div>
              <div id="lookupPillPart"></div>
              <div class="feb-error-msg feb-font-size12" id="LookupSearchError" reset-error="true">&nbsp;</div>
            </div>
            <div id="comment" class="slds-form-element ">
                   <label id="commentLabel" class="slds-form-element__label">{{commentLabel}}</label>
                   <div class="slds-form-element__control">
                     <textarea id="activityMessage" resetText='true' class="slds-textarea"></textarea>
                   </div>
                   <span id="commentError" class="errorMessage" style="display:none">A comment is required.</span>
           </div>
    </script>
            
    <script type="text/x-handlebars-template" id="UserProgramBasicInfoTemplate">
         <div class="slds-p-horizontal--medium  slds-p-vertical--small" >
            <div class="slds-grid">
               
                <div class="slds-grow" id="programStatus" data-programStatus="{{status}}">
            <div class="slds-grid slds-m-top--x-small">
                        <div class="slds-col">
                            <label class="slds-form-element__label">Start Date</label>
                            <div>{{startDate}}</div>
                        </div>
                        <div class="slds-col">
                            <label class="slds-form-element__label">Target Date</label>
                            <div>{{targetDate}}</div>
                        </div>
                                
                    </div>
                </div>
                
                <div class="slds-col--bump-left">
                    <span class="feb-donut-chart-wrapper">
                        <svg height="100%" viewBox="0 0 50 50" width="100%">
                            <circle r="24" cx="50%" cy="50%" stroke="#D8DDE6" fill="#F4F6F9" stroke-width="1"></circle>
                            <circle r="16" cx="50%" cy="50%" stroke="#D8DDE6" fill="#FFFFFF" stroke-width="1"></circle>
                            <circle r="20" id="chart" cx="50%" cy="50%" stroke="#C23934" fill="transparent" stroke-width="7" stroke-dasharray="94.248 31.416" stroke-dashoffset="31.416" ></circle>
                            <text x="50%" y="57%" id="chartText"></text>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        

        <div class="slds-p-horizontal--medium slds-m-bottom--medium">
            <label class="slds-form-element__label">Description</label>
            <div class="white-space-pre-line">{{#convertTextLinks programDescription}}{{/convertTextLinks}}</div>
        </div>
    
    </script>
    
    <script type="text/x-handlebars-template" id="userActivityTemplate">
    {{#each .}}
    {{#if isSection}}
                <div class="slds-grid sectionDiv" is-section="{{isSection}}" section-order="{{sectionOrder}}">
                  <div class="slds-no-flex feb-prog-timeline-border">
                      <div class="slds-col--bump-left completed-section-marker slds-hide">
                         <span class="feb-prog-status-mobile feb-prog-status-completed-mobile"></span>
                     </div>
                  </div>
                  <div class="slds-p-left--medium slds-p-bottom--medium slds-has-flexi-truncate">
                      <div>
                         <div class="section-review-bar">
                             <div class="slds-grid slds-grid--vertical-align-center" data-activityselType="{{activity}}" data-activityId="{{sectionId}}">
                                <div class="slds-no-flex slds-p-right--xx-small slds-m-right--xxx-small btnCollapse">
                                  <button class="slds-button slds-button--icon feb-is-expanded" title="Collapse Section" onclick="toggleCollapse(this, 700);">
                                      <svg class="slds-button__icon feb-svg-size-1 feb-rotate-on-expand" aria-hidden="true">
                                          <use xlink:href="{!URLFOR($Resource.SLDS2, '/assets/icons/utility-sprite/svg/symbols.svg#chevronright')}"></use>
                                      </svg>
                                      <span class="slds-assistive-text">Collapse Section</span>
                                  </button> 
                                </div>                          
                                
                                <div class="slds-col slds-has-flexi-truncate">
                                     <div class="sectionName slds-truncate">{{{activityName}}}</div>
                                 </div>
                                 
                                 <div class="slds-no-flex slds-p-left--large">
                                     <span class="sectionToolTip p-icon {{#showDescriptionInfo acitivityDataDescription}}{{/showDescriptionInfo}}" onclick="Lurniture.MyProgram.openSectionDescriptionModal(this);">
                                          <svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default">
                                              <use xlink:href="{!URLFOR($Resource.SLDS,'assets/icons/utility-sprite/svg/symbols.svg#info')}"></use>
                                          </svg>
                                          <div class="sectionDescription slds-hide">{{{acitivityDataDescription}}}</div>
                                     </span>
                                 </div>
                            </div>
                        </div>
                     </div>
                  </div>
              </div>           
        {{else}}
   <div class="slds-grid">
    <div class="slds-no-flex feb-prog-timeline-border">
        <div class="slds-grid slds-p-top--xx-small">
            <div class="slds-p-top--xxx-small">
                <time class="slds-text-body--small timeline-due-day">Day {{acitivityDays}}</time>
                <time class="slds-text-body--small timeline-due-date">{{formattedTargetDate}}</time>
            </div>
            {{#ifActivityClickComplete activity isCompleted programValidationTemplate}}
                <div class="slds-col--bump-left" onClick="Lurniture.MyProgram.CompleteUserActivity(this,'{{userActivityId}}',{{isCompleted}}, '{{commentRequestStatus}}', '{{relatedtoRequest}}', '{{programValidationTemplate}}');" data-ActivityType="{{activityType}}" data-Activity="{{activity}}" data-contentType="{{contentType}}">
                    <span class="feb-prog-status-mobile {{#programStatus currentActivityStatus activity isCompleted programValidationTemplate}}  {{/programStatus}}"></span>
                </div>
            {{else}}
                <div class="slds-col--bump-left" {{#ifAutoActivityOnClick isCompleted activityType currentActivityStatus}}{{/ifAutoActivityOnClick}} data-ActivityType="{{activityType}}" data-Activity="{{activity}}" data-contentType="{{contentType}}">
                    <span class="feb-prog-status-mobile {{#programStatus currentActivityStatus activity isCompleted programValidationTemplate}}  {{/programStatus}}"></span>
                </div>
            {{/ifActivityClickComplete}}
        </div>
    </div>
    <div class="slds-p-left--medium slds-p-bottom--x-large">
        <div class="slds-grid feb-prog-exercise-wrapper" >
            <div class="slds-p-right--x-small">
                <span class="slds-icon_container feb-prog-exercise-is-collapsible" >
                    {{#FillSvg}}{{activity}}{{/FillSvg}} 
                </span>
            </div>
            <div>
                <div class="feb-prog-exercise-decs" data-show="{{#hideOrShow activityType activity activityName isCompleted currentActivityStatus}}{{/hideOrShow}}">
                    <div style="margin-top: -2px;">
                        {{#ifisFile contentType fileData.fileUrl fileData.fileName}} {{else}} {{#ifactivityType activityType activity}}
                        <a title="{{{activityName}}}" id="anchor{{userActivityId}}" onClick="{{checkStatus contentType videoIdForQuiz acitivityDataId programEnrollmentId userActivityId}}">{{{activityName}}}</a> {{else}}
                        <a title="{{{activity}}}" href="javascript:void(0);">{{{activity}}}</a> {{/ifactivityType}} {{/ifisFile}}
                    </div>
                    <div class="white-space-pre-line">{{#convertTextLinks acitivityDataDescription}}{{/convertTextLinks}}</div>
                    {{#ifRelatedTo listRelatedToWrapper}}
                    <div class="slds-text-title RelatedToWrapper" style="margin-top:2px;">
                        <span style="font-size:12px; color:#54698D;">Related To: </span>
                    {{#each listRelatedToWrapper}}
                        <span onclick="openRelatedToObject('{{relatedToType}}', '{{relatedToVideoId}}', '{{relatedToId}}', '{{../contentType}}', '{{../acitivityDataId}}')" style="font-size:12px; color:#0070d2;cursor:pointer;">{{{relatedToName}}}</span>
                    <span style="color:#16325C; font-weight:bold;" class="commaForRelatedToWrapper"> , </span>
                    {{/each}}
                     </div>
                  
                    <div></div>
                    {{/ifRelatedTo}}
                    {{#isComment comment}}{{/isComment}}
                    {{#isQuizResult quizResult}}{{/isQuizResult}}
                </div>
            </div>
        </div>
    </div>
</div>
    {{/if}}
    {{/each}}
    </script>
    
    <script type="text/x-handlebars-template" id="quizQuestionsTemplate">
         <div class="slds-p-horizontal--medium slds-p-vertical--small">
             <div class="slds-m-bottom--small">
                 <span class="feb-text-dull feb-font-size10">{{{questionIndexString}}}</span> 
             </div>
             <div class="feb-font-weight600 slds-m-bottom--small">
                 {{{question}}}
             </div>
             <div>
                 {{#each choices}}
                 <div class="slds-form-element__control slds-m-bottom--medium">
                     <label class="slds-radio" for="{{choiceId}}" onclick="Lurniture.Quiz.updateUserSelectedOption('{{choiceId}}');">
                         <input  type="radio" id="{{choiceId}}" name="{{questionId}}" {{{setChecked userSelected}}}/>
                         <span class="slds-radio--faux"></span>
                         <span class="slds-form-element__label">{{{choice}}}</span>
                     </label>
                 </div>
                 {{/each}}
             </div>
         </div> 
     </script>
    
     <script type="text/x-handlebars-template" id="HeaderTemplate">
                   <header class="slds-p-horizontal--medium slds-p-vertical--small slds-theme--shade">
                            <div class="slds-grid slds-grid--vertical-align-center">
                                <span id="headerImage">
                                  {{{headerImage}}}
                                </span>
                                
                                <div class="slds-p-left--small slds-has-flexi-truncate">
                                    <div class="slds-text-heading--small slds-truncate" id="headerTitle">{{{headerTitle}}}</div>
                                    <div class="feb-text-gray slds-text-body--small" id="headerDescription">{{{headerDescription}}}</div>
                                </div>
                                  <div class="slds-col--bump-left slds-p-left--small">

                                   <span class="slds-icon_container slds-icon-action-back slds-icon_container--circle" style="padding:3px 4px 4px 5px;" onclick="back();">
                                       <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                                           <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#back')}"></use>
                                       </svg>
                                   </span>
                               </div>
                                
                            </div>
                            
                     </header>
                 </script>
                 
                 <script>
                var Lurniture = {};
                var HeaderDataSource = {};
                var programEnrollmentId = '{!programEnrollmentId}';
                var selectedActivityCommentStatus = false;
                
                $(document).ready(function(){
                    Lurniture.MyProgram.loadProgram();
                });
                
                var touchEvent = 'ontouchstart' in window ? 'touchstart' : 'click';
                $(window).on(touchEvent, function() {
                    $(".slds-dropdown-trigger--click").removeClass('slds-is-open');
                   // $("#LookupSearchContainer").addClass('slds-hide');
                })
                
                 function back(){
                    Lurniture.Util.showLoader(); 
                    //sforce.one.back(false);
                     sforce.one.navigateToURL( '{!$Page.MyProgramForMobile}');
                }
                
                 Lurniture.MyProgram = (function(){
                    return{
                        loadProgram : function(){
                            previousAllActivityDateShowHide = true;
                            previousActivityDateShowHide = '';
                            firstLiAfterDateShowHide = 0;
                            Lurniture.Util.showLoader();
                            fillAllSvgIconInArray();
                            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.ProgramForMobile.getAllUserActivity}',programEnrollmentId,function(result, event){
                                      Lurniture.Util.hideLoader();
                                      dataSource = result;
                                      HeaderDataSource.headerTitle = dataSource.progEnrollWrap.programName;
                                      HeaderDataSource.headerImage = ` <svg aria-hidden="true" class="slds-icon slds-icon-action-share-poll" onClick="sforce.one.navigateToURL(\'{!$Page.MyProgramForMobile}\');">
                                                                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#poll')}"></use>
                                                                       </svg>`;
                                      var description = '';                             
                                       if (dataSource.progEnrollWrap.status == 'Completed') {     
                                           description = 'Completed ' + dataSource.progEnrollWrap.completionDate      
                                       } else if (dataSource.progEnrollWrap.status == 'Not Started') {
                                           description = 'Starts ' +  dataSource.progEnrollWrap.startDate;       
                                       } else {
                                           description = 'Started ' + dataSource.progEnrollWrap.startDate + ' · Day ' + dataSource.progEnrollWrap.day;
                                       }                                    
                                      HeaderDataSource.headerDescription = description
                                      Lurniture.Util.compileHandleBar(HeaderDataSource,'UserProgramHeaderSection','HeaderTemplate');
                                      
                                      Lurniture.Util.compileHandleBar(dataSource.progEnrollWrap,'UserProgramBasicInfoSection','UserProgramBasicInfoTemplate');
                                      
                                      var ss = 125.664; 
                                      var percentCompleted = parseInt(dataSource.progEnrollWrap.percentCompleted);
                                      var completed = (percentCompleted*ss)/100;
                                      var uncompleted = ((100 - percentCompleted)*ss)/100;
                                      $("#chart").attr("stroke-dasharray",completed+' '+ uncompleted);
                                      var color = '#04844B';
                                      if (percentCompleted == 0) { 
                                          color = '#F4F6F9';
                                      } else if (dataSource.progEnrollWrap.status == 'Behind'){
                                          color =  '#C23934';
                                      }
                                      $("#chart").attr("stroke",color);
                                      $("#chartText").html(dataSource.progEnrollWrap.percentCompleted);
                                      var actInfo = dataSource.userActivityInfoWrapper.actInfo;
                                      var noOfDay = actInfo.totalDays=='1'?actInfo.totalDays+' Day':actInfo.totalDays+' Days';
                                      var noOfExercises = actInfo.totalExercises=='1'?actInfo.totalExercises+' Exercise':actInfo.totalExercises+' Exercises';
                                      var noOfMilestones =  actInfo.totalMilestones=='1'?actInfo.totalMilestones+' Milestone':actInfo.totalMilestones+' Milestones';
                                      $("#noOfExercises").html(noOfExercises);
                                      $("#noOfMilestone").html(noOfMilestones);
                                      $("#noOfDays").html(noOfDay);
                                      $("#noOfExercisesMilestoneDays").removeClass('slds-hide');
                                      Lurniture.Util.compileHandleBar(dataSource.userActivityInfoWrapper.userWrapper,'userActivitySection','userActivityTemplate');
                                       $(".RelatedToWrapper .commaForRelatedToWrapper:last-child").remove();
                                      $(".feb-prog-exercise-decs").hide();
                                      $('[data-show="show"]').slideDown();
                                      
                                      $(".feb-prog-exercise-is-collapsible").click(function() {
                                            var $exercise = $(this).closest('.feb-prog-exercise-wrapper').find('.feb-prog-exercise-decs');
                                            if ($exercise.attr("data-show")=='hide') {
                                                $exercise.attr("data-show", "show");
                                            } else {
                                                $exercise.attr("data-show", "hide");
                                            }
                                            $exercise.slideToggle();
                                       });
                                       
                                      if(dataSource.progEnrollWrap.status == 'Completed'){
                                          $("#displayActions").addClass("slds-hide");
                                      } else {
                                          $("#displayActions").removeClass("slds-hide");
                                      }
                                      
                                      $(".btnCollapse button").each(function() {
                                          if (dataSource.progEnrollWrap.status == 'Completed') {
                                              $(this).parents('div[is-section="true"]').find('.completed-section-marker').removeClass('slds-hide');
                                          } else {
								              var currentDiv = $(this).closest('.sectionDiv');
								              var sectionCompleted = true;
								              var collapseSection = true;
								              $.each($(currentDiv).nextUntil('div[is-section=true]', 'div'), function() {
								                  if ($(this).find('.feb-prog-status-completed-mobile').size() == 0) {
								                      sectionCompleted = false;
								                  }
								                
								                  if ($(this).find(".feb-prog-exercise-decs[data-show = 'show']").size() > 0) {
								                      collapseSection = false;
								                  }
								              });
								            
								              if (sectionCompleted) {
								                  $(this).parents('div[is-section="true"]').find('.completed-section-marker').removeClass('slds-hide');
								              }
								            
								              if (collapseSection) {
								                  toggleCollapse($(this), 0);
								              }
								          }
							          });
                             });
                        },
                        CompleteUserActivity : function(ele,activityId,isCompleted, commentRequestStatus, relatedtoRequest, programValidationTemplate){
                        console.info(programValidationTemplate);
                            if(isCompleted || ( programValidationTemplate !== undefined && programValidationTemplate != '')){
                                return false;
                            }
                            
                            selectedActivityCommentStatus = commentRequestStatus;
                            selectedActivityRelatedto = relatedtoRequest;
                            $("#commentError").css("display", "none");
                            $("#spanOtherRelatedtoError").css("display", "none");
                            
                            activity = $(ele).attr("data-Activity");
                            activityType = $(ele).attr("data-ActivityType");
                            contentType = $(ele).attr("data-contentType");
                            $("#CompleteUserActivity").attr("userActivityId",activityId);
                            $("#CompleteUserActivity").attr("userActivityType",activity);
                            Lurniture.MyProgram.onChangeObjectType('account','Accounts', commentRequestStatus, relatedtoRequest);
                        
                        },
                        onChangeObjectType : function(selectedObj, selectedObjName, commentRequestStatus, relatedtoRequest){
                            var currentComment = ''
                            var objectChange = false;
                            
                            if(commentRequestStatus == 'fromObjectChangeDropdown'){
                                objectChange = true;
                                
                                var commentLabel = $("#commentLabel").html();
                                if (commentLabel == 'Comment') {
                                    commentRequestStatus = 'required';
                                    currentComment = $("#activityMessage").val();
                                } else if (commentLabel == 'Comment (optional)') {
                                    commentRequestStatus = 'optional';
                                    currentComment = $("#activityMessage").val();
                                }
                            }
                            
                            if(contentType=='Playlist' || contentType=='Program' || contentType=='Video'||contentType=='Quiz' || contentType=='Room'){
                            
                            }
                            else if(activity=='Other Milestone' || activity=='Other Exercise'){
                                if(commentRequestStatus == '' && relatedtoRequest.toLowerCase() == 'none'){
                                    $("#activityMessage").val('');
                                    $("#CompleteUserActivity [selectedObject]").attr("selectedObject",'');
                                    Lurniture.MyProgram.completeActivity();
                                } else {
	                                if (activity=='Other Exercise') {
	                                    $("#CompleteUserActivityHeader").html('Complete Exercise');
	                                } else {
	                                    $("#CompleteUserActivityHeader").html('Complete Milestone');
	                                }
	                                
	                                if (objectChange) {
	                                    var lookupLabel = $("#lookupLabel").html();
		                                if (lookupLabel == 'Related To') {
		                                    relatedtoRequest = 'required';
		                                } else if (lookupLabel == 'Related To (optional)') {
		                                    relatedtoRequest = 'optional';
		                                }
	                                }
	                                
	                                var relatedToLabel = '';
		                            if (relatedtoRequest != undefined && relatedtoRequest.toLowerCase() == 'optional') {
		                             	relatedToLabel = 'Related To (optional)';
		                            } else if(relatedtoRequest != undefined && relatedtoRequest.toLowerCase() == 'required') {
		                             	relatedToLabel = 'Related To';
		                            }
		                             
	                                Lurniture.Util.multiLookup(selectedObj,selectedObjName,['account','contact','lead','opportunity'], relatedToLabel);
	                                
	                                Lurniture.MyProgram.showHideComment(commentRequestStatus);
	                                Lurniture.MyProgram.showHideRelatedTo(relatedtoRequest);
	                                Lurniture.Util.OpenModal('CompleteUserActivity');
	                            }
                            }else if(activity=='Meeting'){
                                $("#CompleteUserActivityHeader").html('Complete Milestone');
                                Lurniture.Util.multiLookup(selectedObj,selectedObjName,['account','contact','lead'],'Related To ');
                                Lurniture.MyProgram.showHideComment(commentRequestStatus);
                                Lurniture.Util.OpenModal('CompleteUserActivity');
                            }
                            else if(activity=='Deal' || activity=='SQO'){
                                $("#CompleteUserActivityHeader").html('Complete Milestone');
                                Lurniture.Util.multiLookup('opportunity','Opportunities',[],'Related To ');
                                $("#lookupInputPart").find(".slds-dropdown--trigger").remove();
                                Lurniture.MyProgram.showHideComment(commentRequestStatus);
                                Lurniture.Util.OpenModal('CompleteUserActivity');
                            }else{
                                if(activityType == 'Exercise'){
                                    $("#CompleteUserActivityHeader").html('Complete Exercise');
                                }
                                else{
                                    $("#CompleteUserActivityHeader").html('Complete Milestone');
                                }
                                
                                Lurniture.Util.compileHandleBar({},'modalBody','LookupTemplate');
                                
                                $("#LookupOption").hide();
                                
                                $("#comment").addClass("slds-hide");
                                if(commentRequestStatus == 'optional'){
                                    $("#comment").removeClass("slds-hide");
                                    $("#commentLabel").html("Comment (optional)");
                                    Lurniture.Util.OpenModal('CompleteUserActivity');
                                }
                                else if(commentRequestStatus == 'required'){
                                    $("#comment").removeClass("slds-hide");
                                    $("#commentLabel").html("Comment");
                                    Lurniture.Util.OpenModal('CompleteUserActivity');
                                }
                                else{
                                    $("#activityMessage").val('');
                                    $("#CompleteUserActivity [selectedObject]").attr("selectedObject",'');
                                    Lurniture.MyProgram.completeActivity();
                                }
                                
                            }
                            
                            if (objectChange) {
                                $("#activityMessage").val(currentComment);
                            }
                        },
                        completeActivity : function(){
                            var objectId =  $("#CompleteUserActivity [selectedObject]").attr("selectedObject");
                            var objectType =  $("#CompleteUserActivity [selectedObjectType]").attr("selectedObjectType");
                            var activityType = $("#CompleteUserActivity").attr("userActivityType");
                            if(typeof objectId == 'undefined' || objectId == ''){
                                objectId = '';
                                objectType = '';
                            }
                            
                            if(objectId == '' && (activityType=='Deal' || activityType=='SQO')){
                                $("#LookupSearchError").html('Please specify a related opportunity.');
                                return false;
                            }else if(objectId == '' && activityType == 'Meeting'){
                                $("#LookupSearchError").html('Please specify a Related To.');
                                return false;
                            }
                            
                            $("#LookupSearchError").html('&nbsp;');
                            if(selectedActivityRelatedto.toLowerCase() == 'required' && objectId == ''){
                            	$("#LookupSearchError").html('Please specify a Related To.');
                            	return;
                            }
                            
                            var activityMessage = $("#activityMessage").val() == undefined ? '' : $("#activityMessage").val().trim();
                            if(selectedActivityCommentStatus == 'required' && activityMessage == ''){
                                $("#commentError").html('A comment is required.');
                                $("#commentError").css("display", "block");
                                return;
                            } else if (activityMessage.length > 255) {
                                $("#commentError").html('Comment cannot exceed 255 characters');
                                $("#commentError").css("display", "block");
                                return;
                            }
                            
                            var userActivityId =   $("#CompleteUserActivity").attr("userActivityId");
                            
                            var jsonData = {};
                            jsonData["userActivityId"] = userActivityId;
                            jsonData["programEnrollmentId"] = programEnrollmentId;
                            jsonData["objectId"] = objectId;
                            jsonData["objectType"] = objectType;
                            jsonData["message"] = activityMessage;
                            
                            Lurniture.Util.showLoader();
                            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.ProgramForMobile.markUserActivityComplete}',JSON.stringify(jsonData),function(event,result){
                                  Lurniture.Util.hideLoader();
                                  Lurniture.Util.CloseModal('CompleteUserActivity');
                                  Lurniture.MyProgram.loadProgram();
                                  
                             });
                                                    
                        },
                        
                        openSectionDescriptionModal : function(element) {
					        var sectionBar = $(element).closest('.section-review-bar');
					        $("#headerSectionDescription").text($(sectionBar).find(".sectionName").text());
					        $("#bodySectionDescription").html(convertTextLinks($(sectionBar).find(".sectionDescription").text()));
					        Lurniture.Util.OpenModal('sectionDescriptionModal');
					    },
                        
                        showHideComment : function(commentRequestStatus){
                            $("#comment").addClass("slds-hide");
                            if(commentRequestStatus == 'optional'){
                                $("#comment").removeClass("slds-hide");
                                $("#commentLabel").html("Comment (optional)");
                            }
                            else if(commentRequestStatus == 'required'){
                                $("#comment").removeClass("slds-hide");
                                $("#commentLabel").html("Comment");
                            }
                        },
                        
                        showHideRelatedTo : function(relatedtoRequest){
                             $("#LookupOption").addClass('slds-hide');
                             if(relatedtoRequest != undefined && (relatedtoRequest.toLowerCase() == 'required' || relatedtoRequest.toLowerCase() == 'optional')) {
                             	$("#LookupOption").removeClass('slds-hide');
                             }
                        },
                        
                        showAllDetails : function(){
                            $("#userActivitySection .feb-prog-exercise-decs[data-show = 'hide']").each(function() {
                                $(this).attr("data-show", "show")
                                $(this).slideToggle();
                            });
                            
                            $(".btnCollapse button").each(function() {
					            if ($(this).attr('title') == 'Expand Section') {
					                $(this).click();
					            }
					        });
                        },
                        
                        toggleDueDisplay : function() {
                            var toggleLink = $("#dueDisplayToggleLink");
                            if ($(toggleLink).attr("data-show")=='days') {
                                $(toggleLink).attr("data-show", "dates");
                                $(toggleLink).html('show program days');
                                $("#userActivitySection").addClass("show-dates");
                            } else {
                                $(toggleLink).attr("data-show", "days");
                                $(toggleLink).html('show program dates');
                                $("#userActivitySection").removeClass("show-dates");
                            }
                        }
                    }
                 
                  
                 })();
                 
                 Lurniture.Util = (function(){
                    return{
                        showLoader : function() {
                            $('#loadingIconAssign').removeClass('slds-hide');
                        },
                        
                        hideLoader : function() {
                            $('#loadingIconAssign').addClass('slds-hide');
                        },
                         compileHandleBar : function(dataSource,sourceId , templateId){
                            var templateNode = $("#"+templateId);
                            var templateHTML = templateNode.html();
                            var template = Handlebars.compile(templateHTML);
                            $("#"+sourceId).html(template(dataSource));  
                        },
                        OpenModal : function(elementID) {
                            Lurniture.Util.resetModal(elementID);
                            var modal = $('#' + elementID);
                            modal.find('.slds-modal').addClass('slds-fade-in-open');
                            modal.find('.slds-modal-backdrop').addClass('slds-modal-backdrop--open');
                        },
                        
                        CloseModal : function(elementID) {
                            var modal = $('#' + elementID);
                            $(".Error").removeClass('feb-error-toast-mobile-open');
                            modal.find('.slds-modal').removeClass('slds-fade-in-open');
                            modal.find('.slds-modal-backdrop').removeClass('slds-modal-backdrop--open');
                        },
                        resetModal : function(elementID) {
                            var modal = $('#' + elementID);
                            modal.find('[reset-value="true"]').val('');
                            modal.find('[reset-html="true"]').html('');
                            modal.find('[reset-error="true"]').html('&nbsp;');
                            modal.find('[reset-errorClass="true"]').removeClass('feb-input-error');
                            modal.find("input[type='checkbox']").prop("checked",false);
                            modal.find('[reset-show="true"]').removeClass('slds-hide');
                            modal.find('[reset-hide="true"]').addClass('slds-hide');

                        },
                         bindDropDown : function(){

                          $(".slds-dropdown-trigger--click").on('click', function(event) {
                                $(".slds-dropdown-trigger--click").removeClass('slds-is-open');
                                $(this).addClass('slds-is-open');
                                event.stopPropagation()
                            });
        
                            var touchEvent = 'ontouchstart' in window ? 'touchstart' : 'click';
                            $(".slds-dropdown__item").off(touchEvent);
                            $(".slds-dropdown__item").on(touchEvent, function() {
                                $(this).trigger('click')
                            });

                        },
                        multiLookup : function(selectedObj,selectedObjName,options,label){
                                lookupDataSource = {};
                                lookupDataSource.selectedObj = selectedObj;
                                lookupDataSource.label = label;
                                lookupDataSource.placeholder = 'Search '+selectedObjName;
                                lookupDataSource.selectedObjIcon = "{!URLFOR($Resource.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#"+selectedObj+"')}";
                                
                                lookupDataSource.commentLabel = '';
                                if(selectedActivityCommentStatus == 'optional'){
                                    lookupDataSource.commentLabel = 'Comment (Optional)';
                                }
                                else if(selectedActivityCommentStatus == 'required'){
                                    lookupDataSource.commentLabel = 'Comment';
                                }
                                
                                lookupDataSource.listObject = [];
                                var tempObject = {};
                                if(options.indexOf('account') > -1){
                                    tempObject.obj = 'account';
                                    tempObject.objIcon = "{!URLFOR($Resource.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#account')}";
                                    tempObject.objName = 'Accounts';
                                    lookupDataSource.listObject.push(tempObject);
                                }
                                
                                
                                if(options.indexOf('contact') > -1){
                                    tempObject = {};
                                    tempObject.obj = 'contact';
                                    tempObject.objIcon = "{!URLFOR($Resource.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#contact')}";
                                    tempObject.objName = 'Contacts';
                                    lookupDataSource.listObject.push(tempObject);
                                }
                                if(options.indexOf('lead') > -1){
                                    tempObject = {};
                                    tempObject.obj = 'lead';
                                    tempObject.objIcon = "{!URLFOR($Resource.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#lead')}";
                                    tempObject.objName = 'Leads';
                                    lookupDataSource.listObject.push(tempObject);
                                }
                                if(options.indexOf('opportunity') > -1){
                                    tempObject = {};
                                    tempObject.obj = 'opportunity';
                                    tempObject.objName = 'Opportunities';
                                    tempObject.objIcon = "{!URLFOR($Resource.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#opportunity')}";
                                    lookupDataSource.listObject.push(tempObject);
                                }
                                
                                Lurniture.Util.compileHandleBar(lookupDataSource,'modalBody','LookupTemplate');
                                Lurniture.Util.bindDropDown();
                                Lurniture.Util.initLookup(selectedObj);
                                
                        }, 
                        initLookup : function(selectedObj){
                            $("#LookupSearch").keyup(function() { 
                                 var search = $("#LookupSearch").val();
                                 if(search.trim()==''){
                                    $("#LookupSearchContainer").html('');
                                 }
                                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.ProgramForMobile.searchInLookup}', search, selectedObj, function(result, event) {
                                    Lurniture.Util.AutoCompleteInMobileWithPill('LookupSearch', result, selectedObj);
                                });
                            });
                        
                        },
                        AutoCompleteInMobileWithPill : function(id, dataSource, selectedObj){
                            $("#"+id).attr("selectedObject",'');
                            if(Object.keys(dataSource).length == 0){
                              $("#"+id+"Container").html('');
                              return false;
                            }
                            
                            var html = '<ul class="feb-lookup-mobile slds-p-around--small">';
                            $.each(dataSource,function(index,item){
                                html += '<li data-autoCompleteLi="data-autoCompleteLi"   data-userId="'+ item.id +'" data-userName="'+ item.title +'">';
                                html += Lurniture.Util.autoCompleteDropDownWithSvgHtml(item, selectedObj);
                                html += '</li>';
                            });
                            html += '</ul>';
                            $("#"+id+"Container").html(html);
                            $("[data-autoCompleteLi]").click(function(){
                                var userName =$(this).attr("data-userName");
                                var userId =$(this).attr("data-userId");
                                $("#"+id).attr("selectedObject", userId);
                                $("#"+id).attr("selectedObjectType", selectedObj);
                                $("#lookupPillPart").html(Lurniture.Util.createPill(userName, selectedObj));
                                $("#lookupInputPart").addClass('slds-hide');
                                $("#"+id+"Container").html('');
                                $("#LookupSearchError").html('&nbsp');
                            });
                        },
                        autoCompleteDropDownWithSvgHtml : function(item, valueObj){
                          var html= ' <div class="slds-grid slds-grid--vertical-align-center">';
                           html += ' <div class="slds-grow-none">';
                           html+='<span class="slds-icon_container " >';
                           html += ` <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-standard-`+valueObj+`" >`;
                           html += `   <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#`+valueObj+`')}"></use>`;
                           html += ' </svg>';
                           html += ' </span> ';
                           html += ' </div>';
                           html += ' <div class="feb-lpd-10 slds-truncate">' +item.title+ '</div>';
                           html += ' </div>';
                         return html;
                        },
                        createPill : function(name, obj){
                             var html= ` <div class="slds-pill slds-p-around--x-small slds-grid" style="background-color: #fafafa;">
                                    <span class="slds-icon_container">
                                        <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-standard-`+obj+`">               
                                            <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#`+obj+`')}"></use>            
                                        </svg>
                                    </span>

                                    <span  class="slds-grow slds-pill__label feb-lpd-10">`+name+`</span>

                                    <button type="button" class="slds-button slds-button--icon slds-pill__remove" title="Remove" onclick="resetLookup()">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Remove</span>
                                    </button>
                                </div>`;
                                
                                return html;
                        },
                        findTotalDays : function(startDate,EndDate){
                            var dt = startDate.split('/');
                            startDate = dt[1]+'/'+dt[0]+'/'+dt[2];
                            var dt2 = EndDate.split('/');
                            EndDate = dt2[1]+'/'+dt2[0]+'/'+dt2[2];
                            var date1 = new Date(startDate);
                            var date2 = new Date(EndDate);
                            var timeDiff = Math.abs(date2.getTime() - date1.getTime());
                            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
                            return diffDays+1;
                        },
                        
                        closeToast: function(elementID) {
                            $('#' + elementID).removeClass('feb-error-toast-mobile-open');
                        },
            
                        openToast: function(elementID, info) {
                            $("#" + elementID + "ToastInfo").html(info);
                            $('#' + elementID).addClass('feb-error-toast-mobile-open');
                        },
                    }
                 
                 
                 })();
                 
                 /*Quiz scripts starts*/
                 Lurniture.Quiz = (function(){
	                var questionIndex = 0;
	                var noDelayQuizIndex = 0;
	                var selectedVideoQuizzes;
	                var selectedVideoNoDelayQuizzes;
	                var selectedQuiz;
	                var attendedQuestions = {};
	                var canOpenNoDelayQuiz = false;
	                
	                Handlebars.registerHelper ("setChecked", function (userSelected) {
	                    if(userSelected == true) {
	                       return "checked"
	                    }else {
	                       return "";
	                    }
	                });
	                
	                return{
	                    showQuizStatusDetail : function(quizId, quizStatusInfo){
	                        if(quizStatusInfo == 'Available' || quizStatusInfo == 'You must watch the video before taking the quiz.'){
	                            Lurniture.Util.showLoader();
	                           Lurniture.Quiz.OpenQuizResponsePopup(quizId);
	                        }
	                        else if(quizStatusInfo != ''){
	                            Lurniture.Util.openToast('already', quizStatusInfo);
	                            window.setTimeout(function(){Lurniture.Util.closeToast('already');},5000); 
	                        }
	                    },
	                    
	                    closeQuizResponseModal : function(){
	                        Lurniture.Util.CloseModal('quizResponseModal');
	                        $("#buttonSaveQuizResponse").addClass("slds-hide");
	                    },
	                    
	                    OpenQuizResponsePopup : function(quizId){
	                        Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.ProgramForMobile.loadQuizWrapper}', quizId,function(event,result){
	                            if(result.status){
	                                selectedQuiz = result.result;
	                                attendedQuestions = {};
	                                questionIndex = 0;
	                                
	                                if(Object.keys(selectedQuiz.questions).length > 0){
	                                    Lurniture.Util.CloseModal('quizListModal');
	                                    $("#spanPopQuizName").html(selectedQuiz.popQuizName);
	                                    $("#quizResponseModal").find(".slds-modal__content").attr("data-quizId", selectedQuiz.quizId);
	                                    selectedQuiz.questions[questionIndex].questionIndexString = 'Question ' + (questionIndex + 1) + ' of ' + Object.keys(selectedQuiz.questions).length;
	                                    Lurniture.Util.compileHandleBar(selectedQuiz.questions[questionIndex],'quizQuestions','quizQuestionsTemplate');
	                                    Lurniture.Util.OpenModal('quizResponseModal');
	                                    Lurniture.Quiz.nextPreviousEnableDisable();
	                                }
	                                else{
	                                    Lurniture.Util.openToast('already', 'Quiz has no questions.');
	                                    window.setTimeout(function(){Lurniture.Util.closeToast('already');},5000); 
	                                }
	                                Lurniture.Util.hideLoader();
	                            }
	                        });
	                    },
	                    
	                    nextPreviousEnableDisable : function(){
	                        $("#buttonPreviousQuestion").attr('disabled', 'disabled');
                            $("#buttonNextQuestion").attr('disabled', 'disabled');
                        
	                        if(questionIndex > 0){
	                            $("#buttonPreviousQuestion").removeAttr('disabled');
	                        }
                        
	                        if(questionIndex < Object.keys(selectedQuiz.questions).length - 1){
	                            var choices = selectedQuiz.questions[questionIndex].choices;
	                            for (var key in choices) {
	                                if (choices[key].userSelected) {
	                                    $("#buttonNextQuestion").removeAttr('disabled');
	                                    break;
	                                }
	                            }
	                        }
	                    },
	                    
	                    nextQuestion : function(){
	                        if(questionIndex < Object.keys(selectedQuiz.questions).length - 1){
	                            questionIndex++;
	                            selectedQuiz.questions[questionIndex].questionIndexString = 'Question ' + (questionIndex + 1) + ' of ' + Object.keys(selectedQuiz.questions).length;
	                            Lurniture.Util.compileHandleBar(selectedQuiz.questions[questionIndex],'quizQuestions','quizQuestionsTemplate');
	                            Lurniture.Quiz.nextPreviousEnableDisable();
	                        }
	                    },
	                    
	                    previousQuestion : function(){
	                        if(questionIndex > 0){
	                            questionIndex--;
	                            selectedQuiz.questions[questionIndex].questionIndexString = 'Question ' + (questionIndex + 1) + ' of ' + Object.keys(selectedQuiz.questions).length;
	                            Lurniture.Util.compileHandleBar(selectedQuiz.questions[questionIndex],'quizQuestions','quizQuestionsTemplate');
	                            Lurniture.Quiz.nextPreviousEnableDisable();
	                        }
	                    },
	                    
	                    saveQuizResponse : function(){
	                        Lurniture.Util.showLoader();
	                        var quizId = $("#quizResponseModal").find(".slds-modal__content").attr("data-quizId");
	                        Lurniture.Util.showLoader();
	                        var questions = [];
	                        var choices = [];
	                        var incorrectQuestions = [];
	                        var totalCorrectAttempt = 0;
	                        
	                        for(var i = 0; i < Object.keys(selectedQuiz.questions).length; i++){
	                            var q = {};
	                            q.questionId = selectedQuiz.questions[i].questionId;
	                            q.question = selectedQuiz.questions[i].question;
	                            q.quizId = selectedQuiz.questions[i].quizId;
	                            q.quizName = selectedQuiz.questions[i].quizName;
	                            q.newQuestion = selectedQuiz.questions[i].newQuestion;
	                            q.editQuestion = selectedQuiz.questions[i].editQuestion;
	                            q.deleteQuestion = selectedQuiz.questions[i].deleteQuestion;
	                            questions.push(q);
	                            
	                            var correct = false;
	                            for(var j = 0; j < Object.keys(selectedQuiz.questions[i].choices).length; j++){
	                                choices.push(selectedQuiz.questions[i].choices[j]);
	                                var isCorrectChoice = selectedQuiz.questions[i].choices[j].isCorrect;
	                                var userChoice = selectedQuiz.questions[i].choices[j].userSelected;
	                                if(isCorrectChoice && userChoice){
	                                    totalCorrectAttempt++;
	                                    correct = true;
	                                }
	                            }
	                            
	                            if (!correct) {
	                                incorrectQuestions[incorrectQuestions.length] = q.question
	                            }
	                        }
	                        
	                        var questionJson =  JSON.stringify(questions);
	                        var choicesJson =  JSON.stringify(choices);
	                        Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.ProgramForMobile.saveQuizQuestionResponse}', questionJson, choicesJson, quizId,function(event,result){
	                            if(result.status){
	                                Lurniture.Util.hideLoader();
	                                Lurniture.Util.CloseModal('quizResponseModal');
	                                $("#buttonSaveQuizResponse").addClass("slds-hide");
	                                
	                                if (Object.keys(selectedQuiz.questions).length == totalCorrectAttempt) {
	                                    Lurniture.Util.openToast('successfully', 'Congratulations you answered all questions correctly.');
	                                    window.setTimeout(function(){Lurniture.Util.closeToast('successfully');},5000);
	                                } else if ({!!showQuizIncorrectAnswers}) {
	                                    var percentage = Math.round(totalCorrectAttempt * 100 / Object.keys(selectedQuiz.questions).length);
	                                    Lurniture.Util.openToast('already', 'You scored ' + totalCorrectAttempt + ' out of ' + Object.keys(selectedQuiz.questions).length + ' (' + percentage + '%). You can retake the quiz at anytime.');
	                                    window.setTimeout(function(){Lurniture.Util.closeToast('already');},5000);
	                                } else {
	                                    var percentage = Math.round(totalCorrectAttempt * 100 / Object.keys(selectedQuiz.questions).length);
	                                    var message = 'You scored ' + totalCorrectAttempt + ' out of ' + Object.keys(selectedQuiz.questions).length + ' (' + percentage + '%). You can retake the quiz at anytime.';
	                                    message += '<div style="margin-top:8px; font-size:14px;">';
	                                    message += (incorrectQuestions.length == 1) ? 'The following question is incorrect:' : 'The following questions are incorrect:';
	                                    message += '</div><ul style="margin-left:18px; font-size:14px;">';
	
	                                    for (var i = 0; i < incorrectQuestions.length; i++) {
	                                        message += '<li style="list-style-type: disc;">' + incorrectQuestions[i] + '</li>';
	                                    }
	                                    
	                                    message += '</ul>';
	                                    Lurniture.Util.openToast('already', message);
	                                    window.setTimeout(function(){Lurniture.Util.closeToast('already');},15000);
	                                }
	                                
	                                Lurniture.MyProgram.loadProgram();
	                            }
	                        });
	                    },
	                    
	                    updateUserSelectedOption : function(choiceId){
	                        /*e.preventDefault();*/
	                        for(var i = 0 ; i < Object.keys(selectedQuiz.questions[questionIndex].choices).length; i++){
	                            if(selectedQuiz.questions[questionIndex].choices[i].choiceId == choiceId){
	                                selectedQuiz.questions[questionIndex].choices[i].userSelected = true;
	                                attendedQuestions[selectedQuiz.questions[questionIndex].questionId] = 
	                                                                        selectedQuiz.questions[questionIndex].choices[i].choiceId;
	                                
	                                if(Object.keys(attendedQuestions).length == Object.keys(selectedQuiz.questions).length){
	                                    $("#buttonSaveQuizResponse").removeClass('slds-hide');
	                                } else {
                                        $("#buttonNextQuestion").removeAttr('disabled');
                                    }
	                            }
	                            else{
	                                selectedQuiz.questions[questionIndex].choices[i].userSelected = false;
	                            }
	                        }
	                        
	                    },
	                }
	             })();
                 /*Quiz scripts ends*/
                 
                 
                
                 Handlebars.registerHelper('isProgramCompleted', function(status, options) {
                         if(status == 'Completed') {
                           return options.fn(this);
                         }
                         return options.inverse(this);
                   });
                   
                    Handlebars.registerHelper('programStatus', function(activityStatus, activity, isCompleted, programValidationTemplate, options) {
                         var programNotStarted =  $("#programStatus").attr("data-programStatus") == 'Not Started';
                         var style = '';
                         
                         if (isCompleted) {
                           style = 'feb-prog-status-completed-mobile ';
                         } else if(programNotStarted) {
                           style = 'feb-prog-status-disable-mobile '
                         } else {
                             if (activityStatus == 'overdue'){
                                 style = 'feb-prog-status-overdue-mobile ';
                             } else if(activityStatus == 'onDate'){
                                 style = 'feb-prog-status-duetoday-mobile ';
                             }
                             
                             if ((activity!='Listen' && activity!='Read' && activity!='Attend' && activity!='Other Exercise' && activity!='Other Milestone' 
                                 && activity!='Meeting' && activity!='Deal' && activity!='SQO' && activity!='Quota') 
                                 || (programValidationTemplate != null && programValidationTemplate !== undefined && programValidationTemplate != '')) {
                                 style += 'feb-prog-status-disable-mobile ';
                             }
                         }
                         return style;
                   });
                   
                   Handlebars.registerHelper('ifActivityClickComplete', function(activity, isCompleted, programValidationTemplate, options) {
                         var programNotStarted =  $("#programStatus").attr("data-programStatus") == 'Not Started';
                         
                         if (isCompleted || programNotStarted) {
                             return options.inverse(this);
                         } else if ((activity!='Listen' && activity!='Read' && activity!='Attend' && activity!='Other Exercise' && activity!='Other Milestone' 
                             && activity!='Meeting' && activity!='Deal' && activity!='SQO' && activity!='Quota')
                             || (programValidationTemplate != null && programValidationTemplate !== undefined && programValidationTemplate != '')){
                             return options.inverse(this);   
                         } else {
                             return options.fn(this);
                         }
                   });
                   
                   Handlebars.registerHelper('ifAutoActivityOnClick', function(isCompleted, activityType, currentActivityStatus) {
                         if (!isCompleted) {
                             var programNotStarted =  $("#programStatus").attr("data-programStatus") == 'Not Started';
                             if (!programNotStarted) {
                                 return 'onClick="openAutoCompleteActivityModal(\'' + activityType + '\')"';
                             } else {
                                 return 'onClick="openProgramNotStartedModal(\'' + activityType + '\')"';
                             }
                         }
                         return '';
                   });
                   
                    Handlebars.registerHelper('FillSvg', function(options) {
                       var iconName = options.fn(this)
                       return    AllSvgIcon[iconName];
                     });
                     
                     Handlebars.registerHelper('ifisFile', function(contentType,fileUrl,fileName, options) {
                           $("#tempForSanitize").html(fileName);
                           if(typeof fileUrl !='undefined' && fileUrl!='' && contentType=='File'){
                                return  '<a href="'+fileUrl+'" >' + $("#tempForSanitize").text() + '</a>';
                           }else if(contentType=='File'){
                                return '<a >' + $("#tempForSanitize").text() + '</a>';
                           }
                           return options.inverse(this);
                     });
                     Handlebars.registerHelper( "checkStatus", function (status, videoId , activityDataId,programEnrollmentId, userActivityId){
                         return getPageUrl(status, videoId, activityDataId,programEnrollmentId, userActivityId);
                     });
                     Handlebars.registerHelper('ifactivityType', function(activityType, activity, options) {
                        if(activityType === 'Exercise' || activity=='Certification' || activityType=='activity') {
                          return  options.fn(this);
                        }
                        return options.inverse(this);
                     });
                     
                     Handlebars.registerHelper('ifRelatedTo', function(relatedToType, options) {
                         if(relatedToType != undefined && Object.keys(relatedToType).length > 0) {
                           return options.fn(this);
                         }
                         return options.inverse(this);
                   });
                   
                   Handlebars.registerHelper('showDescriptionInfo', function(description, options) {
                       if(description == null){
                           return 'slds-hide';
                       }
                       
                       if(description.length == 0){
                           return 'slds-hide';
                       }
                       
                       return '';
                   });
                   
                   Handlebars.registerHelper('convertTextLinks', function(text, options) {
                       return convertTextLinks(text);
                   });
   
                     Handlebars.registerHelper('isComment', function(comment, options) {
                         if (comment == undefined || comment === '' || comment.trim() === '') {
                             return '';
                         } else {
                            var commentReplaced = convertTextLinks(comment);
                         
                            return '<div class="slds-text-title" style="margin-top:3px; font-size:12px;">'
                              + '<span class="slds-text-color--weak" style="display:table-cell;white-space:nowrap;">Comment: </span>'
                              + '<span class="slds-text-color--default white-space-pre-line" style="display:table-cell; padding-left:5px;">' + commentReplaced + '</span>'
                              + '</div>';
                         }
                     });
                     
                   Handlebars.registerHelper('isQuizResult', function(quizResult, options) {
				       if (quizResult == undefined || quizResult === '' || quizResult.trim() === '') {
				           return '';
				       } else {
				           return '<div class="slds-text-title" style="margin-top:3px; font-size:12px;">'
				               + '<span class="slds-text-color--weak">Quiz Result: </span>'
				               + '<span class="slds-text-color--default">' + quizResult + '</span>'
				               + '</div>';
				       }
				   });
                   
                   var previousAllActivityDateShowHide = true;
                   var previousActivityDateShowHide = '';
                   var firstLiAfterDateShowHide = 0;
                    
                   Handlebars.registerHelper('hideOrShow', function(activityType, activity, activityName ,isCompleted, currentActivityStatus) {
                        var programStatus =  $("#programStatus").attr("data-programStatus");
                            
                        if(isCompleted==true && programStatus=='Completed'){
                            previousActivityDateShowHide = 'Completed';
                            return 'show';
                            
                        }else if(isCompleted==true){
                            previousActivityDateShowHide = 'Completed';
                            return 'hide';
                        }
                        else if(currentActivityStatus=='overdue'){
                            previousAllActivityDateShowHide = false;
                            previousActivityDateShowHide = 'overdue';
                            return 'show';
                        }
                        else if(currentActivityStatus=='onDate'){
                            previousAllActivityDateShowHide = false;
                            previousActivityDateShowHide = 'onDate';
                            return 'show';
                        }
                        else if(currentActivityStatus=='haveToComplete' && firstLiAfterDateShowHide==0 && isCompleted==false && (previousActivityDateShowHide=='Completed' || previousActivityDateShowHide=='') && previousAllActivityDateShowHide ){
                            previousActivityDateShowHide = 'upComeingActivity';
                            previousAllActivityDateShowHide = false;
                            firstLiAfterDateShowHide=1;
                            return 'show';
                        }
                        else{
                            previousActivityDateShowHide = 'upComeingActivity';
                            previousAllActivityDateShowHide = false;
                            return 'hide';
                        }
                        
                     });
                   
                   function toggleCollapse(currentElement, speed){
                        var currentDiv = $(currentElement).closest('.sectionDiv');
                        var showDetails = (speed > 0 && $(currentElement).attr('title') == 'Expand Section'); // Show exercise details if manually expanded
                        
                        $.each($(currentDiv).nextUntil('div[is-section=true]', 'div'), function() {
	                        if (showDetails) {
				                $(this).find(".feb-prog-exercise-decs[data-show = 'hide']").each(function() {
				                    $(this).attr("data-show", "show")
				                    $(this).toggle();
				                })
				            }
                        
                             if (speed > 0) {
				                 $(this).slideToggle(speed);
				             } else {
				                 $(this).toggle();
				             }
                        });
                        
                        $(currentElement).toggleClass('feb-is-expanded');
                        
                        var title = ($(currentElement).attr('title') == 'Collapse Section') ? 'Expand Section' : 'Collapse Section';
                        $(currentElement).attr('title', title);
                    }
                   
                   
                 var AllSvgIcon = [{}];
                 
             function fillAllSvgIconInArray(){
                         AllSvgIcon['View']=` <svg aria-hidden="true" class="slds-icon  slds-icon-custom-custom21"> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/custom-sprite/svg/symbols.svg#custom21')}"></use> </svg>`;
                         AllSvgIcon['Coach']= ` <svg aria-hidden="true" class="slds-icon  slds-icon-standard-coaching"> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#coaching')}"></use> </svg>`;
                         AllSvgIcon['Quiz']=` <svg aria-hidden="true" class="slds-icon  slds-icon-custom-custom50 feb-pd-6"> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#question')}"></use> </svg>`;
                         AllSvgIcon['Publish']=  ` <svg aria-hidden="true" class="slds-icon  slds-icon-action-upload feb-pd-6 "> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/action-sprite/svg/symbols.svg#upload')}"></use> </svg>`;
                         AllSvgIcon['Peer Review']= ` <svg aria-hidden="true" class="slds-icon  slds-icon-standard-feedback  "> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#feedback')}"></use> </svg>`;
                         AllSvgIcon['Certification']= ` <svg aria-hidden="true" class="slds-icon  slds-icon-standard-approval feb-prog-milestone-icon"> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#approval')}"></use> </svg>`;
                         AllSvgIcon['Listen']=  ` <svg aria-hidden="true" class="slds-icon  slds-icon-custom-custom71  "> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/custom-sprite/svg/symbols.svg#custom71')}"></use> </svg>`;
                         AllSvgIcon['Role Play']= ` <svg aria-hidden="true" class="slds-icon  slds-icon-action-new-group feb-pd-6  "> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/action-sprite/svg/symbols.svg#new_group')}"></use> </svg>`;
                         AllSvgIcon['Read']= ` <svg aria-hidden="true" class="slds-icon  slds-icon-action-google-news feb-pd-6  "> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/action-sprite/svg/symbols.svg#google_news')}"></use> </svg>`;
                         AllSvgIcon['Meeting']= ` <svg aria-hidden="true" class="slds-icon  slds-icon-custom-custom23 feb-prog-milestone-icon"> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/custom-sprite/svg/symbols.svg#custom14')}"></use> </svg>`;
                         AllSvgIcon['SQO']= ` <svg aria-hidden="true" class="slds-icon  slds-icon-action-new-opportunity feb-pd-6 feb-prog-milestone-icon"> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/action-sprite/svg/symbols.svg#new_opportunity')}"></use> </svg>`;
                         AllSvgIcon['Deal']= ` <svg aria-hidden="true" class="slds-icon  slds-icon-standard-contract feb-prog-milestone-icon"> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#contract')}"></use> </svg>`;
                         AllSvgIcon['Other Exercise']= `<svg class="slds-icon  slds-icon-standard-task-2" aria-hidden="true"><use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#task2')}"></use></svg>`;
                         AllSvgIcon['Other Milestone']= `<svg class="slds-icon-action-goal slds-icon  feb-pd-6 feb-prog-milestone-icon" aria-hidden="true"><use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/action-sprite/svg/symbols.svg#goal')}"></use> </svg>`;
                         AllSvgIcon['Quota']=`<svg class="slds-icon-action-quote slds-icon  feb-pd-6 feb-prog-milestone-icon" aria-hidden="true"><use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/action-sprite/svg/symbols.svg#quote')}"></use></svg>`;
                         AllSvgIcon['Playlist']=` <svg aria-hidden="true" class="slds-icon  feb-pd-6 slds-icon-standard-apps"> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#side_list')}"></use> </svg>`;
                         AllSvgIcon['Program']=` <svg aria-hidden="true" class="slds-icon  slds-icon-action-share-poll"> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#poll')}"></use> </svg>`;
                         AllSvgIcon['Attend']=` <svg aria-hidden="true" class="slds-icon  slds-icon-custom-custom84"> <use xlink:href="{!URLFOR($Resource.SLDS, 'assets/icons/custom-sprite/svg/symbols.svg#custom84')}"></use> </svg>`;
                        
             }
             
             function convertTextLinks(text) {
		         if (text == undefined || text === '' || text.trim() === '') {
		             return text;
		         }
		             
		         // http://, https://, ftp://
		         var urlPattern = /\b(?:https?|ftp):\/\/[a-z0-9-+&@#\/%?=~_|!:,.;]*[a-z0-9-+&@#\/%=~_|]/gim;
		 
		         // www. sans http:// or https://
		         var pseudoUrlPattern = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
		 
		         // Email addresses
		         var emailAddressPattern = /[\w.]+@[a-zA-Z_-]+?(?:\.[a-zA-Z]{2,6})+/gim;
		         
		         return text.trim().replace(urlPattern, '<a href="$&" target="_blank">$&</a>').replace(pseudoUrlPattern, '$1<a href="http://$2" target="_blank">$2</a>').replace(emailAddressPattern, '<a href="mailto:$&">$&</a>');
		     }
     
             function getPageUrl(pageName,videoId,activityDataId,programEnrollmentId, userActivityId){
                 if (pageName == "Video" ){ 
                    return " sforce.one.navigateToURL('{!$Page.VideoDetailsf}?programEnrollmentId={!programEnrollmentId}&id="+activityDataId+"')";
                }
                else if(pageName == "Quiz")  {
                	if(videoId != undefined && videoId != ''){
                    	return " sforce.one.navigateToURL('{!$Page.VideoDetailsf}?programEnrollmentId={!programEnrollmentId}&id="+videoId+"&quizId="+activityDataId+"')";
                    }
                    else{
                    	Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.ProgramForMobile.getQuizWrapperUserView}', activityDataId, function(result, event){
                    		if(event.status){
                    			var returnAction = "Lurniture.Quiz.showQuizStatusDetail('" + activityDataId + "', '" + result.quizStatusInfo + "');";
                    			var ele = "#anchor" + userActivityId;
                    			$(ele).attr("onclick", returnAction);
                    		}
                    	});
                    }
                }
                else if(pageName == "Room"){
                    return " sforce.one.navigateToURL('{!$Page.LurnitureRoomMobile}?programEnrollmentId={!programEnrollmentId}&roomid="+activityDataId+"')";
                } 
                else if(pageName == "Program"){ 
                        if((typeof programEnrollmentId =='undefined' ||  programEnrollmentId == '') ){
                            return 'openCloseProgramAlert();';
                        }else{
                            return " sforce.one.navigateToURL('{!$Page.ProgramFormobile}?programEnrollmentId="+programEnrollmentId+"')";
                        }
                        
                 }else if(pageName == "Playlist"){
                    return " sforce.one.navigateToURL('{!$Page.lurniturePlaylistsMobile}?programEnrollmentId={!programEnrollmentId}&playlistid="+activityDataId+"')";
                }
            }
            
            function openCloseProgramAlert(){
                Lurniture.Util.hideLoader(); 
                Lurniture.Util.openToast('already', 'You have not been assigned this program.');
                window.setTimeout(function(){Lurniture.Util.closeToast('already');},5000); 
            }
            
            function openAutoCompleteActivityModal(activityType){
                Lurniture.Util.hideLoader(); 
                
                if (activityType=='Exercise') {
                    Lurniture.Util.openToast('already', 'This exercise will be automatically marked following completion.');
                } else {
                    Lurniture.Util.openToast('already', 'This milestone will be automatically marked following completion.');
                }
                window.setTimeout(function(){Lurniture.Util.closeToast('already');},5000); 
            }
            
            function openProgramNotStartedModal(activityType){
                Lurniture.Util.hideLoader(); 
                
                if (activityType=='Exercise') {
                    Lurniture.Util.openToast('already', 'This program has not started yet, the exercise cannot be marked completed.');
                } else {
                    Lurniture.Util.openToast('already', 'This program has not started yet, the milestone cannot be marked completed.');
                }
                window.setTimeout(function(){Lurniture.Util.closeToast('already');},5000); 
            }
            
            function resetLookup(){
                 $("#CompleteUserActivity [selectedObject]").attr("selectedObject",'');
                  $("#LookupSearch").val('');
                 $("#lookupPillPart").html('');
                 $("#lookupInputPart").removeClass('slds-hide');
            }
                 
                 function closeDropDown(ele){
                    var selectedObj = $(ele).attr("data-obj");
                    var selectedObjName = $(ele).attr("data-objName");
                    Lurniture.MyProgram.onChangeObjectType(selectedObj,selectedObjName, 'fromObjectChangeDropdown');
                 }
                 
                 function openRelatedToObject(relateToType, relatedToVideoId, relateToId, contentType, acitivityDataId){
                    var url = '';
                    if(contentType == 'Room' && relateToType == 'video'){
                         
                        sforce.one.navigateToURL('{!$Page.LurnitureRoomMobile}?roomid='+acitivityDataId+'&videoId='+relatedToVideoId);
                    }
                    else if(contentType == 'Room' && relateToType == 'videofeed'){
                         
                        sforce.one.navigateToURL('{!$Page.LurnitureRoomMobile}?roomid='+acitivityDataId+'&videoId='+relatedToVideoId+'&feedbackId='+relateToId);
                    }
                    else{
                        sforce.one.navigateToSObject(relateToId, "detail") 
                    }
                }
           </script>
      </div>
</body>
</html>
</apex:page>