<!--
 *  MBRGetHelp.page
 *  @description FAQ page on portal
 *  @author Majeda Mahfuz, Traction on Demand
 *  @date 2014-10-30
  -->
<apex:page controller="MBRGetHelpController" docType="html-5.0" showHeader="false" sidebar="false" showChat="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false">

    <apex:composition template="MBRUserTemplate">
        <apex:define name="title">
            <apex:outputtext escape="false" value="{!$Label.MBRFAQPageTitle}" />
        </apex:define>

        <apex:define name="head">
            <apex:includeScript value="{!URLFOR($Resource.MBRJS, 'app/passwordStrength.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.MBRMyProfileJS, '')}" />
            <style>
            .recent-request-item-status:before {
                background: transparent !important;
            }
            </style>
   
            <script language="JavaScript" type="text/javascript" src="{!URLFOR($Resource.scode)}"></script>
            <script language="JavaScript" type="text/javascript">
         
            $(document).ready( function() { 
            s.pageName="MBR - Get Help";
            s.server="force.com";
            s.channel="";   
            s.events="event1";
            var s_code=s.t();
            if(s_code)document.write(s_code)
            });
        </script>
        </apex:define>

        <apex:define name="pageTitle">{!$Label.MBRFAQPageTitle}</apex:define>

        <apex:define name="body">
            <p class="hide-for-mobile">{!$Label.MBRFAQPageCopy}</p>
           
            <div class="row full-width">
                <div class="col-xs-12 col-sm-8 primary-panel-col">
                    <apex:repeat value="{!Categories}" var="s">
                      
                            <div class="panel std-panel">
                                <h2 class="panel-header-medium color-purple panel-card-header">
                                  <apex:outputText value="{!s}" id="theValue" />
                                 
                                </h2>
                                <div class="questionsList std-panel-body">
                                    
                                    <ul class="filtered-questions-list">
                                        <apex:repeat value="{!Questions}" var="question">
                                            <apex:outputPanel layout="none" rendered="{!question.Category__c == s}">
                                                
                                                <li class="faq-question">
                                                    <i class="frg-icon cci-icon-faq color-purple" aria-hidden="true"></i> <a href="{!URLFOR($Page.MBRGetHelpAnswer)}?questionNumber={!question.Id}" class="color-purple">{!question.Question__c}</a>
                                           </li>
                                            </apex:outputPanel>
                                        </apex:repeat>
                                    </ul>
                                    
                                    
                                </div>
                            </div>
                     
                        
                    </apex:repeat>
                </div>
       
                <div class="col-xs-12 col-sm-4 secondary-panel-col">
                    <div class="panel faq-panel">
                        <h2 class="panel-header-medium panel-card-header color-light-black">
                            {!$label.mbrFAQGetHelp}
                        </h2>
                        <div class="std-panel-body">
                            <p class="std-panel-body-text">{!$label.mbrFAQSecondaryPanelBody}</p>
                            <a href="submit-request" class="frg-button color-green btn-normal full-width"> {!$label.mbrFAQGetHelp}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="singlequestion">
                <apex:outputPanel rendered="{!singleQuestion}">
                    <apex:form >
                        <div class="filtered-questions-list">
                            <apex:pageBlock >
                                <apex:repeat value="{!Questions}" var="question" rows="1">
                                    <div>
                                        <span>{!question.Question__c}</span>
                                        <p>{!question.Answer__c}</p>
                                    </div>
                                </apex:repeat>
                            </apex:pageBlock>
                            <div>
                                <a href="{!URLFOR($Page.MBRGetHelp)}">
                                    <span>Go back to list</span>
                                </a>
                            </div>
                        </div>
                    </apex:form>
                </apex:outputPanel>
            </div>
        </apex:define>

        <apex:define name="foot">
            <script type="text/javascript">
            postcsrf = {
                csrf1: '65183179d092cbaec33c60aa277d471e'
            };
            post_csrf_token_name = 'csrf1';
            post_csrf_token_value = '65183179d092cbaec33c60aa277d471e';

            function loadDetails(caseNumber) {
                window.location.href = '{!URLFOR($Page.MBRCaseDetail)}?caseNumber=' + caseNumber;
            }
            </script>
        </apex:define>
    </apex:composition>
</apex:page>