<apex:page standardController="Order" extensions="OCOM_ReviewOrderController"  showHeader="false" id="ReviewOrderPage">
<head>
    <script type="text/javascript">
        function viewPDF()
        {
            window.open('/apex/OCOM_ReviewOrderPdfWrapper?id={!orderId}', 'Popup', 'location=1,status=1,scrollbars=1, resizable=1, directories=1, toolbar=1, titlebar=1, width=1000, height=1000'); 
        }
        function setType()
        {   
            //Niran: QC-10203 Start
            var elm = document.getElementById("ReviewOrderPage:ReviewOrderForm:pdfTypeId");
            if( '{!order.Status}'== 'Submitted' || '{!order.Status}'== 'In Progress' || '{!order.Status}'== 'Activated' || '{!order.Status}'== 'Pending' || '{!order.ordermgmtid__c}' != '')    
                elm.value="Confirmation";
            else
                elm.value="Review";
            //Niran: QC-10203 End
        }
        function validate(email) 
        {
            var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return re.test(email);
        }
        
        function validateEmails(emailsString) 
        {
            document.getElementById("emailValidationMessage").innerHTML = '';
            var emails = emailsString.value.split(';');
            //alert(emails);
            var invalidEmails = [];
            
            for (i = 0; i < emails.length; i++) { 
                if(!validate(emails[i].trim())) {
                    invalidEmails.push(emails[i].trim())
                }
            }
            if(invalidEmails.length >0){
                document.getElementById("emailValidationMessage").innerHTML = 'Invalid Email Format.';
            }
            
        }
    function invokeCancelFlow() {

      var result = confirm("Are you sure you want to cancel this order?");
    if (result == true) {
        cancelAction();
        /*   testGetFocusedSubtabId();
        if (typeof(srcUp) == 'function') {
            sforce.console.getEnclosingTabId(enclosingTabId);
        } else {            
            window.location.href ='/apex/OCOM_CancelOrder?id={!Order.Id}';
        }*/
    } else {
        console.debug("You pressed Cancel!");        
    }
   

     }
    </script>
    <style>
        .messageSection{
            padding-top: .5%;
            text-align: left;
            padding-bottom: .5%;
          }
        .errorMessage{
             color: #c81235;
          }
          .successMessage{
             color: #408000;
          }
        #emailValidationMessage{
            color: red;
          padding-left: 5px;
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .book-appointment-info {
            background-color: #F5F6F7;
            color: #8C68A6;
            /*width: 100%;*/
            padding: 1%;
            padding-left: 2%;
            margin-bottom: 10px;            
        }
        .ocom-move-out-bkg-color-grey {
            background-color: #F2F2F2;
        }
        .ocom-margin-align {
            margin-left:2%;
            margin-right:2%;
        }
        .rotateReviewChevron{
            display:inline-block;
            cursor:pointer;            
            -moz-transition: all .3s linear;
            -webkit-transition: all .3s linear;
            transition: all .3s linear;
        }

        .rotateReviewChevron.down{
            -moz-transform:rotate(90deg);
            -webkit-transform:rotate(90deg);
            transform:rotate(90deg);
        }         
    </style>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.17/angular.js"></script>
    <apex:stylesheet value="{!URLFOR($Resource.vlocity_cmt__vlocity_assets)}"/>
    <apex:stylesheet value="{!URLFOR($Resource.PACLibrary, '/jquery-ui.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.bootstrapdemoplugins, '/bootstrapdemoplugins/bootstrap/css/bootstrap.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.vs_ocom_order, 'ocom_order.min.css')}" />

    <!-- Order Summary CSS component -->
    <c:OCOM_ReviewOrderCSS />  

</head>
  <!-- <apex:form id="cancelForm">
        <apex:actionFunction name="cancelAction" action="{!cancelOrder}"  />
       </apex:form> -->
    <div class="fontface" id="reviewOrder" style="margin-top:-20px;">
        
        <br/>
        <!--div>
                
                <button type="button" onclick="viewPDF();return false">View PDF</button> 
            </div>
                <br/-->
        <!-- <div class="reviewHeader"> -->
<!--             <div class="titleHeader">
                <label><strong>Review Order</strong></label>
            </div> -->
            
<!--             <div class="OrderSummaryLabelDiv row">
                <div><span class="OrderSummaryText frg-icon icon-arrow-right" aria-hidden="false" data-toggle="collapse" data-target="#reviewOrderHeader"><b>&nbsp;&nbsp;{!order.ordernumber}&nbsp;&nbsp;&nbsp;{!order.CustomerAuthorizedBy.Name},&nbsp;{!order.Account.Name}</b>
                    <span style="position: absolute;right: 200px;">
                        <input type="button" class="btn" onclick="viewPDF()"  id="viewPDFButton" value="View PDF" />  -->
                        <!-- TODO:N label -->
   <!--                      <input type="button" class="btn" onclick="invokeCancelFlow()"  id="cancelButton" value="Cancel Order" />    
                    </span>
                </span>
                    <div id="reviewOrderHeader" class="collapse">
                        <div class="headerAlign col-sm-8">
                            <p>{!order.ContactTitle__c}</p>
                            <p>{!order.ContactEmail__c}</p>
                            <p>{!order.ContactPhone__c}</p>
                        </div>
                        <div class="col-sm-4">
                            <p style="line-height:10px;color:black">{!$Label.OCOM_CREATED}</p>
                            <p style="line-height:10px;color:black">{!order.CreatedByName__c}
                                <apex:outputText value="{0,date, MMM dd,yyyy}">
                                    <apex:param value="{!order.CreatedDate}" />
                                </apex:outputText>&nbsp;
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="ContainerSummarySectiondiv">
            <div class="InsideWithoutBorderdiv">
                <div class="percentage49widthdiv">
                    <div class="Insidediv" style="text-align: left">
                       <div class="InsideWithoutBorderdiv">
                            <div class="frg-headline-font-21px color-purple">{!$Label.OCOM_ORDER_INCLUDES}</div>
                            <table class="NewLineItemTable"  cellspacing="0" border="0">
                               <tfoot>
                                    <tr>
                                        <th class="pLeft appendTotal frg-body-font-16px" colspan="3">{!$Label.OCOM_TOTAL_MONTHLY_PRICE}</th> 
                                       <!-- <th class="alignRight"></th> -->
                                        <th class="amountwidthfoot appendTotal frg-body-font-16px">
                                            <apex:outputText value="${0,number,0.00}">
                                                <apex:param value="{!OrderLineItemMonthlyCharge}" />
                                            </apex:outputText><small class="frg-body-font-16px">&nbsp;{!$Label.OCOM_PER_MONTH}</small>
                                       </th>
                                    </tr>
                                </tfoot>
                               
                                <!-- After ########### Order Items ############# -->
                                 <!-- Added by Arvind as part of Defect # 12714  -->
                                 <tr>
                                        <td></td>
                                        <td></td>
                                        <td>{!$Label.OCOM_Review_Qty}</td>
                                        <td></td>
                                 </tr>
                                <apex:repeat var="line" value="{!NewOrderLineItems}">
                                    <!-- Thomas QC-7731 -->
                                    <apex:outputPanel layout="none" rendered="{!(line.li.vlocity_cmt__RecurringTotal__c != 0.00 || line.li.vlocity_cmt__OneTimeTotal__c == 0.00) && line.isWLSPhone == false}">
                                        <tbody style="border:1px;">
                                       
                                            <tr id="{!line.li.vlocity_cmt__LineNumber__c}" class="{!line.li.vlocity_cmt__LineNumber__c} cellBorder" > <!-- Aditya Removed style="{!If(line.isToplevel==true,'display: ','')};"-->
                                                <td></td>
                                                <td class="alignleft">
                                                    <apex:outputText value="{!line.indentSpace}" escape="false" />
                                                        <apex:outputpanel id="plusimage" rendered="{!line.showAttributes.size>0 }"> <!-- Wael added this line.showAttributes.size>0 && Aditya Removed && Not(line.isToplevel) check -->
                                                        <apex:image url="{!URLFOR($Resource.OCOM_OrderSubmitImages, 'assets/Plus_Image.gif')}" onclick="switchMenu('{!$Component.inlinetablesec}','{!$Component.minusimage}','{!$Component.plusimage}','{!line.li.vlocity_cmt__LineNumber__c}')" title="Expand" /><!--{!line.li.vlocity_cmt__RootItemId__c}-->
                                                    </apex:outputpanel>
                                                    <apex:outputpanel id="minusimage" style="display:none;" rendered="{! line.showAttributes.size>0 }"> <!-- Aditya Removed && Not(line.isToplevel) check  -->
                                                        <apex:image url="{!URLFOR($Resource.OCOM_OrderSubmitImages, 'assets/Minus_image.gif')}" onclick="switchMenu('{!$Component.inlinetablesec}','{!$Component.plusimage}','{!$Component.minusimage}','{!line.li.vlocity_cmt__LineNumber__c}')" title="Collapse" /><!--{!line.li.vlocity_cmt__RootItemId__c} -->
                                                    </apex:outputpanel>
                                                    
                                                   <apex:image url="{!URLFOR($Resource.OCOM_OrderSubmitImages, 'assets/Avaiable.jpg')}" rendered="{! AND(isAmendedOrderSubmitReady , !ISBLANK(line.li.orderMgmtId_SubStatus__c)  ,line.li.orderMgmtId_SubStatus__c=='Completed')}"></apex:image><h5 style="{!(IF(OR(line.li.amendStatus__c=='Add', line.isOrderLineVisiblyAmended),'font-weight:bolder;color: purple;font-style:italic;','font-weight:normal;' ))}"> 
                                                    
                                                   <!-- added by Prashant for ACD on 21 march 2017-->
                                                    
                                                    
                                                    <apex:outputtext styleClass="frg-body-font-16px" style="color:#C81235;" value="{!line.li.pricebookentry.product2.Name}" rendered="{!If((line.li.vlocity_cmt__ProvisioningStatus__c =='Disconnected' ) ||(line.li.vlocity_cmt__ProvisioningStatus__c =='Disconnected' && line.li.vlocity_cmt__ParentItemId__c == '') ,true,false)}" />
                                                    <apex:outputtext styleClass="frg-body-font-16px" value="{!line.li.pricebookentry.product2.Name}" rendered="{!If(line.li.vlocity_cmt__ProvisioningStatus__c !='Disconnected',true,false)}" />
                                                    &nbsp;
                                                    <apex:outputText value="{!line.li.ColourCode__c}" escape="false" rendered="{!If(line.li.vlocity_cmt__ProvisioningStatus__c =='Disconnected' && line.li.ParentOrderProductLookup__r.vlocity_cmt__ProvisioningStatus__c !='Disconnected',true,false) && ShowBadge}"/>  <!--Added by sneha-->
                                                    <apex:outputText value="{!line.li.ColourCode__c}" escape="false" rendered="{!If(line.li.vlocity_cmt__ProvisioningStatus__c !='Disconnected',true,false) && ShowBadge}"/>  <!--Added by sneha-->
                                                   
                                                    <!-- End of Prashant's code for ACD on 21 march 2017-->
                                                    </h5>
                                                    </td>

                                                <!-- Added by Arvind as part of Defect # 12714  -->
                                              
                                                <td class="amountWidth frg-body-font-16px" style="text-align:left!important;padding-right:0px!important;" >
                                                <apex:outputText value="{0, number, 0}">
                                                   <apex:param value="{!line.li.Quantity}" />
                                                </apex:outputText>
                                                                                   
                                                </td>
                                                <!-- Addition End Defect # 12714 -->
                                              
                                                <td class="amountwidthfootTd frg-body-font-16px">
                                                    <apex:outputText value="${0,number,0.00}">
                                                        <!-- Thomas QC-8004 -->
                                                        <apex:param value="{!line.li.vlocity_cmt__RecurringTotal__c}"/>
                                                    </apex:outputText><small>&nbsp;{!$Label.OCOM_PER_MONTH}</small>
                                                </td>
                                            </tr>
                                            <tr id="{!line.li.vlocity_cmt__LineNumber__c} attribute" class="{!line.li.vlocity_cmt__LineNumber__c} cellBorder" style=" background-color:white!important;display:none;">
                                                <td class="alignleft"/>
                                                <td class="alignleft">
                                                    <apex:outputpanel id="inlinetablesec" style="display:none;">
                                                        <apex:repeat var="att" value="{!line.showAttributes}">
                                                            <apex:outputText value="{!line.indentSpace}&nbsp;&nbsp;&nbsp;" escape="false" />
                                                            <apex:outputText value="{!att}" escape="false" />
                                                            <br/>
                                                        </apex:repeat>
                                                    </apex:outputpanel>
                                                </td>
                                                <td class="alignMiddle" valign="top"></td>
                                                <td class="amountwidthfootTd"></td>
                                            </tr> 
                                        </tbody>
                                    <!-- Thomas QC-7731 -->
                                    </apex:outputPanel>
                                </apex:repeat>
                             </table>
                        </div>
                    </div>
                    <div class="Insidediv">
                        <div class="InsideWithoutBorderdiv">
                        <div class="frg-headline-font-21px color-purple">One time costs</div>
                            <table id="quoteTable" cellspacing="0" border="0">
                                <tfoot>
                                    <tr style="background-color:white!important;color:black;">
                                        <th class="pLeft appendTotal frg-body-font-16px" colspan="2" style="font-weight:600;"> {!$Label.OCOM_YOUR_TOTAL_ONE_TIME_COSTS}</th>
                                        <th class="alignMiddle" style="text-align:right!important;"></th>
                                        <th class="amountwidthfoot appendTotal frg-body-font-16px" style="text-align:right!important;padding-right:5px!important">
                                            <apex:outputText value="${0,number,0.00}">
                                                <apex:param value="{!OrderLineItemOneTimeCharge+serviceChargeOneTimeCharge}" />
                                            </apex:outputText>
                                        </th>
                                    </tr>
                                </tfoot>
                                <tbody>               
                                <apex:repeat var="line" value="{!NewOrderLineItems}">
                                    <!-- Thomas QC-7731 -->
                                    <!--QC-10925/10928 Start-->
                                    <apex:outputPanel layout="none" rendered="{!line.isBundleOffer || line.isWLSOffer}">
                                        <tr class="{!line.li.vlocity_cmt__LineNumber__c} cellBorder">
                                            <td class="pLeft frg-body-font-16px" >
                                             <apex:outputText value="{!line.indentSpace}" escape="false" />
                                                <!-- added by Prashant for ACD on 21 march 2017-->
                                                    
                                                    
                                                    <apex:outputtext styleClass="frg-body-font-16px" style="color:#C81235;" value="{!line.li.pricebookentry.product2.Name}" rendered="{!If((line.li.vlocity_cmt__ProvisioningStatus__c =='Disconnected' ) ||(line.li.vlocity_cmt__ProvisioningStatus__c =='Disconnected' && line.li.vlocity_cmt__ParentItemId__c == '') ,true,false)}" />
                                                    <apex:outputtext styleClass="frg-body-font-16px" value="{!line.li.pricebookentry.product2.Name}" rendered="{!If(line.li.vlocity_cmt__ProvisioningStatus__c !='Disconnected',true,false)}" />
                                                    &nbsp;
                                                    <apex:outputText value="{!line.li.ColourCode__c}" escape="false" rendered="{!If(line.li.vlocity_cmt__ProvisioningStatus__c =='Disconnected' && line.li.ParentOrderProductLookup__r.vlocity_cmt__ProvisioningStatus__c !='Disconnected',true,false) && ShowBadge}"/>  <!--Added by sneha-->
                                                    <apex:outputText value="{!line.li.ColourCode__c}" escape="false" rendered="{!If(line.li.vlocity_cmt__ProvisioningStatus__c !='Disconnected',true,false) && ShowBadge}"/>  <!--Added by sneha-->
                                                   
                                                    <!-- End of Prashant's code for ACD on 21 march 2017-->
                                            </td>
                                            <td class="alignMiddle qtyWidth"></td>
                                            <td class="alignMiddle qtyWidth"></td>                           
                                            <td class="alignMiddle qtyWidth"></td>
                                            </tr>
                                    </apex:outputPanel>
                                    <!--QC-10925/10928 End-->
                                    <apex:outputPanel layout="none" rendered="{!line.li.vlocity_cmt__OneTimeTotal__c != 0.00 || line.isWLSPhone == true}">
                                        <tr class="{!line.li.vlocity_cmt__LineNumber__c} cellBorder">
                                            <td class="pLeft frg-body-font-16px" >
                                               <apex:outputText value="{!line.indentSpace}" escape="false" />
                                                <!-- added by Prashant for ACD on 21 march 2017-->
                                                    
                                                    
                                                    <apex:outputtext styleClass="frg-body-font-16px" style="color:#C81235;" value="{!line.li.pricebookentry.product2.Name}" rendered="{!If((line.li.vlocity_cmt__ProvisioningStatus__c =='Disconnected' ) ||(line.li.vlocity_cmt__ProvisioningStatus__c =='Disconnected' && line.li.vlocity_cmt__ParentItemId__c == '') ,true,false)}" />
                                                    <apex:outputtext styleClass="frg-body-font-16px" value="{!line.li.pricebookentry.product2.Name}" rendered="{!If(line.li.vlocity_cmt__ProvisioningStatus__c !='Disconnected',true,false)}" />
                                                    &nbsp;
                                                    <apex:outputText value="{!line.li.ColourCode__c}" escape="false" rendered="{!If(line.li.vlocity_cmt__ProvisioningStatus__c =='Disconnected' && line.li.ParentOrderProductLookup__r.vlocity_cmt__ProvisioningStatus__c !='Disconnected',true,false) && ShowBadge}"/>  <!--Added by sneha-->
                                                    <apex:outputText value="{!line.li.ColourCode__c}" escape="false" rendered="{!If(line.li.vlocity_cmt__ProvisioningStatus__c !='Disconnected',true,false) && ShowBadge}"/>  <!--Added by sneha-->
                                                   
                                                    <!-- End of Prashant's code for ACD on 21 march 2017-->

                                            </td>
                                            <td class="alignMiddle qtyWidth"></td>
                                            <td class="alignMiddle qtyWidth"></td>                           
                                            <td class="amountWidth frg-body-font-16px" style="text-align:right!important;padding-right:5px!important;">
                                                <apex:outputText value="${0,number,0.00}">
                                                    <!-- Thomas QC-7731 -->
                                                    <apex:param value="{!line.li.vlocity_cmt__OneTimeTotal__c}" />
                                                </apex:outputText>
                                            </td>
                                            </tr>
                                  </apex:outputPanel>
                                </apex:repeat>
                                <apex:outputPanel rendered="{!IF(!ISBLANK(ServiceChargesLineItems) && ServiceChargesLineItems.size>0,true, false)}">                    
                                <tr class="0001.0001 cellBorder">
                                            <td class="pLeft frg-body-font-16px" >
                                            </td>
                                            <td class="alignMiddle qtyWidth"></td>
                                            <td class="alignMiddle qtyWidth"></td>                           
                                            <td class="amountWidth frg-body-font-16px" style="text-align:right!important;padding-right:5px!important;">
                                               
                                            </td>
                                            </tr>
                               <!-- Aditya QC-9582 Start rendered="{!line.li.vlocity_cmt__OneTimeTotal__c != 0.00}" -->  
                                 <tr class="0001.0001 cellBorder" >
                                     <td class="pLeft frg-body-font-16px" >
                                      <apex:outputText value="{!$Label.OCOM_Review_Service_Charges}" escape="false" /> 
                                        </td>
                                        <td class="alignMiddle qtyWidth">{!$Label.OCOM_Review_Qty}</td>
                                        <td class="alignMiddle qtyWidth"></td>                           
                                        <td class="amountWidth frg-body-font-16px" style="text-align:right!important;padding-right:5px!important;">
                                        <apex:outputText value="${0,number,0.00}">                                                        
                                        <apex:param value="{!serviceChargeOneTimeCharge}" />
                                        </apex:outputText>
                                        </td>
                                 </tr> 
                                </apex:outputPanel>        
                                <apex:repeat value="{!serviceOfferToPriceMap}" var="key" rendered="{!IF(!ISBLANK(ServiceChargesLineItems) && ServiceChargesLineItems.size>0,true, false)}">       
                                <apex:outputPanel layout="none" >                                        
                                    <tr class="0001.0001.0001 cellBorder">
                                        <td class="pLeft frg-body-font-16px" >
                                            <apex:outputText value=" &nbsp; &nbsp; {!key}" escape="false" />
                                                </td>
                                            <td class="alignMiddle qtyWidth"> {!serviceOfferToQtyMap[key]}</td>
                                            <td class="alignMiddle qtyWidth"></td>                           
                                            <td class="amountWidth frg-body-font-16px" style="text-align:right!important;padding-right:5px!important;">
                                                <apex:outputText value="${0,number,0.00}">                                                        
                                                    <apex:param value="{!serviceOfferToPriceMap[key]}" />
                                                        </apex:outputText>
                                                    </td>
                                                    </tr>                                       
                                    </apex:outputPanel>
                                </apex:repeat>                        
                              </tbody>
                              <!-- Aditya QC-9582 End -->                          
                            </table>
                        </div>
                    </div>
                </div>
                <div class="percentage1widthdiv"/>
                <div class="percentage49widthdiv" style="padding-top: 1px;">                  
                    <div class="apptBorder" style="padding:0px;">
                        <div class="ocom-margin-align frg-headline-font-21px color-purple" style="padding-top:2%">{!$Label.OCOM_APPOINTMENTS}</div>
                        <apex:outputpanel rendered="{!showAppointmentInfoMsg}">
                            <div class="ocom-margin-align frg-body-font-15px book-appointment-info">{!$Label.OCOM_Appt_Info}</div>
                        </apex:outputpanel>
                            <div class="ocom-margin-align frg-headline-font-18px color-purple" style="{!If(order.Type == 'Move','display: ','display:none')};">New Service Location</div>
                            <div class="ocom-margin-align frg-body-font-16px" style="padding-left:10px;"><span class="frg-icon icon-map-marker" style="padding-right:18px;color:#666666"/>{!order.Service_Address_Text__c}</div><br/>
                            <!-- Start Wael -->
                           
                           <div id="WFMBookingAppt" class="ocom-margin-align" style="padding-left:9px;">
                           <span class="frg-icon icon-clock-inverted" style="color:#666666;float: left;padding-top: 3px;{!If(groupdWFMBookingsList.size>0,'display: ','display:none')};"/>
                                <apex:variable var="count" value="{!0}"/>
                                <apex:variable var="zero_index" value="{!0}"/>
                                <apex:repeat var="groupedWFMBooking" value="{!groupdWFMBookingsList}">
                                <apex:variable var="loop_wfm" value="{!groupdWFMBookingsList[count][zero_index]}"/> 
                                <div>
                                    <div style="padding-left:30px;">        
                                        <span class="frg-icon icon-arrow-right WFMDates rotateReviewChevron"  aria-hidden="true" data-toggle="collapse" data-target="#wfmBookingDetails{!count}"/>&nbsp;
                                        <apex:outputText styleClass="frg-body-font-16px" value="{0,date,EEEE, MMM dd, yyyy}">
                                            <apex:param value="{!groupdWFMBookingsList[count][zero_index].ScheduleDate}" />
                                        </apex:outputText>&nbsp;|&nbsp;
                                        <apex:outputText styleClass="frg-body-font-16px" value="{!groupdWFMBookingsList[count][zero_index].timeSlot}" />
                                        <apex:outputpanel styleClass="frg-body-font-16px" rendered="{!groupdWFMBookingsStatusList != null && groupdWFMBookingsStatusList.size>0 }"> 
                                            <apex:repeat var="key" value="{!groupdWFMBookingsStatusMarkMapKeysList}">
                                                <apex:repeat var="status" value="{!groupdWFMBookingsStatusMarkMap[key]}">
                                                    <apex:outputpanel rendered="{!loop_wfm.keyString == key }">
                                                        <apex:outputpanel rendered="{!status == 'Pending' }"> 
                                                            &nbsp;&nbsp;<span class="PendingStatus frg-body-font-16px">{!status}</span>&nbsp;&nbsp; 
                                                        </apex:outputpanel>
                                                        <apex:outputpanel rendered="{!status == $Label.OCOM_WFMERROR }"> 
                                                            &nbsp;&nbsp;<span class="ErrorStatus frg-body-font-16px">{!status}</span>&nbsp;&nbsp; 
                                                        </apex:outputpanel>
                                                    </apex:outputpanel>
                                                </apex:repeat>
                                            </apex:repeat>
                                        </apex:outputpanel>
                                    </div>
                                   <div id="wfmBookingDetails{!count}" class="collapse">
                                    <apex:repeat var="wfmBooking" value="{!groupedWFMBooking}">
                                        <table>
                                             <tr>   <!--  Wael for Defect 6496 Showing Error and Pending (Dev. is still in Progress) -->
                                                   <!--apex:outputpanel rendered="{!IF((wfmBooking.WFMStatus != $Label.OCOM_WFMPLACEHOLDER && wfmBooking.WFMStatus != $Label.OCOM_WFMERROR),true,false)}"-->
                                                  <apex:outputpanel rendered="{!wfmBooking.WFMStatus == $Label.OCOM_WFMReserved}">
                                                    <td class="frg-body-font-16px" style="padding-left:45px;" width="70px"><apex:outputText value="{!wfmBooking.WFMStatus}" /></td>
                                                    <td class="frg-body-font-16px" width="180px"><apex:outputText value="{!wfmBooking.productName}" /></td>
                                                   <td class="frg-body-font-16px" width="60px"><apex:outputText value="{!wfmBooking.WFMDuration}" /><span style="{!If(wfmBooking.WFMDuration != null,'display: ','display:none')};">&nbsp;hrs</span></td>
                                                   <td class="frg-body-font-16px" width="160px"><apex:outputText value="{!wfmBooking.WFMComments}" /></td>
                                                  </apex:outputpanel>
                                                  <apex:outputpanel rendered="{!wfmBooking.WFMStatus == $Label.OCOM_WFMPLACEHOLDER}">
                                                    <td class="frg-body-font-16px" width="70px"><span class="PendingStatus">Pending</span></td>
                                                    <td class="frg-body-font-16px" width="180px"><apex:outputText value="{!wfmBooking.productName}" /></td>
                                                    <td class="frg-body-font-16px" width="60px">&nbsp;</td>
                                                    <td class="frg-body-font-16px" width="160px">&nbsp;</td>
                                                  </apex:outputpanel>
                                                   <apex:outputpanel rendered="{!wfmBooking.WFMStatus == $Label.OCOM_WFMERROR}">
                                                    <td class="frg-body-font-16px" width="70px"><span class="ErrorStatus">Error</span></td>
                                                    <td class="frg-body-font-16px" width="180px"><apex:outputText value="{!wfmBooking.productName}" /></td>
                                                    <td class="frg-body-font-16px" width="60px">&nbsp;</td>
                                                    <td class="frg-body-font-16px" width="160px">&nbsp;</td>
                                                  </apex:outputpanel>
                                               </tr>
                                            <tr>
                                                <td></td>
                                                <td><apex:outputText styleClass="frg-body-font-16px" value="{!wfmBooking.WFMProductTechCode}" /></td>
                                            </tr>
                                        </table>
                                       
                                        </apex:repeat> 
                                    </div>
                                </div>    
                                <br/>
                                <apex:variable var="count" value="{!count + 1}"/>
                                </apex:repeat>  
                            </div>
                            <apex:variable var="zero" value="{!0}"/>
                            <apex:outputpanel rendered="{!groupdWFMBookingsList.size>0 }">
                            <!-- Defect 6821 -->
                             <apex:outputpanel rendered="{!siteContactName!=null && siteContactName!='' }">
                             <div class="ocom-margin-align onsiteContact frg-body-font-16px" style="padding-left:8px;"><span style="padding-right:14px;color:#666666" class="frg-icon icon-user-profile"/>{!$Label.OCOM_SITE_CONTACT}&nbsp;
                                 <apex:outputText value="{!siteContactName}" />,&nbsp;
                                 <apex:outputText value="{!siteContactPhone}" />,&nbsp;
                                 <apex:outputText value="{!siteContactEmail}" />
                        </div>
                         </apex:outputpanel>
                        </apex:outputpanel>
                        <br/>
                        <apex:outputpanel rendered="{!order.Type='Move'}">
                        <div class="ocom-move-out-bkg-color-grey">
                            <!-- Wael OCOM-1309 Start -->
                            <div class="ocom-margin-align frg-headline-font-17px color-purple">Move Out Location</div>
                            <div class="ocom-margin-align frg-body-font-16px" style="padding-left:10px;"><span class="frg-icon icon-map-marker" style="padding-right:18px;color:#AEAEAE"/>{!Order.Move_Out_Service_Address_Text__c}</div><br/>
                            <!-- Start Wael -->
                            <div id="WFMBookingAppt" class="ocom-margin-align" style="padding-left:9px;">
                            <span class="frg-icon icon-clock-inverted" style="color:#AEAEAE;float: left;padding-top: 3px;{!If(groupdWFMBookingsList_move.size>0,'display: ','display:none')};"/>
                                <apex:variable var="count" value="{!0}"/>
                                <apex:variable var="zero_index" value="{!0}"/>
                                <apex:repeat var="groupedWFMBooking" value="{!groupdWFMBookingsList_move}">
                                <apex:variable var="loop_wfm" value="{!groupdWFMBookingsList_move[count][zero_index]}"/> 
                                <div>
                                    <div style="padding-left:30px;">
                                        <span class="frg-icon icon-arrow-right WFMDates rotateReviewChevron"  aria-hidden="true" data-toggle="collapse" data-target="#wfmBookingDetails2{!count}"/>&nbsp;
                                        <apex:outputText value="{0,date,EEEE, MMM dd, yyyy}">
                                            <apex:param value="{!groupdWFMBookingsList_move[count][zero_index].ScheduleDate}" />
                                        </apex:outputText>&nbsp;|&nbsp;
                                        <apex:outputText value="{!groupdWFMBookingsList_move[count][zero_index].timeSlot}" />
                                        <apex:outputpanel rendered="{!groupdWFMBookingsStatusList_move != null && groupdWFMBookingsStatusList_move.size>0 }"> 
                                            <apex:repeat var="key" value="{!groupdWFMBookingsStatusMarkMapKeysList_move}">
                                                <apex:repeat var="status" value="{!groupdWFMBookingsStatusMarkMap_move[key]}">
                                                    <apex:outputpanel rendered="{!loop_wfm.keyString == key }">
                                                        <apex:outputpanel rendered="{!status == 'Pending' }"> 
                                                            &nbsp;&nbsp;<span class="PendingStatus">{!status}</span>&nbsp;&nbsp; 
                                                        </apex:outputpanel>
                                                        <apex:outputpanel rendered="{!status == $Label.OCOM_WFMERROR }"> 
                                                            &nbsp;&nbsp;<span class="ErrorStatus">{!status}</span>&nbsp;&nbsp; 
                                                        </apex:outputpanel>
                                                    </apex:outputpanel>
                                                </apex:repeat>
                                            </apex:repeat>
                                        </apex:outputpanel>
                                    </div>
                                    <div id="wfmBookingDetails2{!count}" class="collapse">
                                    <apex:repeat var="wfmBooking" value="{!groupedWFMBooking}">
                                        <table>
                                             <tr>   <!--  Wael for Defect 6496 Showing Error and Pending (Dev. is still in Progress) -->
                                                  <!--apex:outputpanel rendered="{!IF((wfmBooking.WFMStatus != $Label.OCOM_WFMPLACEHOLDER && wfmBooking.WFMStatus != $Label.OCOM_WFMERROR),true,false)}"-->
                                                  <apex:outputpanel rendered="{!wfmBooking.WFMStatus == $Label.OCOM_WFMReserved}">
                                                    <td class="frg-body-font-16px" style="padding-left:45px;" width="70px"><apex:outputText value="{!wfmBooking.WFMStatus}" /></td>
                                                    <td class="frg-body-font-16px" width="180px"><apex:outputText value="{!wfmBooking.productName}" /></td>
                                                   <td class="frg-body-font-16px" width="60px"><apex:outputText value="{!wfmBooking.WFMDuration}" /><span style="{!If(wfmBooking.WFMDuration != null,'display: ','display:none')};">&nbsp;hrs</span></td>
                                                   <td class="frg-body-font-16px" width="160px"><apex:outputText value="{!wfmBooking.WFMComments}" /></td>
                                                  </apex:outputpanel>
                                                  <apex:outputpanel rendered="{!wfmBooking.WFMStatus == $Label.OCOM_WFMPLACEHOLDER}">
                                                    <td class="frg-body-font-16px" width="70px"><span class="PendingStatus">Pending</span></td>
                                                    <td class="frg-body-font-16px" width="180px"><apex:outputText value="{!wfmBooking.productName}" /></td>
                                                    <td class="frg-body-font-16px" width="60px">&nbsp;</td>
                                                    <td class="frg-body-font-16px" width="160px">&nbsp;</td>
                                                  </apex:outputpanel>
                                                   <apex:outputpanel rendered="{!wfmBooking.WFMStatus == $Label.OCOM_WFMERROR}">
                                                    <td class="frg-body-font-16px" width="70px"><span class="ErrorStatus">Error</span></td>
                                                    <td class="frg-body-font-16px" width="180px"><apex:outputText value="{!wfmBooking.productName}" /></td>
                                                    <td class="frg-body-font-16px" width="60px">&nbsp;</td>
                                                    <td class="frg-body-font-16px" width="160px">&nbsp;</td>
                                                  </apex:outputpanel>
                                               </tr>
                                            <tr>
                                                <td></td>
                                                <td><apex:outputText value="{!wfmBooking.WFMProductTechCode}" /></td>
                                            </tr>
                                        </table>
                                       
                                        </apex:repeat> 
                                    </div>
                                </div>    
                                <br/>
                                <apex:variable var="count" value="{!count + 1}"/>
                                </apex:repeat>  
                            </div>
                            <apex:variable var="zero" value="{!0}"/>
                            <apex:outputpanel rendered="{!groupdWFMBookingsList_move.size>0 }">
                            <!-- Defect 6821 -->
                             <apex:outputpanel rendered="{!siteContactName!=null && siteContactName!='' }">
                              <div class="ocom-margin-align onsiteContact frg-body-font-16px" style="padding-left:8px;padding-bottom:10px;"><span style="padding-right:14px;color:#AEAEAE" class="frg-icon icon-user-profile"/>{!$Label.OCOM_SITE_CONTACT}&nbsp;
                                 <apex:outputText value="{!siteContactName_move}" />,&nbsp;
                                 <apex:outputText value="{!siteContactPhone_move}" />,&nbsp;
                                 <apex:outputText value="{!siteContactEmail_move}" />
                             </div>
                             </apex:outputpanel>
                            </apex:outputpanel>
                        </div>
                        </apex:outputpanel>  <!-- order type is move -->
                    </div>
                   <br></br>
                   <br></br>
                    <!-- End Wael -->
                    <apex:outputPanel id="pdfOutputPanel" > <!-- rendered="{!showAndSendPDF}" -->
                        <apex:form id="ReviewOrderForm">
                        <div class="sendQuoteSummary" style="">
                            <div class="frg-headline-font-21px color-purple">{!$Label.OCOM_SEND_ORDER_SUMMARY}</div>
                            <apex:outputPanel styleClass="messagePanel" rendered="{!pdfHelper.errorMsg!=null ||  pdfHelper.successMsg!=null}">
                                <div class="messageSection">
                                    <apex:outputPanel styleClass="errorMessage frg-body-font-16px" rendered="{!pdfHelper.errorMsg!=null}" >
                                        {!pdfHelper.ErrorMsg}
                                    </apex:outputPanel>
                                    <apex:outputPanel styleClass="successMessage frg-body-font-16px" rendered="{!pdfHelper.successMsg!=null}">
                                        {!pdfHelper.SuccessMsg}
                                    </apex:outputPanel>
                                </div>
                            </apex:outputPanel>
                                    
                            <div class="form-group">
                                <apex:outputPanel style="{!If(showAndSendPDF == true,'display: ','display:none')};">
                                    <apex:inputText styleClass="form-control frg-body-font-16px" value="{!pdfHelper.emailAddress}" onkeyup="validateEmails(this);"  id="sendQuoteSummary" style="width:50%;"> <!-- class="form-control" placeholder="{!$Label.OCOM_ENTER_YOUR_EMAIL_ADDRESS_HERE}" -->
                                    <apex:actionStatus id="sendPDFStatusId">
                                        <apex:facet name="start">
                                            <img style=" float: right;position: relative;top:10px;" src="/img/loading.gif" />                  
                                        </apex:facet>
                                    </apex:actionStatus>
                                            </apex:inputText>          
                                        <div id="emailValidationMessage"></div>
                                    <apex:commandButton status="sendPDFStatusId" reRender="ReviewOrderForm" styleClass="frg-button color-white telus-font-light" action="{!pdfHelper.sendEmail}" style="width: 100px;font-weight: 300;padding: 5px;font-size: 12px" value="Send PDF" /> <!-- class="btn frg-button color-green sendQuoteNextBtn" -->
                                </apex:outputPanel>
                                <apex:outputPanel style="{!If(showAndSendPDF == false,'display: ','display:none')};">
                                    <apex:inputHidden id="pdfTypeIdDis" value="{!pdfHelper.pdfType}" />
                                    <apex:inputText disabled="true" styleClass="form-control frg-body-font-16px" value="{!pdfHelper.emailAddress}" onkeyup="validateEmails(this);"  id="sendQuoteSummaryDis" style="width:50%;"/> <!-- class="form-control" placeholder="{!$Label.OCOM_ENTER_YOUR_EMAIL_ADDRESS_HERE}" -->
                                    <div id="emailValidationMessageDis"></div>
                                    <apex:commandButton disabled="true" styleClass="frg-button color-white telus-font-light" action="{!pdfHelper.sendEmail}" onclick="setType();" style="width: 100px;font-weight: 300;padding: 5px;font-size: 12px" value="Send PDF" /> <!-- class="btn frg-button color-green sendQuoteNextBtn" -->
                                </apex:outputPanel>                               
                          </div>           
                        </div>                          
                        </apex:form>
                    </apex:outputPanel>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>
                

<!-- Order Summary JS component-->
<c:OCOM_ReviewOrderJS />

    <script>

            $(".rotateReviewChevron").click(function(){
            $(this).toggleClass("down"); 
        }) 


        //Logic for expand/collapse
        // $('.collapse').on('shown.bs.collapse', function(){
        // $(this).parent().find(".icon-arrow-right").removeClass("icon-arrow-right").addClass("icon-arrow-down");
        // }).on('hidden.bs.collapse', function(){
        // $(this).parent().find(".icon-arrow-down").removeClass("icon-arrow-down").addClass("icon-arrow-right");
        // });

    </script>

    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/jquery-2.0.3.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.bootstrapdemoplugins, '/bootstrapdemoplugins/bootstrap/js/bootstrap.js')}" /> 
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/jquery-ui.min.js')}" />

</apex:page>