<apex:page standardController="Order" extensions="OCOM_CancelOrderController" id="cancelPage" showChat="false"  showHeader="true" sidebar="true">
    
    <apex:sectionHeader title="{!PageTitle}"  id="thePageSectionHeader" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /> 
    <apex:pagemessages id="PageMessages"/>  
    <apex:form id="cancelForm">
        <apex:includeScript value="/soap/ajax/22.0/connection.js"/>  
        <apex:includeScript value="/support/console/35.0/integration.js"/>
        <apex:stylesheet id="blockUI" value="{!URLFOR($Resource.BLOCK_UI, 'css/ui-lightness/jquery-ui-1.8.16.custom.css')}" />
        <apex:includeScript value="{!URLFOR($Resource.BLOCK_UI, 'js/jquery-1.6.2.min.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.BLOCK_UI, '/jquery.blockUI.js')}" />
       
    <script type="text/javascript">
    $j = jQuery.noConflict();
    var primaryTabID;
    var refreshPrimaryTab;
   
    
    function start() {
         console.log('inside');
         doPrimaryTabGet();
    }
    
    getPrimaryTab = function showTabId(result) {
        primaryTabID = result.id;
    };

    function doPrimaryTabGet() {
        sforce.console.getEnclosingPrimaryTabId(getPrimaryTab);
    }
 
   window.onload = start;
   var s='{!objOrder.Id}';
   var num='{!objOrder.OrderNumber}';
   var childOrderId ='{!childOrderId}'; 
   // Thomas QC-8803 Start
   function notifyOrderCancellation(type) {
       console.log('notifyOrderCancellation');
       console.log('type '+type);
       console.log(s);
       if(type == 'true'){
           if('{!isValidContractExists}' == 'true'){
                cancelEnvelope();
            }
            else{
                showMessage('CONFIRM','Your Order has been cancelled successfully. Please click the Close button.');  
            }
           sforce.console.fireEvent('orderCancelled', s);
       }
   }
   // Thomas QC-8803 End
        
   //Adharsh: Cancel Envelop call for Contracts
   function cancelEnvelope()
    {
        console.log('inside Envelope');
      
                console.log('Calling Remote');
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.OCOM_CancelOrderController.cancelEnvelope}','{!$CurrentPage.parameters.id}', function(result, event){
                        console.log('Result'+result);
                        if (event.status) {
                            if(result!= 'SUCCESS' && result!= 'Success'){
                                alert(result);  
                            }
                            else{
                                showMessage('CONFIRM','Your Order has been cancelled successfully. Please click the Close button.'); 
                               // window.location.href="/apex/PilotB_OCOM_CancelOrder?id={!$CurrentPage.parameters.id}";
                            }
                        } else if (event.type === 'exception') {
                            alert(event.message);
                        } else {
                            alert(event.message); 
                        }
                    },  {buffer: false, escape: false});   
    	}
        //Adharsh: Cancel envelop logic End
   
     function CloseTab(type){
        // BSBD_RTA-1148 cancel order not working for dealers
		if(sforce.console.isInConsole()){
            var SubTabID;
            var currentTab = function currentTab(result) {
                SubTabID = result.id;
                var refreshSuccess = function refreshSuccess(res) {
                    sforce.console.closeTab(SubTabID );
                    console.log('SubTabID '+SubTabID);
                };           
                console.log('primaryTabID '+primaryTabID);      
                var parentID='{!parentTabId}';   
                console.log('primaryTabID '+type); 
                if(type == 'true'){ 
                    sforce.console.closeTab(parentID);
                    //sforce.console.openSubtab(primaryTabID, '/apex/OCOM_SubmitOrder?id='+s, true, num, null, refreshSuccess, num); 
                    if(childOrderId){
                        sforce.console.openPrimaryTab(null, '/apex/OC_OrderSummaryMultiSite?parentOrderId='+s+'&childOrderId='+childOrderId+'&displaySOHeader=true', true, num, refreshSuccess,num);
                        console.log('New Order 2.0 Summary');   
                    }else{
                        sforce.console.openPrimaryTab(null, '/apex/OCOM_SubmitOrder?id='+s+'&childOrderId='+childOrderId+'&displaySOHeader=true', true, num, refreshSuccess,num);     
                        console.log('Old Single Order Summary');    
                    }      
                }else{
                    sforce.console.closeTab(SubTabID );
                }
            };
            //sforce.console.getFocusedSubtabId(currentTab);
            sforce.console.getFocusedPrimaryTabId(currentTab);
		}
        else{
            window.close();
            window.opener.open('{!URLFOR($Site.prefix)}/apex/OC_OrderSummaryMultiSite?parentOrderId='+s+'&childOrderId='+childOrderId+'&displaySOHeader=true');
		}
        //BSBD_RTA-1148 change end
     }
         var openSuccess1 = function openSuccess(result) {
            //Report whether opening the new tab was successful
            if (result.success == true) {
                console.log('Primary tab successfully opened');
            } else {
                console.log('Primary tab cannot be opened');
            }
        };
        function isWarningApplicable()
        {
            var compReasonCode=document.getElementById('{!$Component.cancelForm.mainPageBlock.fieldPageBlockSectionEdit.pbsReasonCode.inpReasonCode}').value;
            var compNotes=document.getElementById('{!$Component.cancelForm.mainPageBlock.fieldPageBlockSectionEdit.pbsNotes.inpNotes}').value;

            if(compReasonCode!='' & compNotes!='')
            {
                //  alert('Once the Order has been cancelled, you will not be able to submit it.');            
            }
        }                
       function submitRequest(){
            var compReasonCode=document.getElementById('{!$Component.cancelForm.mainPageBlock.fieldPageBlockSectionEdit.pbsReasonCode.inpReasonCode}').value;
            var compNotes=document.getElementById('{!$Component.cancelForm.mainPageBlock.fieldPageBlockSectionEdit.pbsNotes.inpNotes}').value;
            if(compReasonCode==''||compNotes==''){
                invalidForm();
            }else{                       
                      var confirmation=confirm('Once the Order has been cancelled, you will not be able to submit it. Do you want to proceed?');
                        if(confirmation){    
                            //blockPage(); 
                            isWarningApplicable();
                            console.log('{!objOrder.status}');
                            if('{!objOrder.status}' == 'Not Submitted' || '{!objOrder.status}' == 'Pending'){
                               Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.OCOM_CancelOrderController.vfrPrepareOrderCancellationRequest}','{!objOrder.id}', compReasonCode, compNotes,function(result,event){              
                                   //  alert('inside not submitted');  
                                   DoOk();           
                               });
                                //  showSuccessMessage(); 
                                //  unblockPage();
                             } else if('{!objOrder.status}' == 'In Progress' || '{!objOrder.status}' == 'Completed' || '{!objOrder.status}' == 'Error' || '{!objOrder.status}' == 'Initiating' || '{!objOrder.status}' == 'Activated' || '{!objOrder.status}' == 'Delivery' || '{!objOrder.status}' == 'Submitted'){
                                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.OCOM_CancelOrderController.vfrPrepareOrderCancellationRequest}','{!objOrder.id}', compReasonCode, compNotes,
                                 function(result,event){              
                                    if(event.status){  
                                   // alert(result);
                                       if(result!='has assets')                                     
                                       {
                                          $j('[id$="previousOrderStatus"]').val(result);                                        
                                            DoOk();   //alert('1');    
                                       }else    
                                        {
                                          unblockPage();     
                                         //  alert('2');   
                                         }                                
                                    } else{
                                        unblockPage(); // alert('3');
                                    }
                               });
                              } else if('{!objOrder.Status}' == 'Complete' || '{!objOrder.Status}' == 'Cancelled'){ 
                                 alert("This order is already "+ '{!objOrder.Status}' + ".So it cannot be cancelled."); 
                                 unblockPage();
                            }
            }
        } 
      }              
         //function to block the whole page  
        function blockPage() {
            $j.blockUI({
                message: '<img src="/img/loading32.gif" /><h1> Loading...</h1>',
                css: {
                    border: 'none',
                    padding: '15px',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .9
                }
            });
            return false;
        }
         //function to unblock the page  
        function unblockPage() {
            $j.unblockUI();
        }
        function logconsole(message){
            if(console!=undefined&&console.log!=undefined){
                console.log(message);
            }
        };
    </script>
  
        <apex:pageBlock id="mainPageBlock" rendered="{!NOT(reSumbitOrder)}">

            <script type="text/javascript">
   
            
                function redirect(pageRedirect){
               
                    if(sforce.console.isInConsole()==false)
                    {
                   
                           
                            if(pageRedirect==null || pageRedirect=='')
                            {
                                window.top.close();
                            }
                            else if(pageRedirect.search("Error:")==0)
                            {
                                var errorMsg=pageRedirect.replace("Error:","");
                                alert(errorMsg);                
                            }
                            else
                            {
                                var currentWindow=window.top;
                                currentWindow.location.href=pageRedirect;
                                currentWindow.resizeTo(screen.width,screen.height);
                                currentWindow.focus();
                            }    
                    }
                    else
                    {
                          
                            if(pageRedirect==null || pageRedirect=='')
                            {
                                sforce.console.getEnclosingPrimaryTabId(openSubtab);
                            }
                            else if(pageRedirect.search("Error:")==0)
                            {
                                var errorMsg=pageRedirect.replace('Error:','');
                                alert(errorMsg);
                            }
                            else
                            {
                                pageRedirectActual=pageRedirect;
                                sforce.console.getEnclosingPrimaryTabId(newSubtab);
                            }
                    }
                 }
            </script>
            <apex:pageBlockButtons id="pbButtons" location="bottom">
                 <apex:actionFunction name="showMessage" action="{!showMessage}" rerender="PageMessages,mainPageBlock">
                    <apex:param name="errorLevel" assignTo="{!errorLevel}" value="" />
                    <apex:param name="messageName" assignTo="{!messageName}" value="" />
                </apex:actionFunction>
                <apex:commandbutton id="btnContinue" onclick="submitRequest();return false;" value="Continue" rendered="{!not(isCancelCompleted)}"/>
                <!-- Thomas QC-8803 -->
                <apex:actionfunction name="DoOk" action="{!DoOk}" rerender="PageMessages,mainPageBlock" status="idStatusCancel" oncomplete="notifyOrderCancellation('{!isCancelCompleted}');" />
                 <apex:actionfunction name="invalidForm" action="{!invalidForm}" rerender="PageMessages,mainPageBlock" status="idStatusCancel"/>
                <apex:inputHidden value="{!previousOrderStatus}" id="previousOrderStatus"/>
                   <apex:actionStatus onstart="blockPage();" onstop="unblockPage();"  id="idStatusCancel" />
                  <apex:commandButton value="{!if(isCancelCompleted,'Close','Cancel')}" id="cancelButton" styleclass="btn-primary" onclick="CloseTab('{!isCancelCompleted}');return false" immediate="true" />
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection columns="1" id="fieldPageBlockSectionEdit" title="{!objOrder.Name}" collapsible="false">

                <apex:pageBlockSectionItem id="pbsReasonCode">
                    <apex:outputLabel value="{!$ObjectType.Order.Fields.Reason_Code__c.Label}"/>
                    <apex:inputField value="{!objOrder.Reason_Code__c}" id="inpReasonCode"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="pbsNotes">
                    <apex:outputLabel value="{!$ObjectType.Order.Fields.General_Notes_Remarks__c.Label}"/>
                    <apex:inputtextarea value="{!objOrder.General_Notes_Remarks__c}" id="inpNotes" cols="120" rows="10"/>
                </apex:pageBlockSectionItem>

                
            </apex:pageBlockSection>
            <apex:actionStatus onstart="blockPage();" onstop="unblockPage();" id="idStatusCancel"/>
        </apex:pageBlock>
    </apex:form>
</apex:page>