<apex:page controller="OCOM_TNRController" id="tnComp" showHeader="false" sidebar="false"  action="{!init}" standardStylesheets="false" docType="html-5.0">
    <!--apex:stylesheet value="{!URLFOR($Resource.PACLibrary, '/jquery-ui.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/jquery-2.0.3.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.jQuery, '/js/jquery-1.4.2.min.js')}"  /-->
    <apex:includeScript value="{!$Resource.jQuery}"/>
    
    <style>
    .waitingDescription {
        color: #333;
        padding-right: 10px;
        font-size: 14px;
    }
    .tnr-header {
        padding-top: 15px;
        padding-left: 20px;
        font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #4B1C6D;
        border-bottom: 1px solid #F5F6F7;
        padding-bottom: 10px;
    }
     .tnr-title, .odd, .even, .tnr-text
     {
        font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 14px;
        color: #333;
        -webkit-font-smoothing: antialiased;
     }
     .tnr-text-help
     {
        font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #c23934;
     }   
     .tnr-button-primary.color-green 
        {
        color: #fff;
        border: none;
        background-image: linear-gradient(#57a708 0%,#57a708 90%,#408000 90%,#408000);
    }

    .tnr-button-primary {
        font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal !important;
        font-size: 15px !important;
        line-height: 1.428571429;
        text-align: center;
        border-radius: 3px;
        display: inline-block;
        text-decoration: none;
        //width: 180px;
        //height: 30px;
        background-color: #408000;
        float: right;
        position: relative;
        //left: -50%; 
    }


    .tnr-button-primary.color-green:hover,
    .tnr-button-primary.color-green:focus {
        color: #fff;
        border: none;
        background-image: linear-gradient(#408000 0%, #408000 90%, #408000 90%, #408000);
        background-color: #408000;
    }
        
    .tnr-button-secondary.color-blue 
    {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #d8dde6;
        background-color: #fff;
    }
        
    .tnr-button-secondary 
    {
        position: relative;
        display: inline-block;
        padding: 0;
        background: transparent;
        background-clip: border-box;
        border: 1px solid transparent;
        border-radius: .25rem;
        font-size: .75rem;
        line-height: 1.875rem;
        text-decoration: none;
        color: #0070d2;
        -webkit-appearance: none;
        white-space: normal;
        user-select: none;
        transition: color .05s linear,background-color .05s linear;
    }

    .tnr-button-secondary.color-blue:hover,
    .tnr-button-secondary.color-blue:focus
    {
        background-color: #f4f6f9;
        color: #005fb2;
        text-decoration: none;
    }        

    .tnr-available-tn 
    {
        //position:absolute;
        bottom:1px;
        //width:948px;
        height:500px;
        //left:50%;
        //margin-left:-474px;
        overflow: hidden;
        //background-color:#999999;
    }
        
     .tnSearchRes td
        {
            display : inline-block;
            width: 130px;
          //  height: 18px;
        }
        .tnSearchRes label
        {
            margin-left: 5px;
            padding-bottom:4px;
            margin-bottom:0px;
        }
        .tnSearchRes input
        {
            margin-top: 0px;
        }
        
        .btn-tnr1 
        {
            display:inline-block;
            padding:1px;
            height: 25px;
            margin-bottom:0;
            font-size:14px;
            font-weight:400;
            line-height:1.428571429;
            text-align:center;
            white-space:nowrap;
            vertical-align:middle;
            cursor:pointer;
            border:1px solid transparent;
            border-radius:4px;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            -o-user-select:none;
            user-select:none
        }
        .btn-tnr2 
        {
        
            font-family: 'Verdana', 'Geneva', sans-serif;
            background-image: url("/img/bgButton.gif");
            background-repeat: repeat-x;
            background-position: left top;   
            font-size: 80%;
            color: #fff;    
            cursor: pointer;
            font-weight: bold;
            display: inline;
            padding: 4px 3px;
            border: 1px solid #b5b5b5;
        }
        padding: 4px 3px;
        .btn-tnr 
        {
            color: #333;
            margin: 1px;
            border: 1px solid #b5b5b5;
            border-bottom-color: #7f7f7f;
            background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top;
            font-weight: bold;
            font-size: .9em;
            border-radius: 3px;
            font-family: Arial,Helvetica,sans-serif;
            cursor: pointer;
            display: inline;
            align-items: flex-start;
            text-align: center;
            box-sizing: border-box;
            -webkit-appearance: push-button;
            -webkit-user-select: none;
            white-space: pre;
            -webkit-rtl-ordering: logical;
            text-rendering: auto;
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            font: 13.3333px Arial;
            -webkit-writing-mode: horizontal-tb;
        }
        .odd 
        {
            background-color: #F5F6F7;
            -webkit-font-smoothing: inherit;
        }

        .even 
        {
            background-color: #FFFFFF;
            -webkit-font-smoothing: inherit;
        }
        .tnr-primary-weight {
        font-weight: 600;
        }
        .tnr-secondary-weight, .odd, .even {
            font-weight: 300!important;
        }




.frg-button {
    font-family: "telusweb", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #8350a7;
    border: 1px solid #cecece;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(90%, #ffffff), color-stop(90%, #cecece), color-stop(100%, #cecece));
    background-image: -webkit-linear-gradient(#ffffff 0%, #ffffff 90%, #cecece 90%, #cecece);
    background-image: -moz-linear-gradient(#ffffff 0%, #ffffff 90%, #cecece 90%, #cecece);
    background-image: -o-linear-gradient(#ffffff 0%, #ffffff 90%, #cecece 90%, #cecece);
    background-image: linear-gradient(#ffffff 0%, #ffffff 90%, #cecece 90%, #cecece);
    background-color: #fff;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.frg-button:hover {
    cursor: pointer
}

.frg-button.color-purple,
a.frg-button {
    color: #fff;
    border: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c68a6), color-stop(90%, #8c68a6), color-stop(90%, #49166d), color-stop(100%, #49166d));
    background-image: -webkit-linear-gradient(#8c68a6 0%, #8c68a6 90%, #49166d 90%, #49166d);
    background-image: -moz-linear-gradient(#8c68a6 0%, #8c68a6 90%, #49166d 90%, #49166d);
    background-image: -o-linear-gradient(#8c68a6 0%, #8c68a6 90%, #49166d 90%, #49166d);
    background-image: linear-gradient(#8c68a6 0%, #8c68a6 90%, #49166d 90%, #49166d);
    background-color: #8c68a6
}

.frg-button.color-purple:hover,
a.frg-button:hover,
.frg-button.color-purple:focus,
a.frg-button:focus {
    color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #49166d), color-stop(90%, #49166d), color-stop(90%, #49166d), color-stop(100%, #49166d));
    background-image: -webkit-linear-gradient(#49166d 0%, #49166d 90%, #49166d 90%, #49166d);
    background-image: -moz-linear-gradient(#49166d 0%, #49166d 90%, #49166d 90%, #49166d);
    background-image: -o-linear-gradient(#49166d 0%, #49166d 90%, #49166d 90%, #49166d);
    background-image: linear-gradient(#49166d 0%, #49166d 90%, #49166d 90%, #49166d);
    background-color: #49166d
}

.frg-button.color-green,
.site-settings a.frg-button {
    color: #fff;
    border: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #57a708), color-stop(90%, #57a708), color-stop(90%, #408000), color-stop(100%, #408000));
    background-image: -webkit-linear-gradient(#57a708 0%, #57a708 90%, #408000 90%, #408000);
    background-image: -moz-linear-gradient(#57a708 0%, #57a708 90%, #408000 90%, #408000);
    background-image: -o-linear-gradient(#57a708 0%, #57a708 90%, #408000 90%, #408000);
    background-image: linear-gradient(#57a708 0%, #57a708 90%, #408000 90%, #408000);
    background-color: #57a708
}

.frg-button.color-green:hover,
.site-settings a.frg-button:hover,
.frg-button.color-green:focus,
.site-settings a.frg-button:focus {
    color: #fff;
    border: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #408000), color-stop(90%, #408000), color-stop(90%, #408000), color-stop(100%, #408000));
    background-image: -webkit-linear-gradient(#408000 0%, #408000 90%, #408000 90%, #408000);
    background-image: -moz-linear-gradient(#408000 0%, #408000 90%, #408000 90%, #408000);
    background-image: -o-linear-gradient(#408000 0%, #408000 90%, #408000 90%, #408000);
    background-image: linear-gradient(#408000 0%, #408000 90%, #408000 90%, #408000);
    background-color: #408000
}

.frg-button.color-dark-green {
    color: #fff;
    border: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #57a708), color-stop(90%, #57a708), color-stop(90%, #408000), color-stop(100%, #408000));
    background-image: -webkit-linear-gradient(#57a708 0%, #57a708 90%, #408000 90%, #408000);
    background-image: -moz-linear-gradient(#57a708 0%, #57a708 90%, #408000 90%, #408000);
    background-image: -o-linear-gradient(#57a708 0%, #57a708 90%, #408000 90%, #408000);
    background-image: linear-gradient(#57a708 0%, #57a708 90%, #408000 90%, #408000);
    background-color: #57a708
}

.frg-button.color-dark-green:hover,
.frg-button.color-dark-green:focus {
    color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #408000), color-stop(90%, #408000), color-stop(90%, #408000), color-stop(100%, #408000));
    background-image: -webkit-linear-gradient(#408000 0%, #408000 90%, #408000 90%, #408000);
    background-image: -moz-linear-gradient(#408000 0%, #408000 90%, #408000 90%, #408000);
    background-image: -o-linear-gradient(#408000 0%, #408000 90%, #408000 90%, #408000);
    background-image: linear-gradient(#408000 0%, #408000 90%, #408000 90%, #408000);
    background-color: #408000
}

.frg-button.color-white,
.site-settings .frg-button-group.account-types a.frg-button,
#legal-links a.frg-button {
    color: #8350a7;
    border: 1px solid #cecece;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(90%, #ffffff), color-stop(90%, #cecece), color-stop(100%, #cecece));
    background-image: -webkit-linear-gradient(#ffffff 0%, #ffffff 90%, #cecece 90%, #cecece);
    background-image: -moz-linear-gradient(#ffffff 0%, #ffffff 90%, #cecece 90%, #cecece);
    background-image: -o-linear-gradient(#ffffff 0%, #ffffff 90%, #cecece 90%, #cecece);
    background-image: linear-gradient(#ffffff 0%, #ffffff 90%, #cecece 90%, #cecece);
    background-color: #fff
}

.frg-button.color-white:hover,
.site-settings .frg-button-group.account-types a.frg-button:hover,
#legal-links a.frg-button:hover,
.frg-button.color-white:focus,
.site-settings .frg-button-group.account-types a.frg-button:focus,
#legal-links a.frg-button:focus {
    color: #8350a7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cecece), color-stop(90%, #cecece), color-stop(90%, #cecece), color-stop(100%, #cecece));
    background-image: -webkit-linear-gradient(#cecece 0%, #cecece 90%, #cecece 90%, #cecece);
    background-image: -moz-linear-gradient(#cecece 0%, #cecece 90%, #cecece 90%, #cecece);
    background-image: -o-linear-gradient(#cecece 0%, #cecece 90%, #cecece 90%, #cecece);
    background-image: linear-gradient(#cecece 0%, #cecece 90%, #cecece 90%, #cecece);
    background-color: #cecece
}

.frg-button.color-dark-gray {
    color: #fff;
    border: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(90%, #666666), color-stop(90%, #333333), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(#666666 0%, #666666 90%, #333333 90%, #333333);
    background-image: -moz-linear-gradient(#666666 0%, #666666 90%, #333333 90%, #333333);
    background-image: -o-linear-gradient(#666666 0%, #666666 90%, #333333 90%, #333333);
    background-image: linear-gradient(#666666 0%, #666666 90%, #333333 90%, #333333);
    background-color: #666
}

.frg-button.color-dark-gray:hover,
.frg-button.color-dark-gray:focus {
    color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(90%, #333333), color-stop(90%, #333333), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(#333333 0%, #333333 90%, #333333 90%, #333333);
    background-image: -moz-linear-gradient(#333333 0%, #333333 90%, #333333 90%, #333333);
    background-image: -o-linear-gradient(#333333 0%, #333333 90%, #333333 90%, #333333);
    background-image: linear-gradient(#333333 0%, #333333 90%, #333333 90%, #333333);
    background-color: #333
}

.frg-button[disabled],
.frg-button:disabled {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cecece), color-stop(90%, #cecece), color-stop(90%, #a9a9a9), color-stop(100%, #a9a9a9));
    background-image: -webkit-linear-gradient(#cecece 0%, #cecece 90%, #a9a9a9 90%, #a9a9a9);
    background-image: -moz-linear-gradient(#cecece 0%, #cecece 90%, #a9a9a9 90%, #a9a9a9);
    background-image: -o-linear-gradient(#cecece 0%, #cecece 90%, #a9a9a9 90%, #a9a9a9);
    background-image: linear-gradient(#cecece 0%, #cecece 90%, #a9a9a9 90%, #a9a9a9);
    background-color: #cecece
}

.frg-button[disabled]:hover,
.frg-button:disabled:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cecece), color-stop(90%, #cecece), color-stop(90%, #a9a9a9), color-stop(100%, #a9a9a9));
    background-image: -webkit-linear-gradient(#cecece 0%, #cecece 90%, #a9a9a9 90%, #a9a9a9);
    background-image: -moz-linear-gradient(#cecece 0%, #cecece 90%, #a9a9a9 90%, #a9a9a9);
    background-image: -o-linear-gradient(#cecece 0%, #cecece 90%, #a9a9a9 90%, #a9a9a9);
    background-image: linear-gradient(#cecece 0%, #cecece 90%, #a9a9a9 90%, #a9a9a9);
    background-color: #cecece
}

.frg-button-group {
    overflow: auto
}

.frg-button-group .frg-button {
    float: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.frg-button-group .frg-button:first-of-type {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.frg-button-group .frg-button:last-of-type {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.frg-button-group .frg-button.color-purple.selected,
.frg-button-group a.frg-button.selected {
    color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #49166d), color-stop(90%, #49166d), color-stop(90%, #49166d), color-stop(100%, #49166d));
    background-image: -webkit-linear-gradient(#49166d 0%, #49166d 90%, #49166d 90%, #49166d);
    background-image: -moz-linear-gradient(#49166d 0%, #49166d 90%, #49166d 90%, #49166d);
    background-image: -o-linear-gradient(#49166d 0%, #49166d 90%, #49166d 90%, #49166d);
    background-image: linear-gradient(#49166d 0%, #49166d 90%, #49166d 90%, #49166d);
    background-color: #49166d
}

.frg-button-group .frg-button.color-green.selected,
.frg-button-group .site-settings a.frg-button.selected,
.site-settings .frg-button-group a.frg-button.selected {
    color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #408000), color-stop(90%, #408000), color-stop(90%, #408000), color-stop(100%, #408000));
    background-image: -webkit-linear-gradient(#408000 0%, #408000 90%, #408000 90%, #408000);
    background-image: -moz-linear-gradient(#408000 0%, #408000 90%, #408000 90%, #408000);
    background-image: -o-linear-gradient(#408000 0%, #408000 90%, #408000 90%, #408000);
    background-image: linear-gradient(#408000 0%, #408000 90%, #408000 90%, #408000);
    background-color: #408000
}

.frg-button-group .frg-button.color-white.selected,
.site-settings .frg-button-group.account-types a.frg-button.selected,
.frg-button-group #legal-links a.frg-button.selected,
#legal-links .frg-button-group a.frg-button.selected {
    color: #8350a7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cecece), color-stop(90%, #cecece), color-stop(90%, #cecece), color-stop(100%, #cecece));
    background-image: -webkit-linear-gradient(#cecece 0%, #cecece 90%, #cecece 90%, #cecece);
    background-image: -moz-linear-gradient(#cecece 0%, #cecece 90%, #cecece 90%, #cecece);
    background-image: -o-linear-gradient(#cecece 0%, #cecece 90%, #cecece 90%, #cecece);
    background-image: linear-gradient(#cecece 0%, #cecece 90%, #cecece 90%, #cecece);
    background-color: #cecece
}

.frg-button-group .frg-button.color-dark-gray.selected {
    color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(90%, #333333), color-stop(90%, #333333), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(#333333 0%, #333333 90%, #333333 90%, #333333);
    background-image: -moz-linear-gradient(#333333 0%, #333333 90%, #333333 90%, #333333);
    background-image: -o-linear-gradient(#333333 0%, #333333 90%, #333333 90%, #333333);
    background-image: linear-gradient(#333333 0%, #333333 90%, #333333 90%, #333333);
    background-color: #333
}





        
    </style>
    <apex:stylesheet value="{!URLFOR($Resource.ocom_slds, '/assets/styles/salesforce-lightning-design-system-vf.min.css')}"/>
    
    <script>
    window.onload = function (){
        //alert($(".h2.slds-text-heading--medium").html());
        $(".slds-text-heading--medium").html('{!$Label.OCOM_Reserve_and_Assign_Telephone_Number}');//"Reserve & Assign Telephone Number"
    }
    //alert(window.parent.location.origin + ', '+targetOrigin);
    //alert('Step 1');
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;
        //alert('Step 2');
        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
        //alert('Step 3');
    };
    //alert('Step 4');
    var targetUrl = window.location.href;
    var targetOrigin = getUrlParameter('targetOrigin');
    var messageType = getUrlParameter('messageType');
    var attributeId = getUrlParameter('attributeId');
    var orderId = getUrlParameter('orderId');
    var lineItemId = getUrlParameter('lineItemId');
    var formName = getUrlParameter('formName');
    var phoneNumber;
    console.log('oId: '+orderId+', iId: '+lineItemId+', attId: '+attributeId+', formName: '+formName);
    //alert(window.parent.location.origin + ', '+targetOrigin);
    /*
    function tnSelection() 
    {
        //alert('tnSelection called');
        var chkCount = $("[type='checkbox']:checked").length;
        var disCount = $("[type='checkbox']:disabled").length;
        //alert('chk: '+chkCount + ' diabled:'+disCount);
        var elem = document.getElementById('tnComp:tnForm:AssignBtn');//orderdetail:callTNComp:tnComp:tnForm:AssignBtn
        //alert(count);
        if (chkCount == 1 && disCount == 0)
        {  
            elem.value = 'Reserve & Assign'; 
        }
        else 
            elem.value = 'Reserve';                
    }
    */
    
    function checkReservationButtonStatus()
    {
        //alert('checkReservationButtonStatus called');
        var chkCount = $("[type='checkbox']:checked").length;
        var disCount = $("[type='checkbox']:disabled").length;
        var chkRadio = $("[type='radio']:checked").length;
        var unchkRadio = $("[type='radio']:not(:checked)").length;
        //var elem = document.getElementById('tnComp:tnForm:AssignBtn');
        var allInputTag=document.getElementsByTagName("input");
        for(var i=0;i<allInputTag.length;i++)
        {
            //console.debug(allInputTag[i].id);
            if(allInputTag[i].id!=null && allInputTag[i].id.indexOf('AssignBtn')>0)
            {
                var elem = document.getElementById(allInputTag[i].id);
                if (chkCount == 1 && disCount == 0 && chkRadio == 0 && unchkRadio == 0)  
                {  
                    elem.value = '{!$Label.OCOM_Reserve_and_Assign};'//'Reserve & Assign';
                    elem.className = "frg-button color-green";
                }
                else 
                {
                    elem.value = '{!$Label.OCOM_Reserve}';//'Reserve';
                    elem.className = "frg-button color-white";
                }
            }
            console.debug('no of checkboxes checked are '+chkCount);
        }
    }
    
    function updateAttribute(phoneNumber, attribID)
    {

        //alert(phoneNumber);
        if(phoneNumber!=null && phoneNumber!='')
        {
            var message = {
                            'messageType': messageType,
                            'attributeId': attribID+'_'+formName,
                            'attributeValue': phoneNumber
                        };
            
            console.log('SENDING PHONE NUMBER...', message);
            window.parent.postMessage(message, targetOrigin);
            //window.top.postMessage(message, 'https://cs27.salesforce.com');
        }
    }
    
    function callCancel()
    {
        var message = {
            'messageType': messageType,
            'attributeId': 'Cancel',
            'attributeValue': phoneNumber
        };
        
        console.log('SENDING CANCEL REQUEST...', message);
        window.parent.postMessage(message, targetOrigin);
    }
    </script>
    <!-- <apex:attribute name="npanxx" description="" type="String" required="true" assignTo="{!NPA_NXX}" /> -->
    <!-- <apex:attribute name="coidData" description="" type="String" required="true" assignTo="{!Coid}" /> -->
    <!--apex:attribute name="orderId" description="" type="ID" required="true" assignto="{!orderControllerId}" />
    <apex:attribute name="itemId" description="" type="ID" required="true" assignto="{!itemControllerId}" /-->
    
    <!--div class="modal-header" style=" background-image: none;  background-color: #49166D;  color: #ffffff;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" >Reserve &amp; Assign Telephone Number</h4>
    </div-->
    <apex:outputPanel id="tnPannel" html-width="100%" html-height="100%">
        
        <div class="c1modal-body" style="margin-top: -15px;">
            <apex:form id="tnForm">
                
                <apex:actionfunction name="callRemoteNext" action="{!doNextPage}" status="showMsg" reRender="tnList"/>
                <apex:actionfunction name="callRemoteSearch" action="{!doTNSearch}" status="showMsg" reRender="tnList"/><!--tnList,telPhoneModel    telPhoneModel, reserveButton, noSpareTNs-->
                <apex:actionfunction name="callRemoteReserveAssign" status="showMsg" action="{!doReserveOrAssign}" reRender="tnList" oncomplete="updateAttribute('{!assignedNumber}', '{!assignedAttribute }')"/> <!-- tnForm,tnList,telPhoneModel,unassignedTNs -->
                <apex:actionfunction name="callRemoteAssign" status="showMsg" action="{!doAssign}" reRender="tnList" oncomplete="updateAttribute('{!assignedNumber}', '{!assignedAttribute }')"/>
                <apex:actionfunction name="callRemoteNoSpare" status="showMsg" action="{!doNoSpareTN}" reRender="tnList" oncomplete="updateAttribute('{!assignedNumber}', '{!assignedAttribute }')"/>
                <!--apex:actionfunction name="callRemoteSaveNoSpare" action="{!doNoSpareTN}" reRender="tnList"/-->
                <!--apex:actionfunction name="callRemoteMultiAssign" action="{!doMultiAssign}" reRender="tnList"/-->
                <apex:actionfunction name="callRemoteNpaNxx" status="showMsg" action="{!doNpaNxx}" reRender="tnList"  />
                <apex:actionfunction name="callRemoteNpa" action="{!doNpa}" reRender="tnList" />
                
                <div class="tnr-header">
                    <span>{!$Label.OCOM_Reserve_and_Assign_Telephone_Number}</span><!-- Reserve &amp; Assign Telephone Number -->
                    <div style="display:inline-block;float:right;">
                    <apex:actionstatus id="showMsg">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;height: 100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." style="width: 14px;height: 14px;padding-top: 4px;"/>
                                    <span class="waitingDescription">Loading...</span>
                                </div>
                            </div>
                        </apex:facet>
                    </apex:actionstatus>
                    </div>
                </div>


                <apex:outputPanel id="tnList" style="margin-left: 3px;">
                    <!--<apex:actionStatus id="showMsg" startText="Loading .." stopText=""></apex:actionStatus>-->

                    <apex:outputPanel layout="block" id="assignedTNs" rendered="{!showAssignedTNs}" style="display: block;padding-left: 20px;">
                        <div class = "tnr-title tnr-primary-weight">{!$Label.OCOM_Assigned}</div><!-- Assigned -->
                        <table width="100%" border="0">
                            <col width="40%"/>
                            <!--col width="30%"/-->
                            <col width="60%"/>
                            <!--col width="45%"/-->
                            <apex:repeat value="{!assignedTNs}" var="assignedTN">
                                <tr>
                                    <!--td></td-->
                                    <!--apex:outputPanel rendered="{!assignedTN.currentPick == true}">
                                        <td class="tnr-text tnr-secondary-weight"><B><apex:outputText value="{!assignedTN.productType}"/></B></td>
                                        <td class="tnr-text tnr-secondary-weight"><B><apex:outputText value="{!assignedTN.LineNumber}"/></B></td>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!assignedTN.currentPick == false}"-->
                                        <td class="tnr-text tnr-secondary-weight"><apex:outputText value="{!assignedTN.productType}"/></td>
                                        <td class="tnr-text tnr-secondary-weight"><apex:outputText value="{!assignedTN.LineNumber}"/></td>
                                    <!--/apex:outputPanel-->
                                </tr>
                            </apex:repeat>
                        </table>
                    </apex:outputPanel> 
                    <br/>
                    <apex:outputPanel layout="block" id="unassignedTNs" rendered="{!showUnAssignedTNs}" style="padding:20px;display: block;padding-left: 20px;padding-top: 10px;">
                        <div class = "tnr-title tnr-primary-weight" style="padding-bottom: 10px;">{!$Label.OCOM_Unassigned_TNs}</div><!-- Unassigned TNs -->
                        <table width="100%" border="0">
<!--                             <col width="8%"/>
                            <col width="92%"/> -->
                            <!--tr><td></td>
                                <td>
                                    <apex:outputPanel id="unassignedMultiTNs" rendered="{!ShowMultiline}">
                                        <apex:selectRadio layout="tnr-text" value="{!SelectedUnAssignedMultiTN}">
                                            <apex:selectOptions value="{!unAssignedTNs}"/>
                                        </apex:selectRadio>
                                    </apex:outputPanel>
                                    <apex:outputPanel id="unassignedSingleTNs" rendered="{!ShowSingleline}">
                                        <apex:selectRadio styleClass="tnr-text" value="{!SelectedUnAssignedTN}">
                                            <apex:selectOptions value="{!unAssignedTNs}"/>
                                        </apex:selectRadio>
                                    </apex:outputPanel>
                                </td>
                            </tr-->
                            <tr>
                                <td></td>
                                <td>
                                     <apex:dataTable value="{!unAssignedTNsModel}" var="reservedTNModel" id="reservedTNModel" cellpadding="5" cellspacing="0" rowClasses="odd,even"  styleClass="tableClass" columnsWidth="30px,900px,30px,900px">
                                        <apex:column >
                                            <input type="radio" name="SelectedUnAssignedTN" id="{!reservedTNModel.leftReservedTN}" value="{!reservedTNModel.leftReservedTN}"/>
                                         </apex:column>
                                         <apex:column >
                                             <apex:outputText value="{!reservedTNModel.leftReservedTN}"/>
                                         </apex:column>
                                         <apex:column >
                                             <apex:outputPanel id="assignedTNs" rendered="{!reservedTNModel.leftAndRight}">
                                                <input type="radio" name="SelectedUnAssignedTN" id="{!reservedTNModel.rightReservedTN}" value="{!reservedTNModel.rightReservedTN}"/>
                                             </apex:outputPanel>
                                         </apex:column>
                                         <apex:column >
                                             <apex:outputText value="{!reservedTNModel.rightReservedTN}"/>
                                         </apex:column>
                                    </apex:dataTable>
                                </td>
                            </tr>
                            <tr>
                                <!--td></td-->
                                <td colspan="2" style="padding-top:10px;">
                                    <!--apex:outputPanel id="unassignedMultiTNsAction" rendered="{!ShowMultiline}">
                                        <apex:commandButton value="{!$Label.OCOM_Assign}" onclick="callRemoteMultiAssign(); return false;" styleClass="frg-button color-green"/>
                                    </apex:outputPanel-->
                                    <!--apex:outputPanel id="unassignedSingleTNsAction" rendered="{!ShowSingleline}"-->
                                        <apex:commandButton value="{!$Label.OCOM_Assign}" onclick="callRemoteAssign(); return false;" styleClass="frg-button color-green tnr-secondary-weight"/>
                                    <!--/apex:outputPanel-->
                                </td>
                            </tr>
                        </table>
                    </apex:outputPanel>
                    <apex:outputPanel layout="block" id="unassignedTNsError" rendered="{!showUnAssignedTNsError}" style="padding:20px;display: block;padding-left: 20px;padding-top: 10px;">
                        <div class = "tnr-text-help">
                            {!$Label.OCOM_Unable_to_reserve_TN_msg}<!--Unable to reserve Telephone Number at the moment, please try again later-->
                        </div>
                    </apex:outputPanel>

                    <br/>

                    <apex:outputPanel id="searchRes">
                        <div class="tnr-available-tn" style="border-top: 3px solid #F5F6F7;padding: 20px;">
                            <div class = "tnr-title tnr-primary-weight">{!$Label.OCOM_Search_Available_Numbers}<!--Search Available Numbers--></div><br/>
                            <apex:outputPanel id="searchKey" rendered="{!showSearchBar}">
                            	<apex:outputPanel rendered="{!baseReservationType == tollFreeType}">
                                	<table border="0">
                                       <tr>
                                            <td class="tnr-title tnr-secondary-weight">{!$Label.OCOM_COID}:</td>
                                            <td colspan="4" style="padding-left: 10px;" class="tnr-text tnr-secondary-weight">{!coid}</td>
                                        </tr>
                                        <tr>
                                            <!--td class="tnr-title" colspan="2">Available NPA-NXX &nbsp;</td-->
                                            <!--td>
                                                <apex:selectlist value="{!selectedNpaNxxVal}" size="1"  onchange="callRemoteNpaNxx();">
                                                    <apex:selectoptions value="{!npaNxxOptions}" />
                                                </apex:selectlist>
                                                &nbsp;
                                            </td-->
                                            <td>
                                                <apex:selectlist value="{!selectedNpaVal}" size="1"><!-- onchange="callRemoteNpa();" style="height:25px;"   -->
                                                    <apex:selectoptions value="{!npaOptions}" />
                                                </apex:selectlist>
                                                &nbsp;
                                            </td>
                                            <td>
                                                <apex:inputText value="{!selectedNxxVal}" maxlength="3" size="3" style="width:50px"/> <!-- style="height:25px;"   -->
                                                &nbsp;
                                            </td>
                                            <td>
                                                <apex:inputText value="{!selectedLast4Val}"  maxlength="4" size="4" style="width:50px"/> <!-- style="height:25px;" -->
                                                &nbsp;
                                            </td>
                                            <td style="padding-left: 4px;">    
                                                <apex:commandButton value="{!$Label.OCOM_Search}" onclick="callRemoteSearch(); return false;" styleClass="frg-button color-white tnr-secondary-weight"/> <!-- tnr-button-secondary color-blue / btn tnr-button-primary color-green -->
                                            </td>
                                            
                                        </tr>
                                    </table>
                          		</apex:outputPanel>
                                <apex:outputPanel rendered="{!baseReservationType != tollFreeType}">
                                    <table border="0">
                                       <tr>
                                            <td class="tnr-title tnr-secondary-weight">{!$Label.OCOM_COID}:</td>
                                            <td colspan="4" style="padding-left: 10px;" class="tnr-text tnr-secondary-weight">{!coid}</td>
                                        </tr>
                                        <tr>
                                            <!--td class="tnr-title" colspan="2">Available NPA-NXX &nbsp;</td-->
                                            <td>
                                                <apex:selectlist value="{!selectedNpaNxxVal}" size="1"  onchange="callRemoteNpaNxx();"><!-- style="height:25px;"   -->
                                                    <apex:selectoptions value="{!npaNxxOptions}" />
                                                </apex:selectlist>
                                                &nbsp;
                                            </td>
                                            <td>
                                                <apex:selectlist value="{!selectedNpaVal}" size="1" onchange="callRemoteNpa();"><!-- style="height:25px;"   -->
                                                    <apex:selectoptions value="{!npaOptions}" />
                                                </apex:selectlist>
                                                &nbsp;
                                            </td>
                                            <td>
                                                <apex:inputText value="{!selectedNxxVal}" maxlength="3" size="3" style="width:50px"/> <!-- style="height:25px;"   -->
                                                &nbsp;
                                            </td>
                                            <td>
                                                <apex:inputText value="{!selectedLast4Val}"  maxlength="4" size="4" style="width:50px"/> <!-- style="height:25px;" -->
                                                &nbsp;
                                            </td>
                                            <td style="padding-left: 4px;">    
                                                <apex:commandButton value="{!$Label.OCOM_Search}" onclick="callRemoteSearch(); return false;" styleClass="frg-button color-white tnr-secondary-weight"/> <!-- tnr-button-secondary color-blue / btn tnr-button-primary color-green -->
                                            </td>
                                            
                                        </tr>
                                    </table>
                                </apex:outputPanel>
                            </apex:outputPanel>
                            <br/>
                            <!-- <apex:outputPanel id="searchRes" rendered="{!showTNOptions}"> -->
                            
                            <apex:outputPanel id="searchRes1" rendered="{!showSearchRes}">
                                <apex:outputPanel rendered="{!baseReservationType == tollFreeType}">
									<table border="0" width="100%">
    <!--                                     <col width="5%"/>
                                        <col width="95%"/> -->
                                        <tr><td colspan="2" class = "tnr-title tnr-primary-weight" style="padding-bottom: 10px;">{!$Label.OCOM_Available_numbers_for}: {!searchKey}</td></tr>
                                        <tr>
                                            <!-- <td></td> -->
                                            <td align="center"><!--center> Available numbers for: {!searchKey} </center-->
                                                <div>
                                                    <center>
                                                    <apex:dataTable value="{!telPhoneNosModelList}" var="telPhoneModel" id="telPhoneModelToll" cellpadding="5" cellspacing="0" rowClasses="odd,even"  styleClass="tableClass" columnsWidth="30px,900px,30px,900px">
                                                        <apex:facet name="header"></apex:facet>
                                                        <apex:column >
                                                            <input type="radio" name="SelectedUnAssignedTN" id="{!telPhoneModel.leftTelNo}" value="{!telPhoneModel.leftTelNo}"/>
                                                        </apex:column>   
                                                        <apex:column >
                                                            <apex:facet name="caption">{!$Label.OCOM_Tel_No}</apex:facet>
                                                            <apex:outputPanel rendered="{!telPhoneModel.leftReservationStatus==true}">
                                                                <apex:outputText value="{!telPhoneModel.leftTelNo}" style="color: #AEAEAE;"/>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel rendered="{!telPhoneModel.leftReservationStatus==false}">
                                                                <apex:outputText value="{!telPhoneModel.leftTelNo}" />
                                                            </apex:outputPanel>
                                                        </apex:column>
                                                        <apex:column >
                                                            <input type="radio" name="SelectedUnAssignedTN" id="{!telPhoneModel.rightTelNo}" value="{!telPhoneModel.rightTelNo}" /><!-- disabled="{!telPhoneModel.rightReservationStatus}" -->
                                                        </apex:column> 
                                                        <apex:column >                       
                                                            <apex:facet name="caption">{!$Label.OCOM_Tel_No}</apex:facet>
                                                            <apex:outputPanel rendered="{!telPhoneModel.rightReservationStatus==true}">
                                                                <apex:outputText value="{!telPhoneModel.rightTelNo}" style="color: #AEAEAE;"/>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel rendered="{!telPhoneModel.rightReservationStatus==false}">
                                                                <apex:outputText value="{!telPhoneModel.rightTelNo}"/>
                                                            </apex:outputPanel>
                                                        </apex:column>
                                                    </apex:dataTable>
                                                    </center>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td colspan="2">&nbsp;</td></tr>
    
                                        <tr>
                                            <td colspan="2">
                                                <table width="100%">
                                                    <tr>
                                                        <td align="left">
                                                            <apex:commandButton id="AssignBtnToll" value="{!$Label.OCOM_Reserve_and_Assign}" onclick="callRemoteAssign(); return false;" styleClass="frg-button color-white tnr-secondary-weight"/>&nbsp;
                                                            &nbsp;&nbsp;
                                                            <apex:commandButton value="{!$Label.OCOM_Cancel}" onclick="callCancel(); return false;" styleClass="frg-button color-white tnr-secondary-weight"/>
                                                        </td>
                                                        <td align="right">
                                                            <apex:commandButton value="{!$Label.OCOM_Display_Next}" onclick="callRemoteNext(); return false;" styleClass="frg-button color-white tnr-secondary-weight"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>                                    
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!baseReservationType != tollFreeType}">
                                    <table border="0" width="100%">
    <!--                                     <col width="5%"/>
                                        <col width="95%"/> -->
                                        <tr><td colspan="2" class = "tnr-title tnr-primary-weight" style="padding-bottom: 10px;">{!$Label.OCOM_Available_numbers_for}: {!searchKey}</td></tr>
                                        <tr>
                                            <!-- <td></td> -->
                                            <td align="center"><!--center> Available numbers for: {!searchKey} </center-->
                                                <div>
                                                    <center>
                                                    <apex:dataTable value="{!telPhoneNosModelList}" var="telPhoneModel" id="telPhoneModel" cellpadding="5" cellspacing="0" rowClasses="odd,even"  styleClass="tableClass" columnsWidth="30px,900px,30px,900px">
                                                        <apex:facet name="header"></apex:facet>
                                                        <apex:column >
                                                            <apex:inputCheckbox value="{!telPhoneModel.leftChecked}" id="alreadyReserved1" selected="{!telPhoneModel.leftChecked}" disabled="{!telPhoneModel.leftReservationStatus}" label="{!telPhoneModel.leftTelNo}" onClick="checkReservationButtonStatus()">
                                                                <!--apex:actionSupport event="onclick" action="{!selectLeftTn}" rerender="telPhoneModel" onsubmit="checkReservationButtonStatus()"/>
                                                                    <apex:param name="selectedLeftPh" value="{!telPhoneModel.leftTelNo}"/>
                                                                </apex:actionSupport-->
                                                            </apex:inputCheckbox>
                                                        </apex:column>   
                                                        <apex:column >
                                                            <apex:facet name="caption">{!$Label.OCOM_Tel_No}</apex:facet>
                                                            <apex:outputPanel rendered="{!telPhoneModel.leftReservationStatus==true}">
                                                                <apex:outputText value="{!telPhoneModel.leftTelNo}" style="color: #AEAEAE;"/>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel rendered="{!telPhoneModel.leftReservationStatus==false}">
                                                                <apex:outputText value="{!telPhoneModel.leftTelNo}" />
                                                            </apex:outputPanel>
                                                        </apex:column>
                                                        <apex:column >
                                                            <apex:inputCheckbox value="{!telPhoneModel.rightChecked}" id="alreadyReserved2" selected="{!telPhoneModel.rightChecked}" rendered="{!telPhoneModel.rightRendered}" disabled="{!telPhoneModel.rightReservationStatus}" onClick="checkReservationButtonStatus()">
                                                                <!--apex:actionSupport event="onclick" action="{!selectRightTn}" rerender="telPhoneModel" onsubmit="checkReservationButtonStatus()" />
                                                                <apex:param name="selectedRightPh" value="{!telPhoneModel.rightTelNo}"/-->
                                                            </apex:inputCheckbox>
                                                        </apex:column> 
                                                        <apex:column >                       
                                                            <apex:facet name="caption">{!$Label.OCOM_Tel_No}</apex:facet>
                                                            <apex:outputPanel rendered="{!telPhoneModel.rightReservationStatus==true}">
                                                                <apex:outputText value="{!telPhoneModel.rightTelNo}" style="color: #AEAEAE;"/>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel rendered="{!telPhoneModel.rightReservationStatus==false}">
                                                                <apex:outputText value="{!telPhoneModel.rightTelNo}"/>
                                                            </apex:outputPanel>
                                                        </apex:column>
                                                    </apex:dataTable>
                                                    </center>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td colspan="2">&nbsp;</td></tr>
    
                                        <tr>
                                            <td colspan="2">
                                                <table width="100%">
                                                    <tr>
                                                        <td align="left">
                                                            <apex:commandButton id="AssignBtn" value="{!$Label.OCOM_Reserve_and_Assign}" onclick="callRemoteReserveAssign(); return false;" styleClass="frg-button color-green tnr-secondary-weight" />&nbsp;
                                                            &nbsp;&nbsp;
                                                            <apex:commandButton value="{!$Label.OCOM_Cancel}" onclick="callCancel(); return false;" styleClass="frg-button color-white tnr-secondary-weight"/>
                                                        </td>
                                                        <td align="right">
                                                            <apex:commandButton value="{!$Label.OCOM_Display_Next}" onclick="callRemoteNext(); return false;" styleClass="frg-button color-white tnr-secondary-weight"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>  
                                </apex:outputPanel>
                            </apex:outputPanel>
                            
                            

                            <apex:outputPanel id="noSpare" rendered="{!showNoSpareTN}">
                                <div>
                                    <table width="100%">
                                        <!--col width="35%"/>
                                        <col width="65%"/-->
                                        <tr>
                                            
                                            <td class = "tnr-title tnr-primary-weight">
                                                {!$Label.OCOM_No_spare_telephone_numbers_available}
                                                <br/>
                                            </td>
                                        </tr>
                                        <tr>
                                            
                                            <td >
                                                
                                                <apex:commandButton value="{!$Label.OCOM_Save_as_No_Spare_TN}" onclick="callRemoteNoSpare(); return false;" styleClass="frg-button color-green" />&nbsp;
                                                &nbsp;&nbsp;
                                                <apex:commandButton value="{!$Label.OCOM_Cancel}" onclick="callCancel(); return false;" styleClass="frg-button color-white"/>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </apex:outputPanel>
                                
                            <apex:outputPanel id="searchNoTN" rendered="{!showTNSearchNoNumber}">
                                <div class="tnr-text-help">
                                    {!$Label.OCOM_No_available_numbers_for}: {!searchKey}
                                </div>
                                <br/><br/>
                                <apex:commandButton value="{!$Label.OCOM_Cancel}" onclick="callCancel(); return false;" styleClass="frg-button color-white"/>
                            </apex:outputPanel>
                            
                            <apex:outputPanel id="searchError" rendered="{!showTNSearchError}">
                                <div class="tnr-text-help">
                                    {!errorMsg}
                                </div>
                                <br/><br/>
                                <table width="100%">
                                	<tr>
                                    	<td align="left">
                                			<apex:commandButton value="{!$Label.OCOM_Cancel}" onclick="callCancel(); return false;" styleClass="frg-button color-white"/>
                                        </td>
                                        <td align="right">
                                            <apex:outputPanel rendered="{!endOfTNList}">
                                                <apex:commandButton value="{!$Label.OCOM_Display_Next}" onclick="callRemoteNext(); return false;" styleClass="frg-button color-white tnr-secondary-weight"/>
                                            </apex:outputPanel>
                                        </td>
                                    </tr>
                                </table>
                            </apex:outputPanel>
                        </div> 
                    </apex:outputPanel>
                </apex:outputPanel>        
              
            </apex:form>
        </div>
    </apex:outputPanel>

         
<style type="text/css">
.customPopup{
 background-color: white;
 border-style: solid;
 border-width: 4px;
 left: 50%;
 padding:10px;
 position: absolute;
 z-index: 1000;
 width: 385px;
 margin-left: -250px;
 top:45px;
 } 
.popupBackground{
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
            position: absolute;
            width: 100%;
            height:100%; 
            top: 0;
            left: 0;
            z-index: 1000;
            overflow:hidden;
    }
</style>    
    <!--div class="modal-footer">
<apex:commandButton styleclass="btn btn-default" value="Save" action="{!SaveTN}"/>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div-->

</apex:page>