<apex:page standardController="Opportunity" extensions="OpportunityRelatedListController">
    <apex:includeScript value="/soap/ajax/39.0/apex.js" />
    <apex:includeScript value="/resource/smb_ConsoleUtility" />
    <apex:includeScript value="/soap/ajax/39.0/connection.js" />
    <apex:includeScript value="/support/console/39.0/integration.js" />
    <apex:includeScript value="{!URLFOR($Resource.CustomLookupS2C, 'js/BPC3Lookup.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.CustomLookupS2C, 'js/blockUI.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.S2C_Resources, 'js/OPI_RelatedList.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.S2C_Resources, 'js/Spinner.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.S2C_Resources, 'js/handlebars/handlebars-v3.0.0.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.S2C_Resources, 'js/jquery-ui-1.11.4.custom/jquery-ui.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.S2C_Resources, 'js/jquery/jquery-1.11.2.min.js')}" />
    <script>
    function helloFun(){
        console.debug("hello fun");
        var i=1/0;
        var myWindow =window.open("","_top","channelmode=0,fullscreen=0,height=200,left=100,location=0,menubar=0,resizable=0,scrollbars=0,status=0,titlebar=0,toolbar=0,top=50,width=200");
    }
    function newOrder(){
        var oppId = '{!oppObj.Id}';
		var accountId = '{!oppObj.AccountId}';
    	var oppName='{!oppObj.Name}';
        //newOrder(accountRecordTypeId ,oppId, 800);
        	if (sforce.console.isInConsole()) {		
				sforce.console.getEnclosingPrimaryTabId(
					function(result) {
						console.log(result.id);
						var primaryTabId=result.id;
						sforce.console.openSubtab(result.id, '/apex/OCOM_InOrderFlowPac?aid='+accountId+'&oppId='+oppId, true,'New Order');                       		
					}
				);
	}
    }
    function attachOrder(){
        var oppId = '{!oppObj.Id}';
        var accountRecordTypeId = '{!oppObj.AccountId}';
        var oppName='{!oppObj.Name}';
        initializeRelatedList(accountRecordTypeId ,oppId, "Attach Order", 800,oppName,accountRecordTypeId);        
    }
  
    </script>
    <form action="" id="" method="POST" name="" onsubmit="">
        <div class="pbHeader" style="text-align: center;">
            <input value="New Order" class="btn" name="new_order" onclick="newOrder()" title="New Order" type="button"/>
            <input value="Attach Order" class="btn" name="attach_order" onclick="attachOrder()" title="Attach Order" type="button"/>    
        </div>
        
        <div class="pbBody" id="">
            <table class="list" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="headerRow">
                        <th class="actionColumn" scope="col">
                            <input id="allBox" name="allBox" onclick="" title="Toggle All Rows" type="checkbox" value=""/>&nbsp;Action</th>
                        <th scope="col" class=" zen-deemphasize">Order Number</th>
                        <th scope="col" class=" zen-deemphasize">Condition</th>
                        <th scope="col" class=" zen-deemphasize">Status</th>
                        <th scope="col" class="DateElement zen-deemphasize">Requested Due Date</th>
                        <th scope="col" class=" zen-deemphasize">Owner First Name</th>
                        <th scope="col" class=" zen-deemphasize">Created Date</th>
                        <th scope="col" class=" zen-deemphasize">Opportunity</th>
                    </tr>
                    <apex:repeat value="{!ordObjList}" var="ordObj" id="ordObjId">
                        <tr class="dataRow even first" onblur="" onfocus="" onmouseout="" onmouseover="">
                            <td class="actionColumn">
                                <input id="ids0" name="ids" onclick="" title="Select OR-00009049" type="checkbox" value="801c0000000AqVm"/>&nbsp;|&nbsp;<a href="" class="actionLink" title="Edit - Record 1 - OR-00009049">Edit</a>&nbsp;|&nbsp;<a href="" class="actionLink" onclick="return confirmDelete();" title="Delete - Record 1 - OR-00009049">Del</a>
                            </td>
                            <th scope="row" class=" dataCell  ">
                                <a href="">{!ordObj.OrderNumber}</a>
                            </th>
                            <td class=" dataCell">
                                <apex:outputText value="{!ordObj.Condition__c}" escape="false" />                                
                            </td>
                            <td class=" dataCell  ">{!ordObj.Status}</td>
                            <td class=" dataCell  DateElement">{!ordObj.RequestedDate__c}</td>
                            <td class=" dataCell  ">
                                <a href="">{!ordObj.Owner.Name}</a>
                            </td>
                            <td class=" dataCell  ">{!ordObj.CreatedDate}</td>
                            <td class=" dataCell  ">
                                <a href="">{!ordObj.opportunity.name}</a>
                            </td>
                        </tr>
                    </apex:repeat>
                </tbody>
            </table>
        </div>
    </form>
    <apex:relatedList list="Orders" />
</apex:page>