<apex:page standardController="Opportunity">
<apex:includeScript value="/support/console/30.0/integration.js"/>

<apex:form >
 <script>
   
                
   var primaryTabID;
   var showTabId = function showTabId(result) {
            //Display the tab ID
           // alert('Tab ID: ' + result.id);
            primaryTabID = result.id;
        };
    
           sforce.console.getFocusedPrimaryTabId(showTabId);
   
   function openwindow(){
      var w=500;
      var h=500;
      var left = (screen.width/2)-(w/2);
      var top = (screen.height/2)-(h/2);
      var w = window.open("/apex/PACOpportunityDetail?id={!Opportunity.Id}", "PACOpportunity", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
      w.focus();
      return w;
   }
   
   function refreshParent(){
         sforce.console.refreshPrimaryTabById(primaryTabID, true);
    }
</script>
<apex:pageBlock mode="maindetail">
    <table cellspacing="10px" width="100%">
    <tr> 
    <td width="22%" style="white-space:nowrap;"></td>
    <td>
    <b><apex:outputLabel style="color:#4A4A56;font-size: 85%" value="{!$ObjectType.Opportunity.fields.Contract_Billing_Address__c.Label}" /></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <apex:commandLink value="{!$Label.PACEditLink}" onclick="openwindow();"/>&nbsp;&nbsp;
     <apex:outputField value="{!Opportunity.Contract_Billing_Address__c}"/>        
    </td>
    </tr>
    </table>
</apex:pageBlock>
</apex:form> 

</apex:page>