<apex:page standardController="Order" extensions="Order_PAC_Address_Controller,OrdrMessagesController,OrdrAmendController" action="{!UpdateBlnPopup}" id="orderdetail" tabStyle="Order" showHeader="true" sidebar="false">
    <apex:stylesheet value="{!URLFOR($Resource.PACLibrary, '/jquery-ui.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/jquery-2.0.3.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/telus.xmlToJSON.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/TELUS/this.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.bootstrapdemoplugins, '/bootstrapdemoplugins/bootstrap/css/bootstrap.min.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootstrapdemoplugins, '/bootstrapdemoplugins/bootstrap/js/bootstrap.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/jquery-ui.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.PACLibrary, '/TELUS/css/uit.addressSearch.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.jQuery, '/js/jquery-1.4.2.min.js')}"  />
    <apex:includeScript value="/support/console/28.0/integration.js"/>

    <style>
        .calert {
        border: 1px solid transparent;
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 15px;
        }
        .calert h4 {
        color: inherit;
        margin-top: 0;
        }
        .calert .alert-link {
        font-weight: 700;
        }
        .calert > p, .alert > ul {
        margin-bottom: 0;
        }
        .calert > p + p {
        margin-top: 5px;
        }
        .calert-dismissable, .alert-dismissible {
        padding-right: 35px;
        }
        .calert-dismissable .close, .alert-dismissible .close {
        color: inherit;
        position: relative;
        right: -21px;
        top: -2px;
        }
        .calert-success {
        background-color: #579657;
        border-color: #d6e9c6;
        color: #eaeaea;
        font-family: Verdana,sans-serif;
        font-size: 15px;
        line-height: 1.5;
        align:center;
        }
        .calert-success hr {
        border-top-color: #c9e2b3;
        }
        .calert-success .alert-link {
        color: #2b542c;
        }
        .calert-info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
        }
        .calert-info hr {
        border-top-color: #a6e1ec;
        }
        .calert-info .alert-link {
        color: #245269;
        }
        .calert-warning {
        background-color: #efb73e;
        border-color: #faebcc;
        color: #f8f8f8;
        font-size: 15px;
        }
        .calert-warning hr {
        border-top-color: #f7e1b5;
        }
        .calert-warning .alert-link {
        color: #66512c;
        }
        .calert-danger {
        background-color: red;
        border-color: #ebccd1;
        color: #f8f8f8;
        }
        .calert-danger hr {
        border-top-color: #e4b9c0;
        }
        .calert-danger .alert-link {
        color: #843534;
        }
        .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        }
        .cclose {
        color: #000;
        float: right;
        font-size: 15px;
        font-weight: 700;
        line-height: 1;
        opacity: 0.2;
        text-shadow: 0 1px 0 #fff;
        }
        .cclose:focus, .close:hover {
        color: #000;
        cursor: pointer;
        opacity: 0.5;
        text-decoration: none;
        }
        .calert-dismissable, .alert-dismissible {
        padding-right: 35px;
        }
        .calert-dismissable .close, .alert-dismissible .close {
        color: inherit;
        position: relative;
        right: -10px;
        top: -2px;
        }
        .cfade {
        opacity: 0;
        transition: opacity 0.15s linear 0s;
        }
        .cfade.in {
        opacity: 1;
        }
        .cmodal {
        display: none;
        overflow: hidden;
        position: fixed;
        top: 20;
        right:20;
        bottom: 20;
        left: 20;
        z-index: 1;
        -webkit-overflow-scrolling: touch;
        outline: 0;
        }
        .cmodal-header {
        min-height: 16.43px;
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        }
        .cmodal-header .close {
        margin-top: -2px;
        }
        .cmodal-title {
        margin: 0;
        line-height: 1.42857143;
        }
        .cmodal-body {
        position: relative;
        padding: 20px;
        background-color: GREY;
        }
        .c1modal-body {
        position: relative;
        padding: 20px;
        }
        .cmodal-footer {
        padding: 20px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
        }
        .cmodal-dialog {
        position: relative;
        width: 500PX;
        margin: 10px;
        }
        .cmodal-content {
        position: relative;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #999;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 6px;
        outline: 0;
        -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
        box-shadow: 0 3px 9px rgba(0,0,0,.5);
        }
        .cbtn-success {
        color: #ffffff;
        background-color: #38b44a;
        border-color: #38b44a;
        }
        .cbtn-block {
        display: block;
        width: 100%;
        }
        .cbtn-warning {
        color: #ffffff;
        background-color: #efb73e;
        border-color: #efb73e;
        }
        .cclose {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity:1;
        filter: alpha(opacity=20);
        }
        .cnav {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        }
        .ctab-content > .ctab-pane {
        display: none;
        visibility: hidden;
        }
        .ctab-content > .cactive {
        display: block;
        visibility: visible;
        }
        .cbtn-primary {
        color: #ffffff;
        background-color: #dd4814;
        border-color: #dd4814;
        }
        .cbtn {
        display: inline-block;
        padding: 8px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        }
        .cbtn1 {
        display: inline-block;
        padding: 1px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        }
        .cform-group {
        margin-bottom: 15px;
        }
        #yourComments {
        background-color: white;
        border: 1px solid rgb(204, 204, 204);
        border-collapse: separate;
        border-radius: 3px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset;
        box-sizing: content-box;
        max-height: 25em;
        min-height: 15em;
        outline: medium none;
        overflow: scroll;
        padding: 4px;
        }
        .cform-group .required .control-label:after {
        content:"*";color:red;
        }
        .crequired .control-label:after{
        content:"*";color:red;
        }
        .cmodal-backdrop {
        background-color: #0000ff;
        }
        .cmodal-open {
        overflow: hidden;
        }
        .cmodal-open .modal {
        overflow-x: hidden;
        overflow-y: auto;
        }
    </style>
    <script type="text/javascript">
    $(window).load(function(){
        sforce.console.setTabTitle('{!Order.OrderNumber}');
        
    });
    </script>
    
    <script type="text/javascript">
    if({!order.BlnPopup__c} == true)
    {
        $(window).load(function(){
            //$('#dialog-message').modal('show');
            var ShpEditLink = document.getElementById('SEditLink');
            ShpEditLink.click();
            
        });
        
        //methodUpdBlnPopup();
    }
    </script>
    <script type="text/javascript">
    
    
    function PopulateAddress()
    {
        $("#PAaddress_shipping").val("{!Order.Shipping_Address__c}");
        
    }  
    
    function PopulateServAddress()
    {
        $("#address_OdrSvc").val("{!Order.Service_Address_Text__c}");
        //return triggerService_OdrSvc();
    }
    function testAction()
        {
            //alert('Clicked');
            callRemote();
            return true;
         }
    </script>
    
    <!-- Commented By Arvind from below .ready function as it was breaking Edit links for Shipping/Billing Address
this.addEventListener("click", , function(){
console.debug("button submitted");
});
-->
    <script type="text/javascript">
    $(document).ready(function(){
       
        //deleteDuplicatePrimaryTab();
        
        
        $(":button").each(function () {
            if($(this)[0].name=='amend_order'){
                $(this)[0].setAttribute("data-toggle","modal");
                //$(this)[0].setAttribute("data-target","#amendOrderBox");
                $(this).on('click', function(e) {
                    if({!showDueDateWarning})
                    {
                         $('#dialog-dueDateMsg').modal("show");
                    }
                    else
                    {
                        $('#amendOrderBox').modal({
                            keyboard: false,
                            backdrop: 'static'
                        });
                    }                       
                });
                return false;
            }
            return true;
        });
        $("#amendOrderBox input[type=submit]")[0].className="cbtn cbtn-success";
        
        if({!isOrderLocked}){
            $(":button").each(function () {
                if(!{!isOrderAmendReady}){
                    if($(this)[0].name=='amend_order'){
                        $(this)[0].style.display="None";
                        return true;
                    }
                }
                //  if((($(this)[0].name=='amend_order')||($(this)[0].name=='cancel_order'))&& '{!Order.status}'!='PONR is passed'  ){                    
                if(($(this)[0].name=='amend_order')||($(this)[0].name=='cancel_order')) {     
                    if('{!Order.orderMgmtId_Status__c}'=='PONR is passed'|| '{!Order.orderMgmtId_Status__c}'=='Processed'|| '{!Order.Status}'=='Cancelled' )
                        $(this)[0].style.display="None";
                    return true;
                }             
                else {
                    if(($(this)[0].name=='edit') || ($(this)[0].name=='activate') || ($(this)[0].name=='deactivate') || ($(this)[0].name=='check_credit')
                       || ($(this)[0].name=='book_due_date') || ($(this)[0].name=='order_generate_email') || ($(this)[0].name=='change_due_date')|| ($(this)[0].name=='create_order_pdf') || ($(this)[0].name=='view_order_summary')){
                        
                        
                        if ($(this)[0].name=='create_order_pdf' && '{!Order.status}'!='Cancelled')
                        {  //do nothing
                        }
                        else
                            $(this)[0].style.display="None"; 
                            
                       if ($(this)[0].name=='view_order_summary' && ('{!Order.type}'=='' || '{!Order.type}'=='New Location' || '{!Order.orderMgmtId_Status__c}'=='PONR is passed'|| '{!Order.orderMgmtId_Status__c}'=='Processed'|| '{!Order.Status}'=='Cancelled' )) {  
                            $(this)[0].style.display="None";  
                      }   
                        
                    }
                    
                }
                return true;
            });
            $('.detailList .labelCol').each(function () {
                if($(this).text().trim()=='Status'){
                    var nextElem=$(this).next();
                    
                    if('{!Order.status}'!='Cancelled' && '{!Order.orderMgmtId_Status__c}'=='')
                    {nextElem.html('Submitted');}
                    else if('{!Order.status}'=='Cancelled'){}
                        else if ('{!Order.orderMgmtId_Status__c}'!='')
                        { nextElem.html('{!Order.orderMgmtId_Status__c}');}
                    
                    
                    return false;
                }
                return true;
            });
        } else {
            $(":button").each(function () {
                if(($(this)[0].name=='edit') || ($(this)[0].name=='check_credit') || ($(this)[0].name=='book_due_date') || ($(this)[0].name=='Create_PDF')
                   || ($(this)[0].name=='cancel_order')){
                    return true;
                } else {
                    if(($(this)[0].name=='amend_order') || ($(this)[0].name=='activate') || ($(this)[0].name=='deactivate')
                       ||  ($(this)[0].name=='order_generate_email') || ($(this)[0].name=='change_due_date')){
                        $(this)[0].style.display="None";
                    }
                    
                    
                }
               if ($(this)[0].name=='view_order_summary' && ('{!Order.type}'=='' || '{!Order.type}'=='New Location' || '{!Order.orderMgmtId_Status__c}'=='PONR is passed'|| '{!Order.orderMgmtId_Status__c}'=='Processed'|| '{!Order.Status}'=='Cancelled' )) {  
                            $(this)[0].style.display="None";  
                      }   
                        
                return true;
            });
        }
        if({!(!isOrderLocked)}){
            var serviceAddressCheck=false;
            var shippingAddressCheck=false;
            var shippingAddressCheck=false;
            var billingAccountCheck=false;
            var upbillingAccountCheck=false;
            
            $('.detailList .labelCol').each(function () {
                if(serviceAddressCheck && shippingAddressCheck && billingAccountCheck && upbillingAccountCheck){
                    return false;
                }
                if($(this).text().trim()=='Service Address'){
                    var nextElem=$(this).next();
                    nextElem.html("<a  id=\"ServiceEditLink\" href=\"#\" data-toggle=\"modal\" data-target=\"#dialog-messageSvc\" onclick=\"return PopulateServAddress();\" >Edit </a>{!Order.Service_Address_Text__c}");
                    serviceAddressCheck=true;
                    return true;
                }
                if($(this).text().trim()=='Shipping Address'){
                    // $(this).html("Shipping Address PAC");
                    var nextElem=$(this).next();
                    nextElem.html("<a id=\"SEditLink\" href=\"#\" data-toggle=\"modal\" data-target=\"#dialog-message\" onclick=\"return PopulateAddress();\">Edit</a>&nbsp;{!Order.Shipping_Address__c}");
                    shippingAddressCheck=true;
                    return true;
                }
                if($(this).text().trim()=='Billing Account'){
                    // $(this).html("Billing Address PAC");
                    var nextElem=$(this).next();
                    nextElem.html("<a href=\"#\" data-toggle=\"modal\" data-target=\"#dialog-messagebil\">Edit</a>&nbsp;{!Order.BAN__c}");
                    billingAccountCheck=true;
                    return true;
                }
                if($(this).text().trim()=='Update Billing Address'){
                    // $(this).html("Billing Address PAC");
                    var nextElem=$(this).next();
                    nextElem.html("<a href=\"#\" data-toggle=\"modal\" data-target=\"#dialog-messageupbil\">Edit</a>&nbsp;{!Order.Update_Billing_Address__c}");
                    upbillingAccountCheck=true;
                    return true;
                }
                return true;
            });
            $('#dialog-messageSvc').on('show.bs.modal', function ()
                                       {
                                           $('#dialog-messageSvc .modal-dialog').css("width","35%");
                                       });
            
            
            
            
        }
        $('#dialog-message').on('show.bs.modal', function () {
            $('#dialog-message .modal-dialog').css("width","35%");
        });
        //parseStatus();
    });
    // Amend Order   
    $(document).on("click", "#dueDateAck", function(event){
        $('#amendOrderBox').modal({
            keyboard: false,
            backdrop: 'static'
        });
    });
    $('#doComment').on('click', function(e) {
        alert('Thank you for filling in comments');
        $('#amendOrderBox').modal('hide');
    });
    </script>
    <!-- Added by Arvind to populated selected AccountId and validate before Save Billing Address -->
    <script>
    function PopulateAccId(elm){
        if(elm != ''){
            $('[id$=ClickedAccId]').val(elm);
        }
    }
    function validate()
    {
        var RecordId=$('[id$=ClickedAccId]').val();
        if(RecordId == '') {alert('Please select Account'); return false;}
        return true;
    }
    function highlightElem(elem){
        $('tr').removeClass('ui-state-highlight');
        $(elem).addClass('ui-state-highlight');
    }
    function parseStatus(){
      //deleteDuplicatePrimaryTab();
        console.debug($('input[id$=ordStatusMessage]')[0].value);
        var jsonStr=$('input[id$=ordStatusMessage]')[0].value;
        var currentStatus="";
        $('.detailList .labelCol').each(function () {
            if($(this).text().trim()=='Status'){
                var nextElem=$(this).next();
                currentStatus=nextElem[0].textContent;
                return false;
            }
            return true;
        });
        var jsonObject=JSON.parse(jsonStr);
        if(jsonObject.status=="Success"){
            var msg=jsonObject.msg;
            $("#alertdivSucc")[0].innerHTML=msg+"<button id=\"alertButton\" class=\"cclose\" data-dismiss=\"alert\">&times;</button>";
            $("#alertdivSucc")[0].style.visibility="visible";
            $("#alertdivSucc")[0].style.display="block";
            $("#alertdivSucc").focus();
            location.href="#alertdivSucc";
            $("#alertdivFail")[0].style.display="None";
            $("#alertdivWarn")[0].style.display="None";
            $('.detailList .labelCol').each(function () {
                if($(this).text().trim()=='Status'){
                    var nextElem=$(this).next();
                    if(jsonObject.OrderStatus=='Activated'){
                        nextElem.html("Submitted");
                    } else{
                        nextElem.html(jsonObject.OrderStatus);
                    }
                    
                    return false;
                }
                return true;
            });
            $('.detailList .labelCol').each(function () {
                if($(this).text().trim()=='Service Address'){
                    var nextElem=$(this).next();
                    nextElem.html("{!Order.Service_Address_Text__c}");
                    return false;
                }
                return true;
            });
            $('.detailList .labelCol').each(function () {
                if($(this).text().trim()=='Shipping Address'){
                    var nextElem=$(this).next();
                    nextElem.html("{!Order.Shipping_Address1__c}");
                    return false;
                }
                return true;
            });
            $('.detailList .labelCol').each(function () {
                if($(this).text().trim()=='Billing Account'){
                    var nextElem=$(this).next();
                    nextElem.html("{!Order.Billing_Account1__c}");
                    return false;
                }
                return true;
            });
            // Change display setting for the buttons
            $(":button").each(function () {
                if(($(this)[0].name=='cancel_order') || ($(this)[0].name=='Create_PDF')){
                    $(this)[0].style.visibility="visible";
                    $(this)[0].style.display="inline";
                } else {
                    if(($(this)[0].name=='amend_order') || ($(this)[0].name=='edit') || ($(this)[0].name=='activate') || ($(this)[0].name=='deactivate') || ($(this)[0].name=='check_credit')
                       || ($(this)[0].name=='book_due_date') ||($(this)[0].name=='Create_PDF')|| ($(this)[0].name=='order_generate_email') || ($(this)[0].name=='change_due_date')){
                        $(this)[0].style.display="None";
                    }
                    
                    
                }
                return true;
            });
            setTimeout(function(){ location.reload(); }, 20000);
            //location.reload();
        } else if(jsonObject.status=="Fail"){
            var msg=jsonObject.msg;
            $("#alertdivFail")[0].innerHTML=msg+"<button id=\"alertButton\" class=\"cclose\" data-dismiss=\"alert\">&times;</button>";
            $("#alertdivFail")[0].style.visibility="visible";
            $("#alertdivFail")[0].style.display="block";
            $("#alertdivFail").focus();
            location.href="#alertdivFail";
            $("#alertdivSucc")[0].style.display="None";
            $("#alertdivWarn")[0].style.display="None";                     
        } else if(jsonObject.status=="Warn") {
            var msg=jsonObject.msg;
            $("#alertdivWarn")[0].innerHTML=msg+"<button id=\"alertButton\" class=\"cclose\" data-dismiss=\"alert\">&times;</button>";
            $("#alertdivWarn")[0].style.visibility="visible";
            $("#alertdivWarn")[0].style.display="block";
            $("#alertdivWarn").focus();
            location.href="#alertdivWarn";
            $("#alertdivSucc")[0].style.display="None";
            $("#alertdivFail")[0].style.display="None";           
        } else if(jsonObject.status=="InProgress"){
            var msg=jsonObject.msg;
            $("#alertdivSucc")[0].innerHTML=msg+"<button id=\"alertButton\" class=\"cclose\" data-dismiss=\"alert\">&times;</button>";
            $("#alertdivSucc")[0].style.visibility="visible";
            $("#alertdivSucc")[0].style.display="block";
            $("#alertdivSucc").focus();
            location.href="#alertdivSucc";
            $("#alertdivFail")[0].style.display="None";
            $("#alertdivWarn")[0].style.display="None";
             setTimeout(function(){ 
                 $("#alertdivSucc")[0].style.display="None";
                    }, 10000);  
            }
        else {
            if(jsonObject.status=="NA"){
                var isOrderAmendReady=jsonObject.isAmendReady;
                if(isOrderAmendReady=="true"){
                    $(":button").each(function () {
                        if(($(this)[0].name=='amend_order')){
                            $(this)[0].style.visibility="visible";
                            $(this)[0].style.display="inline";
                        } 
                        return true;
                    });
                } else {
                    $(":button").each(function () {
                        if(($(this)[0].name=='amend_order')){
                            $(this)[0].style.display="None";
                        } 
                        return true;
                    });
                    
                }
            }
            
        }
        console.debug(jsonObject.status);
    }
    
    function deleteDuplicatePrimaryTab(){
     // Only keep a current console window
        if (sforce.console.isInConsole()) {
            console.debug('in console');
            
            var currentPrimaryTabId="";
            sforce.console.getFocusedPrimaryTabId(function showTabId(result) {
                console.debug("currentPrimaryTabId ID: " + result.id);
                currentPrimaryTabId=result.id;
            });
            var currentObjectId="{!Order.Id}".substring(0,15);
            sforce.console.getPrimaryTabIds(function (result){
                //console.debug("Primary Tab IDs: " + result.ids);
                var resultIds=result.ids;
                console.debug(resultIds.length);
                for(var i=0;i<resultIds.length;i++){
                    console.debug(resultIds[i]);
                    if(currentPrimaryTabId==resultIds[i]){
                        // console.debug("currentPrimaryTabId ID: " + currentPrimaryTabId);
                     /*   sforce.console.getPageInfo(resultIds[i] , function showPageInfo(result1) {
                            console.debug("Page Info: " + result1.pageInfo);
                            var jsonObject=JSON.parse(result1.pageInfo);
                            console.debug("objectId= " + jsonObject.objectId);
                            if(jsonObject.objectId==""){
                                currentObjectId=jsonObject.url;
                            } else {
                                currentObjectId=jsonObject.objectId;
                            }
                            console.debug("currentObjectId="+currentObjectId);   
                            //console.debug(jsonObject.objectId);
                            //console.debug(jsonObject.url);
                        });*/
                    }
                    
                }
                
            });
            
            
            sforce.console.getPrimaryTabIds(function (result){
                //console.debug("Primary Tab IDs: " + result.ids);
                var resultIds=result.ids;
                var resultIds=result.ids;
                console.debug(resultIds.length);
                for(var i=0;i<resultIds.length;i++){
                    console.debug(resultIds[i]);
                    if(currentPrimaryTabId!=resultIds[i]){
                        var tabTobeDeleted="";
                        console.debug("non-current tab is "+resultIds[i]);
                        tabTobeDeleted=resultIds[i];
                        sforce.console.getPageInfo(resultIds[i] , function showPageInfo(result1) {
                            var jsonObject=JSON.parse(result1.pageInfo);
                            var objectIdToBeDeleted="";
                            if(jsonObject.objectId==""){
                                objectIdToBeDeleted=jsonObject.url;
                            } else {
                                objectIdToBeDeleted=jsonObject.objectId;
                            }
                            if(objectIdToBeDeleted==currentObjectId){
                                console.debug("tabTobeDeleted="+tabTobeDeleted);
                                sforce.console.closeTab(tabTobeDeleted);
                            }
                            
                        });
                    }
                }
            });
        }
    }
    </script>
    
    <script type="text/javascript">
     $(document).ready(function(){
        parseStatus();
        
    });
    </script>
    
    <div id="alertdivSucc" class="calert calert-success  calertdismissable" style="display:none"></div>
    <div id="alertdivFail" class="calert calert-danger  calertdismissable" style="display:none"></div>
    <div id="alertdivWarn" class="calert calert-warning  calertdismissable" style="display:none"></div>
    <apex:form id="messageForm">
        <apex:inputHidden value="{!message}" id="ordStatusMessage"/>
        <!--
        <apex:actionPoller action="{!readMessage}" enabled="{!((!isOrderLocked) || (!isOrderAmendReady))}" reRender="ordStatusMessage" interval="5" oncomplete="parseStatus()">
            <apex:param value="test" id="inputParam" assignTo="{!inputParam}"/>
        </apex:actionPoller>
        -->
    </apex:form>
    
    <apex:form >
        <div class="bs" id="tst">
            <div id="dialog-dueDateMsg" class="modal fade" role="dialog" >
                <div class="modal-backdrop fade in"></div>
                <div id ="model-dueDateMsg" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Warning</h4>
                        </div>
                        <div class="modal-body">
                            <P>Due Date less than 48 Hrs</P>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="dueDateAck" class="btn btn-default" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </apex:form>
    
    <apex:form >
        <div class="bs" id="tst">
            <div id="amendOrderBox" class="modal fade" role="dialog" >
                <div class="modal-backdrop fade in"></div>
                <div id ="model-dueDateMsg" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Amend Notes</h4>
                        </div>
                        <div class="modal-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="AmendNotes">
                                    <form style="padding-top: 5px">
                                        <div class="form-group">
                                            <apex:inputTextarea id="yourComments" rows="10" cols="70" value="{!ordObj.General_Notes_Remarks__c}"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <apex:commandButton id="doComment" styleclass="btn btn-default" value="OK" action="{!prepareForAmend}" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </apex:form>
    
    <!--apex:form >
        <apex:pagemessages ></apex:pagemessages>
        <div class="cmodal cfade cin" id="amendOrderBox1" tabindex="-1" role="dialog">
            <div class="cmodal-backdrop cfade cin"></div>
            <div class="cmodal-dialog">
                <div class="cmodal-content">
                    <div class="cmodal-header">
                        <button type="button" class="cclose" data-dismiss="modal"><span>&times;</span></button>
                        <h4 class="cmodal-title">Amend Order 123</h4>
                    </div>
                    <div class="cmodal-body">
                        <div>
                            <ul class="cnav cnav-pills">
                                <li class="cactive" style="color: white;text-align: left;font-style:oblique">Amend Notes&nbsp;<h1 style="color: red;">*</h1></li>
                            </ul>
                            <div class="ctab-content">
                                <div class="ctab-pane cactive" id="AmendNotes">
                                    <form style="padding-top: 5px">
                                        <div class="cform-group">
                                            <apex:inputTextarea id="yourComments" rows="10" cols="70" value="{!ordObj.General_Notes_Remarks__c}"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmodal-footer">
                        <apex:commandButton id="doComment" styleclass="cbtn cbtn-success" value="Ok" action="{!prepareForAmend}" />
                        <button type="button" class="cbtn cbtn-warning" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </apex:form -->
    
    <apex:form >
        <apex:actionFunction action="{!UpdateBlnPopup}" name="methodUpdBlnPopup" />
        <div class="bs" id="tst">
            <div id="dialog-messageSvc" class="modal fade" role="dialog" >
                <div class="modal-backdrop fade in"></div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Service Address Search</h4>
                        </div>
                        <div class="modal-body">
                            <P>
                                <c:PACServiceAddressComponent compData="{!SAData}" configName="service" useAs="false" idxp="OdrSvc" fmsCheck="true" />
                            </P>
                        </div>
                        <div class="modal-footer">
                            <apex:commandButton styleclass="btn btn-default" value="Save" action="{!SaveService}"/>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </apex:form>
    <apex:form >
        <div class="bs" id="tst">
            <div id="dialog-message" class="modal fade" role="dialog" >
                <div class="modal-backdrop fade in"></div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Shipping Address Search</h4>
                        </div>
                        <div class="modal-body">
                            <P>
                                <c:PACPostalAddressComponent compData="{!PAData}" configName="shipping" useAs="false" idxp="shipping"  />
                            </P>
                        </div>
                        <div class="modal-footer" >
                            <apex:commandButton id="button1" styleclass="btn btn-default" value="Save Shipping" action="{!SaveShipping}" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </apex:form>
     <apex:form >
        <div class="bs" id="tst">
            <div id="dialog-messageupbil" class="modal fade" role="dialog" >
                <div class="modal-backdrop fade in"></div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Change Billing Address</h4>
                        </div>
                        <div class="modal-body">
                         <br/><strong><h6>&nbsp;&nbsp;Enter the new mailing address for the selected billing account.</h6></strong>
                            <P>
                               <!-- <c:PACPostalAddressComponent compData="{!BAData}" configName="Billing" useAs="false" idxp="Billing"/> -->
                              <br/>
                               &nbsp;Billing Address <c:PACPostalAddressComponent compData="{!BAData}" configName="billing" useAs="false" idxp="updatebilling"  />
                            </P>
                        </div>
                        <div class="modal-footer" >
                            <button type="button" id="updateBillingbutton" class="btn btn-default"  onclick="checkMandatoryField();">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <apex:actionFunction id="ChangeBillingaddress"  name="ChangeBillingaddress" action="{!UpdateBillingForMACD}"/>
                            <script>
                            function checkMandatoryField(){
                             if(pacValidate_updatebilling()){                                
                                    ChangeBillingaddress(); 
                                } 
                                if(!pacValidate_updatebilling() && !($("#newAddress_updatebilling").prop('checked')))
                                {alert('Please select the address.');}
                            
                            }                            
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </apex:form>
    <apex:form >
        <div class="bs" id="tst">
            <div id="dialog-messagebil" class="modal fade" role="dialog" >
                <div class="modal-backdrop fade in"></div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Billing Account</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Select Billing Account</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">New Billing Address</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <br/><strong><h6>&nbsp;&nbsp;Select or search for Billing Account</h6></strong>
                                    <apex:actionRegion >
                                        <apex:outputPanel id="page" layout="block" style="margin:5px;padding:10px;padding-top:2px;">
                                            <apex:outputLabel value="Search" style="font-weight:Bold;padding-right:10px;" for="txtSearch"/>
                                            <apex:inputText id="txtSearch" value="{!searchString}" size="40" html-placeholder=" Enter billing account number." />
                                            <span style="padding-left:5px"><apex:commandButton id="btnGo" value="Go" action="{!Search}" rerender="searchResults" status="status"></apex:commandButton></span>
                                        </apex:outputPanel>
                                        <div style="overflow-y: scroll;height: 200px;">  
                                        <apex:pageBlock id="searchResults">
                                            <apex:pageBlockTable value="{!results}" var="a" id="tblResults"  rendered="{!NOT(ISNULL(results))}" onRowClick="highlightElem(this);">
                                                <apex:column headervalue="Account" value="{!a.name}" onclick="PopulateAccId('{!a.id}'); return false;" />
                                                <apex:column headervalue="BAN/CAN" value="{!a.BAN_CAN__c}" onclick="PopulateAccId('{!a.id}'); return false;" />                                               
                                                <apex:column headervalue="Billing Address" value="{!a.Billingstreet} {!a.BillingCity} {!a.BillingState} {!a.BillingPostalCode} {!a.BillingCountry}" onclick="PopulateAccId('{!a.id}'); return false;" />
                                                <apex:column >
                                                    <apex:inputHidden id="ClickedAccId" value="{!selectedAccId}" />
                                                </apex:column>                 
                                            </apex:pageBlockTable>
                                        </apex:pageBlock>
                                       </div>   
                                    </apex:actionRegion>
                                    <apex:actionStatus id="status" startText="Searching... please wait..."/>
                                    <div class="modal-footer">
                                        <apex:commandButton id="button2Sel" styleclass="btn btn-default"  value="Save" action="{!SaveBillingOnSelect}" onclick="return validate();" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <br/><p><h6> &nbsp; Enter the mailing address for the new Billing Account.</h6></p><br/><br/>
                                    <c:PACPostalAddressComponent compData="{!PAData1}" configName="billing" useAs="false" idxp="billing"/>
                                    
                                     <div class="modal-footer">
                                        <apex:commandButton id="button2" styleclass="btn btn-default"  value="Save" action="{!SaveBillingAccount}"/>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                   
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </apex:form>

    <!-- <apex:form> -->
        <!--apex:actionfunction name="callRemote" action="{!countUp}" reRender="test99"/-->
        <!--apex:outputPanel styleClass="bs" id="tst99"-->
        <div Class="bs" id="tst">
            <div id="dialog-TNR" Class="modal fade" role="dialog">
                <div Class="modal-backdrop fade in"></div>
                <div Class="modal-dialog" >
                    <div Class="modal-content">
                        <apex:outputPanel id="test99">
                          <!-- <c:OCOM_TNRComponent orderId="{!Oid}" itemId="{!iId}"/>
                            <c:OCOM_TNRComponent orderId="{!Oid}" itemId=""/> -->
                        </apex:outputPanel>
                    </div>
                </div>
            </div>
        </div>
        <!--/apex:outputPanel-->
    <!-- </apex:form> -->

    <apex:sectionHeader title="{!Order.OrderNumber}"/>
    
   <apex:detail id="detail" subject="{!Order.Id}"  title="False"  />    
</apex:page>