<apex:page standardController="SMET_Project__c" extensions="trac_SMETProjectReqQuickAddExt" sidebar="false" showHeader="false" id="page">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{!URLFOR($Resource.jquery_vfFloatingHeaders)}"></script>
    
    <style>      
        .floatingStyle 
        { 
            position:relative; 
        } 
    </style>

    <script>
        function scrollDown() {
            thePanel = document.getElementById("{!$Component.theForm.theBlock.scrollPanel}");
            thePanel.scrollTop = thePanel.scrollHeight;
        }
        function dimPanel(button) {
            thePanel = document.getElementById("{!$Component.theForm.theBlock.scrollPanel}");
            $(thePanel).css('background','grey');
            $(thePanel).fadeTo('slow', 0.5);
        }
        
        function doneSave() {
            document.getElementById("reloadLink").click();
        }
        
		function submitCheck()
	    {
	        var passed = true;
	        for (var i=0;i<document.getElementById("page:theForm:theBlock:cart").rows.length-1;i++)
	        {
	            var target = 'page:theForm:theBlock:cart:'+i+':orderNum';
	            var target2 = 'page:theForm:theBlock:cart:'+i+':kdName';
	            if(document.getElementById(target).value == "" || document.getElementById(target2).value == "")
	            {
	                showMessage('WARNING', 'Required fields cannot be empty!');
	                passed = false;
	                document.getElementById(target).style.backgroundColor="rgb(255, 0, 0)";
	                document.getElementById(target2).style.backgroundColor="rgb(255, 0, 0)";
	            }
	            else
	            {
	                document.getElementById(target).style.backgroundColor="rgb(255, 255, 255)";
	                document.getElementById(target2).style.backgroundColor="rgb(255, 255, 255)";
	            }
	        }
	        if(passed == true)
	        {
	            SaveRecord();
	        }
	    }
        
    </script>
    
    <script>
    $(document).ready(function() {
        theCart = document.getElementById("{!$Component.theForm.theBlock.cart}");
        $(theCart).vfFloatingHeaders();
    });
    </script> 
    
    <apex:form id="theForm">
        <apex:actionFunction name="showMessage" action="{!showMessage}" rerender="messages">
            <apex:param name="errorLevel" assignTo="{!errorLevel}" value="" />
            <apex:param name="messageName" assignTo="{!messageName}" value="" />
        </apex:actionFunction>
        <apex:actionfunction name="SaveRecord" action="{!onSave}"/>
        <apex:pageMessages id="messages"/>
        <apex:pageBlock id="theBlock" title="{!$ObjectType.SMET_Requirement__c.LabelPlural}" mode="edit" helpTitle="{!$ObjectType.SMET_Requirement__c.LabelPlural} Help" helpUrl="">
            <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!addDefaultItems}" value="Add {!$ObjectType.SMET_Requirement__c.Label} Template Entries" rerender="scrollPanel" immediate="true" oncomplete="scrollDown()"/>
                <apex:commandButton action="{!addItem}" value="New {!$ObjectType.SMET_Requirement__c.Label}" rerender="scrollPanel" immediate="true" oncomplete="scrollDown()"/>
                <input class="btn" type="button" onclick="submitCheck()" value="Save" />
                <apex:commandButton value="Undo" action="{!undo}"  rerender="scrollPanel"  immediate="true" onmouseup="dimPanel()"/>
                
            </apex:pageBlockButtons>
            <apex:outputpanel style="overflow:scroll;height:187px;" layout="block" id="scrollPanel">
            <apex:pageBlockTable value="{!cart}" var="item" id="cart">
                <apex:column headerValue="Action" styleClass="actionColumn">
                    <apex:outputLink value="/{!cart[item].id}/e?retURL=%2F{!parentId}"
                                     styleClass="{!if(ISNULL(cart[item].id),'disabledLink','actionLink')}"
                                     disabled="{!if(ISNULL(cart[item].id),'true','false')}"
                                     target="_parent">
                        Edit
                    </apex:outputLink>&nbsp;|&nbsp;
                    <apex:commandLink value="Del" action="{!removeFromCart}" rerender="cart" immediate="true" styleClass="actionLink">
                        <apex:param value="{!item}" assignTo="{!itemToDelete}" name="itemToDelete"/>
                    </apex:commandLink>
                </apex:column>
                <apex:column headerValue="{!$ObjectType.SMET_Requirement__c.Fields.Order__c.Label}">
                    <apex:inputField value="{!cart[item].Order__c}" id="orderNum" required="true" style="width:30px;text-align:right"/>
                </apex:column>
                <apex:column headerValue="{!$ObjectType.SMET_Requirement__c.Fields.name.Label}">
                    <apex:inputField value="{!cart[item].name}" id="kdName" required="true"/>
                </apex:column>
                <apex:column headerValue="{!$ObjectType.SMET_Requirement__c.Fields.Start_Date__c.Label}">
                    <apex:inputField value="{!cart[item].Start_Date__c}" />
                </apex:column>                                
                <apex:column headerValue="{!$ObjectType.SMET_Requirement__c.Fields.End_Date__c.Label}">
                    <apex:inputField value="{!cart[item].End_Date__c}" />
                </apex:column>
                <apex:column headerValue="{!$ObjectType.SMET_Requirement__c.Fields.Accountable__c.Label}">
                    <apex:inputField value="{!cart[item].Accountable__c}" />
                </apex:column>
                <apex:column headerValue="{!$ObjectType.SMET_Requirement__c.Fields.Assigned_To__c.Label}">
                    <apex:inputField value="{!cart[item].Assigned_To__c}" />
                </apex:column>
                <apex:column headerValue="{!$ObjectType.SMET_Requirement__c.Fields.Status__c.Label}">
                    <apex:inputField value="{!cart[item].status__c}"/>
                </apex:column>
                <apex:column headerValue="{!$ObjectType.SMET_Requirement__c.Fields.Requirement_Detail__c.Label}">
                    <apex:inputField value="{!cart[item].requirement_detail__c}" style="height:1em;width:40em;overflow:hidden"/>
                </apex:column>
                
                <!-- <apex:column headerValue="Owner Alias">
                    <apex:inputField value="{!cart[item].owner.alias}"/>
                </apex:column>-->
            </apex:pageBlockTable>
            </apex:outputpanel>
        </apex:pageBlock>
    </apex:form>
    
    <a href="/{!parentId}" id="reloadLink" target="_top"><!-- simulation top page reload - Christian Wico --></a>
</apex:page>