<apex:page id="config" controller="QuoteCustomConfigurationController" showHeader="false" sidebar="false" action="{!initWLN}" cache="false">
    <script type="text/javascript">
        function disableValidateButton() {
            var elem = document.getElementById('validate_button');
            if(elem != null) {
                elem.disabled = true;
            }
            return true;
        }
    </script>
    <apex:outputPanel rendered="{!AND(validated == '1',submitted == '1')}">
    <script type="text/javascript">
        parent.sbqqPage.clearConfigurationFormValidationMessage();
    </script>
    </apex:outputPanel>
    <input type="hidden" value="{!submitted}" id="submitted"/>
    <input type="hidden" value="{!validated}" id="validated"/>
    <input type="hidden" value="{!qty}" id="qty"/>
    <input type="hidden" value="{!selectionId}" id="selIdInput"/>
    <input type="hidden" value="{!quoteId}"/>
    <input type="hidden" value="{!quoteLineId}"/>
    
    <input type="hidden" id="iframeEncodedAdditionalInfo" value="{!encodedAdditionalInfo}"/> 
    
    <apex:stylesheet value="{!$Resource.SBQQ__ConfiguratorCSS}"/>
    
    <c:quotePortalConfigCSS />
    
    <apex:form id="form" onsubmit="disableValidateButton()">
        <apex:pageBlock id="block">
            <div class="information-box">
                <b>Status</b>:&nbsp;<apex:outputPanel rendered="{!AND(validated = '1',submitted = '1')}"><span class="validated">Successfully Validated</span></apex:outputPanel>
                <apex:outputPanel rendered="{!OR(validated != '1',submitted != '1')}"><span class="not-validated">Not Validated</span></apex:outputPanel>
                <br/><br/>
                After completing the information to the right, please click "Validate" before clicking on "Save".
                <br/>
                <apex:messages />
                <br/>
                <apex:actionFunction name="onSave" action="{!onSave}"/>
                <input type="button" id="validate_button" value="Validate" onclick="onSave()" class="btn"/>
            </div>
            <div class="add-info-table-wrapper">
            <table class="add-info-table" width="100%">
                <p style="margin-bottom: 15px">
                <apex:commandLink action="{!onCopyInfoFromCoreAll}" value="Copy additional information from Core" rendered="{!NOT(addOn)}"/>
                </p>
                <apex:variable var="count" value="{!1}"/>
                <apex:repeat value="{!quoteConfigFieldSetModelList}" var="quoteConfigFieldSetModel">
                    <apex:outputPanel layout="none">
                        <tr>
                            <td colspan="2"><div class="table-header">{!product.Name} - {!Round(count,0)} of {!quoteConfigFieldSetModelList.size}</div></td>
                        </tr>
                    </apex:outputPanel>
                    <apex:repeat value="{!quoteConfigFieldSetModel.configFieldViewModelList}" var="fieldViewModel">
                        <apex:outputPanel layout="none" rendered="{!fieldViewModel.visible}">
                            <tr>
                                <td class="labelCol {!IF(fieldViewModel.required,'requiredInput','')}">
                                    <apex:outputLabel value="{!fieldViewModel.quoteConfigFieldVO.name}"/>
                                </td>
                                <td class="dataCol">
                                    <div class="{!IF(AND(fieldViewModel.required), 'requiredInput','')}">
                                        <apex:outputPanel layout="none" rendered="{!AND(fieldViewModel.required)}">
                                            <div class="requiredBlock"></div>
                                        </apex:outputPanel>
                                        <div>
                                            <apex:outputPanel rendered="{!fieldViewModel.quoteConfigFieldVO.fieldName != 'Phone_Number_Setup__c'}">
                                                <apex:inputField value="{!quoteConfigFieldSetModel.additionalInformation[fieldViewModel.quoteConfigFieldVO.fieldName]}" 
                                                    style="{!fieldViewModel.quoteConfigFieldVO.cssStyle}"/>
                                            </apex:outputPanel>
                                            <apex:outputPanel rendered="{!fieldViewModel.quoteConfigFieldVO.fieldName == 'Phone_Number_Setup__c'}">
                                                <apex:inputField value="{!quoteConfigFieldSetModel.additionalInformation[fieldViewModel.quoteConfigFieldVO.fieldName]}">
                                                    <apex:actionSupport event="onchange" action="{!updateFieldsState}" rerender="block"/>
                                                </apex:inputField>
                                            </apex:outputPanel>                              
                                        </div>
                                    </div>
                                    <apex:outputPanel layout="none" rendered="{!NOT(fieldViewModel.valid)}">
                                        <div class="errorMsg">
                                        <strong>Error: </strong>{!fieldViewModel.quoteConfigFieldVO.errorMessage}
                                        </div>
                                    </apex:outputPanel>
                                </td>
                            </tr>
                            <apex:outputPanel layout="none" rendered="{!fieldViewModel.quoteConfigFieldVO.messageBelow != ''}">
                            <tr>
                                <td></td>
                                <td style="text-align: left;" class="labelCol">{!fieldViewModel.quoteConfigFieldVO.messageBelow}</td>
                            </tr>
                            </apex:outputPanel>
                        </apex:outputPanel>
                    </apex:repeat>
                    <apex:variable var="count" value="{!count + 1}"/>
                    <apex:outputPanel layout="none" id="removePanel" rendered="{!qty < renderedListSize}">
                        <tr>
                            <td></td>
                            <td>
                                <apex:outputLabel style="margin-right: 8px" value="You need to remove {!renderedListSize - qty} set of data"/>
                                <apex:commandLink action="{!removeAdditionalData}" value="Remove" id="removeLink">
                                    <apex:param name="removeIndex" value="{!quoteConfigFieldSetModel.index}" assignTo="{!removeIndex}" />
                                </apex:commandLink>
                            </td>
                        </tr>
                    </apex:outputPanel>
                    <apex:outputPanel layout="none" id="copyFromCore" rendered="{!NOT(addOn)}">
                        <tr>
                            <td></td>
                            <td>
                                <apex:commandLink action="{!onCopyInfoFromCore}" value="Copy from Core" id="copy">
                                    <apex:param name="copyIndex" value="{!quoteConfigFieldSetModel.index}"/>
                                </apex:commandLink>
                            </td>
                        </tr>
                    </apex:outputPanel>
                    <tr><td colspan="2">&nbsp;</td></tr>
                </apex:repeat>
            </table>
            </div>
        </apex:pageBlock>
    </apex:form>
</apex:page>