<apex:page showHeader="false" sidebar="false" controller="S2C_MoveOrderCtlr">
    <html>
        <head>
            <c:S2C_Move_Wizard_Resources />
            <script>
            	var datePickerLink = '{!datePickerLink}';
				var primaryTabID;

				$j(document).ready(function(){
				    sforce.console.getFocusedPrimaryTabId(showTabId);
				    reapplyLookupAndCalender();
				});

				var showTabId = function showTabId(result) {
		            primaryTabID = result.id;
		        };

				function closeTab(){
					var SubTabID; 
					var currentTab = function currentTab(result) {
						SubTabID = result.id;
						var refreshSuccess = function refreshSuccess(res) {
							sforce.console.closeTab(SubTabID);
						};
						sforce.console.refreshPrimaryTabById(primaryTabID, true, refreshSuccess); 
					};
					sforce.console.getFocusedSubtabId(currentTab);
			    }
            </script>
        </head>
        <body class="body-custom search-body">
        	<apex:form >
        		<apex:actionFunction action="{!populateInProductField}" name="assignedOutProductToIn" rerender="in-panel" oncomplete="reapplyLookupAndCalender();">
			        <apex:param name="productId" assignTo="{!productId}" value="" />
			    </apex:actionFunction>
			    <apex:actionFunction action="{!populateInDateField}" name="assignedOutDateToIn" rerender="in-panel" oncomplete="reapplyLookupAndCalender();">
			        <apex:param name="outDate" assignTo="{!inRequesteDateTemp}" value="" />
			    </apex:actionFunction>
			    <apex:actionFunction action="{!updateInProduct}" name="updateInProductSelf" rerender="in-panel" oncomplete="reapplyLookupAndCalender();">
			        <apex:param name="productId" assignTo="{!productId}" value="" />
			    </apex:actionFunction>
			    <apex:actionFunction action="{!updateInDate}" name="updateInDateSelf" rerender="in-panel" oncomplete="reapplyLookupAndCalender();">
			        <apex:param name="outDate" assignTo="{!inRequesteDateTemp}" value="" />
			    </apex:actionFunction>
        	</apex:form>
        	<apex:form >
        		<div id="errorMsg">
					<apex:pageMessages ></apex:pageMessages>
				</div>
				<h3>Service Instance Detail</h3>
	        	<div class="out-section">
	                <div class="panel panel-default padding-top">
	                    <div class="panel-heading custom-panel-style">
	                        <h3 class="panel-title">FROM Detail</h3>
	                    </div>
	                    <div class="panel-body padding-wrapper">
	                        <div class="row">
	                    		<div class="col-lg-4">
	                    			<apex:outputLabel value="Customer Requested Out-Date* " for="out-date-field" styleClass="label-field"/>
	                    		</div>
	                    		<div class="col-lg-4">
	                    			<apex:inputText styleClass="form-control input-field custom-wizard-input" value="{!outRequestDate}" id="out-date-field" html-readonly="true" onchange="updateInDate(); return false;"/>
	                    		</div>
	                    		<div class="col-lg-4">
	                    		</div>
		                    </div>
		                    <div class="row">
	                    		<div class="col-lg-4">
	                    			<apex:outputLabel value="Product* " for="out-product-field" styleClass="label-field"/>
	                    		</div>
	                    		<div class="col-lg-4">                       
		                        	<apex:inputField styleClass="form-control input-field custom-wizard-input" value="{!outServiceRequest.SRS_PODS_Product__c}" id="out-product-field" onchange="updateInProductLookup(); return false;" />
	                    		</div>
	                    		<div class="col-lg-4">
	                    			
	                    		</div>
		                    </div>
		                    <div class="row">
	                    		<div class="col-lg-4">
	                    			<apex:outputLabel value="Service Identifier Type " for="out-existing-service-type" styleClass="label-field"/>
	                    		</div>
	                    		<div class="col-lg-4">
	                    	  	<apex:selectList styleClass="form-control input-field custom-wizard-input" value="{!outServiceIdType}" multiselect="false" size="1" id="out-existing-service-type">
                                    <apex:selectOptions value="{!serviceTypeValues}"/>
                                </apex:selectList>
	                    		</div>
	                    		<div class="col-lg-4">
	                    			
	                    		</div>
		                    </div>
		                    <div class="row">
	                    		<div class="col-lg-4">
	                    			<apex:outputLabel value="Existing Service Id" for="out-existing-id" styleClass="label-field"/>
	                    		</div>
	                    		<div class="col-lg-4">                       
		                        	<apex:inputText styleClass="form-control input-field custom-wizard-input" value="{!outExistingServiceId}" id="out-existing-id" />
	                    		</div>
	                    		<div class="col-lg-4">
	                    			
	                    		</div>
		                    </div>
	                    </div>
	                </div>
	            </div>
	            <apex:outputPanel id="in-panel">
		            <div class="in-section">
		                <div class="panel panel-default padding-top">
		                    <div class="panel-heading custom-panel-style">
		                        <h3 class="panel-title">TO Detail</h3>
		                    </div>
		                    <div class="panel-body padding-wrapper">
		                    	<div class="row">
		                    		<div class="col-lg-4">
		                    			<apex:outputLabel value="Customer Requested In-Date* " for="in-date-field" styleClass="label-field"/>
		                    		</div>
		                    		<div class="col-lg-4">
		                    			<apex:inputText styleClass="form-control input-field custom-wizard-input" value="{!inRequestDate}" id="in-date-field" html-readonly="true" onchange="updateInDateWithSelf(); return false;" />
		                    		</div>
		                    		<div class="col-lg-4">
		                    		</div>
			                    </div>
			                    <div class="row">
		                    		<div class="col-lg-4">
		                    			<apex:outputLabel value="Product* " for="in-product-field" styleClass="label-field"/>
		                    		</div>
		                    		<div class="col-lg-4">	                        
			                        	<apex:inputField styleClass="form-control input-field custom-wizard-input" value="{!inServiceRequest.SRS_PODS_Product__c}" id="in-product-field" onchange="updateInProductLookupWithSelf(); return false;" />
		                    		</div>
		                    		<div class="col-lg-4">
		                    		</div>
			                    </div>
			                    <div class="row">
		                    		<div class="col-lg-4">
		                    			<apex:outputLabel value="Service Identifier Type " for="in-existing-service-type" styleClass="label-field"/>
		                    		</div>
		                    		<div class="col-lg-4">
		                    	  	<apex:selectList styleClass="form-control input-field custom-wizard-input" value="{!inServiceIdType}" multiselect="false" size="1" id="in-existing-service-type">
	                                    <apex:selectOptions value="{!serviceTypeValues}"/>
	                                </apex:selectList>
		                    		</div>
		                    		<div class="col-lg-4">
		                    			
		                    		</div>
			                    </div>
			                    <div class="row">
		                    		<div class="col-lg-4">
		                    			<apex:outputLabel value="Existing Service Id" for="in-existing-id" styleClass="label-field"/>
		                    		</div>
		                    		<div class="col-lg-4">                       
			                        	<apex:inputText styleClass="form-control input-field custom-wizard-input" value="{!inExistingServiceId}" id="in-existing-id" />
		                    		</div>
		                    		<div class="col-lg-4">
		                    			
		                    		</div>
			                    </div>
		                    </div>
		                </div>
		            </div>
		        </apex:outputPanel>
		        <div class="row input-wizard-styling">
		        	<apex:commandButton onclick="closeTab(); return false;" id="wizard-cancel" value="Cancel" immediate="true" />
		        	<apex:commandButton action="{!save}" id="wizard-save" value="Save" onclick="displaySpinner();"/>
		        </div>
		    </apex:form>
        </body>
    </html>
</apex:page>