<apex:page sidebar="False" standardStylesheets="false" showHeader="False" StandardController="Service_Request__c" extensions="SRS_SearchESDController">

   <apex:includeScript value="{!URLFOR($Resource.S2C_BTN_CSID_Search_Resources, '/js/jquery-1.11.2.min.js')}"/>
   <apex:includeScript value="/support/console/30.0/integration.js"/>
    <script type="text/javascript">
    var $j = jQuery.noConflict();
    var csidSelectedElement = null;
    var primaryTabID;
    var showTabId = function showTabId(result) {
            //Display the tab ID
            //alert('Tab ID: ' + result.id);
            primaryTabID = result.id;
        };
     $j(document).ready(function() {
           sforce.console.getFocusedPrimaryTabId(showTabId);
           sforce.console.setTabTitle('Add ESD Details');
        });
    
    function CloseTab(){
     var SubTabID; 
     var currentTab = function currentTab(result) {
           SubTabID = result.id;
           var refreshSuccess = function refreshSuccess(res) {
                sforce.console.closeTab(SubTabID );
           };

          sforce.console.refreshPrimaryTabById(primaryTabID, true, refreshSuccess); 
        };
     sforce.console.getFocusedSubtabId(currentTab);
    }

    function csidTableUncheckOthers(element){
		var selectedCheckboxValue = $j(element).prop('checked');
		setCheckboxValueCSID(selectedCheckboxValue);

		$j('[id*="csid-search-table"]').each(function(){
			$j(this).find('td').each(function(){
				if($j(this).children().is('input')){
					$j($j(this).children()).prop('checked', false);
				}
			});
		});

		if(selectedCheckboxValue){
			$j(element).prop('checked', true);
			csidSelectedElement = $j(element).parent().parent();
		} else{
			$j(element).prop('checked', false);
			csidSelectedElement = null;
		}
	}

    </script>
     
     
       <!-- <apex:includeScript value="{!URLFOR($Resource.jQueryFiles, 'jquery.min.js')}"/> -->
       <script type="text/javascript">
        $j(document).ready(function() {         
           $j('.linked').scroll(function(){
           $j('.linked').scrollTop($(this).scrollTop());
        })            
        });
        // end of doc ready  
     
    </script>
 	<div>
	 	<div id="errorMsg">
			<apex:pageMessages escape="false"/>
		</div>
		<h3>CSID Search</h3>

        <div class="row">
            <apex:form id="mainForm" >
            	<div class="col-lg-12">
	                <div class="panel panel-default padding-top">
	                    <div class="panel-heading custom-panel-style">
	                        <h3 class="panel-title">Search by CSID</h3>
	                    </div>
	                    <div class="panel-body padding-wrapper">
	                        <div class="row">
		                        <div class="col-lg-4">
		                        	<apex:outputLabel value="CSID"/>
		                        	<apex:inputText value="{!CSID}" styleClass="form-control input-field" />
		                        </div>
		                        <div class="col-lg-8">
		                        </div>
	                        </div>
	                        <hr />
	                        <div class="row">
		                        <div class="col-lg-1">
								</div>
								<div class="col-lg-5">
									<apex:commandbutton value="Search" action="{!search}" rendered="{!renderShowandCancel}" styleClass="btn btn-default"/>
		                        	<apex:commandButton value="Close" onClick="CloseTab();return false" immediate="true" rendered="{!!renderShowandCancel}"  styleClass="btn btn-default cmd-button-custom" />
								</div>
								<div class="col-lg-6">
								</div>
	                        </div>
	                        	
	                    </div>
	                </div>
	            </div>

	            <div class="col-lg-12">
	                <div class="panel panel-default padding-top">
	                    <div class="panel-heading custom-panel-style">
	                        <h3 class="panel-title">Search by Customer Name</h3>
	                    </div>
	                    <div class="panel-body padding-wrapper">
	                        <div class="row">
	                        	<div class="col-lg-4">
		                        	<apex:outputLabel value="ESD Customer Name"/>
				                	<apex:inputField value="{!Service_Request__c.ESD_Customer_Short_Name__c}" styleClass="form-control input-field"/>
			                	</div>
		                        <div class="col-lg-8">
		                        </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-lg-4">
		                        	<apex:outputLabel value="ESD Service Type"/>
				                	<apex:inputText value="{!serviceType}" styleClass="form-control input-field"/>
			                	</div>
		                        <div class="col-lg-8">
		                        </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-lg-4">
		                        	<apex:outputLabel value="Service Location City"/>
				                	<apex:inputText value="{!serviceLocationCity}" styleClass="form-control input-field"/>
			                	</div>
		                        <div class="col-lg-8">
		                        </div>
	                        </div>
	                        <hr />
	                        <div>
	                        	<apex:outputPanel id="panel1">
					            <apex:selectCheckboxes value="{!status}" label="Status" layout="PageDirection">         
					                <apex:selectOptions value="{!items}"/>
					                <apex:actionSupport event="onchange" rerender="panel1" action="{!select_allchkbox}"/>
					            </apex:selectCheckboxes>   
					            </apex:outputpanel>
					        <hr />
					            <apex:outputpanel layout="block" style="text-align: center;">
					                <apex:commandbutton value="Search" action="{!search}" rendered="{!renderShowandCancel}" styleClass="btn btn-default"/>
					                <apex:commandbutton value="Clear" action="{!reset}" rendered="{!renderShowandCancel}" styleClass="btn btn-default" immediate="true"/>
					            <!--    <apex:commandButton value="Cancel" onClick="CloseTab();return false" immediate="true"/> -->
					                <apex:commandButton value="Close" onClick="CloseTab();return false" immediate="true" rendered="{!!renderShowandCancel}" />
					            </apex:outputpanel> 
	                        </div>
	                        <apex:outputPanel rendered="{!esdFlag}" id="pgBlockTable">
	                        	<!--     <div class="linked"  style="height:350px;width:450px;overflow-x:scroll;overflow-y: hidden;padding-bottom:.5cm;margin-right:0px"> -->
			                    <apex:dataTable styleClass="table table-hover" id="csid-search-table" value="{!esdList}" var="lst">   
			                        <!--<apex:column headerValue="Select Row">
			                            <apex:commandLink action="{!selectedRow}" value="Checkbox" styleClass="myCheckBox" style="color:#000000;text-decoration:none">
			                                <apex:param name="Index" value="{!lst.index}" assignTo="{!index}"/>
			                                <apex:param name="Id" value="Row Number"/>
			                            </apex:commandLink> 
			                            </apex:column> -->
			                            <apex:column headerValue="Select Row">
				                            <apex:inputCheckbox value="{!lst.checked}" rendered="{!IF(srRecordTypeName == 'Provide/Install', true, false)}">
				                                <apex:actionSupport event="onchange" action="{!checked}"/>
			                                  <!--   <apex:param name="checkAll" value="{!checkAll}"/> 
			                                    </apex:actionSupport> -->
			                                </apex:inputCheckbox>
			                                <apex:inputCheckbox value="{!lst.checked}" onchange="csidTableUncheckOthers(this);" rendered="{!IF(srRecordTypeName != 'Provide/Install', true, false)}">
				                                <!-- <apex:actionSupport event="onchange" action="{!checked}"/> -->
			                                  <!--   <apex:param name="checkAll" value="{!checkAll}"/> 
			                                    </apex:actionSupport> -->
			                                </apex:inputCheckbox>
			                            </apex:column>
			                            <apex:column title="CSID"> 
			                                <apex:facet name="header">   
			                                    <apex:commandLink value="CSID {!IF(sortExpression=='CSID',IF(sortDirection='ASC','▲', '▼'),'')}" action="{!SortRelatedListwithColumn}" reRender="pgBlockTable" status="processingStatus" >
			                                        <apex:param name="CSID" value="CSID" assignTo="{!sortExpression}"/>                     
			                                    </apex:commandLink>
			                                </apex:facet>
			                                {!lst.csid}               
			                            </apex:column>
			                            <apex:column title="Status"> 
			                                <apex:facet name="header">   
			                                    <apex:commandLink value="Status {!IF(sortExpression=='Status',IF(sortDirection='ASC','▲', '▼'),'')}" action="{!SortRelatedListwithColumn}" reRender="pgBlockTable" status="processingStatus">
			                                        <apex:param name="Status" value="Status" assignTo="{!sortExpression}"/>                     
			                                    </apex:commandLink>
			                                </apex:facet>
			                                {!lst.status}               
			                            </apex:column>
			                            <apex:column title="ESD Customer Name"> 
			                                <apex:facet name="header">   
			                                    <apex:commandLink action="{!SortRelatedListwithColumn}" value="ESD Customer Name {!IF(sortExpression=='ESD Customer Name',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="pgBlockTable" status="processingStatus">
			                                        <apex:param name="ESD Customer Name" value="ESD Customer Name" assignTo="{!sortExpression}"/>                     
			                                    </apex:commandLink>
			                                </apex:facet>
			                                {!lst.esd_cust_name}               
			                            </apex:column>
			                            <apex:column title="Service Type"> 
			                                <apex:facet name="header">   
			                                    <apex:commandLink action="{!SortRelatedListwithColumn}" value="Service Type {!IF(sortExpression=='Service Type',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="pgBlockTable" status="processingStatus">
			                                        <apex:param name="Service Type" value="Service Type" assignTo="{!sortExpression}"/>                     
			                                    </apex:commandLink>
			                                </apex:facet>
			                                {!lst.service_type}               
			                            </apex:column>                            
			                            <apex:column title="Service Location"> 
			                                <apex:facet name="header">   
			                                    <apex:commandLink action="{!SortRelatedListwithColumn}" value="Service Location {!IF(sortExpression=='Service Location',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="pgBlockTable" status="processingStatus">
			                                        <apex:param name="Service Location" value="Service Location" assignTo="{!sortExpression}"/>                     
			                                    </apex:commandLink>
			                                </apex:facet>
			                                {!lst.service_location}               
			                            </apex:column> 
			                            <apex:column title="City"> 
			                                <apex:facet name="header">   
			                                    <apex:commandLink action="{!SortRelatedListwithColumn}" value="City {!IF(sortExpression=='City',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="pgBlockTable" status="processingStatus">
			                                        <apex:param name="City" value="City" assignTo="{!sortExpression}"/>                     
			                                    </apex:commandLink>
			                                </apex:facet>
			                                {!lst.city}              
			                            </apex:column> 
			                            <apex:column title="Pr/ST"> 
			                                <apex:facet name="header">   
			                                    <apex:commandLink action="{!SortRelatedListwithColumn}" value="Pr/ST {!IF(sortExpression=='Pr/ST',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="pgBlockTable" status="processingStatus">
			                                        <apex:param name="Pr/ST" value="Pr/ST" assignTo="{!sortExpression}"/>                     
			                                    </apex:commandLink>
			                                </apex:facet>
			                                {!lst.pr_st}             
			                            </apex:column> 
			                    
			                    </apex:dataTable><!-- </div> --> <br/>
			                    <apex:outputPanel >
						            <apex:outputpanel layout="block" style="text-align: center;" rendered="{!IF(srRecordTypeName == 'Provide/Install', true, false)}">   
						                <apex:commandbutton action="{!linkToSerReq}" value="Associate with Service Request" id="theButtonInit" disabled="{!disabled}" styleClass="btn btn-default"/>
						                <apex:commandbutton value="Cancel" onClick="CloseTab();return false" immediate="true" styleClass="btn btn-default"/>    
						            </apex:outputpanel>
						        </apex:outputPanel>
	                        </apex:outputPanel>
	                    </div>
	                </div>
	            </div>
	            <div class="col-lg-12">
	            	<apex:outputPanel id="csid-site-information-section" rendered="{!IF(srRecordTypeName != 'Provide/Install', true, false)}">
	                        <apex:outputPanel id="btn-submission-row" rendered="{!IF(isRecordSelected,true,false)}">
	                        	<div class="row">
		                            <div class="col-lg-12">
		                                <div class="panel panel-default padding-top">
		                                    <div class="panel-heading custom-panel-style">
		                                        <h3 class="panel-title">Service Location</h3>
		                                    </div>
		                                    <div class="panel-body padding-wrapper btn-can-search">
		                                    	<div class="row">
		                                        	<div class="col-lg-3">
		                                        		<!-- <apex:outputLabel value="Postal Code *" for="csid-serv-loc-postal" styleClass="label-field"/> -->
		                                        		<apex:outputPanel >
                                                            <strong>Postal Code</strong><span class='required-styles'>*</span>
                                                        </apex:outputPanel>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:inputText styleClass="form-control input-field" value="{!postalCode}" id="csid-serv-loc-postal" required="true" label="Postal Code" />
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        	</div>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="row">
		                            <div class="col-lg-12">
		                                <div class="panel panel-default padding-top">
		                                    <div class="panel-heading custom-panel-style">
		                                        <h3 class="panel-title">Site Information</h3>
		                                    </div>
		                                    <div class="panel-body padding-wrapper btn-can-search">
		                                    	<div class="row">
		                                        	<div class="col-lg-3">
		                                        		<!-- <apex:outputLabel value="Demarcation Location *" for="csid-site-info-demarc" styleClass="label-field"/> -->
		                                        		<apex:outputPanel >
                                                            <strong>Demarcation Location</strong><span class='required-styles'>*</span>
                                                        </apex:outputPanel>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:inputTextarea styleClass="form-control input-field" value="{!demarcationLocation}" id="csid-site-info-demarc" required="true" label="Demarcation Location" />
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:outputLabel value="Site Ready" for="csid-site-info-siteready" styleClass="label-field"/>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		 <apex:selectList styleClass="form-control input-field" value="{!siteReady}" multiselect="false" size="1" id="csid-site-info-siteready">
		                                                    <apex:selectOptions value="{!siteReadyValues}"/>
		                                                </apex:selectList>
		                                        	</div>
		                                        </div>
		                                        <div class="row">
		                                        	<div class="col-lg-3">
		                                        		<apex:outputLabel value="End Customer Name" for="csid-site-info-cust-name" styleClass="label-field"/>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:inputTextarea styleClass="form-control input-field" value="{!endCustomerName}" id="csid-site-info-cust-name" />
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:outputLabel value="Building Name" for="csid-site-info-building-name" styleClass="label-field"/>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:inputText styleClass="form-control input-field" value="{!buildingName}" id="csid-site-info-building-name" />
		                                        	</div>
		                                        </div>
		                                        <div class="row">
		                                        	<div class="col-lg-3">
		                                        		<apex:outputLabel value="NPA/NXX" for="csid-site-info-npanxx" styleClass="label-field"/>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:inputText styleClass="form-control input-field" value="{!npaNXX}" id="csid-site-info-npanxx" />
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:outputLabel value="New Building" for="csid-site-info-newbuilding" styleClass="label-field"/>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		 <apex:selectList styleClass="form-control input-field" value="{!newBuidling}" multiselect="false" size="1" id="csid-site-info-newbuilding">
		                                                    <apex:selectOptions value="{!newBuildingValues}"/>
		                                                </apex:selectList>
		                                        	</div>
		                                        </div>
		                                        <div class="row">
		                                        	<div class="col-lg-3">
		                                        		<apex:outputLabel value="Location" for="csid-site-info-location" styleClass="label-field"/>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		 <apex:selectList styleClass="form-control input-field" value="{!location}" multiselect="false" size="1" id="csid-site-info-location">
		                                                    <apex:selectOptions value="{!locationValues}"/>
		                                                </apex:selectList>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:outputLabel value="Floor" for="csid-site-info-floor" styleClass="label-field"/>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:inputText styleClass="form-control input-field" value="{!cabinet}" id="csid-site-info-floor" />
		                                        	</div>
		                                        </div>
		                                        <div class="row">
		                                        	<div class="col-lg-3">
		                                        		<apex:outputLabel value="CLLI" for="csid-site-info-clli" styleClass="label-field"/>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:inputText styleClass="form-control input-field" value="{!floor}" id="csid-site-info-clli" />
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:outputLabel value="Cabinet" for="csid-site-info-cabinet" styleClass="label-field"/>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:inputText styleClass="form-control input-field" value="{!floor}" id="csid-site-info-cabinet" />
		                                        	</div>
		                                        </div>
		                                        <div class="row">
		                                        	<div class="col-lg-3">
		                                        		<apex:outputLabel value="Existing Working TN" for="csid-site-info-ewtn" styleClass="label-field"/>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:inputText styleClass="form-control input-field" value="{!existingWorkingTN}" id="csid-site-info-ewtn" />
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:outputLabel value="Cabinet" for="csid-site-info-rack" styleClass="label-field"/>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:inputText styleClass="form-control input-field" value="{!rack}" id="csid-site-info-rack" />
		                                        	</div>
		                                        </div>
		                                        <div class="row">
		                                        	<div class="col-lg-3">
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:outputLabel value="Shelf" for="csid-site-info-shelf" styleClass="label-field"/>
		                                        	</div>
		                                        	<div class="col-lg-3">
		                                        		<apex:inputText styleClass="form-control input-field" value="{!shelf}" id="csid-site-info-shelf" />
		                                        	</div>
		                                        </div>
		                                        <div class="row">
		                                        	<div class="col-lg-12 button-row-custom">
					                					<apex:commandbutton action="{!linkToSerReq}" value="Associate with Service Request" id="theButton" styleClass="btn btn-default submit-button-custom"/>
					                					<apex:commandbutton value="Cancel" onClick="CloseTab();return false" immediate="true" styleClass="btn btn-default submit-button-custom"/>    
		                                        	</div>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
	                        </apex:outputPanel>
                        </apex:outputPanel>
                        </div>
			</apex:form>
			<apex:form >
				<apex:actionFunction name="setCheckboxValueCSID" action="{!checkboxCheck}" reRender="csid-site-information-section">
					<apex:param name="checkboxValue" assignTo="{!checkBoxStatus}" value="" />
					<apex:param name="postalCode" assignTo="{!postalCode}" value="" />
				</apex:actionFunction>
			</apex:form>
        </div>
    </div>
</apex:page>