<apex:page showHeader="false" sidebar="false" controller="S2C_SearchCSIDBTNCtlr">
	<html>
		<head>
			<c:S2C_BTN_CSID_Search_Resources />
			<script>
            var btnSelectedElement;

			$j(document).ready(function(){
				sforce.console.getFocusedPrimaryTabId(showTabId);

				var searchOption = "{!btnSearchOption}";
				var criteriaValue = "{!criteriaValue}";
				disableInputCriteria();
				bindInputEvents();
			});

			var showTabId = function showTabId(result) {
	            primaryTabID = result.id;
	        };

			function closeTab(){
				var SubTabID; 
				var currentTab = function currentTab(result) {
					SubTabID = result.id;
					var refreshSuccess = function refreshSuccess(res) {
						sforce.console.closeTab(SubTabID);
					};

					sforce.console.refreshPrimaryTabById(primaryTabID, true, refreshSuccess); 
				};
				sforce.console.getFocusedSubtabId(currentTab);
		    }

            function btnTableRecordValues(element){
                var selectedCheckboxValue = $j(element).prop('checked');

                if(selectedCheckboxValue){
                    $j(element).prop('checked', true);
                    btnSelectedElement = new Object();
                    btnSelectedElement.serviceLocation = $j(element).attr('service-location');
                    btnSelectedElement.billingAddress = $j(element).attr('billing-address');
                    btnSelectedElement.acctId = $j(element).attr('account-id');
                    btnSelectedElement.smbAddressId = $j(element).attr('smb-address-id');
                    btnSelectedElement.btnValue = $j(element).attr('btn-value');
                    btnSelectedElement.canValue = $j(element).attr('can-value');
                    btnSelectedElement.canBan = $j(element).attr('can-ban');
                    btnSelectedElement.legalName = $j(element).attr('legal-name');
                    btnSelectedElement.tradeName = $j(element).attr('trade-name');
                    btnSelectedElement.hasServiceLocation = $j(element).attr('has-service-location');
                    btnSelectedElement.province = $j(element).attr('province');

                    console.log(btnSelectedElement);
                } else{
                    btnSelectedElement = null;
                }
            }
			</script>
			

		</head>
		<body class="body-custom">
			<!-- Section for action function -->
			<apex:form >
				<apex:actionFunction name="queryBTNCANData" action="{!queryBTNCANInformation}" reRender="btn-table-display, btn-submission-section" oncomplete="displaySpin('.panel-body.padding-wrapper.btn-can-search', false);">
					<apex:param name="searchParam" assignTo="{!btnSearchOption}" value="" />
					<apex:param name="criteriaValue" assignTo="{!criteriaValue}" value="" />
				</apex:actionFunction>
				<apex:actionFunction name="resetSearch" action="{!resetSearchResults}" reRender="btn-table-display, btn-submission-section">
				</apex:actionFunction>
				<apex:actionFunction name="setCheckboxValue" action="{!checkboxCheck}" reRender="site-information-section">
					<apex:param name="checkboxValue" assignTo="{!checkBoxStatus}" value="" />
					<apex:param name="postalCode" assignTo="{!postalCode}" value="" />
                    <apex:param name="hasServiceLocation" assignTo="{!hasServiceLocationStatus}" value="" />
                    <apex:param name="existingWorkingTN" assignTo="{!existingWorkingTN}" value="" />
				</apex:actionFunction>
			</apex:form>

			<div class="search-body">
            
              
                        <apex:form >
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default padding-top">
                                    <div class="panel-heading custom-panel-style">
                                        <h3 class="panel-title">Search by BTN/CAN number</h3>
                                    </div>
                                    <div class="panel-body padding-wrapper btn-can-search">
                                        
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="can-btn-search-option" id="btn-option" value="true" checked="checked" onclick="disableInputCriteria(); resetSearch();">
                                                             BTN 
                                                            <input type="text" class="form-control input-field input-text-custom" id="btn-input" oninput="searchButtonStateChange();" onkeyup="searchButtonStateChange();" />
                                                            </input>
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="can-btn-search-option" id="can-option" value="false" onclick="disableInputCriteria(); resetSearch();">
                                                             CAN 
                                                            <input type="text" class="form-control input-field input-text-custom" id="can-input" oninput="searchButtonStateChange();"  onkeyup="searchButtonStateChange();" />
                                                            </input>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-lg-3 search-button-custom">
                                                    <button type="button" id="search-button" class="btn btn-default" onclick="executeBTNCANQuery();">Search</button>
                                                </div>
                                                <div class="col-lg-9">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <apex:outputPanel id="btn-table-display">
                                                        <apex:dataTable styleClass="table table-hover" value="{!btnCanResults}" var="results" id="btn-table">
                                                            <apex:column >
                                                                <!-- <apex:facet name="header">Selection</apex:facet> -->
                                                                <apex:inputCheckbox value="{!results.isChecked}" onchange="uncheckOthers(this); btnTableRecordValues(this);" html-postal-code="{!results.postalCode}" html-has-service-location="{!results.hasServiceLocation}"  html-billing-address="{!results.billingAddress}" html-service-location="{!results.serviceLocation}" html-account-id="{!results.acctId}" html-smb-address-id="{!results.smbAddressId}" html-btn-value="{!results.btnValue}" html-can-value="{!results.canValue}" html-can-ban="{!results.canBan}" html-legal-name="{!results.legalName}" html-trade-name="{!results.tradeName}" html-btn="{!results.btnValue}" html-province="{!results.province}"/>

                                                            </apex:column>
                                                            <apex:column >
                                                                <apex:facet name="header">Account Name</apex:facet>
                                                                <apex:outputText value="{!results.legalName}"/>

                                                            </apex:column>

                                                            <apex:column >
                                                                <apex:facet name="header">Trade Name</apex:facet>
                                                                <apex:outputText value="{!results.tradeName}"/>

                                                            </apex:column>

                                                            <apex:column >
                                                                <apex:facet name="header">Billing Name/Address</apex:facet>
                                                                <apex:outputText value="{!results.billingAddress}"/>

                                                            </apex:column>
                                                            <apex:column >
                                                                <apex:facet name="header">Service Location</apex:facet>
                                                                <apex:outputText value="{!results.serviceLocation}"/>

                                                            </apex:column>
                                                            <apex:column >
                                                                <apex:facet name="header">CAN/BAN</apex:facet>
                                                                <apex:outputText value="{!results.canBan}"/>
                                                            </apex:column>
                                                            <apex:column >
                                                                <apex:facet name="header">BTN</apex:facet>
                                                                <apex:outputText value="{!results.btnValue}"/>
                                                            </apex:column>
                                                        </apex:dataTable>
                                                        <div class="table-error-message">
                                                            <span class="result-message">
                                                                <apex:outputLabel value="No results returned. Please try again." id="no-result-msg" rendered="{!IF(btnCanResults.size == 0 && criteriaValue != '',true,false)}" />
                                                            </span>
                                                        </div>
                                                    </apex:outputPanel>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <apex:outputPanel id="site-information-section">
                            <apex:outputPanel id="btn-submission-row" rendered="{!IF(isRecordSelected && isServiceLocation,true,false)}">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-default padding-top">
                                            <div class="panel-heading custom-panel-style">
                                                <h3 class="panel-title">Service Location</h3>
                                            </div>
                                            <div class="panel-body padding-wrapper btn-can-search">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <!-- <apex:outputLabel value="Postal Code *" for="serv-loc-postal" styleClass="label-field"/> -->
                                                        <apex:outputPanel >
                                                            <strong>Postal Code</strong><span class='required-styles'>*</span>
                                                        </apex:outputPanel>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:inputText styleClass="form-control input-field" value="{!postalCode}" id="serv-loc-postal" label="Postal Code" />
                                                    </div>
                                                    <div class="col-lg-3">
                                                    </div>
                                                    <div class="col-lg-3">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-default padding-top">
                                            <div class="panel-heading custom-panel-style">
                                                <h3 class="panel-title">Site Information</h3>
                                            </div>
                                            <div class="panel-body padding-wrapper btn-can-search">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <!-- <apex:outputLabel value="Demarcation Location *" for="site-info-demarc" styleClass="label-field"/> -->
                                                        <apex:outputPanel >
                                                            <strong>Demarcation Location</strong><span class='required-styles'>*</span>
                                                        </apex:outputPanel>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:inputTextarea styleClass="form-control input-field" value="{!demarcationLocation}" id="site-info-demarc" label="Demarcation Location" />
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:outputLabel value="Site Ready" for="site-info-siteready" styleClass="label-field"/>
                                                    </div>
                                                    <div class="col-lg-3">
                                                         <apex:selectList styleClass="form-control input-field" value="{!siteReady}" multiselect="false" size="1" id="site-info-siteready">
                                                            <apex:selectOptions value="{!siteReadyValues}"/>
                                                        </apex:selectList>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <apex:outputLabel value="End Customer Name" for="site-info-cust-name" styleClass="label-field"/>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:inputTextarea styleClass="form-control input-field" value="{!endCustomerName}" id="site-info-cust-name" />
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:outputLabel value="Building Name" for="site-info-building-name" styleClass="label-field"/>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:inputText styleClass="form-control input-field" value="{!buildingName}" id="site-info-building-name" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <apex:outputLabel value="NPA/NXX" for="site-info-npanxx" styleClass="label-field"/>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:inputText styleClass="form-control input-field" value="{!npaNXX}" id="site-info-npanxx" />
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:outputLabel value="New Building" for="site-info-newbuilding" styleClass="label-field"/>
                                                    </div>
                                                    <div class="col-lg-3">
                                                         <apex:selectList styleClass="form-control input-field" value="{!newBuidling}" multiselect="false" size="1" id="site-info-newbuilding">
                                                            <apex:selectOptions value="{!newBuildingValues}"/>
                                                        </apex:selectList>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <apex:outputLabel value="Location" for="site-info-location" styleClass="label-field"/>
                                                    </div>
                                                    <div class="col-lg-3">
                                                         <apex:selectList styleClass="form-control input-field" value="{!location}" multiselect="false" size="1" id="site-info-location">
                                                            <apex:selectOptions value="{!locationValues}"/>
                                                        </apex:selectList>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:outputLabel value="Floor" for="site-info-floor" styleClass="label-field"/>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:inputText styleClass="form-control input-field" value="{!cabinet}" id="site-info-floor" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <apex:outputLabel value="CLLI" for="site-info-clli" styleClass="label-field"/>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:inputText styleClass="form-control input-field" value="{!floor}" id="site-info-clli" />
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:outputLabel value="Cabinet" for="site-info-cabinet" styleClass="label-field"/>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:inputText styleClass="form-control input-field" value="{!floor}" id="site-info-cabinet" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <apex:outputLabel value="Existing Working TN" for="site-info-ewtn" styleClass="label-field"/>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:inputText styleClass="form-control input-field" value="{!existingWorkingTN}" id="site-info-ewtn" />
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:outputLabel value="Rack" for="site-info-rack" styleClass="label-field"/>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:inputText styleClass="form-control input-field" value="{!rack}" id="site-info-rack" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                    </div>
                                                    <div class="col-lg-3">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:outputLabel value="Shelf" for="site-info-shelf" styleClass="label-field"/>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <apex:inputText styleClass="form-control input-field" value="{!shelf}" id="site-info-shelf" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </apex:outputPanel>
                        </apex:outputPanel>
                        </apex:form>
            </div>
		</body>
	</html>
</apex:page>