<apex:page controller="SalesRequestsEntranceController" cache="false" deferlastcommanduntilready="true" sidebar="false">
<c:quotePortalCSS />
<apex:insert name="css" />
<style type="text/css">
.InuksukMainMenuIconText{
color:#545454;
font:bold 1.2em verdana,arial;
}
.InuksukMainMenuIconTextContent{
text-align:center;
}
.InuksukMenuButton:hover{
cursor:pointer;
}
</style>
<apex:pagemessages />
<apex:includeScript value="{!URLFOR($Resource.jQueryAndUI, '/jquery/jquery-1.11.1.min.js')}" />
<script type="text/javascript">
var $j=jQuery.noConflict();
$j(document).ready(function(){
	
});
function onSelectedMenuItem(requestType){
	window.location.href='/apex/SalesRequestsSubMenu?RequestType='+requestType;
}
</script>
<apex:form >
	<apex:outputpanel layout="block" styleClass="section">
		<c:roundedCornerBox >
			<apex:outputpanel layout="block">
				<apex:outputlabel value="Welcome to the TELUS Sales-To-Care Portal" style="font:bold 1.5em verdana,arial;color:#454545;"/>
				<hr style="width:100%;height:1px;border:0;border-top:1px solid #D1D1D1;display:block;margin:1em 0;padding:0;"/>
		       	<apex:panelGrid columns="2" cellpadding="3" styleClass="data" style="width:50%;height:300px;margin-left:auto;margin-right:auto;">
		       		<apex:outputpanel layout="block" styleclass="InuksukMenuButton" onclick="onSelectedMenuItem('Support');">
		       			<apex:panelGrid columns="1" width="100%" cellpadding="3" styleClass="data">
		       				<apex:image value="{!urlfor($Resource.InuksukImages,'/images/Headset_RGB_PU.jpg')}" width="100" height="100" style="position:relative;top:50%;left:50%;margin-left:-50px;"/>
				       		<apex:outputpanel layout="block" styleclass="InuksukMainMenuIconTextContent">
				       			<apex:outputtext value="Support Requests" styleclass="InuksukMainMenuIconText"/>
				       		</apex:outputpanel>
		       			</apex:panelGrid>
		       		</apex:outputpanel>
		       		<apex:outputpanel layout="block" styleclass="InuksukMenuButton" onclick="onSelectedMenuItem('Escalations');">
		       			<apex:panelGrid columns="1" width="100%" cellpadding="3" styleClass="data">
		       				<apex:image value="{!urlfor($Resource.InuksukImages,'/images/Batman_PU.png')}" width="200" height="100" style="position:relative;top:50%;left:50%;margin-left:-100px;"/>
				       		<apex:outputpanel layout="block" styleclass="InuksukMainMenuIconTextContent">
				       			<apex:outputtext value="Escalations" styleclass="InuksukMainMenuIconText"/>
				       		</apex:outputpanel>
		       			</apex:panelGrid>
		       		</apex:outputpanel>
				</apex:panelGrid>
			</apex:outputpanel>
		</c:roundedCornerBox>
	</apex:outputpanel>
</apex:form>
</apex:page>