<apex:page standardController="SBQQ__TemplateContent__c" extensions="SBQQ.TemplateContentExtController" title="{!$Label.SBQQ__lbl_edit_template_content}">
    <link rel="shortcut icon" href="{!URLFOR($Resource.sbFavicon)}" />
    <script type="text/javascript" src="{!URLFOR($Resource.CKEditor, '/ckeditor/ckeditor.js')}"></script>
    <script type="text/javascript" src="{!$Resource.WebUI}"></script>
    <script type="text/javascript" src="{!$Resource.jQuery}"></script>

    <apex:sectionHeader title="Template Content Edit" subtitle="{!IF(ISBLANK(SBQQ__TemplateContent__c.Id),'New Template Content',SBQQ__TemplateContent__c.Name)}"/>

    <apex:form style="height: 100%">
        <apex:pageBlock mode="edit">
            <apex:pageBlockSection title="{!$ObjectType.SBQQ__TemplateContent__c.label}" columns="2">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Content Name" for="name"/>
                    <apex:inputField value="{!SBQQ__TemplateContent__c.Name}" id="name"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.SBQQ__TemplateContent__c.fields.SBQQ__Type__c.label}" for="type"/>
                    <apex:outputField value="{!SBQQ__TemplateContent__c.SBQQ__Type__c}" id="type"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.SBQQ__TemplateContent__c.fields.SBQQ__FontFamily__c.label}" for="fontFamily"/>
                    <apex:inputField value="{!SBQQ__TemplateContent__c.SBQQ__FontFamily__c}" id="fontFamily"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!SBQQ__TemplateContent__c.SBQQ__Type__c == 'Custom'}">
                    <apex:outputLabel value="{!$ObjectType.SBQQ__TemplateContent__c.fields.SBQQ__CustomSource__c.label}" for="customSource"/>
                    <apex:inputField value="{!SBQQ__TemplateContent__c.SBQQ__CustomSource__c}" id="customSource"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.SBQQ__TemplateContent__c.fields.SBQQ__FontSize__c.label}" for="fontSize"/>
                    <apex:inputField value="{!SBQQ__TemplateContent__c.SBQQ__FontSize__c}" id="fontSize"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.SBQQ__TemplateContent__c.fields.SBQQ__TextColor__c.label}" for="textColor"/>
                    <apex:inputField value="{!SBQQ__TemplateContent__c.SBQQ__TextColor__c}" id="textColor"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!SBQQ__TemplateContent__c.SBQQ__Type__c == 'Line Items'}" helpText="{!$ObjectType.SBQQ__TemplateContent__c.Fields.SBQQ__TableStyle__c.inlineHelpText}">
                    <apex:outputLabel value="{!$ObjectType.SBQQ__TemplateContent__c.fields.SBQQ__TableStyle__c.label}" for="tableStyle"/>
                    <apex:inputField value="{!SBQQ__TemplateContent__c.SBQQ__TableStyle__c}" id="tableStyle" required="true"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" rendered="{!SBQQ__TemplateContent__c.SBQQ__Type__c == 'HTML'}">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.SBQQ__TemplateContent__c.fields.SBQQ__Markup__c.label}" for="markup"/>
                    <apex:inputTextArea rows="25" value="{!SBQQ__TemplateContent__c.SBQQ__RawMarkup__c}" id="markup"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockButtons >
                <apex:commandButton value="{!$Label.SBQQ__lbl_save}" action="{!save}"/>
                <apex:commandButton value="{!$Label.SBQQ__lbl_cancel}" action="{!cancel}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>

    <script language="javascript" type="text/javascript">
    var ta = document.querySelector( 'textarea' );
    if( ta )
      CKEDITOR.replace( document.querySelector( 'textarea' ), $.extend( {height: 600}, SB.ckeditorConfig ) );
	</script>

</apex:page>