<apex:page standardController="SBQQ__Quote__c" extensions="SBQQ.QuoteExtController" action="{!onOverrideNew}">
    <apex:sectionHeader title="New Quote" rendered="{!formFactor == 'desktop'}"/>

    <apex:pageMessages rendered="{!formFactor == 'desktop'}"/>  
    
    <apex:outputPanel layout="none" rendered="{!formFactor != 'desktop'}">
    	<script type="text/javascript">
    	sforce.one.createRecord('{!$ObjectType.Quote__c.Name}');
    	</script>
    </apex:outputPanel> 
</apex:page>