<!--
Licensed Materials - Property of IBM 

IBM Sterling Selling and Fulfillment Suite 9.1

(c) Copyright IBM Corp. 2011 All Rights Reserved. 

US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp. 
-->

<apex:page standardController="scpq__SciQuote__c" extensions="scpq.CPQParametersExtension" sidebar="{!CPQParameters.scpq__ShowQuotesSidebar__c}">

    <apex:iframe id="itarget" frameborder="false" height="{!CPQParameters.scpq__QuotesTabiFrameHeight__c}" width="100%" scrolling="true" src="{!CPQParameters.scpq__ServerURL__c}quotes/fieldSalesQuoteSummary.do?scFlag=Y&ParentApp=SFDC&getCompleteOrderDetails_Input=%7B%22Order%22%3A%7B%22OrderHeaderKey%22%3A%22{!URLENCODE(scpq__SciQuote__c.scpq__OrderHeaderKey__c)}%22%7D%7D&orderList_Input=%7B%22Order%22%3A%7B%22LinkedSourceKey%22%3A%22{!URLENCODE(scpq__SciQuote__c.scpq__OrderHeaderKey__c)}%22%7D%7D&partnerURL={!URLENCODE($Api.Partner_Server_URL_190)}&sessionID={!URLENCODE(UserInfoSessionId)}&sfsorgcode={!URLENCODE(CPQParameters.scpq__EnterpriseCode__c)}&EnterpriseCode={!URLENCODE(CPQParameters.scpq__EnterpriseCode__c)}"/>

</apex:page>