<apex:page title="{!isContactOrLead}" controller="SendEmailFromContactOrLead"  standardStylesheets="true" action="{!sendEmailStatus}">
   <apex:form >
        <apex:pageBlock title="{!isContactOrLead}">
         <apex:pageMessage summary="{!EmailStatus}" severity="confirm" strength="3" />
        <br/>
            <apex:commandButton value="{!$Label.ok}" action="{!cancel}"/> 
        </apex:pageBlock>
  </apex:form>  
</apex:page>