<apex:page standardController="OpportunityLineItem" 
extensions="smb_CPQ_OpportunityProductExt">
<apex:form > 
    <apex:pageMessages /> 
<apex:pageblock >
    <apex:pageBlockTable value="{!oppz}" var="o" rendered="{!NOT(ISNULL(oppz))}">           
       <apex:column >
             <apex:facet name="header">Product Name</apex:facet> 
             <apex:commandLink action="/{!o.id}" value="{!o.Product_Name__c}" target="_blank"/>
       </apex:column>                       
       <apex:column value="{!o.Item_ID__c}"/>               
     </apex:pageBlockTable>
     <apex:outputLabel value="No records to display" rendered="{!(ISNULL(oppz))}" styleClass="noRowsHeader"></apex:outputLabel>
    </apex:pageblock>
</apex:form>
</apex:page>