<apex:page title="Choose Contact" tabstyle="Account" controller="OCOM_NewQuoteButtonFromAccountInterim"  action="{!onLoad}">
    <apex:messages />       
    <apex:form id="form1"  >
                   
        <apex:stylesheet value="{!URLFOR($Resource.PACLibrary, '/jquery-ui.css')}"/> 
        <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/jquery-2.0.3.min.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/telus.xmlToJSON.js')}" />
        <!-- Postal Address and Service Address JS -->
        <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/TELUS/this.js')}" />
        <!--bootstrap lib --> 
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapdemoplugins, '/bootstrapdemoplugins/bootstrap/css/bootstrap.min.css')}"/> 
        <apex:includeScript value="{!URLFOR($Resource.bootstrapdemoplugins, '/bootstrapdemoplugins/bootstrap/js/bootstrap.js')}" /> 
        <apex:includeScript value="{!URLFOR($Resource.PACLibrary, '/jquery-ui.min.js')}" />
       <apex:stylesheet value="{!URLFOR($Resource.PACLibrary, '/TELUS/css/uit.addressSearch.css')}"/> 
 
        <apex:outputPanel id="mainPage" rendered="{!loaded}">
            <apex:sectionHeader subtitle="{!Account.Name}" title="New Quote from Account"/>          
            <apex:pageBlock id="pg_blk" title="Address & Contact Capture">
                <apex:pageBlockSection id="pg_blk_sec" columns="1" >                    
                    <apex:pageBlockSectionItem id="pg_blk_sec_item_one">   
                        1. Service Address: &nbsp;
                        <c:PACServiceAddressComponent compData="{!SAData}" configName="service" useAs="false" idxp="service"  fmsCheck="true"/>  
                             
                    </apex:pageBlockSectionItem>
                    <!--<apex:pageBlockSection id="pg_blk_sec1" columns="1" title="Contact Selection">  -->
                    <apex:pageBlockSectionItem id="pg_blk_sec_item_two"> 
                        2. Customer Contact: &nbsp;   
                        <apex:outputPanel >
                            <div class="requiredInput">
                                <div class="requiredBlock"></div>
                                <apex:inputText styleClass="form-control ui-autocomplete-input" value="{!searchTerm}" id="searchTerm" onkeyup="contactSH.kh(this, event);" style="width: 15%;  font-size: 125%;"> </apex:inputText>
                            </div>
                        </apex:outputPanel>                    
                    </apex:pageBlockSectionItem>  
                </apex:pageBlockSection>
    
                <!-- Search! -->
                <span id="cListNerf"></span>
                <!-- List of Contacts to Choose -->
                <apex:outputPanel layout="block" style="max-height: 320px; overflow: scroll; overflow-x:hidden;">
                    <div style=" padding: .5em .5em .5em 21.5em;">
                        <apex:pageBlockTable value="{!contacts}" var="contact" id="contactList" width="100%" rowClasses="odd,even"  styleClass="tableClass">
                            <apex:column >
                                <apex:facet name="header">Select</apex:facet>
                                <apex:commandLink value="Select" action="{!onSelectContact}">
                                    <apex:param name="contactId" value="{!contact.Id}" assignTo="{!selectedContactId}"/>
                                </apex:commandLink>
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">Name</apex:facet>
                                <apex:outputField value="{!contact.Name}"/>
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">Email</apex:facet>
                                <apex:outputField value="{!contact.Email}"/>
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">Title</apex:facet>
                                <apex:outputField value="{!contact.Title}"/>
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">Active</apex:facet>
                                <apex:outputField value="{!contact.Active__c}"/>
                            </apex:column>
                        </apex:pageBlockTable>
                    </div>
                </apex:outputPanel>
                
                <apex:outputPanel layout="block" style="padding: 1em;">
                    <apex:commandButton action="{!toggleNewContactForm}" reRender="pg_blk_sec_item_two,contactEntry,contactList" value="Add New Contact" oncomplete="javascript:scrollToContactForm();" disabled="{!showNewContactForm}" style="margin-left: 1em"/>
                    <apex:commandButton action="{!URLFOR($Action.Account.View, account.Id)}" immediate="true" value="Return to Account" style="margin-left: 1em"/>
                    <apex:outputText style="padding: 1em" id="contactCount" value="Showing {!contactsCount} Contacts" />
                    <apex:actionStatus id="searchStatus" style="padding:1em">
                        <apex:facet name="start">
                            <img class="waitingImage" style="position: relative; top: 3px; padding-right: .25em" src="/img/loading.gif" title="Searching..." />
                        Searching...</apex:facet>
                        <apex:facet name="stop"></apex:facet>
                    </apex:actionStatus>
                </apex:outputPanel>
                    
                <apex:outputPanel id="contactEntry">
                <span id="cefFormNerf"></span>
                    <apex:pageBlockSection columns="1" collapsible="false" title="Creating a New Contact" rendered="{!showNewContactForm}" >
                        <apex:pageMessages />
                      
                        <!-- Add New Contact Section -->
                        <apex:inputField value="{!new_contact.FirstName}" id="contact_firstname" required="true"/>
                        <apex:inputField value="{!new_contact.LastName}" id="contact_lastname" required="true"/>
                        <apex:inputField value="{!new_contact.Phone}" id="contact_phone" required="true"/>
                        <apex:inputField value="{!new_contact.Title}" id="contact_title"/>
                        <apex:inputField value="{!new_contact.Email}" id="contact_email" required="true"/>
                        <apex:inputField value="{!new_contact.Language_Preference__c}" id="contact_language" required="true"/>
                        <apex:commandButton action="{!createNewContact}" oncomplete="scrollToList();" rerender="pg_blk_sec_item_two,contactEntry,contactList" value="Save"/>                   
                    </apex:pageBlockSection>
                </apex:outputPanel>
            </apex:pageblock>
            <apex:actionFunction reRender="contactList, contactCount, searchStatus" action="{!onSearch}" status="searchStatus" name="processContactSearch" immediate="true">
                <apex:param assignTo="{!searchTerm}" name="sterm" value=""/>
            </apex:actionFunction>
            <script>
                var scrollToContactForm = function() 
                {   var el = document.getElementById("cefFormNerf");
                    if (typeof el != undefined && el != null)
                    {   el.scrollIntoView(true);
                    }
                }
                var scrollToList = function() 
                {   /*
                    var el = document.getElementById("cListNerf");
                    if (typeof el != undefined && el != null) 
                    {   el.scrollIntoView(true);
                    }*/
                    window.scrollTo(0, 0);
                }
                var contactSH = 
                {   kh: function(xth, event) 
                    {   var term = xth.value;
                        if (term == null || (term.length != 0 && term.length < 3)) 
                        {   return; 
                        }
                        log("thisval", xth.value);
                        this.ct();
                        this.searchTerm = term;
                        this.st();
                    }, 
                    st: function() 
                    {   log("setting timeout");
                        var st = this.searchTerm;
                        this.timeoutId = window.setTimeout(function() { log("searching!", st); processContactSearch(st); log('done?'); }, 400);
                    },
                    ct: function() 
                    {   log("entered ct");
                        if (typeof this.timeoutId == "number") 
                        {   log("canceling timeout");
                            window.clearTimeout(this.timeoutId);
                            delete this.timeoutId;
                        }
                    }
                };
                window.log=function(){log.history=log.history||[];log.history.push(arguments);if(this.console){console.log(Array.prototype.slice.call(arguments))}};
            </script>
        </apex:outputPanel>
    </apex:form>
</apex:page>