<apex:page action="{!init}" controller="smb_SC_External_LinksController">

	<apex:includeScript value="/support/console/28.0/integration.js"/>
	<apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" />
	<apex:includeScript value="{!URLFOR($Resource.smb_ConsoleUtility)}" />
	
	<script type="text/javascript">
		
		var svocExternalLinks = {
			resizeMainContent : function() {
				$('#links').height($(window).height() - 23);
				$('#links').width($(window).width() - 33);
			}
		};

		$(document).ready(svocExternalLinks.resizeMainContent);
		
		$(window).resize(svocExternalLinks.resizeMainContent);

	</script>
	
	<style>
		div.link {display:block; width:100%; border-bottom:1px solid #DADADA; margin:0; padding:0}
		div.link > p {padding:0.5em 1em 0.7em 1em; margin:0}
	</style>
	<div style="overflow:auto; padding:1em" id="links">
		<apex:repeat value="{!scLinks}" var="scl">
			<div class="link"><p><a href="#" onclick="window.open('{!scl.url}', '_blank'); return false;">{!scl.label}</a></p></div>
		</apex:repeat>
	</div>
	<!-- <apex:form >	
		<apex:pageBlock >

				<div style="overflow:auto; width:100%; height:100%">
				<apex:pageBlockTable value="{!scLinks}" var="scl" id="mypbt">
					<apex:column >
						<a href="javascript:sforce.console.openPrimaryTab(null,'{!scl.url}',true,'{!scl.label}');">{!scl.label}</a>
					</apex:column>
				</apex:pageBlockTable>
				</div>
	
		</apex:pageBlock>
	</apex:form> -->

</apex:page>