<apex:page standardController="Opportunity" extensions="SMB_AmendCancelOrderController" id="amendCancelPage"
 showChat="false"  showHeader="false" sidebar="false">
        <apex:sectionHeader title="{!PageTitle}"  id="thePageSectionHeader" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /> 
    <apex:pagemessages id="PageMessages"/>  
    <apex:form id="amendCancelForm">
		<apex:includeScript value="/soap/ajax/22.0/connection.js"/>  
        <apex:includeScript value="/support/console/26.0/integration.js"/>
        <apex:stylesheet id="blockUI" value="{!URLFOR($Resource.BLOCK_UI, 'css/ui-lightness/jquery-ui-1.8.16.custom.css')}" />
        <apex:includeScript value="{!URLFOR($Resource.BLOCK_UI, 'js/jquery-1.6.2.min.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.BLOCK_UI, '/jquery.blockUI.js')}" />
        
    <script type="text/javascript">
    $j = jQuery.noConflict();
    var pageRedirectActual='';
    var primarytabId  = '';
    function SetTabTitle(){
        sforce.console.setTabTitle('Amend Cancel');
    }

    window.onload = function(){
        SetTabTitle();
    }
    
    var newSubtab= function newSubtab(result) {
            //Now that we have the primary tab ID, we can open a new subtab in it
            primarytabId  = result.id;
            sforce.console.openSubtab(primarytabId  , pageRedirectActual, true,'Edit Order', null, openSuccess,'EditOrder');
            CloseTab();
        };

        var openSuccess = function openSuccess(result) {
            //Report whether we succeeded in opening the subtab
            if (result.success == true) {
         //       alert('subtab successfully opened');
            } else {
           //     alert('subtab cannot be opened');
            }
        };
     
     var openSubtab = function openSubtab(result) {
            //Now that we have the primary tab ID, we can open a new subtab in it
            var primaryTabId = result.id;
            sforce.console.refreshPrimaryTabById(primaryTabId, true, refreshSuccess);
        };
        
         var refreshSuccess = function refreshSuccess(result) {
            //Report whether refreshing the primary tab was successful
            if (result.success == true) {
               // alert('Primary tab refreshed successfully');
                  CloseTab();
            } else {
  //              alert('Primary did not refresh');
            }
        };

        
        function CloseTab() {
        if(sforce.console.isInConsole()==false)
        {
            window.top.close();
        }
        else
        {
            //First find the ID of the current tab to close it
            sforce.console.getEnclosingTabId(closeSubtab);
         }
        }
         
         var closeSubtab = function closeSubtab(result) {
            //Now that we have the tab ID, we can close it
            var tabId = result.id;
            sforce.console.closeTab(tabId);
        };
        function isWarningApplicable()
        {
            var compChangeType=document.getElementById('{!$Component.amendCancelForm.mainPageBlock.fieldPageBlockSectionEdit.pbsChangeType.inpChangeType}').value;
            var compReasonCode=document.getElementById('{!$Component.amendCancelForm.mainPageBlock.fieldPageBlockSectionEdit.pbsReasonCode.inpReasonCode}').value;
            var compNotes=document.getElementById('{!$Component.amendCancelForm.mainPageBlock.fieldPageBlockSectionEdit.pbsNotes.inpNotes}').value;

            if(compChangeType=='Cancel Entire Order' && compReasonCode!='' & compNotes!='')
            {
                alert('Once the Order has been cancelled, you will not be able to re-submit it.');            
            }
        }
                
       function submitRequest(){
            var compChangeType=document.getElementById('{!$Component.amendCancelForm.mainPageBlock.fieldPageBlockSectionEdit.pbsChangeType.inpChangeType}').value;
            var compReasonCode=document.getElementById('{!$Component.amendCancelForm.mainPageBlock.fieldPageBlockSectionEdit.pbsReasonCode.inpReasonCode}').value;
            var compNotes=document.getElementById('{!$Component.amendCancelForm.mainPageBlock.fieldPageBlockSectionEdit.pbsNotes.inpNotes}').value;
            if(compChangeType==''||compReasonCode==''||compNotes=='')
            {
                invalidForm();
            }
            else
            {
              if(compChangeType=='Cancel Entire Order')
              {   
                if(compReasonCode!='' && compNotes!=''){
                        var confirmation=confirm('Once the Order has been cancelled, you will not be able to re-submit it.  Do you want to proceed?');
                        if(confirmation){    
                            blockPage();
                            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.SMB_AmendCancelOrderController.vfrPrepareOrderCancellationRequest}','{!objOpportunity.id}', compChangeType, compReasonCode, compNotes,
                            	function(result,event){                  
                                	if(event.status){
										$j('[id$="previousOpportunityStage"]').val(result);
										if('{!objOpportunity.type}' != 'All Other Orders'){
                                          Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.SMB_AmendCancelOrderController.getCPQQuoteCancellationHistory}','{!objOpportunity.id}',
                                            function(result,event){                                                
                                                if(event.status){
                                                    if(result.numCPQCancellationSuccess==0){
                                                        if(result.numCPQCancellationFailure<2){                                                                                       
                                                            $j.ajax({
                                                                url:'{!cancelCPQOrderEndPoint}',
                                                                type:'GET',
                                                                contentType:'text/html',
                                                                dataType:'jsonp',
                                                                complete:function(jqXHR,textStatus){
                                                                    // Log and perform cancel order
                                                                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.SMB_AmendCancelOrderController.logCPQCancellation}','{!objOpportunity.id}',
                                                                                                              JSON.stringify(jqXHR),textStatus,
                                                                                                              function(result,event){
                                                                                                                  if(event.status){
                                                                                                                      if(result){                                                                        
                                                                                                                          cancelWholeOrder();
                                                                                                                      }else{
                                                                                                                          // since a CPQ error was detected, this method will revert 
                                                                                                                          // the opportunity stage back to what it was prior to 
                                                                                                                          // the cancellation request
                                                                                                                          revertOrderCancellationRequest();
                                                                                                                          showSystemErrorMessage();
                                                                                                                          logconsole('Result is false:'+result);
                                                                                                                      }
                                                                                                                  }else{
                                                                                                                      // Unable to log CPQ cancellation may result in multiple CPQ Quote Cancellation.
                                                                                                                      revertOrderCancellationRequest();                                                                                                                      
                                                                                                                      showSystemErrorMessage();
                                                                                                                      logconsole('exception happened and reverted:'+event.message);
                                                                                                                  }
                                                                                                              });
                                                                },
                                                                crossDomain:true
                                                            });                                                                                      
                                                        }else{
                                                            showSystemErrorMessage();
                                                        }
                                                    }else{
                                                        cancelWholeOrder();
                                                    }
                                                }
                                                else if(event.type==='exception'){
                                        			unblockPage();
                                                    showSystemErrorMessage();
                                                }
                                                else{
                                        			unblockPage();
                                                    showSystemErrorMessage();
                                                }
                                            });
                                          }
               						      else{
                					        DoOk();
          							      }
                                    }
                                    else{
                                        unblockPage();
                                    }
                               });
                            }
                        }
              }
              else
              {
              	DoOk();
          	  }
            }
        } 
                    
         //function to block the whole page  
        function blockPage() {
            $j.blockUI({
                message: '<img src="/img/loading32.gif" /><h1> Loading...</h1>',
                css: {
                    border: 'none',
                    padding: '15px',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .9
                }
            });
            return false;
        }
         //function to unblock the page  
        function unblockPage() {
            $j.unblockUI();
        }
        function logconsole(message){
            if(console!=undefined&&console.log!=undefined){
                console.log(message);
            }
        };
    </script>
    <apex:pageBlock id="reSubmitBlock" rendered="{!reSumbitOrder}">
        <apex:outputLabel value="{!$Label.SMB_ReSubmitOrder}"/>
        <apex:pageBlockButtons id="pbCloseButton" location="bottom">  
            
            <apex:commandButton id="btnClose"  value="Close" onClick="CloseTab();" /> 
        </apex:pageBlockButtons> 
    </apex:pageBlock>


        
    
        <apex:pageBlock id="mainPageBlock" rendered="{!NOT(reSumbitOrder)}">

            <script type="text/javascript">
   
                function redirect(pageRedirect){
                    if(sforce.console.isInConsole()==false)
                    {
                            if(pageRedirect==null || pageRedirect=='')
                            {
                                window.top.close();
                            }
                            else if(pageRedirect.search("Error:")==0)
                            {
                                var errorMsg=pageRedirect.replace("Error:","");
                                alert(errorMsg);                
                            }
                            else
                            {
                                var currentWindow=window.top;
                                currentWindow.location.href=pageRedirect;
                                currentWindow.resizeTo(screen.width,screen.height);
                                currentWindow.focus();
                            }    
                    }
                    else
                    {
                            if(pageRedirect==null || pageRedirect=='')
                            {
                                sforce.console.getEnclosingPrimaryTabId(openSubtab);
                            }
                            else if(pageRedirect.search("Error:")==0)
                            {
                                var errorMsg=pageRedirect.replace('Error:','');
                                alert(errorMsg);
                            }
                            else
                            {
                                pageRedirectActual=pageRedirect;
                                sforce.console.getEnclosingPrimaryTabId(newSubtab);
                            }
                    }
                 }
            </script>
            <apex:pageBlockButtons id="pbButtons" location="bottom">
                <apex:commandbutton id="btnContinue" onclick="submitRequest();return false;" value="Continue" rendered="{!not(isAmendOrCancelCompleted)}"/>
                <apex:actionfunction name="DoOk" action="{!DoOk}" rerender="PageMessages,mainPageBlock" status="idStatusCancel"/>
                <apex:actionfunction name="invalidForm" action="{!invalidForm}" rerender="PageMessages,mainPageBlock" status="idStatusCancel"/>
                <apex:actionfunction name="revertOrderCancellationRequest" action="{!revertOrderCancellationRequest}" rerender="PageMessages,mainPageBlock" status="idStatusCancel"/>
				<apex:inputHidden value="{!previousOpportunityStage}" id="previousOpportunityStage"/>
                
                <apex:actionfunction name="cancelOrderTest" action="{!cancelOrderTest}" rerender="PageMessages,mainPageBlock" status="idStatusCancel"/>
				<apex:actionfunction name="cancelWholeOrder" action="{!cancelWholeOrder}" rerender="PageMessages,mainPageBlock" status="idStatusCancel"/>
                
                <apex:actionfunction name="showRetryMessage" action="{!showRetryMessage}" rerender="PageMessages,mainPageBlock" status="idStatusCancel"/>
                <apex:actionfunction name="showSystemErrorMessage" action="{!showSystemErrorMessage}" rerender="PageMessages,mainPageBlock" status="idStatusCancel"/>
               <!--<apex:commandButton id="btnContinue"  action="{!DoOk}" value="Continue" rerender="PageMessages,mainPageBlock" status="idStatusCancel" rendered="{!not(isAmendOrCancelCompleted)}"/>-->
                   <apex:actionStatus onstart="blockPage();" onstop="unblockPage();"  id="idStatusCancel" />
               <apex:commandButton id="btnCancel"  value="{!if(isAmendOrCancelCompleted,'Close','Cancel')}" onClick="redirect('{!RedirectPage}');" />     
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection columns="1" id="fieldPageBlockSectionEdit" title="{!objOpportunity.Name}" collapsible="false">

                <apex:pageBlockSectionItem id="pbsChangeType">
                    <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.Change_Type__c.Label}"/>
                    <apex:inputField value="{!objOpportunity.Change_Type__c}" id="inpChangeType"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="pbsReasonCode">
                    <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.Reason_Code__c.Label}"/>
                    <apex:inputField value="{!objOpportunity.Reason_Code__c}" id="inpReasonCode"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="pbsNotes">
                    <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.Notes__c.Label}"/>
                    <!--<apex:inputField value="{!objOpportunity.Notes__c}" id="inpNotes" style="width:300px; height:150px"/>-->
                    <apex:inputtextarea value="{!objOpportunity.Notes__c}" id="inpNotes" cols="120" rows="10"/>
                </apex:pageBlockSectionItem>

                
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>