<apex:page controller="SMB_WO_PageRedirector_Controller">
    <apex:includeScript value="/support/console/28.0/integration.js" />
        
        <apex:includeScript value="{!URLFOR($Resource.BLOCK_UI, 'js/jquery-1.6.2.min.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.BLOCK_UI, 'js/jquery-ui-1.8.16.custom.min.js')}" />
        
        <script type="text/javascript">
        
         var previousOnload = window.onload; window.onload = function() { if (previousOnload) { previousOnload(); } doCancel(); } 
        
        var currentTabId;
        var primaryTabId;
         
        function doCancel() 
        {
            sforce.console.getEnclosingPrimaryTabId(primary);
        }
        var primary= function primary(result) 
        { 
            primaryTabId = result.id;             
            sforce.console.getSubtabIds( primaryTabId, subTabs);             
        }; 
       
       var subTabs = function subTabs(result)
       {
           try
           {
               var sTabs = result.ids;
               if(sTabs != '')
               {               
                   var sTabString = sTabs.toString();
                                  
                   var splitTabs = sTabString.split(",");
                   
                   if(splitTabs[0] != '' || splitTabs[0] != 'undefined')
                   {
                       if(splitTabs[0].trim() != '{!originalTabId}')
                       {
                           sforce.console.closeTab('{!originalTabId}');
                           sforce.console.getEnclosingTabId(closeSubtab);
                       }
                       else
                       {
                           sforce.console.openPrimaryTab(null,'{!url}',true,'{!oppName}',openPrimary,'{!oppName}');
                       }
                   }
                   else
                       sforce.console.getEnclosingTabId(closeSubtab);
               }
               else
                   sforce.console.getEnclosingTabId(closeSubtab);
           }
           catch(e)
           {
               sforce.console.getEnclosingTabId(closeSubtab);
           }
                          
       }
       
       var openPrimary = function openPrimary(result)
       {
           if (result.success == false) 
            { 
                sforce.console.openPrimaryTab(null,'{!url}',true,'New Order',null,'NewOrder');
                
            }
           sforce.console.closeTab('{!originalTabId}'); 
       };
       
       
       var closeSubtab = function closeSubtab(result) 
       {
            //Now that we have the tab ID, we can close it
            currentTabId = result.id;
            
            var url='{!url}';
            sforce.console.openSubtab(primaryTabId , url, true,'{!oppName}', null, openSuccess,'{!oppName}');
        };
        var openSuccess = function openSuccess(result) 
        { 
            if (result.success == false) 
            { 
                sforce.console.openSubtab(primaryTabId , '{!url}', true,'New Order', null, null,'NewOrder');
            }
            else
            {
                sforce.console.closeTab(currentTabId);
                
            }
        };
       
    </script>

</apex:page>