<apex:page StandardController="SRS_Service_Request_Related_Order__c" action="{!redirectToRO}" extensions="srs_New_RelatedOrderController" docType="html-5.0" showHeader="false" sidebar="false" id="pg" standardStylesheets="true" >
 <apex:form id="frm">
 <apex:pageMessages escape="false"/>
 <apex:pageMessage Summary="Please remove already attached related orders[Order-Seq-System-Circuit Number-Originatingdate]." severity="error"  strength="3" rendered="{!isDupe}">
        
        <apex:repeat value="{!mapUIDwithRelOrders}" var="UID">
        <strong>Error: </strong>[{!UID}] is already attached with Service Request(
        <apex:variable var="i" value="{!0}"/>
        <apex:repeat value="{!mapUIDwithRelOrders[UID]}" var="err">
            <apex:outputLabel value="," rendered="{!if(i==0,false,true)}"/>{!err.RO_Service_Request__r.name}
        <apex:variable var="i" value="{!i+1}"/>
        </apex:repeat>)<br/>
        </apex:repeat>
        
 </apex:pageMessage>
 
 
  <apex:includeScript value="{!URLFOR($Resource.jQueryFiles, 'jquery.min.js')}"/>
    <apex:includeScript value="/support/console/30.0/integration.js"/>
    <script type="text/javascript">
    var primaryTabID;
    var showTabId = function showTabId(result) {
            
            primaryTabID = result.id;
        };
     $(document).ready(function() {
           sforce.console.getFocusedPrimaryTabId(showTabId);
           if('{!ManualRelatedOrder.id}'!='')
           sforce.console.setTabTitle('{!ManualRelatedOrder.name}');           
           else 
           sforce.console.setTabTitle('New Related Order');  
           
    });
    
     function CloseTab(){
     var SubTabID; 
     var currentTab = function currentTab(result) {
           SubTabID = result.id;
           var refreshSuccess = function refreshSuccess(res) {
                sforce.console.closeTab(SubTabID );
           };

          sforce.console.refreshPrimaryTabById(primaryTabID, true, refreshSuccess); 
        };
     sforce.console.getFocusedSubtabId(currentTab);
     }        
    </script>
    <apex:includeScript value="{!URLFOR($Resource.jQueryFiles, 'jquery.min.js')}"/>
  <script type="text/javascript" src="jqueryfixed"></script>
        <style type="text/css">
        div.ui-datepicker   
        {
            font-size: 10px;
        }
    </style>   
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/start/jquery-ui.css" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript"></script>
  <script type="text/javascript">
  $(document).ready(function () {
        //sforce.console.getFocusedPrimaryTabId(showTabId);      
              
            $( ".dateText").datepicker({ dateFormat: "M d, yy" });                 
            $( ".dateText").datepicker({
                changeYear: true,
                beforeShow: function (input, instance) {   
                instance.dpDiv.css({
                    marginTop: (-input.offsetHeight) + 'px',
                    marginLeft: input.offsetWidth + 'px'
                });
                }
            });
            });
    </script>
    <div align="left" >
    <apex:actionStatus id="processingStatusOnChange">
      <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading1" style="background-color: #fbfbfb;
                                           height: 100%;opacity:0.65;width:100%;"> 
                       <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                            <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                            <span class="waitingDescription">Please wait...</span>
                       </div>
            </div>
            
      </apex:facet>
                   
      
      <apex:facet name="stop" >
    <apex:outputPanel rendered="{!showROSection}">
    <apex:pageBlock title="Related Orders and References" id="pb">
    <apex:pageBlockButtons location="bottom">
        <apex:commandButton value="Save" action="{!saveRO}" rendered="{!!isSavedSucc}"/>
        <apex:commandButton value="Cancel" action="{!cancelRO}" onClick="CloseTab();return false" immediate="true" rendered="{!!isSavedSucc}"/>
         <apex:commandButton value="Close"  style="font-size: .8em;width: 100px" onClick="CloseTab();return false" immediate="true"  rendered="{!isSavedSucc}"/> &nbsp;&nbsp;
     </apex:pageBlockButtons>
    <apex:pageBlockSection title="Manually Attach Orders - {!orderTypeOnlabel}" collapsible="false">
        <apex:pageBlocksectionItem >
            <apex:outputLabel value="System" />           
            <apex:actionRegion >           
            <apex:selectList Value="{!selectedValue}" size="1"  disabled="{!editRelOrd}">
            <apex:selectOptions value="{!SystemValues}"/>
            <apex:actionSupport status="processingStatusOnChange" event="onchange" action="{!changeRecordType}"  reRender="pb,showPanel,frm"/>
            </apex:selectList>
            </apex:actionRegion>
        </apex:pageBlockSectionItem>         
         
        <apex:pageBlocksectionItem >
                <apex:outputLabel value="Service Request"/>
                 <apex:outputLabel value="{!seReq}"/> 
                </apex:pageBlockSectionItem>   
        <!--
        <apex:repeat value="{!mapRecTypeIdWithName}" var="am">
        <apex:pageBlocksectionItem >
        <apex:outputLabel value="{!am}"/>
        <apex:outputLabel value="{!mapRecTypeIdWithName[am]}"/>
        </apex:pageBlockSectionItem>
        </apex:repeat>
        
        <apex:outputLabel value="{!mapRecTypeIdWithName[selectedValue]}" rendered="{!if(selectedValue!='',true,false)}"/>
        -->
    </apex:pageBlockSection>
    
        <apex:outputPanel id="showPanel" rendered="{!if(selectedValue!='',true,false)}">
            <apex:pageBlockSection collapsible="false" rendered="{!mapRecTypeIdWithName[selectedValue]=='CRIS-SS'}">
                     
                <apex:inputField value="{!ManualRelatedOrder.name}" required="true"/>        
                <apex:inputField value="{!ManualRelatedOrder.Order_Number_Format__c}" />
                <apex:inputField value="{!ManualRelatedOrder.BTN_Circuit__c}" required="true"/>
                 <apex:outputlabel value="{!blank}" />
                <apex:inputField value="{!ManualRelatedOrder.Order_Type__c}" required="true"/>    
                 <apex:outputlabel value="{!blank}" />        
                <apex:inputField value="{!ManualRelatedOrder.Originating_Date__c}" required="true"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection collapsible="false" rendered="{!mapRecTypeIdWithName[selectedValue]=='CRIS3-AB'}">
                          
                <apex:inputField value="{!ManualRelatedOrder.name}" required="true"/>        
                <apex:inputField value="{!ManualRelatedOrder.Order_Number_Format__c}" />
                <apex:inputField value="{!ManualRelatedOrder.Seq__c}" required="true"/>
                <apex:inputField value="{!ManualRelatedOrder.Seq_Format__c}" />
                <apex:inputField value="{!ManualRelatedOrder.Originating_Date__c}" required="true"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection collapsible="false" rendered="{!mapRecTypeIdWithName[selectedValue]=='CRIS3-BC'}">
                         
                <apex:inputField value="{!ManualRelatedOrder.name}" required="true"/>        
                <apex:inputField value="{!ManualRelatedOrder.Order_Number_Format__c}" />
                <apex:inputField value="{!ManualRelatedOrder.Seq__c}" required="true"/>
                <apex:inputField value="{!ManualRelatedOrder.Seq_Format__c}" />
                <apex:inputField value="{!ManualRelatedOrder.Originating_Date__c}" required="true"/>
             <!--   <apex:inputField value="{!ManualRelatedOrder.Account_Name__c}" /> -->
                
            </apex:pageBlockSection>
            <apex:pageBlockSection collapsible="false" rendered="{!mapRecTypeIdWithName[selectedValue]=='SIMS'}">
                           
                <apex:inputField value="{!ManualRelatedOrder.name}" required="true"/>        
                <apex:inputField value="{!ManualRelatedOrder.Order_Number_Format__c}" />
             <!--   <apex:inputField value="{!ManualRelatedOrder.Originating_Date__c}" required="true"/>        
              <apex:inputField value="{!ManualRelatedOrder.Seq__c}" required="true"/> -->
                
                <apex:inputField value="{!ManualRelatedOrder.Originating_Date__c}" required="true"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection collapsible="false" rendered="{!mapRecTypeIdWithName[selectedValue]=='SOECS'}">
                           
                <apex:inputField value="{!ManualRelatedOrder.name}" required="true"/>        
                <apex:inputField value="{!ManualRelatedOrder.Order_Number_Format__c}" />
                <apex:inputField value="{!ManualRelatedOrder.Seq__c}" required="true"/>
                <apex:inputField value="{!ManualRelatedOrder.Seq_Format__c}" />
                <apex:inputField value="{!ManualRelatedOrder.BTN_Circuit__c}" required="true"/>
                 <apex:outputlabel value="{!blank}" />
                <apex:inputField value="{!ManualRelatedOrder.Originating_Date__c}" required="true"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection collapsible="false" rendered="{!mapRecTypeIdWithName[selectedValue]=='SRT2'}">
                           
                <apex:inputField value="{!ManualRelatedOrder.name}" required="true"/>        
                <apex:inputField value="{!ManualRelatedOrder.Order_Number_Format__c}" />
                <apex:inputField value="{!ManualRelatedOrder.Seq__c}" required="true"/>
                <apex:inputField value="{!ManualRelatedOrder.Seq_Format__c}" />
                <apex:inputField value="{!ManualRelatedOrder.Originating_Date__c}" required="true"/>
            </apex:pageBlockSection>
        </apex:outputPanel>
       
    </apex:pageBlock>
    
    
    </apex:outputPanel>
    </apex:facet>               
      </apex:actionStatus>
 </div>      
    
    
  <apex:outputpanel id="addRO" rendered="{!!showROSection}">      
       <apex:pageBlock title="Related Orders to {!seReq}" id="pgblk">    
       <apex:actionRegion >
       <apex:pageblockSection id="sPg" title="Search for Related Orders" collapsible="false"/> 
       </apex:actionRegion>   
       <apex:actionFunction id="SearchActionFun" name="SearchByTypeFun"  reRender="sPg">
        <apex:param id="sd" name="firstParam" assignTo="{!searchType}" value="" />
    </apex:actionFunction>
            <div>
         <!--   
                <apex:selectRadio layout="pageDirection"  value="{!val}">
                    <apex:selectoptions value="{!Items}" />
                </apex:selectRadio>
         -->        
          <table align="center" border="0" ><tr> <td width="25%">  <apex:selectRadio layout="pageDirection"  value="{!searchType}">
                    <apex:selectoptions value="{!SearchTypeItems}" />
                </apex:selectRadio></td><td> 
                <table border="0"><tr><td><br/><apex:inputText value="{!OrderNo}" /></td><td></td></tr>
                    <tr><td style=" padding-top:-1%;">
                    <apex:inputText value="{!customerName}"/></td><td style=" padding-top:-1%;"><apex:selectRadio value="{!val}">
                    <apex:selectoptions value="{!Items}"/>
                    </apex:selectRadio></td>
                    </tr>
                    </table>
                </td></tr></table></div> 
                
            
             <table width="100%" border="0"><tr><td width="25%">
           </td><td width="15.8%"></td><td width="29%"><apex:commandButton value="Search" style="font-size: .8em;width: 140px" rendered="{!showSearch}"   action="{!searchLegacyOrder}"/>&nbsp;&nbsp;
            <apex:commandButton value="Close"  style="font-size: .8em;width: 100px" onClick="CloseTab();return false" immediate="true"  /> &nbsp;&nbsp;
           </td><td></td></tr></table>
          <!-- <apex:inputField value="{!srRelatedOrderList[0].PRD_Actual__c}"/> -->
        </apex:pageblock>     
        <!----------------------------------------------------------------------------------->
      <table width="100%" border="0"><tr><td width="25%"> <apex:outputLabel style="text-align:left;font-weight:bold; " value="Orders entered in past 7 days if searched by Customer Name: " rendered="{!If(RelatedOrders.size>0,true,false)}"/>
           </td><td width="15.8%"></td><td width="29%"> <apex:commandButton style="font-size: .8em;width:140px" value="Add to Service Request" rendered="{!showSave}"  action="{!AddtoSR}"/> &nbsp;&nbsp;
            <apex:commandButton style="font-size: .8em;width:100px" value="Apply Filter" action="{!filter}" reRender="SearchRecs1" status="processingStatus" rendered="{!If(RelatedOrders.size>0,true,false)}"/> &nbsp;&nbsp;
           </td><td></td></tr></table>
        
        
         <apex:outputPanel id="SearchRecs1" rendered="{!If(RelatedOrders.size>0,true,false)}" > 
         <script type="text/javascript">
          $(document).ready(function () {
        //sforce.console.getFocusedPrimaryTabId(showTabId);      
              
            $( ".dateText").datepicker({ dateFormat: "M d, yy" });                 
            $( ".dateText").datepicker({
                changeYear: true,
                beforeShow: function (input, instance) {   
                instance.dpDiv.css({
                    marginTop: (-input.offsetHeight) + 'px',
                    marginLeft: input.offsetWidth + 'px'
                });
                }
            });
            });
        </script>
         <table width="100%" border="0">
                    <tr bgcolor="#C0C0C0">
                        <td>
                            All
                        </td>
                        <td>
                           <apex:commandLink action="{!SortwithColumn}" value="Order# {!IF(sortExpression=='orderNumber',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs1" status="processingStatus" >
                                    <apex:param name="ordernumsort" value="orderNumber" assignTo="{!sortExpression}"/>
                           </apex:commandLink>                            
                        </td>
                        <td>
                            <apex:commandLink action="{!SortwithColumn}" value="Seq# {!IF(sortExpression=='seqNumber',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs1" status="processingStatus" >
                                    <apex:param name="sequencesort" value="seqNumber" assignTo="{!sortExpression}"/>
                            </apex:commandLink>                        
                        </td>
                        <td>
                             <apex:commandLink action="{!SortwithColumn}" value="System {!IF(sortExpression=='systemNum',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs1" status="processingStatus" >
                                    <apex:param name="systemsort" value="systemNum" assignTo="{!sortExpression}"/>
                             </apex:commandLink>                        
                        </td>
                        <td>
                            <apex:commandLink action="{!SortwithColumn}" value="Customer Name {!IF(sortExpression=='customerName',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs1" status="processingStatus" >
                                    <apex:param name="customerNamesort" value="customerName" assignTo="{!sortExpression}"/>
                           </apex:commandLink>                  
                        </td>
                        <td>
                            <apex:commandLink action="{!SortwithColumn}" value="Status {!IF(sortExpression=='status',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs1" status="processingStatus" >
                                    <apex:param name="statussort" value="status" assignTo="{!sortExpression}"/>
                            </apex:commandLink>                        
                        </td>
                        <td>
                        <apex:commandLink action="{!SortwithColumn}" value="service Address {!IF(sortExpression=='serviceAddress',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs1" status="processingStatus" >
                                    <apex:param name="serviceAddsort" value="serviceAddress" assignTo="{!sortExpression}"/>
                        </apex:commandLink>                        
                        </td>
                        <td>
                            <apex:commandLink action="{!SortwithColumn}" value="City {!IF(sortExpression=='City',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs1" status="processingStatus" >
                                    <apex:param name="citysort" value="City" assignTo="{!sortExpression}"/>
                            </apex:commandLink>                        
                        </td>
                        <td width="2%">
                            <apex:commandLink action="{!SortwithColumn}" value="PR/ST {!IF(sortExpression=='province',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs1" status="processingStatus" >
                                    <apex:param name="procsort" value="province" assignTo="{!sortExpression}"/>
                            </apex:commandLink>                        
                        </td>
                        <td>
                             <apex:commandLink action="{!SortwithColumn}" value="Originator {!IF(sortExpression=='Originator',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs1" status="processingStatus" >
                                    <apex:param name="orgsort" value="Originator" assignTo="{!sortExpression}"/>
                             </apex:commandLink>                        
                        </td>
                        <td>
                          <apex:commandLink action="{!SortwithColumn}" value="Origin Date {!IF(sortExpression=='originDateString',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs1" status="processingStatus" >
                                    <apex:param name="col16" value="originDateString" assignTo="{!sortExpression}"/>
                          </apex:commandLink>                        
                        </td>
                    </tr>
                    <tr>
                        <td><apex:inputCheckbox value="{!checkAll}">
                                   <apex:actionSupport event="onchange" action="{!setCheckAll}" rerender="SearchRecs1" status="processingStatus">
                                  <!--  <apex:param name="checkAll" value="{!checkAll}"/>  --> 
                                    </apex:actionSupport>
                            </apex:inputCheckbox>
                        </td>
                        <td><apex:inputText size="14" value="{!FilterSet[0].strValue}"  rendered="{!IF(FilterSet[0].type =='text',true,false)}"/></td>
                        <td><apex:inputText size="4" value="{!FilterSet[1].strValue}"    rendered="{!IF(FilterSet[1].type =='text',true,false)}"/></td>
                        <td><apex:inputText value="{!FilterSet[2].strValue}"    rendered="{!IF(FilterSet[2].type =='text',true,false)}"/></td>
                        <td><apex:inputText value="{!FilterSet[3].strValue}"    rendered="{!IF(FilterSet[3].type =='text',true,false)}"/></td>
                        <td><apex:inputText value="{!FilterSet[4].strValue}"    rendered="{!IF(FilterSet[4].type =='text',true,false)}"/></td>
                        <td><apex:inputText value="{!FilterSet[5].strValue}"   rendered="{!IF(FilterSet[5].type =='text',true,false)}"/></td>
                        <td><apex:inputText value="{!FilterSet[6].strValue}"    rendered="{!IF(FilterSet[6].type =='text',true,false)}"/></td>
                        <td><apex:inputText size="3" value="{!FilterSet[7].strValue}"    rendered="{!IF(FilterSet[7].type =='text',true,false)}"/></td>
                        <td><apex:inputText value="{!FilterSet[8].strValue}"    rendered="{!IF(FilterSet[8].type =='text',true,false)}"/></td>
                        <td><apex:inputText styleClass="dateText" value="{!FilterSet[9].datestring}"   onfocus="DatePicker.pickDate(false, this , false);" rendered="{!IF(FilterSet[9].type =='Date',true,false)}" /></td>
                    </tr>
                    <apex:variable var="rowNum"  value="{!0}"/>
                    <apex:repeat value="{!RelatedOrders}" var="RO" >
                    <tr style="{!If((Mod(rowNum,2))==1,'background-color:#C0C0C0','background-color:none')};font-size: 91%;">
                        <td>
                                <apex:inputCheckbox styleclass="checkbox"  value="{!RO.checked}" >
                                 <apex:actionSupport event="onchange" action="{!setUnCheckAll}" disabled="{!!checkAll}"  rerender="SearchRecs1"> 
                                    <apex:param name="checkAll" value="{!checkAll}"/> 
                                    </apex:actionSupport>
                                </apex:inputCheckbox>
                        </td>
                        <td>{!RO.orderNumber}</td>
                        <td width="2%">{!RO.seqNumber}</td>
                        <td>{!RO.systemNum}</td>
                        <td>{!RO.customerName}</td>
                        <td>{!RO.status}</td>
                        <td>{!RO.serviceAddress}</td>
                        <td>{!RO.city}</td>
                        <td width="2%">{!RO.province}</td>
                        <td>{!RO.originator}</td>
                        <td><apex:outputText value="{0,date,MMM dd','yyyy}">
                            <apex:param value="{!RO.originDate}" /> 
                            </apex:outputText></td>
                    </tr>
                    <apex:variable var="rowNum" value="{!rowNum + 1}"/>
                    </apex:repeat> 
                </table>
              </apex:outputPanel>
        <!----------------------------------------------------------------------------------->
         </apex:outputPanel>
 <div align="left" >
    <apex:actionStatus id="processingStatus">
      <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading1" style="background-color: #fbfbfb;
                                           height: 100%;opacity:0.65;width:100%;"> 
                       <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                            <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                            <span class="waitingDescription">Please wait...</span>
                       </div>
            </div>
      </apex:facet>
      <apex:facet name="stop">
 
        <apex:pageBlock id="SearchRecs" rendered="false"> <!--  rendered="{!If(RelatedOrders.size>0,true,false)}" -->
        <apex:pageBlockTable value="{!FilterSet}" var="Filter" border="0" columnsWidth="30"  style="font-size: 91%"  rendered="false">
         <apex:column title="Order#">    
                 <apex:facet name="header"> Order# 
                                   <apex:commandLink action="{!SortwithColumn}" value="Order# {!IF(sortExpression=='orderNumber',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs" status="processingStatus" >
                                    <apex:param name="ordernumsort" value="orderNumber" assignTo="{!sortExpression}"/>
                                   </apex:commandLink> 
                    <apex:inputText id="b1"   value="{!FilterSet[0].strValue}" size="5" html-placeholder="{!Filter.Name}" rendered="{!IF(Filter.type =='text',true,false)}">
                     </apex:inputText>
                    <apex:inputText id="a1"   value="{!Filter.datestring}" html-placeholder="{!Filter.Name}"  onfocus="DatePicker.pickDate(false, this , false);" rendered="{!IF(Filter.type =='Date',true,false)}" />                 
                 </apex:facet>             
                     <apex:inputText id="b2"   value="{!Filter.strValue}" size="5" html-placeholder="{!Filter.Name}" rendered="{!IF(Filter.type =='text',true,false)}">
                     </apex:inputText>
                    <apex:inputText id="a2"   value="{!Filter.datestring}" html-placeholder="{!Filter.Name}"  onfocus="DatePicker.pickDate(false, this , false);" rendered="{!IF(Filter.type =='Date',true,false)}" /> 
        </apex:column>
        </apex:pageBlockTable>
        <table width="100%"><tr><apex:repeat value="{!FilterSet}" var="Filter">
      <td >
          <apex:inputText id="b" size="10"  value="{!Filter.strValue}"  html-placeholder="{!Filter.Name}" rendered="{!IF(Filter.type =='text',true,false)}">
          </apex:inputText>
          <apex:inputText id="a" size="8"  value="{!Filter.datestring}" html-placeholder="{!Filter.Name}"  onfocus="DatePicker.pickDate(false, this , false);" rendered="{!IF(Filter.type =='Date',true,false)}" /> 
      </td>
      </apex:repeat></tr>
      </table>
        <apex:pageBlockTable value="{!RelatedOrders}" var="RelOrder" border="0" columnsWidth="30"  style="font-size: 91%" >
          <apex:column title="Select"> 
                               <apex:facet name="header">
                                <apex:inputCheckbox value="{!checkAll}" >
                                   <apex:actionSupport event="onchange" action="{!setCheckAll}" rerender="SearchRecs" status="processingStatus">
                                  <!--  <apex:param name="checkAll" value="{!checkAll}"/>  --> 
                                    </apex:actionSupport>
                                    </apex:inputCheckbox>
                                  
                                   </apex:facet>                                 
                                <apex:inputCheckbox styleclass="checkbox"  value="{!RelOrder.checked}" >
                                 <apex:actionSupport event="onchange" action="{!setUnCheckAll}" disabled="{!!checkAll}"  rerender="SearchRecs"> 
                                    <apex:param name="checkAll" value="{!checkAll}"/> 
                                    </apex:actionSupport>
                                </apex:inputCheckbox>
                            </apex:column>
                       <apex:column title="Order#">    
                            <apex:facet name="header"> Order# 
                                   <apex:commandLink action="{!SortwithColumn}" value="Order# {!IF(sortExpression=='orderNumber',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs" status="processingStatus" >
                                    <apex:param name="ordernumsort" value="orderNumber" assignTo="{!sortExpression}"/>
                                   </apex:commandLink> 
                            </apex:facet>   
                           <!--  <apex:inputText value="{!FilterSet[0].strValue}" html-placeholder="{!FilterSet[0].Name}"/> -->
                                 <apex:outputText value="{!RelOrder.orderNumber}" />
                        </apex:column>
                        <apex:column title="Seq#">    
                            <apex:facet name="header"> Seq# 
                                   <apex:commandLink action="{!SortwithColumn}" value="Seq# {!IF(sortExpression=='seqNumber',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs" status="processingStatus" >
                                    <apex:param name="sequencesort" value="seqNumber" assignTo="{!sortExpression}"/>
                                   </apex:commandLink> 
                            </apex:facet>             
                                 <apex:outputText value="{!RelOrder.seqNumber}" />
                        </apex:column>
                        <apex:column title="System">    
                            <apex:facet name="header"> System 
                                   <apex:commandLink action="{!SortwithColumn}" value="System {!IF(sortExpression=='systemNum',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs" status="processingStatus" >
                                    <apex:param name="systemsort" value="systemNum" assignTo="{!sortExpression}"/>
                                   </apex:commandLink> 
                            </apex:facet>             
                                 <apex:outputText value="{!RelOrder.systemNum}" />
                        </apex:column>
                        <apex:column title="Customer Name">    
                            <apex:facet name="header"> Customer Name 
                                   <apex:commandLink action="{!SortwithColumn}" value="Customer Name {!IF(sortExpression=='customerName',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs" status="processingStatus" >
                                    <apex:param name="customerNamesort" value="customerName" assignTo="{!sortExpression}"/>
                                   </apex:commandLink> 
                            </apex:facet>             
                                 <apex:outputText value="{!RelOrder.customerName}" />
                        </apex:column>
                        <apex:column title="Status">    
                            <apex:facet name="header"> Status 
                                   <apex:commandLink action="{!SortwithColumn}" value="Status {!IF(sortExpression=='status',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs" status="processingStatus" >
                                    <apex:param name="statussort" value="status" assignTo="{!sortExpression}"/>
                                   </apex:commandLink> 
                            </apex:facet>             
                                 <apex:outputText value="{!RelOrder.Status}" />
                        </apex:column>
                       <apex:column title="Service Address">    
                            <apex:facet name="header"> Service Address 
                                   <apex:commandLink action="{!SortwithColumn}" value="service Address {!IF(sortExpression=='serviceAddress',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs" status="processingStatus" >
                                    <apex:param name="serviceAddsort" value="serviceAddress" assignTo="{!sortExpression}"/>
                                   </apex:commandLink> 
                            </apex:facet>             
                                 <apex:outputText value="{!RelOrder.serviceAddress}" />
                            </apex:column>
                         <apex:column title="City">    
                            <apex:facet name="header"> City 
                                   <apex:commandLink action="{!SortwithColumn}" value="City {!IF(sortExpression=='City',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs" status="processingStatus" >
                                    <apex:param name="citysort" value="City" assignTo="{!sortExpression}"/>
                                   </apex:commandLink> 
                            </apex:facet>             
                                 <apex:outputText value="{!RelOrder.City}" />
                            </apex:column>
                         <apex:column title="Prov" >    
                                <apex:facet name="header">
                                   <apex:commandLink action="{!SortwithColumn}" value="PR/ST {!IF(sortExpression=='Prov',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs" status="processingStatus" >
                                    <apex:param name="procsort" value="province" assignTo="{!sortExpression}"/>
                                   </apex:commandLink>                           
                                </apex:facet>        
                                 <apex:outputText value="{!RelOrder.province}" />
                            </apex:column>
                            <apex:column title="Originator" >    
                                <apex:facet name="header">
                                   <apex:commandLink action="{!SortwithColumn}" value="Originator {!IF(sortExpression=='Originator',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs" status="processingStatus" >
                                    <apex:param name="orgsort" value="Originator" assignTo="{!sortExpression}"/>
                                   </apex:commandLink>                           
                                </apex:facet>        
                                 <apex:outputText value="{!RelOrder.Originator}" />
                            </apex:column>
                        <apex:column title="Origin Date"> 
                               <apex:facet name="header">
                                   <apex:commandLink action="{!SortwithColumn}" value="Origin Date {!IF(sortExpression=='originDate',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="SearchRecs" status="processingStatus" >
                                    <apex:param name="col16" value="originDateString" assignTo="{!sortExpression}"/>
                                   </apex:commandLink>
                            </apex:facet> 
                               <apex:outputText value="{0,date,MMM dd','yyyy}">
                                    <apex:param value="{!RelOrder.originDate}" /> 
                                </apex:outputText>
                            </apex:column>
                    </apex:pageBlockTable>
                    </apex:pageBlock>
             </apex:facet>               
      </apex:actionStatus>
 </div>        
        
        
    </apex:form>
</apex:page>