<apex:page id="pa" controller="SRS_ManageMilestonesController" showHeader="false">

<apex:form id="fo" >
 <apex:includeScript value="/soap/ajax/22.0/connection.js"/>    
     <apex:includeScript value="{!URLFOR($Resource.jQueryFiles, 'jquery.min.js')}"/>
     <apex:includeScript value="/support/console/30.0/integration.js"/>
     <script type="text/javascript" src="{!URLFOR($Resource.smb_ConsoleUtility)}"></script>
     <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/start/jquery-ui.css" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript"></script>
<script>

 var primaryTabToClose;                
    function SRSOpenSubTab(stuff, sObjectType){  
    
             
      
         smb_ConsoleUtility.openSubTab(primaryTabToClose, stuff, sObjectType, sObjectType);     
         //sforce.console.getEnclosingTabId(closeSubtab);
         return false;               
      }
       var showTabId = function showTabId(result) {
       primaryTabToClose = result.id;    
      
            
    };
    
    
  function go(field) {
           var oldValue = document.getElementById(field).defaultValue;
           var newValue = document.getElementById(field).value;
           
          if (oldValue != newValue) {
            if (newValue!='')
            if(ValidateDate(field,false))
            { 
              document.getElementById(field).style.color = "blue";
              document.getElementById(field).defaultValue= newValue;
            }
           
          }
  }
  
  function changePriority(field)
  {
        var oldValue = document.getElementById(field).defaultValue;
           var newValue = document.getElementById(field).value;
           
          if (oldValue != newValue) {
             
              document.getElementById(field).style.color = "blue";
            
           
          }
  }
  function ChangeActualDate(actfield,schfield) {
           var oldactValue = document.getElementById(actfield).defaultValue;
           var newactValue = document.getElementById(actfield).value;
           
          
           var newschValue = document.getElementById(schfield).value;
          if(newschValue) 
          {if (oldactValue != newactValue) {
         
             if (newactValue !='') 
             if(ValidateDate(actfield,true))
            {
           
             document.getElementById(actfield).defaultValue= newactValue;
             document.getElementById(actfield).style.color = "blue";
            }
           
          } 
          }
          else{
           document.getElementById(actfield).defaultValue= oldactValue;
           document.getElementById(actfield).value=oldactValue;          
           alert('Actual date cannot be entered without its corresponding Schedule date.'); 
          }
  }
  
  function ValidateDate(dtfield,actdate)
    {
        try{
        
            var dtValue = document.getElementById(dtfield).value;
            
            //alert('check-->'+Date.parse(dtValue));    
            var d = Date.parse(dtValue); 
            var todayDate=Date.parse(new Date());
            if(d>0)
            {
            var CurrentDate = new Date();
            //alert('check-->'+CurrentDate+(temp.value>CurrentDate));
            if(actdate)
            if(d>todayDate)
            {
            alert('An Actual Date cannot be entered as a future date.');
            document.getElementById(dtfield).value=document.getElementById(dtfield).defaultValue;
            return false;
            }
            return true;
            }
            else{
            alert('Invalid Date format');
            document.getElementById(dtfield).value=document.getElementById(dtfield).defaultValue;
            return false;
            }
        }
        catch(err)
        {
            alert('Invalid Date format');
            document.getElementById(dtfield).value
            return false;
        }
    }    
</script>

<br/>    
<apex:sectionHeader title="Edit Milestone Dates" subtitle="{!strAccName} {!strOppName}" rendered="false"/>
<apex:outputLabel value="Edit Milestone Dates" style="font-weight:bold;font-size:200%"/><br/>
<apex:outputLabel value="{!strAccName}    {!strOppName}" style="font-weight:strong;font-size:100%"/> <br/><br/>
 <apex:outputPanel id="listre" rendered="true">
       <!-- Action Status for waiting image  -->
 <apex:pageMessages escape="false"/>
  <apex:includeScript value="{!URLFOR($Resource.jQueryFiles, 'jquery.min.js')}"/>
<script type="text/javascript">

 
        $(document).ready(function() {         
           $('.linked').scroll(function(){
           $('.linked').scrollTop($(this).scrollTop());
        })            
        });
        // end of doc ready  
     
    </script>
<apex:includeScript value="{!URLFOR($Resource.jQueryFiles, 'jquery.min.js')}"/>
<script type="text/javascript" src="jqueryfixed"></script>
        <style type="text/css">
        div.ui-datepicker   
        {
            font-size: 10px;
        }
    </style>   
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/start/jquery-ui.css" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    
     function redirectToview()
      {
          var r = confirm(" You have unsaved changes. Are you sure you want to leave page without saving/submitting changes? ");
            if (r == true) {
            redirectToviewPage();
            } 
            
      }      
        $(document).ready(function () {
        //Set Tab Title 
            sforce.console.getFocusedPrimaryTabId(showTabId);
           $('.linked').scroll(function(){
           $('.linked').scrollTop($(this).scrollTop()); 
            });
              
            $( ".dateText").datepicker({ dateFormat: "M d, yy" });    
             $( ".datePickerActual").datepicker({dateFormat: "M d, yy",maxDate: "+0d" });    
            $( ".dateText").datepicker({
                changeYear: true,
                beforeShow: function (input, instance) {   
                instance.dpDiv.css({
                    marginTop: (-input.offsetHeight) + 'px',
                    marginLeft: input.offsetWidth + 'px'
                });
                }
            });
            });
</script>
 <apex:pageBlock id="pb" >      
    <center>               
     <apex:actionStatus id="processingStatus">
      <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading1" style="background-color: white;
                                           height: 100%;opacity:0.9;width:100%;"> 
                       <div class="waitingHolder" style="top: 70px; width: 100px;">
                            <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                            <span class="waitingDescription">Please wait...</span>
                       </div>
            </div>
      </apex:facet>
      <apex:facet name="stop"></apex:facet></apex:actionStatus>  
      
             <apex:commandButton value="Save/Submit" action="{!Submit}"  id="SubmitServiceRequest" styleclass="btn-primary"   status="processingStatus" />
             &nbsp;
             <apex:commandButton value="Cancel" onclick="redirectToview(); return false;"  styleclass="btn-primary" reRender="listre" status="processingStatus" />  
  <apex:actionFunction action="{!CancelredirectToViewPage}" name="redirectToviewPage" />
   </center> 

  </apex:pageBlock> 
 <div>  
<Table style="padding-left: 10px;margin-right:0px;">
<tr><td style="margin-right:0px;">
<div class="linked"  style="height:350px;width:550px;overflow-x:scroll;overflow-y: hidden;padding-bottom:.5cm;margin-right:0px">
<table id="left" >
<tr height="24" style="display: {!IF((ISBLANK(oppId)), 'none', 'table-row')};" ><font color="white">

                                   <th style="text-align:center;">
                                   <apex:commandLink action="{!SortRelatedListwithColumn}"  style="font color=white ! important;text-decoration: none;" value="Cond {!IF(sortExpression=='Condition_Sort_Index__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col3" value="Condition_Sort_Index__c" assignTo="{!sortExpression}" />                     
                                   </apex:commandLink>
                                   </th><th style="text-align:center;">
                                   <apex:commandLink action="{!SortRelatedListwithColumn}"  style="font color=white ! important;text-decoration: none;" value="Jeop {!IF(sortExpression=='Jeopdary_Image__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col3" value="Jeopdary_Image__c" assignTo="{!sortExpression}" />                     
                                   </apex:commandLink>
                                   </th>
                                   <!-- Tech M - ISD changes -->
                                   <th width="50" style="text-align:center">
                            <apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="DICW {!IF(sortExpression=='relatedOrder',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                <apex:param name="col13" value="relatedOrder" assignTo="{!sortExpression}"/>
                            </apex:commandLink>
                        </th>
                        <!-- END OF Tech M - ISD changes -->
 <th><apex:commandLink action="{!SortRelatedListwithColumn}"  style="font color=white ! important;text-decoration: none;" value="SR# {!IF(sortExpression=='Name',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col3" value="Name" assignTo="{!sortExpression}" />                     
                                   </apex:commandLink></th>
								   
								   <th><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="Workflow Request Type{!IF(sortExpression=='Workflow_Request_Type',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col3" value="Workflow Request Type" assignTo="{!sortExpression}"/>                     
                                   </apex:commandLink></th>
								   
                                    <th><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="Fox#{!IF(sortExpression=='Fox__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col3" value="Fox__c" assignTo="{!sortExpression}"/>                     
                                   </apex:commandLink></th>
                                    <th><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;"  value=" SR Type {!IF(sortExpression=='Recordtypename',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col5" value="Recordtypename" assignTo="{!sortExpression}"/>
                                    </apex:commandLink></th>
                                    <th style="width: 80px;">
                                    <apex:commandLink action="{!SortRelatedListwithColumn}"  style="text-decoration: none;" value="Product {!IF(sortExpression=='SRS_PODS_Product__r.Name',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col6" value="SRS_PODS_Product__r.Name" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th>
                                   <th><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" styleClass="color:rgb(255, 255, 255);" value="Service Address {!IF(sortExpression=='Full_Address',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col3" value="Full_Address" assignTo="{!sortExpression}" />                     
                                   </apex:commandLink></th>
                                   <th><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" styleClass="color:rgb(255, 255, 255);" value="City {!IF(sortExpression=='City',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col3" value="city" assignTo="{!sortExpression}" />                     
                                   </apex:commandLink></th>
                                    <th style="text-align:center;"><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" styleClass="color:rgb(255, 255, 255);" value="Prov {!IF(sortExpression=='Prov',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col3" value="Prov" assignTo="{!sortExpression}" />                     
                                   </apex:commandLink></th>
                                    <th><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" styleClass="color:rgb(255, 255, 255);" value="Status{!IF(sortExpression=='Service_Request_Status__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col3" value="Service_Request_Status__c" assignTo="{!sortExpression}" />                     
                                   </apex:commandLink>    
                                   </th>    
                                   </font></tr>

<apex:variable var="rowNum"  value="{!0}"/>
<apex:repeat value="{!SerReqList}" var="ServiceRequest">
<tr height="25" style="border-color:blue;border-top-style: solid;border-bottom-style: solid;border-left-style: solid; {!If((Mod(rowNum,2))==1,'background-color:#C0C0C0','background-color:none')};">
                
                             <td title=" " style=" white-space: nowrap;"> 
                             <center> <apex:outputText value="{!ServiceRequest.serReq.Condition__c}" escape="false" /></center> 
                            </td><td title=" " style=" white-space: nowrap;"/>
                            <!--  Tech M - ISD changes -->
                            <td title="DICW" style=" white-space: nowrap;">
                          <apex:commandLink value="{!IF(ServiceRequest.serReq.SRS_Service_Request_Related_Order__r.size > 0 , ServiceRequest.serReq.SRS_Service_Request_Related_Order__r[0].name, '')}"
                          onClick="SRSOpenSubTab('/{!IF(ServiceRequest.serReq.SRS_Service_Request_Related_Order__r.size > 0, ServiceRequest.serReq.SRS_Service_Request_Related_Order__r[0].Id, '')}', '{!ServiceRequest.serReq.Name}');return false"/>
                         </td>
                         <!--  END of Tech M - ISD changes -->
                            <td title="SR#" style=" white-space: nowrap;">
                              <apex:commandLink value="{!ServiceRequest.serReq.Name}"  onClick="SRSOpenSubTab('/{!ServiceRequest.serReq.Id}', '{!ServiceRequest.serReq.Name}');return false"/>    
                                                        
                            </td>
							<!-- START - ISD Bamboo: TC ISD xxxxxxx - Legacy/Non Fox workflow type enhancement -->
							<td title="Workflow Request Type" style=" white-space: nowrap;">                          
                                 <apex:outputText value="{!ServiceRequest.serReq.Workflow_Request_Type__c}" />            
                            </td>
							
							<!-- //END - ISD Bamboo: TC ISD xxxxxxx - Legacy/Non Fox workflow type enhancement -->
							
                            <td title="Fox#" style=" white-space: nowrap;">                          
                                 <apex:commandLink value="{!ServiceRequest.serReq.Fox__c}"  onClick="SRSOpenSubTab('{!Foxurl}', '{!ServiceRequest.serReq.Fox__c}');return false"/>            
                            </td>
                            <td title="SR Type" style="white-space: nowrap;">  
                                 <apex:outputText value="{!ServiceRequest.Recordtypename}" />
                            </td>
                            <td title="Product"  style="white-space: nowrap;;" >
                            <apex:outputText value="{!ServiceRequest.serReq.SRS_PODS_Product__r.Name}" />
                            </td>
                            <td   title="Service Address" style="white-space: nowrap;">
                                <apex:outputText value="{!ServiceRequest.Full_Address}" /> 
                            </td>
                               
                            <td   title="City" style="white-space: nowrap;" height="20">
                                <apex:outputText value="{!ServiceRequest.City}" /> 
                            </td> 
                            <td   title="Prov" style="white-space: nowrap;" height="20">
                                <apex:outputText value="{!ServiceRequest.Prov}" /> 
                            </td>  
                             <td title="Status" style="white-space: nowrap;" height="20">
                            <apex:outputfield value="{!ServiceRequest.serReq.Service_Request_Status__c}"  >
                            </apex:outputField>      
                            </td>     
</tr>
<apex:variable var="rowNum" value="{!rowNum + 1}"/>
</apex:repeat> 
</table >
    </div>
    </td><td style="margin-left:0px;">
    <div class="linked" style="height:350px;width:780px;overflow-x: scroll;overflow-y: scroll;padding-bottom:.5cm;">
   <table id="right" >
<tr height="24">
                                   <th width="50" style="text-align:center"><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="Priority {!IF(sortExpression=='Priority',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col113" value="Priority" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th> 
                                   <!-- <th width="50"><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;"  value="Next To Work {!IF(sortExpression=='Next_to_work__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col13" value="Next_to_work__c" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th> -->
                                   <th width="50"><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="DAC Sched {!IF(sortExpression=='DAC_Scheduled__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col13" value="DAC_Actual__c" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th>
                                   <th width="50"><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="DAC Actual {!IF(sortExpression=='DAC_Actual__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col13" value="DAC_Scheduled__c" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th>
								    <!-- /* START : TC ISD 1884326 - Legacy/Non Fox workflow type enhancement  */ -->
								   <th width="50"><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="ERD Sched {!IF(sortExpression=='ERD_Scheduled__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col13" value="ERD_Scheduled__c" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th>
                                   <th width="50"><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="ERD Actual {!IF(sortExpression=='ERD_Actual__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col13" value="ERD_Actual__c" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th>
								   
								   <!-- /* END : TC ISD 1884326 - Legacy/Non Fox workflow type enhancement  */ -->
                                   <th width="50"><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="RTI Sched {!IF(sortExpression=='RTI_Scheduled__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col13" value="RTI_Scheduled__c" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th>
                                   <th width="50"><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="RTI Actual {!IF(sortExpression=='RTI_Actual__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col13" value="RTI_Actual__c" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th>
                                   <th width="50"><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="PTD Sched {!IF(sortExpression=='PTD_Scheduled__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col13" value="PTD_Scheduled__c" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th>
                                   <th width="50"><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="PTD Actual {!IF(sortExpression=='PTD_Actual__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col13" value="PTD_Actual__c" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th>
                                   <th width="50"><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="DD Sched {!IF(sortExpression=='DD_Scheduled__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col13" value="DD_Scheduled__c" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th>
                                    
                                   <th width="50" style="display: {!IF(isBCXManager, 'table-cell', 'none')};">
                                        <apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;"  value="DD Actual {!IF(sortExpression=='DD_Actual__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                            <apex:param name="col13" value="DD_Actual__c" assignTo="{!sortExpression}"/>
                                        </apex:commandLink>
                                    </th>
                                    <th width="50"><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;"  value="Recovery DD {!IF(sortExpression=='Next_to_work__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col13" value="Next_to_work__c" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th>
                                    <th  width="50"> <apex:commandLink action="{!SortRelatedListwithColumn}"  style="text-decoration: none; a:hover{color: white};"  value="Target Date {!IF(sortExpression=='Target_Date__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col13" value="Target_Date__c" assignTo="{!sortExpression}"/>
                                   </apex:commandLink></th>
                                   <th><apex:commandLink action="{!SortRelatedListwithColumn}" style="text-decoration: none;" value="Target Date Type {!IF(sortExpression=='Target_Date_Type__c',IF(sortDirection='ASC','▲', '▼'),'')}" reRender="listre" status="processingStatus" >
                                    <apex:param name="col12" value="Target_Date_Type__c" assignTo="{!sortExpression}"/>
                                   </apex:commandLink> </th>
								  
                                   </tr>
<apex:variable var="rowNum"  value="{!0}"/>
<apex:repeat value="{!SerReqList}" var="ServiceRequest">
<tr height="25" style="{!If((Mod(rowNum,2))==1,'background-color:#C0C0C0','background-color:none')};" >
                             <td title="Priority"  style="white-space: nowrap;" height="20">                              
                            <apex:inputfield id="Priority"  onchange="javascript:changePriority('{!$Component.Priority}')" value="{!ServiceRequest.serReq.Priority__c}"/>
                            </td>
                            <!-- <td title="Next To Work"  style="white-space: nowrap;" height="20">                              
                           <apex:inputText id="NTWDate"   onchange="javascript:go('{!$Component.NTWDate}')"  styleClass="dateText" size="8" value="{!ServiceRequest.Next_to_work}"/>
                            </td> -->
                            <td title="DAC Scheduled" style="white-space: nowrap;" height="20" width="10"> 
                            <apex:inputText id="DACSDate"   onchange="javascript:go('{!$Component.DACSDate}')"  styleClass="dateText" size="9" value="{!ServiceRequest.DAC_Scheduled}" />
                            </td>
                            <td title="DAC Actual" style="white-space: nowrap;" height="20">                              
                            <apex:inputText id="DACADate"   onchange="javascript:ChangeActualDate('{!$Component.DACADate}','{!$Component.DACSDate}')"  styleClass="datePickerActual" size="8" value="{!ServiceRequest.DAC_Actual}" />
                            </td>
							<!-- /* START : TC ISD 1884326 - Legacy/Non Fox workflow type enhancement  */ -->
							<td title="ERD Scheduled" style="white-space: nowrap;" height="20">                              
                            <apex:inputText id="ERDSDate"   onchange="javascript:go('{!$Component.ERDSDate}')" styleClass="dateText"  size="8" value="{!ServiceRequest.ERD_Scheduled}"/>
                            </td>
							
							<td title="ERD Actual" style="white-space: nowrap;" height="20">                              
                            <apex:inputText id="ERDADate"   onchange="javascript:ChangeActualDate('{!$Component.ERDADate}','{!$Component.ERDSDate}')"  styleClass="datePickerActual" size="8" value="{!ServiceRequest.ERD_Actual}" />
                            </td>
							<!-- /* END : TC ISD 1884326 - Legacy/Non Fox workflow type enhancement  */ -->
                            <td title="RTI Scheduled" style="white-space: nowrap;" height="20">                              
                            <apex:inputText id="RTISDate"   onchange="javascript:go('{!$Component.RTISDate}')" styleClass="dateText" size="8" value="{!ServiceRequest.RTI_Scheduled}"/>
                            </td>
                            <td title="RTI Actual" style="white-space: nowrap;" height="20">                              
                            <apex:inputText id="RTIADate"   onchange="javascript:ChangeActualDate('{!$Component.RTIADate}','{!$Component.RTISDate}')" styleClass="datePickerActual"  size="8" value="{!ServiceRequest.RTI_Actual}" />
                            </td>
                            <td title="PTD Scheduled" style="white-space: nowrap;" height="20">                              
                            <apex:inputText id="PTDSDate"   onchange="javascript:go('{!$Component.PTDSDate}')" styleClass="dateText"  size="8" value="{!ServiceRequest.PTD_Scheduled}"/>
                            </td>
                            <td title="PTD Actual" style="white-space: nowrap;" height="20">                              
                             <apex:inputText id="PTDADate"   onchange="javascript:ChangeActualDate('{!$Component.PTDADate}','{!$Component.PTDSDate}')"  styleClass="datePickerActual" size="8" value="{!ServiceRequest.PTD_Actual}" />
                            </td>
                            <td title="DD Scheduled" style="white-space: nowrap;" height="20"> 
                             <apex:inputText id="DDSDate"   onchange="javascript:go('{!$Component.DDSDate}')" styleClass="dateText"  size="8"  value="{!ServiceRequest.DD_Scheduled}" />
                            </td>                            
                             
                            <td title="DD Actual" height="20" style="display: {!IF(isBCXManager, 'table-cell', 'none')};">
                                <apex:inputText id="DDADate"   onchange="javascript:go('{!$Component.DDADate}')"  styleClass="dateText"   size="8" value="{!ServiceRequest.DD_Actual}" disabled="{!If(ServiceRequest.serReq.Service_Request_Status__c=='Completed', false, true)}"/>
                            </td> 
                            <td title="Recovery DD"  style="white-space: nowrap;" height="20">                              
                           <apex:inputText id="NTWDate"   onchange="javascript:go('{!$Component.NTWDate}')"  styleClass="dateText" size="8" value="{!ServiceRequest.Next_to_work}"/>
                            </td>
                            <td title="Target Date"  height="20" width="50">
                            <apex:inputText id="TarDate"   onchange="javascript:go('{!$Component.TarDate}')"  styleClass="dateText"   size="8" value="{!ServiceRequest.Target_Date}"/>
                            </td>
                            <td title="Target Date Type" style=" white-space: nowrap;" height="20">                                    
                              <apex:outputfield value="{!ServiceRequest.serReq.Target_Date_Type__c}"/> 
                               
                            </td>            
                          
							
							
<apex:variable var="rowNum" value="{!rowNum + 1}"/>                        
</tr>
</apex:repeat>  
</table>
    </div></td>
    </tr>
</table> 
</div>

</apex:outputPanel>
</apex:form>
 
<style type="text/css">
th{
    border-style: solid; 
    border-width: 1px;
    background-color:#6c0;
    padding-top: 2px;
   // padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 2px;
  
}
td{
    padding-top: 2px;
    //padding-bottom: 2px;
    padding-right: 3px;
    padding-left: 2px;
    text-align:center;
    font-size=9
}
</style>

</apex:page>