<apex:page controller="SRS_MyOpenCases_Controller" showHeader="false" sidebar="false" showChat="false"  >
    <body class="homeTab">

<style>
    .colHeader{
        font-family:Arial,Helvetica,sans-serif;
        font-size:1em;
        font-weight: bold;
        padding: 5px 2px 4px 5px;
    }
</style>
<apex:includeScript value="/soap/ajax/27.0/connection.js"/>  
<apex:includeScript value="/support/console/28.0/integration.js" />

<apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" />
<apex:includeScript value="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" />


    <script type="text/javascript">
        
        
        function openSubTab(url, label, tabname) {
            //subtab open is busted, for now open primary tab
            sforce.console.openPrimaryTab(null, url, true, label, openSuccess,tabname);
        }
       

        var openSuccess = function openSuccess(result) {
            //Report whether opening the new tab was successful
                    if (result.success == true) {
                        //alert('tab successfully opened');
                        //alert(result.id);
                
                    } else {
                         //alert('tab cannot be opened');
                        //alert(result.id);
            
                    }
        };
            
  </script>     



<apex:form >
<!--<apex:outputText rendered="{!lstCases.size == 0 }">No record found.</apex:outputText>-->
<apex:pageBlock >
    
    <apex:pageBlockTable value="{!lstCases}" var="CaseRec" rendered="{!lstCases.size == 0 }" >
        <apex:column >
          <apex:facet name="header" >
          <apex:outputText value="Id Number"  />
        <apex:outputText ><span style="margin-left:40%;">{!$Label.smb_svoc_open_No_Open_Cases_Found}.</span></apex:outputText>

          </apex:facet>
        </apex:column>
    </apex:pageBlockTable> 
    
    <apex:pageBlockTable value="{!lstCases}" var="CaseRec" rendered="{!lstCases.size > 0}"   >        
        <apex:column >
          <apex:facet name="header" >
            <apex:commandLink action="{!empty}">
            <apex:outputText value="{!$Label.smb_svoc_Case_Number}" styleClass="colHeader" />
           
              <apex:outputText escape="false" rendered="{!sortBy=='CaseNumber'&&sortDir=='ASC'}">
                <img src="/s.gif" alt="Sorted Ascending" class="sortAsc" title="Sorted Ascending" />
              </apex:outputText>
              <apex:outputText escape="false" rendered="{!sortBy=='CaseNumber'&&sortDir=='DESC'}">
                <img src="/s.gif" alt="Sorted Descending" class="sortDesc" title="Sorted Descending" />
              </apex:outputText>
              <apex:param value="CaseNumber" name="column" assignTo="{!sortBy}" />
              <apex:param value="{!IF(sortDir=='ASC'&&sortBy=='CaseNumber', 'DESC', 'ASC')}" name="direction" assignTo="{!sortDir}" />
            </apex:commandLink>
          </apex:facet>
          <!--
          <apex:outputLink value="/{!CaseRec.Id}" id="eventlink3" target="_blank" >
            <apex:outputText value="{!CaseRec.CaseNumber}" />
          </apex:outputLink>-->
          
          <a HREF="#" id="eventlink3" onclick="return openSubTab('/{!CaseRec.Id}', '{!CaseRec.CaseNumber}', '{!CaseRec.Id}', '{!CaseRec.Id}');">
            
            <apex:outputText value="{!CaseRec.CaseNumber}" />
          </a>
          
        </apex:column>
        
         <apex:column >
          <apex:facet name="header" >
            <apex:commandLink action="{!empty}">
           <apex:outputText value="{!$Label.smb_svoc_Rec_Type_Name}" styleClass="colHeader"/>
           <apex:outputText escape="false" rendered="{!sortBy=='RecTypeName__c'&&sortDir=='ASC'}">
                <img src="/s.gif" alt="Sorted Ascending" class="sortAsc" title="Sorted Ascending" />
              </apex:outputText>
              <apex:outputText escape="false" rendered="{!sortBy=='RecTypeName__c'&&sortDir=='DESC'}">
                <img src="/s.gif" alt="Sorted Descending" class="sortDesc" title="Sorted Descending" />
              </apex:outputText>
              <apex:param value="RecTypeName__c" name="column" assignTo="{!sortBy}" />
              <apex:param value="{!IF(sortDir=='ASC'&&sortBy=='RecTypeName__c', 'DESC', 'ASC')}" name="direction" assignTo="{!sortDir}" />
            </apex:commandLink>
          </apex:facet>
          <apex:outputText value="{!CaseRec.RecTypeName__c}" />
          
        </apex:column>
        
        
        
        
         <apex:column >
          <apex:facet name="header" >
            <apex:commandLink action="{!empty}">
           <apex:outputText value="{!$Label.smb_svoc_open_Account_Name}" styleClass="colHeader"/>
           <apex:outputText escape="false" rendered="{!sortBy=='Account.Name'&&sortDir=='ASC'}">
                <img src="/s.gif" alt="Sorted Ascending" class="sortAsc" title="Sorted Ascending" />
              </apex:outputText>
              <apex:outputText escape="false" rendered="{!sortBy=='Account.Name'&&sortDir=='DESC'}">
                <img src="/s.gif" alt="Sorted Descending" class="sortDesc" title="Sorted Descending" />
              </apex:outputText>
              <apex:param value="Account.Name" name="column" assignTo="{!sortBy}" />
              <apex:param value="{!IF(sortDir=='ASC'&&sortBy=='Account.Name', 'DESC', 'ASC')}" name="direction" assignTo="{!sortDir}" />
            </apex:commandLink>
          </apex:facet>
          <apex:outputText value="{!CaseRec.Account.Name}" />
          
        </apex:column>
        
        
        <apex:column >
          <apex:facet name="header" >
            <apex:commandLink action="{!empty}">
         <apex:outputText value="{!$Label.smb_svoc_open_Subject}" styleClass="colHeader" />
         <apex:outputText escape="false" rendered="{!sortBy=='Subject'&&sortDir=='ASC'}">
                <img src="/s.gif" alt="Sorted Ascending" class="sortAsc" title="Sorted Ascending" />
              </apex:outputText>
              <apex:outputText escape="false" rendered="{!sortBy=='Subject'&&sortDir=='DESC'}">
                <img src="/s.gif" alt="Sorted Descending" class="sortDesc" title="Sorted Descending" />
              </apex:outputText>
              <apex:param value="Subject" name="column" assignTo="{!sortBy}" />
              <apex:param value="{!IF(sortDir=='ASC'&&sortBy=='Subject', 'DESC', 'ASC')}" name="direction" assignTo="{!sortDir}" />
            </apex:commandLink>
          </apex:facet>
          
          <apex:outputText value="{!CaseRec.Subject}" /> 
        </apex:column>
        
        <apex:column >
          <apex:facet name="header" >
            <apex:commandLink action="{!empty}">
             <apex:outputText value="{!$Label.smb_svoc_open_Type}" styleClass="colHeader"/>
              <apex:outputText escape="false" rendered="{!sortBy=='Type'&&sortDir=='ASC'}">
                <img src="/s.gif" alt="Sorted Ascending" class="sortAsc" title="Sorted Ascending" />
              </apex:outputText>
              <apex:outputText escape="false" rendered="{!sortBy=='Type'&&sortDir=='DESC'}">
                <img src="/s.gif" alt="Sorted Descending" class="sortDesc" title="Sorted Descending" />
              </apex:outputText>
              <apex:param value="Type" name="column" assignTo="{!sortBy}" />
              <apex:param value="{!IF(sortDir=='ASC'&&sortBy=='Type', 'DESC', 'ASC')}" name="direction" assignTo="{!sortDir}" />
            </apex:commandLink>
          </apex:facet>
          
          <apex:outputText value="{!CaseRec.Type}" /> 
        </apex:column>
        
        <apex:column >
          <apex:facet name="header" >
            <apex:commandLink action="{!empty}">
           <apex:outputText value="{!$Label.smb_svoc_open_Status}" styleClass="colHeader" />
              <apex:outputText escape="false" rendered="{!sortBy=='Status'&&sortDir=='ASC'}">
                <img src="/s.gif" alt="Sorted Ascending" class="sortAsc" title="Sorted Ascending" />
              </apex:outputText>
              <apex:outputText escape="false" rendered="{!sortBy=='Status'&&sortDir=='DESC'}">
                <img src="/s.gif" alt="Sorted Descending" class="sortDesc" title="Sorted Descending" />
              </apex:outputText>
              <apex:param value="Status" name="column" assignTo="{!sortBy}" />
              <apex:param value="{!IF(sortDir=='ASC'&&sortBy=='Status', 'DESC', 'ASC')}" name="direction" assignTo="{!sortDir}" />
            </apex:commandLink>
          </apex:facet>
          
          <apex:outputText value="{!CaseRec.Status}" /> 
        </apex:column>
        
        
        <apex:column >
          <apex:facet name="header" >
            <apex:commandLink action="{!empty}">
            <apex:outputText value="{!$Label.smb_svoc_open_Priority}" styleClass="colHeader" />
              <apex:outputText escape="false" rendered="{!sortBy=='Priority'&&sortDir=='ASC'}">
                <img src="/s.gif" alt="Sorted Ascending" class="sortAsc" title="Sorted Ascending" />
              </apex:outputText>
              <apex:outputText escape="false" rendered="{!sortBy=='Priority'&&sortDir=='DESC'}">
                <img src="/s.gif" alt="Sorted Descending" class="sortDesc" title="Sorted Descending" />
              </apex:outputText>
              <apex:param value="Priority" name="column" assignTo="{!sortBy}" />
              <apex:param value="{!IF(sortDir=='ASC'&&sortBy=='Priority', 'DESC', 'ASC')}" name="direction" assignTo="{!sortDir}" />
            </apex:commandLink>
          </apex:facet>
          
          <apex:outputText value="{!CaseRec.Priority}" /> 
        </apex:column>
        
         <apex:column >
          <apex:facet name="header" >
            <apex:commandLink action="{!empty}">
        <apex:outputText value="{!$Label.smb_svoc_open_Created_Date}" styleClass="colHeader" />
         <apex:outputText escape="false" rendered="{!sortBy=='createdDate'&&sortDir=='ASC'}">
                <img src="/s.gif" alt="Sorted Ascending" class="sortAsc" title="Sorted Ascending" />
              </apex:outputText>
              <apex:outputText escape="false" rendered="{!sortBy=='createdDate'&&sortDir=='DESC'}">
                <img src="/s.gif" alt="Sorted Descending" class="sortDesc" title="Sorted Descending" />
              </apex:outputText>
              <apex:param value="createdDate" name="column" assignTo="{!sortBy}" />
              <apex:param value="{!IF(sortDir=='ASC'&&sortBy=='createdDate', 'DESC', 'ASC')}" name="direction" assignTo="{!sortDir}" />
            </apex:commandLink>
          </apex:facet>
              <apex:outputText value="{0,date,MMM dd','yyyy}">
                <apex:param value="{!CaseRec.createdDate}" /> 
              </apex:outputText>
        
        <!--<apex:outputText value="{!CaseRec.createdDate}" /> -->
          
        </apex:column>
        
        <apex:column >
          <apex:facet name="header" >
            <apex:commandLink action="{!empty}">
              <apex:outputText value="{!$Label.smb_svoc_open_Escalation_History}" styleClass="colHeader" />
              <apex:outputText escape="false" rendered="{!sortBy=='Escalation_History__c'&&sortDir=='ASC'}">
                <img src="/s.gif" alt="Sorted Ascending" class="sortAsc" title="Sorted Ascending" />
              </apex:outputText>
              <apex:outputText escape="false" rendered="{!sortBy=='Escalation_History__c'&&sortDir=='DESC'}">
                <img src="/s.gif" alt="Sorted Descending" class="sortDesc" title="Sorted Descending" />
              </apex:outputText>
              <apex:param value="Escalation_History__c" name="column" assignTo="{!sortBy}" />
              <apex:param value="{!IF(sortDir=='ASC'&&sortBy=='Escalation_History__c', 'DESC', 'ASC')}" name="direction" assignTo="{!sortDir}" />
            </apex:commandLink>
          </apex:facet>
          
          <apex:outputText value="{!CaseRec.Escalation_History__c}" escape="false" /> 
        </apex:column>
    
    </apex:pageBlockTable>

</apex:pageBlock>
</apex:form>
</body>
</apex:page>