<apex:page tabStyle="Case_Account__c" controller="TBOAccCategorizationController" readOnly="true" >

    
    <apex:includeScript value="https://code.jquery.com/jquery-1.12.0.min.js" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <apex:stylesheet value="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
    <apex:includeScript value="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js" />
    <apex:includeScript value="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js" />
    
    <script>
     $(document).ready(function() {
        $('#accsTable').dataTable({
        "order": [[ 0, "desc" ]],
        "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 1,2,3,4,5 ] } ],
        "bPaginate": false,
        "bFilter": false,
        "bInfo": false} );
    } );

   
    
    </script>
    
    <apex:includeScript value="/support/console/20.0/integration.js"/>
    <script type="text/javascript">
        
        function testCloseTab() {
            if(sforce.console.isinconsole()){
                //First find the ID of the current tab to close it
                sforce.console.getEnclosingTabId(closeSubtab);
            }
            else
                window.open(System.URL.getSalesforceBaseURL().toExternalForm()+'/'+caseId,_self);
        }
        
        var closeSubtab = function closeSubtab(result) {
            //Now that we have the tab ID, we can close it
            var tabId = result.id;
            sforce.console.closeTab(tabId);
        };
    
       

    </script> 
    
    
    <apex:form >
        <apex:pageBlock title="Edit Case Accounts" mode="edit">
            <apex:pageMessages />
            <apex:outputText value="{!showRecordsSize}" id="showString"></apex:outputText>
            <!-- <apex:pageMessages /> -->
                <apex:pageBlockButtons location="top">
                    
                    <!--<apex:commandButton vPrevious" action="{!Previous}" rendered="{!hasPrevious}"/>
                    <apex:commandButton value="Save & Next" action="{!Next}" rendered="{!hasNext}"/>-->
                    <apex:commandButton styleClass="btncss" value="Quick Save" action="{!Save}" rerender="showString,navigation,Table"/>
                    <apex:commandButton styleClass="btn4css" value="Return to TBO" action="{!Cancel}" onClick="testCloseTab();return false"/>
                </apex:pageBlockButtons>
            <apex:panelGrid columns="4" id="navigation">
                <apex:commandButton styleClass="btncss" value="First" action="{!First}" rerender="showString,navigation,recordtable"  />
                <apex:commandButton style="height: 25px!important;width : 75px!important;margin: 1px!important;padding: 1px 2px!important;border: 1px solid #b5b5b5!important;border-bottom-color: #7f7f7f!important;font-weight: bold!important;font-size: .8em!important;" value="Previous" action="{!Previous}" rerender="showString,navigation,recordtable"  disabled="{!!hasprevious}" />
                <apex:commandButton style="height: 25px!important;width : 75px!important;margin: 1px!important;padding: 1px 2px!important;border: 1px solid #b5b5b5!important;border-bottom-color: #7f7f7f!important;font-weight: bold!important;font-size: .8em!important;" value="Save & Next" action="{!Next}" rerender="showString,navigation,recordtable"  disabled="{!!hasnext}" />
                <apex:commandButton styleClass="btncss" value="Last" action="{!Last}" rerender="showString,navigation,recordtable" />
            </apex:panelGrid>
            <!-- <body onload="FillTable()"> -->
            
            <apex:outputpanel id="recordtable">
            <table id="accsTable" class="table table-striped table-bordered table-hover table-condensed" cellspacing="0" width="100%" >
                <thead>
                    <tr class='btn5css'>
                        <th>Billing System</th>
                        <th>CAN</th>
                        <th>BTN</th> 
                        <th>Service Type</th>
                        <th>Acc Current?</th>
                        <th>Dir. Adv.?</th>
                    </tr>
                </thead>
                <apex:repeat value="{!CaseAccounts}" var="opp">
                <tr class="btn6css">
                    <td class="resultrow"> <apex:outputtext value="{!opp.Billing_System__c}" /></td>
                    <td class="resultrow"> <apex:outputtext value="{!opp.CAN__c}" /></td>
                    <td class="resultrow"> <apex:outputtext value="{!opp.BTN__c}" /></td>
                    <td class="resultrow"> <apex:inputField value="{!opp.Service_type__c}"/> </td>
                    <td class="resultrow"> <apex:inputField value="{!opp.Acc_Current__c}"/></td>
                    <td class="resultrow"> <apex:inputField value="{!opp.Dir_Adv__c}"/></td>
                </tr>
                </apex:repeat>
                
            </table>
           </apex:outputpanel>
            <!--
            <apex:pageBlockTable value="{!CaseAccounts}" var="opp" id="Table" >
                <apex:column value="{!opp.name}"/>
                <apex:column value="{!opp.CAN__c}"/>
                <apex:column value="{!opp.BTN__c}"/>
                 <apex:column headerValue="Service Type">
                    <apex:inputField value="{!opp.Service_type__c}"/>
                </apex:column> 
                <apex:column headerValue="Acc Current?">
                    <apex:inputField value="{!opp.Acc_Current__c}"/>
                </apex:column>
                <apex:column headerValue="Dir. Adv.?">
                    <apex:inputField value="{!opp.Dir_Adv__c}"/>
                </apex:column>
                
                
            </apex:pageBlockTable> <!--</body>     -->
        </apex:pageBlock>
    </apex:form>
    
<style type="text/css">
label{
    font-weight:normal;
}
.sample {
    font-weight: bold;
}
.btncss {

    color: #333!important;
    height: 25px!important;
    width : 75px!important;
    margin: 1px!important;
    padding: 1px 2px!important;
    border: 1px solid #b5b5b5!important;
    border-bottom-color: #7f7f7f!important;
    background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top!important;
    font-weight: bold!important;
    font-size: .8em!important;
    -moz-border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    border-radius: 3px!important;

}

.btn1css {

    color: #333!important;
    height: 25px!important;
    width : 175px!important;
    margin: 1px!important;
    padding: 1px 2px!important;
    border: 1px solid #b5b5b5!important;
    border-bottom-color: #7f7f7f!important;
    background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top!important;
    font-weight: bold!important;
    font-size: .8em!important;
    -moz-border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    border-radius: 3px!important;

}

.btn2css {

    color: #333!important;
    height: 25px!important;
    width : 250px!important;
    margin: 1px!important;
    padding: 1px 2px!important;
    border: 1px solid #b5b5b5!important;
    border-bottom-color: #7f7f7f!important;
    background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top!important;
    font-weight: bold!important;
    font-size: .8em!important;
    -moz-border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    border-radius: 3px!important;

}
.btn3css {

    color: #333!important;
    height: 25px!important;
    width :274px!important;
    margin: 1px!important;
    padding: 1px 2px!important;
    border: 1px solid #b5b5b5!important;
    border-bottom-color: #7f7f7f!important;
    background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top!important;
    font-weight: bold!important;
    font-size: .8em!important;
    -moz-border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    border-radius: 3px!important;

}
.btn4css {

    color: #333!important;
    height: 25px!important;
    width : 100px!important;
    margin: 1px!important;
    padding: 1px 2px!important;
    border: 1px solid #b5b5b5!important;
    border-bottom-color: #7f7f7f!important;
    background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top!important;
    font-weight: bold!important;
    font-size: .8em!important;
    -moz-border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    border-radius: 3px!important;

}
.btn5css {

    color: #333!important;
    font-weight: bold!important;
    font-size: .8em!important;

}
.btn6css {

    color: #333!important;
     font-size: .8em!important;

}
.dataTables_filter,.dataTables_info,.dataTables_length,.dataTables_paginate{
  color: #333!important;
  font-size: .8em!important;
}
.pgcus{
padding: 0;
border: none;
background: none;
}

</style>    
    
    
</apex:page>