<apex:page id="changePassword" showHeader="false" controller="TelusPRMChangePasswordController">
  <apex:composition template="{!$Site.Template}">
    <apex:define name="body">  
      <center>
        <apex:image url="{!$Resource.title}" width="242" height="33"/>
        
        <apex:panelGrid bgcolor="white" columns="1" style="align: center;">
          
          <apex:panelGrid width="500" cellpadding="0" cellspacing="0" bgcolor="white" columns="1" style="align: center; border:1px;"> 
            <br/>
            <br/>
            <apex:outputPanel layout="block" style="background-color: white; border: 2px solid #49166D; padding: 0px; margin-top: 10px; margin-bottom: 0px; margin-left: 10px; margin-right: 10px;">
              <div style="width:500px; border: 2px solid #49166D; display:block; background-color:#49166D; height:15px; font-weight: bold; text-align:left; color:white;">{!$Label.Secure_Customer_Login}</div>
                <apex:panelGrid width="500" cellpadding="0" cellspacing="0" bgcolor="white" columns="1">
                 
                  <apex:panelGroup >
                                    
                  <apex:form id="theForm">
                    <apex:pageMessages id="error"/>
                    
                    <apex:panelGrid columns="4" style="margin-top:1em;">
                      <apex:image width="80" height="15" rendered="{! !$Site.IsPasswordExpired}" alt="" value="{!$Resource.Spacer}"/>
                      <apex:outputLabel rendered="{! !$Site.IsPasswordExpired}" value="{!$Label.site.old_password}" for="oldpsw"/>
                      <apex:inputSecret rendered="{! !$Site.IsPasswordExpired}" required="true" id="oldpsw" value="{!oldPassword}"/>
                      <apex:image width="10" height="15" rendered="{! !$Site.IsPasswordExpired}" alt="" value="{!$Resource.Spacer}"/>
                      
                      <apex:image width="80" height="15" alt="" value="{!$Resource.Spacer}"/>
                      <apex:outputLabel value="{!$Label.site.new_password}" for="psw"/>
                      <apex:inputSecret required="true" id="psw" value="{!newPassword}"/>
                      <apex:image width="10" height="15" alt="" value="{!$Resource.Spacer}"/>
                      
                      <apex:image width="80" height="15" alt="" value="{!$Resource.Spacer}"/>
                      <apex:outputLabel value="{!$Label.site.verify_new_password}" for="vpsw"/>
                      <apex:inputSecret required="true" id="vpsw" value="{!verifyNewPassword}"/>
                      <apex:image width="10" height="15" alt="" value="{!$Resource.Spacer}"/>
                      </apex:panelGrid>
                      <apex:panelGrid columns="3" style="margin-top:1em;">
                      <apex:outputText value=""/>
                      <img width="130" height="15" alt="" src="{!$Resource.Spacer}"/>
                      <apex:commandButton id="cpwbtn" action="{!changePassword}" value="{!$Label.site.change_password}"/>
                      <img width="50" height="15" alt="" src="{!$Resource.Spacer}"/>
                    </apex:panelGrid>                    
                 </apex:form>                       
                </apex:panelGroup>
             </apex:panelGrid>             
             </apex:outputPanel>
             <br/>
             <apex:panelGrid columns="3" style="margin-top:1em;">
                    <img width="180" height="20" alt="" src="{!$Resource.Spacer}"/>
                    <apex:outputLink value="{!$Site.Prefix}/secur/logout.jsp" rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}" >{!$Label.Return_to_login_page}</apex:outputLink>
                    <img width="130" height="20" alt="" src="{!$Resource.Spacer}"/>
            </apex:panelGrid>
            <c:TelusPRMSiteFooter />
          </apex:panelGrid>
      </apex:panelGrid>
      </center>
      <br/>
      <br/>
      <br/>
      <table width="100%">
            <tr><td align="center">
                <font face="Arial, Helvetica, sans-serif" size="2">
                    {!$Label.Technical_Support} <a href="mailto:prmsupport@telus.com">prmsupport@telus.com</a>
                </font>
            </td></tr>
        </table>        
      <br/>
    </apex:define>
  </apex:composition>
</apex:page>