<apex:page title="Add Me to Product Item Team" tabstyle="Opportunity" controller="trac_Manage_My_PIT_Roles_Controller" action="{!onLoad}">
    <apex:form >
        <apex:outputPanel id="failedPage" rendered="{!!loaded}">
            <apex:messages style="color: rgb(160,0,0); font-weight: bold; font-size: 1.2em;"/>
        </apex:outputPanel>
        <apex:outputPanel id="mainPage" rendered="{!loaded}">
            <apex:sectionHeader subtitle="{!opportunity.Name}" title="{!$ObjectType.Opportunity.Label}"/>
            <apex:pageblock title="Add Me to Product Item Team">
                <!--
                <div style="padding: 0 1em 0">
                    <p style="color: red;">
                        <apex:outputText value="{!$Label.New_Opp_From_Acc_Choose_Contact}" />
                    </p>
                </div> -->
                
                <apex:messages style="color: rgb(160,0,0); font-weight: bold; font-size: 1.2em;"/>
                
                <apex:pageBlockTable value="{!lines}" var="line" id="contactList" width="100%" rowClasses="odd,even" styleClass="tableClass">
                    <apex:column >
                        <apex:facet name="header">Add Myself</apex:facet>
                        <apex:inputCheckbox value="{!line.addThis}" rendered="{!NOT(line.hasRole)}" />
                        <apex:outputText rendered="{!line.hasRole}">
                            <input type="checkbox" disabled="true" checked="checked" />
                        </apex:outputText>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Product</apex:facet>
                        <apex:outputText value="{!line.productName}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">BPC 1</apex:facet>
                        <apex:outputText value="{!line.bpcOne}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">BPC 2</apex:facet>
                        <apex:outputText value="{!line.bpcTwo}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">BPC 3</apex:facet>
                        <apex:outputText value="{!line.bpcThree}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Role</apex:facet>
                        <apex:inputField value="{!line.pit.Team_Role__c}" />
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Solution</apex:facet>
                        <apex:outputText value="{!line.solution}"/>
                    </apex:column>
                </apex:pageBlockTable>
                
                <apex:outputPanel rendered="{!!hasLines}" layout="block" style="padding: 1em;">
                    {!$Label.ManagePitRoles_NoProductsOnOpp}
                </apex:outputPanel>
                <apex:outputPanel layout="block" style="padding: 1em;">
                    <apex:commandButton action="{!saveRoles}" reRender="mainPage, messagePanel" value="Save" status="saveStatus"/>
                    <apex:commandButton action="{!backToOpp}" style="margin-left: 1em" value="Return to Opportunity" immediate="true"/>
                    <apex:actionStatus id="saveStatus" style="padding:1em">
                        <apex:facet name="start">
                        <img class="waitingImage" style="position: relative; top: 3px; padding-right: .25em" src="/img/loading.gif" title="Searching..." />
                        Saving...</apex:facet>
                        <apex:facet name="stop"></apex:facet>
                    </apex:actionStatus>
                </apex:outputPanel>
            </apex:pageblock>
        </apex:outputPanel>
    </apex:form>
</apex:page>