<apex:page standardController="Task" extensions="trac_LnR_Task_Detail_Ctrl">
	
	<apex:pageBlock mode="maindetail">

		<apex:pageBlockSection columns="2" showHeader="false">

			<apex:outputField value="{!task.Call_Service_Type_Picklist__c}" />
			<apex:outputField value="{!task.Client_Region__c}" />

			<apex:outputField value="{!task.Product_Subcategory__c}" />
			<apex:outputField value="{!task.Churn_Threat_Gauge__c}" />

			<apex:outputField value="{!task.BAN__c}" />
			<apex:outputField value="{!task.TLC_Status__c}" />

			<apex:outputField value="{!task.Call_Received_From__c}" />
			<apex:outputField value="{!taskExtendRecord.Inbox__c}" />

			<apex:outputField value="{!task.Dealer_Direct_Sales_Detail__c}" />
			<apex:outputField value="{!task.Offer_Status__c}" />

			<apex:outputField value="{!taskExtendRecord.Dealer_Code__c}" />			
			<apex:outputField value="{!task.Offer_Duration_WLN_Business_Anywhere__c}" />

			<apex:outputField value="{!taskExtendRecord.Sales_Rep_Code__c}" />
			<apex:outputField value="{!taskExtendRecord.Callback_Number__c}" />

			<apex:outputField value="{!task.Request_Type__c}" />
			<apex:outputField value="{!task.Chronic_Issue__c}" />

			<apex:outputField value="{!task.Competitive_Threat__c}" />
			<apex:outputField value="{!task.No_Followup_Required__c}" />

			<apex:outputField value="{!task.Competitor_Name__c}" />
			<apex:outputField value="{!taskExtendRecord.Comp_port_credit__c}" />

			<apex:outputField value="{!task.Competitor_Name_Other__c}" />
			<apex:outputField value="{!taskExtendRecord.Comp_rate_plan_cost__c}" />

			<apex:outputField value="{!task.Save_Tools_Used__c}" />
			<apex:outputField value="{!taskExtendRecord.Plan_Name_SOC__c}" />

			<apex:outputField value="{!task.Save_Tools_Used_Other__c}" />
			<apex:outputField value="{!taskExtendRecord.Plan_Offered_SOC__c}" />

			<apex:outputField value="{!task.Soft_Shopper_No_Specific_Competitor__c}" />
			<apex:outputField value="{!taskExtendRecord.Current_TLC__c}" />

			<apex:outputField value="{!task.Escalation_Reason__c}" />
			<apex:outputField value="{!taskExtendRecord.Device_Model__c}" />

			<apex:outputField value="{!task.Deactivation_Reason__c}" />
			<apex:outputField value="{!taskExtendRecord.DB_Waived__c}" />

			<apex:outputField value="{!task.Misdirect_Reason__c}" />
			<apex:outputField value="{!taskExtendRecord.DB_Exception_reason__c}" label="DB Exception Reason" />

			<apex:outputField value="{!task.General_Inquiry__c}" />
			<apex:outputField value="{!taskExtendRecord.Month_Remaining__c}" />

			<apex:outputField value="{!taskExtendRecord.Renewal_Credit_Amount__c}" />
			<apex:outputField value="{!taskExtendRecord.Rateplan_Change_Fee__c}" />

			<apex:outputField value="{!taskExtendRecord.Client_Tenure__c}" />
			<apex:outputField value="{!taskExtendRecord.Mid_Contract_RPO_Reason__c}" label="Mid Contract RPO Reason" />

			<apex:outputField value="{!taskExtendRecord.Service_Phone_Number_Worked_On__c}" />
			<apex:outputField value="{!taskExtendRecord.SFDC_Case_Number__c}" />
			
		</apex:pageBlockSection>

	</apex:pageBlock>

</apex:page>