<apex:page standardController="uas__User_Contact_Sync_Settings__c" extensions="uas.vf_EditSettings" sidebar="true" tabStyle="User_Contact_Sync_Settings__tab" 
	title="User Contact Sync - Administration">
<apex:sectionHeader title="User Contact Sync" subtitle="Company Settings" help="/apex/UCSHelpPage"></apex:sectionHeader>
<apex:outputPanel rendered="{!HasErrors}">
<div align="center" style="font-size: medium;"><b>There was a problem displaying the page.<br /><br />Please contact your System Administrator for assistance.</b>
<br /><br />
<apex:pageMessages />
</div>
</apex:outputPanel>
<Apex:form >
<apex:pageBlock title="Settings Edit" rendered="{!NOT(HasErrors)}">   
 <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!save}"/>
                <apex:commandButton value="Cancel" action="{!cancel}"/>
            </apex:pageBlockButtons>     
<apex:pageBlockSection title="Information" collapsible="false" columns="1">
<apex:inputField value="{!Settings.uas__Account__c}" required="true" />
</apex:pageBlockSection>
</apex:pageBlock>
</Apex:form>
</apex:page>