<apex:page docType="html-5.0" showHeader="false" cache="false"  sidebar="false" showChat="false" standardStylesheets="false" applyBodyTag="false" controller="VITILcareAuthCheckCtlr" action="{!initCheck}">
<html class="no-js modern" lang="en">
    <head>
   
   <!--     <c:MBRHeadTemp rendered="{!$CurrentPage.parameters.debug == 'true'}"/>-->
       
        <c:VITILcareHead rendered="{!$CurrentPage.parameters.debug != 'true'}"/>
        <script type="text/javascript">

/***********************************************
* Dynamic Ajax Content- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

var bustcachevar=1 //bust potential caching of external pages after initial request? (1=yes, 0=no)
var loadedobjects=""
var rootdomain="http://"+window.location.hostname
var eroomdomain="https://"+window.location.hostname
var bustcacheparameter=""

function ajaxpage(url, containerid){
var page_request = false
if (window.XMLHttpRequest) // if Mozilla, Safari etc
page_request = new XMLHttpRequest()
else if (window.ActiveXObject){ // if IE
try {
page_request = new ActiveXObject("Msxml2.XMLHTTP")
} 
catch (e){
try{
page_request = new ActiveXObject("Microsoft.XMLHTTP")
}
catch (e){}
}
}
else
return false
page_request.onreadystatechange=function(){
loadpage(page_request, containerid)
}
if (bustcachevar) //if bust caching of external page
bustcacheparameter=(url.indexOf("?")!=-1)? "&"+new Date().getTime() : "?"+new Date().getTime()
page_request.open('GET', url+bustcacheparameter, true)
page_request.send(null)
}

function loadpage(page_request, containerid){
if (page_request.readyState == 4 && (page_request.status==200 || window.location.href.indexOf("http")==-1))
document.getElementById(containerid).innerHTML=page_request.responseText
}

function loadobjs(){
if (!document.getElementById)
return
for (i=0; i<arguments.length; i++){
var file=arguments[i]
var fileref=""
if (loadedobjects.indexOf(file)==-1){ //Check to see if this object has not already been added to page before proceeding
if (file.indexOf(".js")!=-1){ //If object is a js file
fileref=document.createElement('script')
fileref.setAttribute("type","text/javascript");
fileref.setAttribute("src", file);
}
else if (file.indexOf(".css")!=-1){ //If object is a css file
fileref=document.createElement("link")
fileref.setAttribute("rel", "stylesheet");
fileref.setAttribute("type", "text/css");
fileref.setAttribute("href", file);
}
}
if (fileref!=""){
document.getElementsByTagName("head").item(0).appendChild(fileref)
loadedobjects+=file+" " //Remember this object as being already added to page
}
}
}

</script>
        <script language="javascript" type="text/javascript">

function popitup(url) {
	newwindow=window.open(url,'name','height=600,width=420');
	
}


</script>
        <script type="text/javascript" src="https://telusdesk--tst.frontlinesvc.com/euf/rightnow/RightNow.Client.js">
        </script>
        
        
        <title><apex:insert name="title"/></title> 
        <apex:insert name="head"/>
    </head>
    <body class="overview base-quicklinks">
        <div class="container">
            <c:vitilcaresiteheader />
            <div class="content">
                <div class="grid content-grid">
                    <c:vitilcarenavigation />    
                    <div class="main">
                        <h1 class="page-header-primary hide-for-mobile">
                            <apex:insert name="pageTitle"/>
                        </h1>

                        <apex:insert name="body"/>
                    </div>
                </div>
            </div>
            <!--  *****************FOOTER******************-->
            <footer class="content footer beta-footer">

	    <div class="support-footer">
      <!-- SEND FEEDBACK 
      <a href="{!URLFOR($Page.VITILcareFeedback)}" id="global-footer-feedback-button">
        <div class="feedback-wrapper footer-widget">
          <div class="footer-widget-icon">
            <span class="frg-icon icon-users"></span>
          </div>
          <div class="footer-widget-link">
            <p>
             {!$Label.VITILcareFeedbackLabel}
              <span class="frg-icon icon-arrow-right"></span>
            </p>
          </div>
        </div>
      </a>-->
      <!-- CHAT -->
      
         
          <!--  <apex:outputPanel rendered="{!CPRole != 'tq'}">
            <a href="javascript:popitup('https://telusdesk.frontlinesvc.com/app/chat/chat_launch_SFDC/incidents.c$chat_assign_group/{!TypeofCust}/incidents.c$login_id/{!$User.Id}/contacts.email/{!$User.Email}/contacts.first_name/{!$User.FirstName}/contacts.last_name/{!$User.LastName}')" id="global-footer-feedback-button">
                <div class="feedback-wrapper footer-widget">
                    <div class="footer-widget-icon" >
                        <span class="frg-icon icon-chat-bubble"  STYLE="text-decoration: none"></span>
                        
                    </div>
                    <div class="footer-widget-link" >
                        <p>
                        {!$Label.VITILcareChatLabel}
                            <span class="frg-icon icon-arrow-right"></span>   
                        </p>
                            
                        
                    </div>
                    
                    
                    
                </div>
            </a>
</apex:outputPanel>-->
             <apex:outputPanel rendered="{!CPRole == 'tq'}">
                    <a href="javascript:popitup('{!$Label.VITILcareChatURL_TQ}&NAME={!$User.FirstName}{!$User.LastName}&EMAILADDRESS={!$User.Email}&PHONE={!$User.Phone}&CONTACTID={!$User.ContactId}')" id="global-footer-feedback-button">
                    
                        <!--<a href="javascript:popitup('https://telusdesk.frontlinesvc.com/app/chat/chat_launch_SFDC/incidents.c$chat_assign_group/{!TypeofCust}/incidents.c$login_id/{!$User.Id}/contacts.email/{!$User.Email}/contacts.first_name/{!$User.FirstName}/contacts.last_name/{!$User.LastName}')" id="global-footer-feedback-button">-->
                        <div class="feedback-wrapper footer-widget">
                            
                            <div class="footer-widget-icon" >
                                <span class="frg-icon icon-chat-bubble"  STYLE="text-decoration: none"></span>
                                
                            </div>
                            <div class="footer-widget-link" >
                                <br/>
                                <p>
                                    {!$Label.VITILcareChatLabel}
                                    <span class="frg-icon icon-arrow-right"></span>   
                                </p>
                                
                                
                            </div>
                            
                            
                            
                        </div>
                    </a>
                     </apex:outputPanel>
            <apex:outputPanel rendered="{!CPRole != 'tq'}">
                    <a href="javascript:popitup('{!$Label.VITILcareChatURL}&NAME={!$User.FirstName}{!$User.LastName}&EMAILADDRESS={!$User.Email}&PHONE={!$User.Phone}&CONTACTID={!$User.ContactId}')" id="global-footer-feedback-button">
                    
                        <!--<a href="javascript:popitup('https://telusdesk.frontlinesvc.com/app/chat/chat_launch_SFDC/incidents.c$chat_assign_group/{!TypeofCust}/incidents.c$login_id/{!$User.Id}/contacts.email/{!$User.Email}/contacts.first_name/{!$User.FirstName}/contacts.last_name/{!$User.LastName}')" id="global-footer-feedback-button">-->
                        <div class="feedback-wrapper footer-widget">
                            
                            <div class="footer-widget-icon" >
                                <span class="frg-icon icon-chat-bubble"  STYLE="text-decoration: none"></span>
                                
                            </div>
                            <div class="footer-widget-link" >
                                <br/>
                                <p>
                                    {!$Label.VITILcareChatLabel}
                                    <span class="frg-icon icon-arrow-right"></span>   
                                </p>
                                
                                
                            </div>
                            
                            
                            
                        </div>
                    </a>
                     </apex:outputPanel>
    </div>
    
    <script type="text/javascript" src="//static.telus.com/my-account/301/assets/js/libs/require.js"></script>
    <script type="text/javascript" src="//static.telus.com/my-account/301/assets/js/configs/require.conf.js"></script>
    <script type="text/javascript">
      require.config({urlArgs: "1438125749"});
    </script>
    <script type="text/javascript" src="//static.telus.com/my-account/301/assets/js/sandboxes/framework/footerSandbox.js"></script>
  
  <div class="footer-group color-dark">
	 <div class="grid">

   
     <section class="my-account-footer">
                      
              
       <p><span class="frg-icon icon-padlock color-green"></span>{!$Label.VITILcareSecurePage}</p>
     </section>


		<section id="telus-logo-copyright">
		  <img src="//static.telus.com/common/images/footer/TELUS-logo-white.svg" width="104" height="20" alt="TELUS Logo" />
		  <p>© {!$Label.TELUSCopyright}</p>
		</section>

	</div>
</div>

</footer>
            
            <!--script type="text/javascript" data-main="//static.telus.com/my-account/36/assets/js/sandboxes/usage/sharedUsage" src="//static.telus.com/my-account/36/assets/js/libs/require.js"></script>       
            <script type="text/javascript" src="//static.telus.com/my-account/36/assets/js/sandboxes/common.js"/-->        

            <!-- commenting out require.js here, blocking conflict with bootstrap-datepicker - Alex 2015-02-25 -->
            
            <script src="resource/MBRScripts/js/require.js" />
            <script src="resource/MBRScripts/js/sharedUsage.js" />
            <script src="resource/MBRScripts/js/common.js" />
            <script src="{!URLFOR($Resource.MBRJS, 'js/bootstrap-datepicker.js')}" />
  
            <apex:insert name="foot"/>
        </div>
    
    </body>
</html>
</apex:page>