.panel-heading {
    display: none;
}
.tableDiv{
    height: 300px;
    width: 100%;
    overflow: auto;
}
.tableDiv #contractTableClass tr:first-child, .tableDiv #contractTableClass tbody.contractLine {
    border-top-width: 0;
}
#contactDetails {
    font-weight: normal !important;
    color: purple;
    font-size: 21px !important;
}
#headingsClass {
    font-size:16px;
    font-weight:normal;
    line-height: 40px;
    border:1px solid #d3d3d3;
    height: 40px;
    color: dimgray;
}
.contractLine {
    border: 1px solid #d3d3d3;
    line-height: 40px;
    
}
#borderRow {
    border: 1px solid #d3d3d3;
    line-height: 40px;
}
.stylecolumn {
    text-align: center;
}
#borderRow:hover {
    background-color: #e3f3ff;
}
.newSelect {
    font-size: 21px;
    font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin-top: -105px;
    position: absolute;
    display: block;
    margin-left: -13px;
}
 #selectSigner {
    margin-bottom: 0px !important;
}
 .form-control.frg-input-field.ocom-search-contact-input.ng-pristine.ng-untouched.ng-valid  {
    width: 34.5%;
    border-radius: 0px;
    height: 35px;
    margin-top: 14px;
} 
.form-control.frg-input-field.ocom-search-contact-input.ng-pristine.ng-touched.ng-valid {
    width: 34.5%; border-radius: 0px; height:35px;margin-top: 14px;
} 
 #CustomerSignor .form-control.frg-input-field.ocom-search-contact-input.ng-valid.ng-touched.ng-dirty.ng-valid-parse {
     width: 34.5%; border-radius: 0px; height:35px;margin-top: 14px;
} 
#CustomerSignor .form-control.frg-input-field.ocom-search-contact-input.ng-valid.ng-untouched.ng-dirty.ng-valid-parse {
    width: 34.5%; border-radius: 0px; height:35px;margin-top: 14px;
}
#marginClass {
    margin-bottom: 50px;
    margin-top: 10px;
    padding: 0px;
    margin-left: 15px;
}            
#classHeaderContract {
    margin-top: 9px;
    font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-size: 16px;
    color: #49166d;
    font-weight: normal!important;
    text-transform: capitalize;
    height: 40px;
    background-color: #F5F6F7;
    padding-left: 35px;
    padding-top: 7px;
    margin-left: -15px;
    width: 100%;
    border: 1px solid #d3d3d3;
}
#new-contact {
    border: 1px solid #d3d3d3;
    width: 100%;
    margin-left: -15px;
    border-top: 0px;
    margin-top: -1px;
    height: 230px;
}
#ContractSignor {
    margin-top: 46px!important;
    width: 95%;
}
#contractInput {
    margin-top: -103px;
        margin-left: -15px;
}
/*#contractInput table {
    margin-top: 10px;
    margin-left: 0px!important;
}*/
#tableScroll { 
    height: 288px;
    overflow-y: auto;
    border-top: 1px solid #d3d3d3!important;
    margin-top: 10px;
    border-bottom: 1px solid #d3d3d3!important;
}