<div id="contractInput" class="panel panel-default">  
    <div id="selectSigner" class="frg-headline-font-27px color-purple">Select the customer contact signor </div>
        <input placeholder="Start typing the contact name" class = "form-control  frg-input-field ocom-search-contact-input" type="text" ng-model="query" /> 
               
            <div id="tableScroll" class = "tableDiv">
                <table  style="margin-left: 0px !important;" id="contractTableClass" class="list tableClass" border="0" cellpadding="0" cellspacing="0" width="100%">
                 <thead >
                    <tr id="headingsClass" class="frg-body-font-17px" >        
                          <th class="headerRow" scope="col" colspan="1" width="4%"><div></div></th>
                          <th class="headerRow" scope="col" colspan="2" width="10%"><div>Name</div></th>
                          <th class="headerRow" scope="col" colspan="1" width="14%"><div>Email</div></th>
                          <th class="headerRow" scope="col" colspan="1" width="15%"><div>Phone</div></th>
                          <th class="headerRow" scope="col" colspan="3" width="10%"><div>Title</div></th>
                          <th class="headerRow" scope="col" colspan="1" width="9%"><div>Status</div></th>
                          <th class="headerRow" scope="col" colspan="1" width="19%"><div>Last Modified Date</div></th>
                    </tr>
                 </thead>
                    <tbody  class='contractLine'> 
                     <tr id="borderRow" ng-repeat="p in control.vlcSI[control.itemsKey] | filter : query" ng-class="{ 'vlc-selectableitem-selected' : p.vlcSelected }"  ng-init="p.vlcSelected=false">
                         <td class="stylecolumn">
                            <input type = 'checkbox' style="width:16px; height:16px;" name="selectContact" ng-model = 'p.vlcSelected' 
                                ng-change='baseCtrl.onSelectItemCustomized1(control, p, $index, this, false)' ng-init="baseCtrl.onSelectItemCustomized(control, p, $index, this, false)" /></td>
                          <td class="dataCell  frg-body-font-15px" colspan="2" style="color:#333"><span>{{p.Name}}</span></td>
                          <td class="dataCell  frg-body-font-15px" colspan="1" style="color:#333;"><span>{{p.Email}}</span></td>
                          <td class="dataCell  frg-body-font-15px" colspan="1" style="color:#333"><span>{{p.Phone}}</span></td>
                          <td class="dataCell  frg-body-font-15px" colspan="3" style="color:#333"><span>{{p.Title}}</span></td>
                          <td class="dataCell  frg-body-font-15px" colspan="1" style="color:#333;">
                          <input ng-model="check2" type="checkbox" disabled = "true" ng-checked="{{p.Active}}"/></td>
                          <td class="dataCell  frg-body-font-15px" colspan="1" style="color:#333">{{p.LastModifiedDate | date}}</td>
                     </tr>
                    </tbody> 
                </table>
    </div>
</div>